[2019-12-28 14:18] namhyung commented on #898
Well, I think it's still a sort of dynamic tracing.  You can choose functions to (or not to) trace dynamically (at runtime).

[2019-12-28 14:33] honggyukim commented on #897
I've just made a PR #1074. Thanks.

[2019-12-28 17:51] nikita-uvarov commented on #1071
Hello.

I am having exactly the same issue: full dynamic tracing in uftrace works normally on several machines (tested on ubuntu versions 16.04, 19.04), whereas crashes exactly as mentioned above on the other (happens to have ubuntu 18.04, not sure if related).

I've tried compiling uftrace statically (it complains some functions will be loaded from glibc dynamically, however, none of them are req

[2019-12-28 21:19] honggyukim opened #1075 "incorrect argument type handling for struct"
Here is a test program from GCC that I wrote previously.
[code]
In this case, the argument for `struct pack p` is incorrectly printed.
[code]
As `p` is passed as call by value, it must be printed in a different way.  I also tested it with gdb and it shows the value correctly.
[code]

[2019-12-28 21:22] honggyukim commented on #1075
`a.out.dbg` shows that `struct pack p` is just printed without type specification.
[code]

[2019-12-28 21:32] honggyukim opened #1076 "CONTRIBUTING.md needs to be updated for newbies"
I've got many same repeated questions from the new contributors and I think that the reason is because our [CONTRIBUTING.md](https://github.com/namhyung/uftrace/blob/master/CONTRIBUTING.md) file doesn't provide enough guide.

It requires time to write such document, but we eventually need to have better and kind explanation so that we don't have to repeat the same answers.

[2019-12-29 03:09] namhyung commented on #1071
@nikita-uvarov thanks for the report.  Can you show me gdb backtrace of the crash in the static binary?

[2019-12-29 03:14] namhyung commented on #1075
Yes I am aware of problems when it passes struct by value - I hate it.

[2019-12-29 03:22] namhyung commented on #834
Did you see this always for any application?

[2019-12-29 03:23] namhyung commented on #1076
What was the question?

[2019-12-29 04:37] honggyukim commented on #778
I tested AArch64 again on the current master 4e06f066. Here are the failed tests.
[code]

[2019-12-29 04:39] honggyukim commented on #1029
I tested AArch64 again on the current master 4e06f06. Here are the failed tests.
[code]

[2019-12-29 04:40] honggyukim commented on #1030
I tested x86_64 again on the current master 4e06f06. Here are the failed tests.
[code]

[2019-12-29 06:45] honggyukim commented on #778
I fixed the following failures by #1077.
[code]
The following tests looked like similar problem, but didn't work even if perf_event_paranoid value is less than 3.
[code]

[2019-12-29 06:51] honggyukim commented on #778
Most of argument tests are failed as we already know.
[code]

[2019-12-29 07:13] honggyukim commented on #778
I tested if clang doesn't have such argument problems, the result is successful.

**gcc**
[code]
**clang**
[code]

[2019-12-29 07:31] honggyukim commented on #778
As expected, most of the failures due to argument are fixed when testing with clang compiler with the following change.
[code]
Here are the failed tests.
[code]

[2019-12-29 07:35] honggyukim opened #1078 "support non multiprocessing runtest.py"
It seems that the test speed is a lot faster with multiprocessing pool, but it makes the result unreliable sometime. I've seen many random failures as I posted it in #1063.

In addition to having `runtest.py` with multiprocessing pool, we better have a way to run test without it when we really have to see what tests are exactly failed.

[2019-12-29 07:35] honggyukim commented on #1078
@DanielTimLee Could you please help us if you can find some time to work on this?

[2019-12-29 11:06] honggyukim commented on #1076
It may be the following items:
- Do not go over 80 characters in a single line except for string literal
- Make sure there's no useless whitespace in the commit
- Use tabs, not whitespaces for indentation
- Do not mix different issues in a single commit
- How to write proper commit message
- Rebase the work before making PR
- Run tests before making PR
- many more

I know some of them are in the l

[2019-12-29 11:08] honggyukim commented on #834
Not for simple example programs, but I've seen this in about a half of practical programs.

[2019-12-29 22:26] honggyukim commented on #1076
The similar document from LLVM can be a good reference.
- http://llvm.org/docs/Contributing.html#how-to-submit-a-patch

[2019-12-30 01:03] namhyung commented on #1078
Isn't `runtest.py -j 1` enough?

[2019-12-30 01:06] namhyung commented on #1030
Are they new in v0.9.4?  But I won't care about the random failures though..

[2019-12-30 01:09] namhyung commented on #778
We may consider using clang instead of gcc but still gcc is way more popular especially in embedded systems..

[2019-12-30 01:24] namhyung commented on #1029
What about this?

[code]

[2019-12-30 01:27] namhyung commented on #1075
How do you want to display it?  Maybe `{...}`?

[2019-12-30 01:39] honggyukim commented on #1075
That would be better than the current confusing output value.

[2019-12-30 01:41] honggyukim commented on #1078
That doesn't seem to fix random failures.

[2019-12-30 01:45] honggyukim commented on #778
I uploaded clang result to see what tests are actually failed because most of the tests are failed because of the first argument problem in gcc.

[2019-12-30 01:46] honggyukim commented on #1029
Thanks, but what's this fix about?

[2019-12-30 01:50] honggyukim commented on #1030
Ah.. script related tests are due to my environment problem not finding proper `libpython3.x.so` library.

Regarding `162 pltbind_now_pie` is due to the following build error.
[code]
Simply testing it again.
[code]
It works fine if I change `-Wl,-pie,-z,now,-z,relro` to `-Wl,-z,now,-z,relro` removing `-pie`.

[2019-12-30 01:52] honggyukim commented on #1030
Hmm.. `162` test is actually for `-pie` so it's pointless removing `-pie` flag.

[2019-12-30 02:04] honggyukim commented on #1078
Please see #1063. They are all tested with a single worker.

[2019-12-30 04:20] honggyukim commented on #1029
Here is detail failure info for test 198.
[code]

[2019-12-30 04:22] honggyukim commented on #1029
Here is detail failure info for test 065
[code]

[2019-12-30 04:30] honggyukim commented on #1029
It may have some problems on argument handling.
[code]
This is the test result in details for 082 test.
[code]

[2019-12-30 04:33] honggyukim commented on #1029
`t085_arg_reg.py` has to be skipped if the arch is not x86_64 because it uses x86_64 registers so always be failed.

[2019-12-30 04:36] honggyukim commented on #1029
test 117 is failed as follows:
[code]

[2019-12-30 05:09] DanielTimLee commented on #1078
I'll look into it and get back to #1063.

On Mon, Dec 30, 2019, 11:04 Honggyu Kim <notifications@github.com> wrote:

[2020-01-01 07:11] namhyung commented on #1029
It's for test 012 demangle ([link](https://github.com/namhyung/uftrace/issues/1029#issuecomment-553722009)) and it tries to fix GElf symbol having a non-zero st_value.

[2020-01-01 07:15] namhyung commented on #834
I need a way more simpler reproducer since node is a very complex program.  I'll try to find it..

[2020-01-01 07:27] honggyukim commented on #1029
Oh.. I see. I will test it again. Thanks!

[2020-01-01 07:28] honggyukim commented on #834
I will also find a simpler program. Thanks.

[2020-01-01 08:29] namhyung commented on #1029
Hmm.. I tested in with my board, but it didn't fix the problem.  Actually it requires more serious look at the way how it build symbol tables.  Let's fix it later..

[2020-01-01 08:35] namhyung commented on #1029
The below patch fixed the problem in 117

[code]

[2020-01-01 09:27] namhyung commented on #1029
And below fixed many problems regarding read triggers

[code]

[2020-01-01 10:02] honggyukim commented on #1029
I was able to test the same problem in `i386` mode with the following change.
[code]
I tested the above two fixes and found that they all work fine.
[code]
Thanks very much for the fixes.

[2020-01-01 10:03] honggyukim commented on #1029
It'd be better to have a way to provide such `-m32` flag to `runtest.py`. I would like also to have a way to compile test programs with `-mthumb -march=armv7` as well for thumb mode testing.

[2020-01-01 10:24] honggyukim commented on #1029
The read trigger related change seems to fix the following failures.
[code]
They are all passed after applying your fix. Thanks!

[2020-01-01 12:10] honggyukim opened #1080 "unexpected behavior when uftrace traces uftrace itself"
The following example records library calls of `uftrace` itself.
[code]
The following example only wants to record arguments of `uftrace` itself, not the arguments of target `t-abc` binary. But it fails as follows:
[code]
It's because `UFTRACE_*` related environmental variables are passed unexpectly so we need to reset all the environmental variables when new `uftrace` is started.

[2020-01-01 12:14] honggyukim commented on #1080
I tried to apply the following change.
[code]
But it doesn't work as expected showing some extra traces at the end.
[code]

[2020-01-01 14:23] namhyung commented on #1029
You can pass a single option with `-f` option like `-f m32`, but it wouldn't support passing multiple options for now.

[2020-01-01 14:32] namhyung commented on #1029
Merged: 367945f4

[2020-01-01 15:06] honggyukim commented on #1029
Thanks for the fixes. If possible, could you please run tests compiling them in thumb mode? I will also try it as well.

[2020-01-01 15:10] namhyung commented on #1029
Unfortunately I was unable to compile it with thumb mode.

[2020-01-01 15:22] honggyukim commented on #1029
How about compiling with this?
[code]

[2020-01-01 15:46] honggyukim commented on #1029
Hmm.. It actually doesn't work.
[code]

[2020-01-02 01:19] honggyukim opened #1083 "i386 argument errors in tests"
There are many argument test failures in i386 arch.
[code]
The test was done with compiling uftrace as follows:
[code]
The `runtest.py` has to be modified to compile target programs in `i386` mode as follows:
[code]
Here are the test details.
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-01-02 01:20] honggyukim commented on #1083
@namhyung @ParkHanbum Could you please take a look at this before making 0.9.4 release?

[2020-01-02 01:22] honggyukim commented on #1083
I think it's also worth to run tests for i386 as well even though it's not widely used, but we can test 32-bit environments. The same problems are found in ARM 32-bit in many cases.

[2020-01-02 02:00] honggyukim opened #1084 "i386 and ARM 32-bit demangle test failure"
Here is the test result in i386.
[code]
Here is the test result in ARM 32-bit.
[code]

[2020-01-02 02:01] honggyukim commented on #1084
Unfortunately, https://github.com/namhyung/uftrace/issues/1029#issuecomment-569560088 doesn't fix the problem of i386, but haven't tested it yet for ARM 32-bit.

[2020-01-02 05:45] honggyukim commented on #1084
test `124 exception` may have the similar problem in `i386`.
[code]

[2020-01-02 15:10] namhyung commented on #1034
What about this instead?

[code]

[2020-01-05 11:08] namhyung commented on #1029
It seems rest of the remaining failures are not easy to fix.  Will take a look at them later..

[2020-01-05 11:11] namhyung commented on #778
It seems remaining issues will take some time..

[2020-01-05 11:12] namhyung commented on #1030
It seems there's nothing new, removing from v0.9.4 release...

[2020-01-05 11:22] namhyung commented on #834
It seems some library calls use PLT in a different way.. If you think it's mostly broken already, we can simply allow those calls and see what's going on...

[code]

[2020-01-07 10:41] lntuition commented on #1034
@namhyung In other words, but i think it is releated to this issue so i write here.
Also, current `print_escaped_char` cannot represent unprintable character.
So how about add this changes in addition to the above patch?

[code]

[2020-01-07 14:45] namhyung commented on #1034
But then there's not much difference from `print_json_escaped_char()` and we already checked it has (mostly) printable characters (< 128).

[2020-01-08 05:11] lntuition commented on #1034
@namhyung Oh, I see. Thank you for your comment :)

[2020-01-12 13:17] honggyukim opened #1088 "arm floating point argument failures"
Here is a test program.
[code]
It shows floating point numbers in normal execution.
[code]
It also shows correct numbers with simple uftrace record execution.
[code]
However, the floating point numbers are somehow printed incorrect values if uftrace tries to record an argument.
[code]
The result is same with `--auto-args`.
[code]

[2020-01-13 07:42] honggyukim opened #1091 "library tracing failure when -fno-plt option is used in Ubuntu 19.04"
In Ubuntu 19.04, I compiled a simple binary as follows:
[code]
Their tracing result is different and uftrace cannot trace library calls for `-fno-plt` compiled binary.
[code]
It makes `t212_noplt_libcall` failed.
[code]
Here is GCC compiler info.
[code]

[2020-01-13 07:45] honggyukim commented on #1091
The `-fno-plt` compiled binary shows the same problem even if it's executed in a different machine such as Ubuntu 18.04.

Here are the binaries.
- normally compiled binary: [t-abc.txt](https://github.com/namhyung/uftrace/files/4052489/t-abc.txt)
- `-fno-plt` compiled binary: [t-abc-no-plt.txt](https://github.com/namhyung/uftrace/files/4052492/t-abc-no-plt.txt)

The problem can be easily reproduced

[2020-01-14 13:19] honggyukim commented on #834
Here is the reproduced `node` binary. (compressed by `xz`)
- [node.xz.txt](https://github.com/namhyung/uftrace/files/4059252/node.xz.txt)

The same problem can be reproduced as follows:
[code]
I tested the change above, but it still gets crashed.
[code]

[2020-01-14 13:25] honggyukim commented on #834
It's very strange that it works fine if I made the following change only for debugging purpose.
[code]
The test result is as follows:
[code]

[2020-01-14 13:30] honggyukim commented on #834
It's also very weird that it gets crashed with the following change.
[code]
The only difference is the location of `pr_out` statement, but shows the same error message.
[code]
The location may a bit different from time to time, but I've seen that `good` location always works fine, but `bad` location gets crashed about 95%.

[2020-01-14 13:34] honggyukim commented on #834
The entire report output of crashed data is as follows:
[code]
However, the report output of "good" change has a lot more record.
[code]
It shows more than 3 pages of result.

[2020-01-14 13:37] honggyukim commented on #834
If the debugging statements at both "good" and "bad" locations, then `node` is recorded without crash.
[code]

[2020-01-14 13:48] honggyukim commented on #1071
Hmm.. I've seen more and more often on the recently installed Ubuntu 18.04 servers.
[code]

[2020-01-14 13:52] honggyukim commented on #1071
I tested it with `--no-libcall` again, but crashed as well.
[code]
But the backtrace is a bit less deeper.
[code]

[2020-01-14 13:59] honggyukim commented on #1071
@ParkHanbum Could you please take a look at it if you can reproduce the problem?

[2020-01-15 04:54] honggyukim commented on #763
We can reuse `--srcline` option for this feature.

[2020-01-15 05:36] honggyukim commented on #834
It's also very weird that the following change makes it work.
[code]

[2020-01-15 06:22] honggyukim commented on #831
@junhoryu Do you still have a plan to work on this?

[2020-01-15 06:27] honggyukim commented on #1013
@nasafix-nasser Do you have any update? Please let me know if you have any questions working on this.

[2020-01-20 13:01] namhyung commented on #763
It'd be nice if we can handle it as a field.

[2020-01-20 16:42] honggyukim commented on #763
I was worried about the width of the field.

[2020-01-20 20:25] DanielTimLee commented on #1078
[code]

[2020-01-20 20:58] DanielTimLee commented on #1063
Sorry for the late response.
The problem is reproducible on some of my environment. (but not all)

[code]

**Result**

[code]

**Running environment**
[code]

<details><summary>Other tested environment (No error at all) </summary>
<p>

[code]
</p>
</details>

It happens really rarely. 1 out of 100 trial.
Can you tell me which environment are you working on?

[2020-01-21 00:57] namhyung commented on #834
Maybe it's related to C++ exception handling...

[2020-01-21 01:06] namhyung commented on #763
Hmm.. ok, it may not fit to fields.  Yes, I'm ok with `--srcline` option then.

[2020-01-22 09:16] honggyukim opened #1092 "segfault in uftrace report"
In some cases, `uftrace report` gets crashed as follows:
[code]
Here is the backtrace.
[code]

[2020-01-22 09:20] honggyukim commented on #1092
The crash is not shown after applying the following workaround change.
[code]

[2020-01-22 09:50] honggyukim opened #1093 "segfault in uftrace tui"
Here is the gdb backtrace info.
[code]
The source location is
[code]

[2020-01-23 03:49] namhyung commented on #1092
Does it happpen with a specific data or just random?

[2020-01-23 04:26] honggyukim commented on #1092
It happens with a specific data, but I cannot share it as it's an internally recorded for a proprietary program.

[2020-01-23 04:27] honggyukim commented on #1092
It's very weird that it doesn't show the problem if it's executed as follows:
[code]

[2020-01-23 04:29] honggyukim commented on #1092
Due to this reason, it'd be useful if uftrace has a tool that obfuscates the security sensitive internal symbols and detail info.

[2020-01-23 04:45] namhyung commented on #1092
I think you can simple delete all .sym files.

[2020-01-23 05:10] honggyukim opened #1095 "The usage of configure needs to be better with ARCH"
The usage of `configure` file asks user put some environmental variables such as `ARCH` come before `configure` script.

However, in some cases, some novice users use `ARCH` after `configure` script and its result is unexpected as follows:
[code]
I think we better also provide the above usage as well.

[2020-01-23 05:11] honggyukim commented on #1095
I found someone uses the above usage and asks me why it's failed.

[2020-01-23 05:23] honggyukim commented on #1092
Thanks. It hides each function info, but we have to hide all the info listed below.
- function symbols
- `task.txt` contains binary and library names
- binary and library names listed in `sid-*.map`
- other system info shown in `uftrace info`
  - `cmdline`, `hostname`, `distro`, `exe image`, etc.

[2020-01-23 07:57] honggyukim commented on #1095
@namhyung How about providing `--arch`, `--cflags`, and `--ldflags` options as follows:
[code]
It will make `i386` build a lot simpler than the current way.

**Before**
[code]
**After**
[code]

[2020-01-23 14:41] namhyung commented on #1095
Looks ok.

[2020-01-26 11:40] honggyukim commented on #1084
As shown above, the problem can simply be shown in i386 mode as follows:
[code]
If it's compiled with `-Wl,-z,now`, then the last symbol name is not found.
[code]

[2020-01-27 02:39] honggyukim commented on #778
Here is another result that uses `clang` compiler after applying PR #1089.
[code]

[2020-01-27 06:43] honggyukim commented on #1095
I uploaded the change in #1096. Thanks!

[2020-01-28 06:04] honggyukim opened #1098 "full dynamic tracing crash in aarch64"
Here is the crashed (candidate) function in aarch64.
[code]

[2020-01-28 06:47] honggyukim opened #1099 "return address hooking failure in aarch64"
The following function is recorded recursively even though it doesn't have such recursion.
[code]

[2020-01-28 06:49] honggyukim commented on #1099
The same function doesn't have any problem in return address hooking when trying it with full dynamic tracing without explicit `-pg` build.

[2020-01-28 08:33] honggyukim commented on #1099
The replay output looks as follows:
[code]

[2020-01-28 08:34] honggyukim commented on #1099
The debug info is as follows:
[code]
It shows only many number of "enter".

[2020-01-28 08:39] honggyukim commented on #1099
It looks impossible to have such negative numbers in "filter mode" as above.
[code]
The only available "filter mode" values are 0, 1, and 2.
[code]

[2020-01-29 02:55] ansisatteka opened #1101 "WARN: cannot open record data: uftrace.data: No data available"
On Ubuntu 18.04.3 LTS X86_64 I have built `suricata` with `-pg` flag. However, the `uftrace replay` command fails:

[code]
After digging deeper I noticed that the `uftrace.data/pid.dat` file was not created when I ran the `uftrace record` command:

[code]

The `uftrace record` output:

[code]

I am able to successfully trace other processes than suricata, so I am wondering if this may have somethi

[2020-01-29 06:40] honggyukim opened #1102 "-U/--unpatch option is missing in man pages"
As mentioned in the title, `-U`/`--unpatch` option is missing in man pages, so it needs to be updated.

[2020-01-29 06:43] honggyukim commented on #1102
Here is the description in the usage.
[code]
The related commits are as follows:
- ad739625 dynamic: Add -U option to exclude some functions
- 344d05bd Merge branch 'dynamic-unpatch'

[2020-01-29 06:46] honggyukim commented on #1101
Hi @ansisatteka,

Thanks for the report. I have tried to reproduce to the problem, but it seems that it works fine with `suricata`.

It'd be helpful to share how to reproduce the problem including source download, build, and tracing with uftrace.

Do you see the problem only on Ubuntu 18.04 LTS version?

[2020-01-29 10:56] honggyukim opened #1103 "heap buffer overflow in graph --task"
[code]

[2020-01-29 12:20] honggyukim commented on #1103
Maybe it's duplicated with #1021 and #997.

[2020-01-31 02:33] honggyukim opened #1104 "segfault with auto args (dwarf) in i386 mode"
uftrace record in i386 mode gets crashed in some certain combination of compilation options.
[code]
It doesn't have such segfault if `-a` is not used.
[code]
I found that it works fine if one of `-Os` or `-fstack-protector-all` is removed from the compilation option list. It works all fine as follows:
[code]

[2020-01-31 02:38] honggyukim commented on #1104
Here is the backtrace info.
[code]
uftrace source location is as follows:
[code]

[2020-01-31 02:40] honggyukim commented on #1104
Here is library info.
[code]
libdw version is `0.164`.
[code]

[2020-01-31 04:17] honggyukim commented on #1104
`libdw.so.1` in i386 mode is manually installed with `misc/install-elfutils.sh`.

[2020-01-31 04:45] honggyukim commented on #1104
It still has the same problem even if it's compiled with clang.
[code]

[2020-01-31 07:27] honggyukim opened #1105 "trying to prepare android build environment with failures"
The following command is from https://github.com/namhyung/uftrace/wiki/uftrace-on-Android#with-cuttlefish-virtual-device.

### With cuttlefish Virtual Device

1. Build cuttlefish host tool (like emulator)
[code]
However, it gets failed as follows in Ubuntu machine:
[code]
The above problem is fixed by installing `config-package-dev`.
[code]
The installation is failed as follows:
[code]

[2020-01-31 07:28] honggyukim commented on #1105
@DanielTimLee Could you please take a look at this?

[2020-01-31 11:06] #1039 closed

[2020-01-31 11:12] #1083 closed

[2020-01-31 11:24] #1095 closed

[2020-01-31 11:47] honggyukim opened #1106 "record error when image is in both cwd and system"
The `gcc` binary is built with `-pg` option.
[code]
It's abnormally finished if the image name is not specified with explicit path.
[code]
However, it works fine with `./gcc`.
[code]

[2020-01-31 11:49] henrychoi7 commented on #1105
@honggyukim I just fixed the installation sequence in the [Wiki](https://github.com/namhyung/uftrace/wiki/uftrace-on-Android#with-cuttlefish-virtual-device). It will work if you follow the instruction from `debuild` again.

[2020-01-31 12:02] honggyukim commented on #1105
@henrychoi7 Thanks.

[2020-01-31 12:41] honggyukim commented on #1103
It might be reproduced with #1058 like https://github.com/namhyung/uftrace/pull/1058#issuecomment-560386481.

[2020-01-31 12:48] DanielTimLee commented on #1103
@honggyukim 's file
[uftrace.data.issue.1058.tar.gz](https://github.com/namhyung/uftrace/files/4139420/uftrace.data.issue.1058.tar.gz)

[2020-01-31 13:16] #1102 closed

[2020-01-31 23:26] AnsBal commented on #1091
I think one problem is that we assume there's only one RELA section in no-plt binary which is not the case in this binary.
Although the binary is built with -fno-plt there is a .PLT in it. This leads us to the second problem, that is, we assume that -fno-plt is used if we do not find .PLT in the binary. Which is not true, in this binary at least.
Here is a quick and dirty (very very dirty) patch t

[2020-02-02 07:49] namhyung commented on #1106
I think it's a problem of gcc calling `execve`(2) from same directory.  It seems to be confused it's from system location or current directory since normally current directory is not in the PATH but uftrace allows to run it there.

[2020-02-02 08:18] namhyung commented on #1103
Hmm.. ok.   So this is basically when data has a deeply nested call stack, right?

[2020-02-02 08:31] namhyung commented on #1103
What about [this](https://github.com/namhyung/uftrace/files/4143699/fstack-overflow-check.patch.txt)?

[code]

[2020-02-02 23:28] honggyukim commented on #1103
Thanks for the fix. It works fine showing warning messages.
[code]
But I think general users do not have to see the warning messages, so I would like to modify your fix as follows:
[code]
What do you think?

[2020-02-02 23:41] honggyukim commented on #1103
In addition to this, there are many other places to be fixed to get fstack pointer. The following is the test result of #997 after applying the fix above.
[code]
I think it'd be better to have a common routine to get `fstack` such as `get_fstack`.

[2020-02-03 03:26] henrychoi7 opened #1109 "runtest.py error output could be improved"
When running test scripts with `runtest.py`, some users could execute it in unexpected way and encounter errors like below.
[code]
**OR**
[code]

But If I run `runtest.py` in the same `tests` directory, it starts with all 234 test cases as follows (executing with arguments works fine too):
[code]

Therefore, I thought the error message could be shorten (or add some exception) like below.
**Example

[2020-02-03 03:52] honggyukim commented on #1103
Why don't we use the following helper function widely?
[code]

[2020-02-03 05:07] namhyung commented on #1109
I'm ok with the above, please send a PR.

[2020-02-03 05:09] namhyung commented on #1103
Looks ok

[2020-02-03 05:59] honggyukim commented on #1103
Could you please commit the change you wrote? Then, I will send a PR for this.

[2020-02-03 11:16] namhyung commented on #1103
Let me add a logic to suppress the warning after the first time.  But I think it's ok to leave it as `pr_warn` since it's not a normal condition.

[2020-02-03 12:28] namhyung commented on #1103
OK, I ended up keeping `pr_dbg()` in [this patch](https://github.com/namhyung/uftrace/files/4147864/add-get-fstack.patch.txt).  Please test.

[2020-02-03 15:24] honggyukim commented on #1103
Thanks. It works fine, but I thought that `get_fstack` can be used elsewhere like below.
[code]

[2020-02-03 23:27] namhyung commented on #1103
OK, there are a couple of places need to be fixed as well.  I pushed it to [check/fstack-get](https://github.com/namhyung/uftrace/compare/check/fstack-get).

[2020-02-04 00:02] honggyukim commented on #1103
Everything else looks working fine, but the recorded data by @gy741 in #997 gets crashed even with [check/fstack-get](https://github.com/namhyung/uftrace/compare/check/fstack-get), but looks a different problem.
[code]
[code]

[2020-02-04 00:06] honggyukim commented on #1103
It seems that `graph_full` test is broken.
[code]
[code]

[2020-02-05 04:36] namhyung commented on #1103
I think it's because he manually changed the task id for testing but [below patch](https://github.com/namhyung/uftrace/files/4157408/graph-no-task.patch.txt) seems to fix it:

[code]

[2020-02-05 05:20] honggyukim opened #1110 "memory leak in uftrace graph"
The test `181 graph_full` works fine with the current master.
[code]
However, if `uftrace` is built with asan enabled, then it shows a heap buffer overflow error as follows:
[code]

[2020-02-05 05:23] honggyukim commented on #1110
The branch `check/fstack-get` fixes the problem above, but shows a memory leak error.
[code]

[2020-02-05 05:28] honggyukim opened #1111 "x86_64 test result with asan build"
Here is 'failed-tests.txt' result after running tests with asan enabled uftrace.
[code]
They may include some errors from heap buffer overflow and memory leak, which are not shown with normal uftrace.

[2020-02-05 05:32] honggyukim commented on #1103
Thanks. The problem is gone with your fix above.

**Before:**
[code]
**After:**
[code]

[2020-02-05 05:47] honggyukim commented on #1111
Here is the asan report for `067 report_diff` test.
[code]

[2020-02-05 05:51] honggyukim commented on #1111
Here is another asan report for test `157 script_python`.
[code]

[2020-02-05 07:04] honggyukim commented on #1103
In addition, why don't we change the name `fstack_get` to `get_fstack`? I think the name of function is better to be started with a verb.

[2020-02-05 14:13] namhyung commented on #1103
Think of it as a namespace for external functions.

[2020-02-06 10:51] honggyukim commented on #1103
If you think it's better, then I'm okay with it.

[2020-02-07 10:20] henrychoi7 commented on #1109
In addition, Is it okay to add more description for the error like below?

**Problem:**
[code]
**Example (Not a solution):**
[code]
**Result:**
[code]
Including the fix above, I think it would be more precise to determine what is wrong.

[2020-02-07 13:30] namhyung commented on #1103
Oh, yes.. hmm but it needs more serious change to fix correctly.  Let's leave it broken for now..

[2020-02-07 13:31] namhyung commented on #1109
Looks good.

[2020-02-07 13:38] #997 closed

[2020-02-07 13:38] #1103 closed

[2020-02-08 02:26] DanielTimLee opened #1112 "CI support for multiple arch & compiler"
Currently, uftrace is using Travis CI for testing builds and unittests.

Recently, Travis CI released beta version of
[Multi-cpu arch support](https://blog.travis-ci.com/2019-10-07-multi-cpu-architecture-support)

Since it only includes amd64, arm64, so it won't support all of our architectures,
But it will help to test briefly.

Also, travis support multiple compiler builds. (Gcc, clang)

For exa

[2020-02-08 10:25] DanielTimLee opened #1114 "Clang compiled uftrace unittest failed with ASAN"
From PR: #1113, on Travis-CI AMD64 Xenial clang-7 environment,
clang compiled uftrace unittest failed with ASAN option enabled.

<details><summary>ERROR LOG (Long content)</summary>
<p>

[code]

</p>
</details>

This can be reproduced with below environment and commands.
**(Not exactly the same, uses `clang-8` but reproducible)**

From `ubuntu:xenial`  docker image,
`docker exec -it ubuntu:xenial

[2020-02-08 11:20] DanielTimLee opened #1115 "Clang compiled uftrace unittest failed (aarch64, armhf)"
From PR: #1113, on Travis-CI ARM64 Xenial clang-3.8 environment,
Clang compiled uftrace unittest failed due to **"undefined reference to `mcount'"**

[code]

And this error is reproducible on other aarch64 environment.
Tested on `AWS ARM Graviton A1.medium` instance. (+ aarch64 Docker)

This can be reproduced with below environment and commands.

**(RUN ON aarch64 ENVIRONMENT)**
From `ubuntu:xenia

[2020-02-08 11:32] DanielTimLee commented on #1115
Not sure if this will help.

[code]

[2020-02-08 16:07] DanielTimLee commented on #1115
Seems missing symbol from library is not the case.
Just tested on `Raspberry pi 2 armv7l (armhf 32bit) xenial ubuntu 16.04`,

[code]

[2020-02-09 00:16] honggyukim opened #1116 "clang compiled uftrace test result"
I've compiled uftrace with clang-9.0.1 and run tests. The result is as follows:
[code]

[2020-02-09 00:22] honggyukim commented on #1116
Here are the brief diff output of failed tests.
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-02-09 03:03] honggyukim commented on #1112
Thanks. It looks very useful.

[2020-02-09 03:07] honggyukim commented on #1115
I'm not sure if it's related to the issue I know, but the `-pg` flag was broken before, and it's fixed since `clang-4.0`.
- https://reviews.llvm.org/D22666

It looks a different problem, but the above log shows that it uses `clang-3.8`.

[2020-02-09 05:05] honggyukim commented on #1092
This bug is fixed by a329066d.

[2020-02-09 05:05] #1092 closed

[2020-02-09 05:30] honggyukim commented on #834
@namhyung Hmm.. do you have anything in mind for this problem?

[2020-02-09 05:32] DanielTimLee commented on #1115
unfortunately, error occurs on `clang-4.0` either. (armhf, aarch64)

[2020-02-09 05:48] DanielTimLee commented on #1115
No errors occur in certain circumstances.
Tested on `clang-4.0`, `clang-5.0`, `clang-6.0`.

[code]

|           | armhf (xenial) | aarch64 (bionic) |
|:---------:|:--------------:|:----------------:|
| clang-3.8 |        x       |         x        |
| clang-4.0 |        x       |         x        |
| clang-5.0 |        x       |         o        |
| clang-6.0 |        x       |         o        |

[2020-02-09 08:32] honggyukim commented on #1088
Here is another problem in return value recording.
[code]

[2020-02-09 09:46] DanielTimLee commented on #1114
Same error occurs at `Xenial x86 clang-8 (VM)` also.

[2020-02-09 09:49] honggyukim commented on #1088
It seems that `memset@plt` makes `s0` and `s1` cleared to zero.
[code]

[2020-02-09 09:54] honggyukim commented on #1088
Here is the `memset` code in `/usr/lib/arm-linux-gnueabihf/libarmmem-v7l.so`.

The instruction in line 3 overwrites `s0` and `s1` registers with `vdup.8  q0, r1` instruction.
[code]

[2020-02-09 10:08] honggyukim commented on #1088
I manually changed the code as follows:
[code]
At least it doesn't change the original value printed by the program.
[code]
However, it still doesn't record the argument properly.
[code]

[2020-02-09 10:14] honggyukim commented on #1088
I think the right fix might be possible if there is a way to disable such implicit usage of `memset` call for struct initialization, but I don't know if there is such a way to do it.

[2020-02-09 12:37] honggyukim commented on #1088
The return value can be fixed with the following change.
[code]
[code]

[2020-02-09 12:41] honggyukim commented on #1088
The summarized change is as follows:
[code]

[2020-02-09 12:46] honggyukim commented on #1088
However, the above change doesn't fix the following example.
[code]
[code]
It's slightly changed example based on `t198_lib_arg_float.py`.

[2020-02-09 13:01] honggyukim commented on #1088
To fix the above problem, more change is needed in plthook routine as well.
[code]
Now, the result is correct.
[code]

[2020-02-09 13:04] honggyukim commented on #1088
The above change fixes floating point related tests in ARM 32-bit.
[code]

[2020-02-10 04:22] DanielTimLee commented on #1063
@honggyukim Can you tell me which test cases are randomly failed?
My personal guess is that the following cases are random error.

[code]

[2020-02-10 04:31] DanielTimLee commented on #1114
Not sure but seems under clang-4.0 doesn't properly support ASAN.
(i386 doesn't, x86_64 seems supported, but got an error)

[code]

[2020-02-10 04:32] honggyukim commented on #1063
I didn't list up the randomly failed tests, but I think the above tests seem to be a part of them. Thanks.

[2020-02-10 04:33] honggyukim commented on #1114
I think you're right. Address sanitizer has been gradually developed from x86_64 to other architectures.

[2020-02-10 05:22] honggyukim opened #1117 "aarch64 floating point argument errors"
Here is an example program.
[code]
The return values are incorrectly recorded.
[code]
Unexpectedly, it shows the original program value is also manipulated without `--no-libcall`.
[code]

[2020-02-10 05:23] honggyukim commented on #1117
The following change fixes the first problem.
[code]
[code]
But the second problem still remains.
[code]

[2020-02-10 05:40] honggyukim commented on #1110
The first heap buffer overflow is fixed now on the current master, but the memory leak still remains.

[2020-02-11 06:40] honggyukim opened #1120 "memory leak in tui"
It's a different memory leak problem in tui, but the example program is same as #1110.
[code]

[2020-02-11 07:12] honggyukim opened #1121 "demangle failures"
Here are the list of symbols that are failed to be demangled by our internal demangler.
[code]

[2020-02-11 07:21] honggyukim commented on #1121
Here are some parts of debug message in demangler.
[code]

[2020-02-11 10:21] honggyukim commented on #1117
The following doesn't make a problem.
[code]
But the following with `arg2/s` makes the same problem.
[code]

[2020-02-11 10:54] honggyukim commented on #1117
The above problem can be fixed with the following change as well.
[code]
The result shows that replay output is correct now.
[code]
The full replay output is also correct.
[code]

[2020-02-11 10:58] honggyukim commented on #1117
@namhyung If you agree on both changes, then I will send a PR.

[2020-02-11 13:20] #1110 closed

[2020-02-11 23:09] honggyukim commented on #778
The following is the test result after applying the change below:
- https://github.com/namhyung/uftrace/issues/1117#issuecomment-583960919
- https://github.com/namhyung/uftrace/issues/1117#issuecomment-584578790
[code]

[2020-02-12 04:37] honggyukim opened #1123 "busybox less detection fail"
In some cases, uftrace fails to detect busybox less, so the color is broken.

I found that the problem happens because of the following busybox less.
[code]

[2020-02-12 04:40] honggyukim commented on #1123
The file `/usr/lib64/busybox/usr/bin/less` is a shell script.
[code]

[2020-02-12 06:50] dhm04022 commented on #894
I'm practicing open source contribution. I want to study hard about this issue, and would like to add an example to it.

[2020-02-12 06:52] ljw8161 commented on #1120
I've copied the same codes, but I can't get a memory leak like yours.

$ gcc --version
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

$ lsb_release -a
No LSB modules are available.
Distributor

[2020-02-12 07:07] dhm04022 commented on #894
But I have problem to carring out this task.
I used "uftrace/tests/s-sort.c" this file for test and there is my practice code
[code]

I gave different size of parameter for each 3 example, but they show same results when I execute `uftrace replay`
what is the problem?

[2020-02-12 07:21] lntuition commented on #1120
@ljw8161 Can you share installation log with `make ASAN=1 install` ? When i following steps with Ubuntu 18.04, memory leak occurs.

[2020-02-12 07:29] ljw8161 commented on #1120
@Intuition
If I just run it, I refused permission, so I used the sudo command.

[code]

[2020-02-12 08:02] Screwlim opened #1128 "Reason for test case 181 graph_full NG result"
hello, I'm trying to get myself into the project here.
Seems like most of the 181 test case results in NG, so I digged into the problem.
Turns out, the child process from the fork function seems to be ignored from the graph.

The test result are below
[code]
I thought uftrace can trace down the multi processing procedures, but this test case seems to go against it. Can anyone have a look with this

[2020-02-12 11:48] honggyukim commented on #1099
`filter mode` is corrupted somehow. The related code is as follows:
[code]
[code]

[2020-02-12 12:06] honggyukim commented on #1099
We might need to have some debug and test code.
[code]
Please ignore this. It's only for testing purpose.

[2020-02-12 12:19] honggyukim commented on #1099
For gcov test, source is..
[code]

[2020-02-13 04:03] lntuition commented on #1120
@ljw8161 umm.. it looks like work well. I also test with ubuntu 16.04. memory leak message with ASAN doesn't exist too. I think the memory leak is happening but not detected.

@honggyukim Could you look at this? I think it may be related to `ASAN`.

[2020-02-13 05:20] honggyukim commented on #1120
The bottom half from `t-abc` overwrites the value in `dinfo->locs` by a new heap object allocation with `xcalloc`.
[code]
In total, it has 14 object memory leak that are matched with the result above.

[2020-02-13 05:25] honggyukim commented on #1120
@ljw8161 Thanks for taking a look at this issue, but I think it's better to handle a problem even if it's not shown in a certain environment. I also got this report in Ubuntu 16.04 though.

[2020-02-13 22:00] kobi-ca opened #1129 "C++11 user defined string literals break the json file"
and it cannot be loaded.
C++11 user defined string literals looks like the following:
[code]
in the json, the name of the func would be
[code]
those 3 trailing quotes makes it impossible to load this into chrome

[2020-02-15 12:32] honggyukim commented on #1129
@kobi-ca Thanks for the report, but could you please provide us a simple and complete example program that shows the problem?

[2020-02-15 16:51] kobi-ca commented on #1129
sure. will do. And I also need to get back to you on another issue that you resolved. sorry for the delay. Will make it happen this week. take care!

[2020-02-17 07:14] namhyung commented on #1117
Hmm.. I don't know why the inline asm doesn't work but if it works all platforms I think it'd better using it as it's simpler.

Also for the context save/restore, does it work if you use `-march=armv8-a+nofp` without your patch?

[2020-02-17 07:21] namhyung commented on #894
@dhm04022 thanks for using and trying to contribute to uftrace!  The `-Z` option is for dynamic tracing which means you should use it with like `-P` option.  Please take an another look at the links @honggyukim gave you and let us know if you have some questions.

[2020-02-17 12:07] DanielTimLee commented on #1128
The error doesn't happens in my env.

[code]

Can you elaborate more about your environment?

[2020-02-17 12:41] DanielTimLee commented on #886
Is uftrace currently hosted from docker hub?
Any plan when it will be hosted?

[2020-02-17 18:44] namhyung commented on #886
I don't have any plan for it.

[2020-02-17 18:48] namhyung commented on #1128
Yes, it's from a last minute change before v0.9.4.  It just misses `execl` due to the way it calculates the stack count.  It was added to fix crashes in some cases but created another problem.  I'll try fix it soon but it requires more changes so it'll take some time.

[2020-02-18 02:55] honggyukim commented on #1117
I didn't change it with `memcpy` in the end. Please refer to my commit in PR #1122 - https://github.com/namhyung/uftrace/pull/1122/commits/251ba74a7283664b330649c239dfea20dd8f9dae.

I also tried to recompile with `-march=armv8-a+nofp`, but shows some compilation errors.
[code]

[2020-02-18 04:32] Screwlim commented on #1128
i have updated to the latest version and still making NG errors for the case.
my environments are as below

'''
simon@simon-VirtualBox:~/uftrace$ uftrace --version
uftrace v0.9.4 ( dwarf python luajit tui perf sched dynamic )
simon@simon-VirtualBox:~/uftrace$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.3 LTS
Release:	18.04
Codename:	bionic
'''
@nam

[2020-02-20 07:38] ParkHanbum opened #1131 "dynamic instrumentation is not possible for C++ templates."
The following functions do not tracing while attempting a dynamic instrument.
[code]

this is disassembled code:
[code]

this is symbol info from objdump
[code]

[2020-02-20 07:40] ParkHanbum commented on #1131
"ShouldBlockAccessToMember" template did not showed in logmessage for verbose.

[2020-02-21 00:16] kobi-ca commented on #1129
Here is an example:
[code]

cmake:
[code]

running
[code]

dumping
[code]

note the line
`{"ts":1124421380161.629,"ph":"B","pid":32733,"name":"_GLOBAL__sub_I_my_user_literals::operator"""},`
and similar lines.
if you try to load it into `chrome://tracing` it would fail since this is not a valid json.

If I escape it (i.e. having \ before the internal double quotes, then it works). e.g.
`{"ts":1124

[2020-02-21 00:47] kobi-ca commented on #1018
Sorry it took me million years. the fix looks good to me. if this pass your regression suite, you might be able to merge it. thanks!

[2020-02-21 01:29] honggyukim commented on #1129
Hi @kobi-ca,

Thanks for providing the reproducible example. I've found the problem and the following change will fix the problem.

You can also download the diff here - [json_escaped_name.diff.txt](https://github.com/namhyung/uftrace/files/4233816/json_escaped_name.diff.txt)

[code]
However, we might have to handle more cases so need to consider if there are other candidate special characters.

I

[2020-02-21 01:49] honggyukim commented on #1129
It seems that other operators do not have such problems. It's because of json parsing specific problem that contains `"` while it understands the name boundary with the same character.

The above change fixes the problem as follows:

**Before**
[code]
**After**
[code]

[2020-02-21 02:00] ParkHanbum commented on #1131
it is exist in uftrace.data/libart.so.sym
[code]

[2020-02-21 06:10] namhyung commented on #1117
Hmm.. it seems we need to use it only for the libmcount.

[2020-02-22 10:06] stkid commented on #830
Hi,

I try to test this on arm64 system, but i get a segfault in mysqld. I am confused as
i can start mysqld normally without uftrace.
The version of mysql is 8.0.17. Could someone help?

[root@localhost bin]# uftrace record -d ~/uftrace_mysql.data ./mysqld --defaults-file=/etc/my.cnf
WARN: Segmentation fault: address not mapped (addr: 0x18)
WARN: Backtrace from uftrace:
WARN: ====================

[2020-02-22 18:00] kobi-ca commented on #1129
thanks for fixing it. look good.
Probably need to look at this:
https://www.freeformatter.com/json-escape.html

for now, this would be enough, I think:
[code]
you can regex it in your code to achieve it. (but you are .c and not .cpp so not sure if you have access to some standard regex lib in C)

[2020-02-24 09:43] honggyukim commented on #1129
Hmm.. Backslash cannot be used as a function name, so I think handling double quote is enough. If @namhyung agrees, I will send a PR. @kobi-ca, thanks for your help.

[2020-02-24 11:30] namhyung commented on #1129
We have `print_json_escaped_char()` in cmd/replay.c - any chance to reuse the code?

[2020-02-25 07:51] honggyukim commented on #1117
It seems we need more modification to compile it with `-march=armv8-a+nofp`.
[code]
Here is the change I used.
[code]

[2020-02-25 07:55] honggyukim commented on #1117
I tried to recompile it with `-march=armv8-a+nofp` manually modifying `utils/debug.c`, but the result has the same problem.
[code]

[2020-02-25 09:08] honggyukim commented on #1117
Could you please take a look at the change in #1122?

[2020-02-29 22:14] namhyung commented on #1117
Sorry for the late reply, will do.

[2020-02-29 22:59] namhyung commented on #830
Unfortunately there are many things can go wrong on Aarch64 at this point.  My general advice is to use latest version of uftrace and use `--no-libcall` option or rebuild mysql with `gcc -finstrument-functions`.

[2020-03-01 06:44] honggyukim commented on #1088
@namhyung Could you please take a look at this?

[2020-03-03 10:23] namhyung commented on #1088
Sorry for the late reply.  Both changes are look good.

Since ffb69ce2 offset from `*retval` and `d0` register chagned.  And I think we can use `mcount_memset4()` instead because it's gauranteed that both of address and size will be multiple of 4.

[2020-03-03 22:54] honggyukim commented on #1104
We may have to test this problem with the most recent `libdw.so` library by compiling it from its source. The source is here.
- https://sourceware.org/elfutils/ftp/0.178/elfutils-0.178.tar.bz2

[2020-03-03 22:55] honggyukim commented on #1104
@ekyooo You may be interested in this problem. Thanks.

[2020-03-04 23:09] #1120 closed

[2020-03-09 13:25] DanielTimLee opened #1136 "uftrace tid position affects with loading data directory?"
Seems, uftrace filter position affects with loading data directory.

Below one with the filter position located at last works properly.
[code]

But this one seems not working properly with the filter position located before data directory.
[code]

Attached sample data directory.

[bad_kprobe__htab_map_lookup_elem_not_called.data.zip](https://github.com/namhyung/uftrace/files/4306745/bad_kprobe__ht

[2020-03-09 13:32] DanielTimLee commented on #1136
My bad. Seems both works properly.

[2020-03-09 13:32] #1136 closed

[2020-03-15 03:47] honggyukim opened #1137 "provide kind error messages for configure script"
As of now, the `configure` script fails on some newly installed systems as follows:
[code]
The configuration is failed because the system doesn't have `make` installed.

We can provide better error messages on such cases.

It can also check whether `gcc` is installed as well and it fails silently even if `make` is installed.
[code]

[2020-03-15 15:02] namhyung commented on #1114
For some reason the unittest name is not set so `strcasestr()` failed due to NULL pointer.

[code]

I'd like to see the binary it creates...

[2020-03-15 15:09] namhyung commented on #1115
Hmm.. ok.  But I just realized that unittest doesn't need to have `-pg` in the first place.

[code]

[2020-03-15 16:08] DanielTimLee commented on #1115
That sounds about right.

2020년 3월 16일 (월) 00:09, Namhyung Kim <notifications@github.com>님이 작성:

[2020-03-16 01:57] #1088 closed

[2020-03-16 11:15] ekyooo opened #1138 ".dbg file for library with debug section is not generated"
As I see, .dbg file is generated for just main executable.
Could you please let me know if it's intentional? Or am I missing something?

libabc_test_lib.so is dynamically linked to t-lib.
[code]

Both of executable and linked library have debug section as follows
[code]

[code]

After running uftrace with t-lib, t-lib.dbg is generated. but libabc_test_lib.dbg is not.
[code]
[code]

[2020-03-16 13:32] namhyung commented on #1138
It seems we miss to generate debug info files when `--srcline` option is given (only).  With argument related option it should generate them.

Can you please send a PR for the fix?  You need to change cmd/record.c to add a new env variable for the option, and libmcount/mcount.c to receive the variable.

[2020-03-17 11:05] ekyooo commented on #1138
ok. I'll try it.
Thank you.

[2020-03-17 16:05] #1128 closed

[2020-03-17 16:05] #1115 closed

[2020-03-18 01:51] honggyukim commented on #1071
I see the same problem in another Ubuntu 16.04 machine as well.
[code]

[2020-03-18 02:31] honggyukim commented on #1117
Fixed by a0fbee4 and 251ba74 in #1122.

[2020-03-18 02:31] #1117 closed

[2020-03-18 06:01] honggyukim commented on #1071
Here is another backtrace with `--no-libcall`
[code]

[2020-03-18 06:07] honggyukim commented on #1071
It also gets crashed even if capstone is disabled.
[code]
The backtrace is a bit different.
[code]
The crashed location is as follows.
[code]

[2020-03-18 06:16] honggyukim commented on #1071
It seems that the problem is related to the following `mprotect` in `./arch/x86_64/mcount-dynamic.c`.
[code]

[2020-03-18 06:18] honggyukim commented on #1071
It works fine after applying the following change.
[code]
[code]
We may have to fix the above `mprotect` properly.

[2020-03-18 06:35] honggyukim commented on #1071
Hmm.. The following change makes it work, but I don't fully understand why we have to give read permission as well.
[code]
@AnsBal @namhyung @ParkHanbum Do you have any idea on that?

[2020-03-19 05:54] honggyukim commented on #1071
@nikita-uvarov Can you also verify if the above change fixes your problem as well?

[2020-03-19 14:16] namhyung commented on #1071
It probably has some RO data along with the code.

[2020-03-19 14:20] honggyukim commented on #1071
If so, I’m also wondering why it was okay with other *good* machines.

[2020-03-22 03:08] honggyukim opened #1142 "compiler warnings in gcc-9.2.1"
It shows some compiler warnings when compiled with `gcc-9.2.1`.
[code]

[2020-03-22 03:14] honggyukim commented on #1142
The `gcc-9.2.1` can be installed in most ubunut systems as follows:
[code]
Reference: https://gist.github.com/jlblancoc/99521194aba975286c80f93e47966dc5

[2020-03-22 19:40] honggyukim opened #1143 "full dynamic tracing parallelization"
It takes a really long time to analyze and patch functions when full dynamic tracing is used especially for a big program such as chrome.

We may be able to run several threads to analyze and patch function for a lot faster launching time.

It's just an idea but looks feasible.

[2020-03-22 21:01] honggyukim commented on #827
I have tried again with the chrome built with the following configuration in `args.gn`. It doesn't use tcmalloc and it uses system default allocator, which is ptmalloc in this case.
[code]
The following record also gets crashed as follows:
[code]
However, recording with `-N base::debug::StackTrace::StackTrace` makes it work fine.
[code]
The record is done without being crashed in the above executi

[2020-03-22 21:03] honggyukim commented on #827
If chrome uses tcmalloc as it's the default allocator of chrome, then it gets crashed even if it also has `-N base::debug::StackTrace::StackTrace`.
[code]

[2020-03-22 21:27] honggyukim commented on #827
The chrome with tcmalloc also works fine with `-N backtrace` as well.
[code]
It's actually tested with the PR in #1141.

If it's tested on the current master without #1141, then it still gets crashed.
[code]

[2020-03-22 21:43] honggyukim commented on #827
I also tested it with `-U` option, but it gets crashed unlike `-N` option for the problematic functions.

[2020-03-23 06:38] honggyukim commented on #827
@namhyung Do you think it's not a good way to make `-N base::debug::StackTrace::StackTrace -N backtrace` as built-in no filter lists?

I know it's not good to have such special cases by default, but always asking users to give such options is not user-friendly.

[2020-03-23 07:42] honggyukim commented on #827
I tried again by launching chrome in a normal mode instead of headless mode, which doesn't actually show the GUI browser window. But it gets crashed as follows:
[code]
`StackTrace` and `backtrace` are still shown in the crash backtrace even though they are filtered out with `-N` option.
[code]

[2020-03-23 14:01] namhyung commented on #1071
It's tricky since it depends on how the code and rodata is located which might vary due to a different combination of cpu/compiler/kernel versions.

[2020-03-23 14:06] namhyung commented on #1142
I think that's what we saw from a clang test too.

[2020-03-23 14:11] namhyung commented on #1143
Yeah, looks like we can do that.  But before that, I think we need to measure how much time we can actually get from this change.

[2020-03-23 14:13] #1071 closed

[2020-03-23 19:02] honggyukim opened #1144 "support debugging info in separate files"
In some cases, debug info can be in separate files. Since the current uftrace implementation doesn't support such cases, it can fail to read symbol tables and debug info.

Here is the way how to generate debug info in separate files summarized in [1].

1. Compile with debug information:
[code]
2. Separate the debug information:
[code]
3. Strip debug information from origin file:
[code]
4. debug by

[2020-03-23 19:51] honggyukim commented on #1144
The separate debug info is found based on `.gnu_debuglink` section.

https://sourceware.org/gdb/onlinedocs/gdb/Separate-Debug-Files.html

[2020-03-24 04:46] AnsBal commented on #1071
I couldn't reproduce the bug and throw a look at the .text section to find out where the read is done. If you would like to share the compiled binary (t-abc), I would be happy to investigate it.
In general, in /proc/self/maps, the memory region of the main executable has always the read permission (in my system at least):
[code]
I'm not surprised the READ permission solved the problem :)

[2020-03-24 19:38] honggyukim commented on #1071
@AnsBal Thanks for checking it. I compiled `t-abc` on the previously crashed machine, then send it to another machine, which didn't have this problem.

Even without the commit I made, `t-abc` from the crashed machine doesn't get crashed in another machine. So you will not see the problem even if I share the binary.

I think it's tricky to fully understand the problem, but having READ_PROT along wi

[2020-03-25 13:21] namhyung commented on #1144
Yes, I know there are some more cases to support separate debug files.  Will take a look at them later..

[2020-03-25 13:33] honggyukim commented on #1143
I measured the time for chrome and it takes about 17 seconds three times as follows:
[code]
I applied the following change. I can send a PR if it's needed.
[code]

[2020-03-25 13:41] namhyung commented on #1071
Can you show me the kernel versions of both machines?

[2020-03-25 13:46] namhyung commented on #1143
Hmm.. I'm not sure we can improve the performance in this specific case since it seems they're in separate sessions run serially.

[2020-03-29 04:03] binkoni opened #1145 "Adding clang-format"
Hello,
How do you think about adding .clang-format file and updating .travis.yml to run clang-format automatically on new commits?

It is easy to generate .clang-format here:
https://zed0.co.uk/clang-format-configurator/

And you can run and check clang-format like this in travis.yml:
[code]

[2020-03-29 04:23] namhyung commented on #1145
I'm ok as long as it can cover the current style without a problem, but please take a look at #381.

@honggyukim do you have any update?

[2020-03-29 05:32] honggyukim commented on #1145
I don’t have update yet. @binkoni Please go ahead if you have an idea. Thanks a lot!

[2020-03-29 05:39] binkoni commented on #1145
Okay I'll begin. thanks

[2020-03-29 07:37] namhyung commented on #871
@binkoni can I take this over?

[2020-03-29 07:38] binkoni commented on #871
@namhyung
Sure you can :)

2020년 3월 29일 (일) 오후 4:37, Namhyung Kim <notifications@github.com>님이 작성:

[2020-03-29 10:15] binkoni commented on #1145
@namhyung
I found some inconsistency in pointer alignments, some are middle, some are right:
https://github.com/namhyung/uftrace/blob/d648bbffedef529220896283fb59e35531c13804/cmds/record.c#L81
https://github.com/namhyung/uftrace/blob/d648bbffedef529220896283fb59e35531c13804/uftrace.c#L245
https://github.com/namhyung/uftrace/blob/d648bbffedef529220896283fb59e35531c13804/uftrace.c#L232
In clang-form

[2020-03-29 12:41] arter97 opened #1146 "mcount_auto_recover producing incomplete reports"
Hi.

This is my first time using uftrace, so excuse me if I'm making a basic/noob error.

I've been trying to run uftrace to profile function calls.
I noticed that the old uftrace v0.8.1 included with Ubuntu 18.04 works, but the latest git revision doesn't.

I've ran `git bisect` and found commit 0f12d02fad022b3e9bd8b165c9ce0e5cb1eaa897 to be the one causing it.
Sure enough, setting `bool mcount_a

[2020-03-30 02:40] namhyung commented on #1145
Let's use right!

[2020-03-30 05:40] namhyung commented on #1146
@arter97 hi, it's good to see you here and thanks for the report and bisect.  Is it possible for you to share the source code?

[2020-03-30 14:20] nnWhisperer opened #1147 "problem recording uftrace.data"
Hi,
It is the first time I am trying to use uftrace program. Thank you for such a useful tool, yet I have not been able to use it for what I intended. When I am in a directory with the binary app is in;
$ uftrace app
prints a detailed call trace. However, I am intending to use dump --chrome utility.
$ uftrace dump --chrome
WARN: cannot open record data: uftrace.data: No such file or directory
So,

[2020-03-30 15:31] nnWhisperer commented on #1147
I have instead changed my directory to ~/forUftrace and then runuftrace dump --chrome theAppLocation to proceed.

[2020-03-30 15:43] nnWhisperer commented on #1147
I have instead changed my directory to ~/forUftrace and then run as a workaround:
[code]
it worked, however it is a work-around, and you may want to consider the issue as a bug. Thank you.

[2020-03-30 16:16] namhyung commented on #871
Pushed [review/getopt-v1](https://github.com/namhyung/uftrace/compare/review/getopt-v1).

[2020-03-31 06:59] honggyukim commented on #871
Thanks a lot for the update. It mostly works fine, but it doesn't properly pass target options.
[code]
It requires explicit `--` mark as follows.
[code]

[2020-03-31 07:05] honggyukim commented on #871
The simpler example is as follows.
[code]
The following `--target-option` is expected to be used as an option for `t-abc` itself instead of `uftrace` option, but it doesn't work.
[code]

[2020-03-31 14:35] namhyung commented on #871
Thanks for testing.  I don't know how I can control that..

[2020-04-02 22:32] honggyukim opened #1149 "reuse -P/-U options for analysis commands"
The most commonly used filters in replay are `-F` for opt-in and `-N` for opt-out filtering. `-F` enables to show and `-N` disables to hide the target function and its children functions.

There can be other filters. Unlike `-F` option, it can show only the target function without considering its children functions. Likewise, another option can hide only the target function but shows its children

[2020-04-02 22:42] honggyukim commented on #1149
Here is an imaginary execution output.

Once the `t-abc` is recorded without any filter option as follows.
[code]
`-P` option can be used to show only given functions without displaying their children functions.
[code]
`-U` option can hide only the given function, but doesn't affect to its children functions. In this example below, `-U b` only hides `b` function.
[code]
The usage says `-P` implies

[2020-04-05 01:43] namhyung commented on #1147
Sorry for late response and thanks for using uftrace.

I'm not sure what's the problem here but it may be related to your setup in the vagrant VM..  The "No such file or directory" is for ENOENT and it was when `mkdir(2)` failed.

The man page says:

Maybe your home directory setting has some magic in it?  :)

[2020-04-06 08:32] honggyukim opened #1150 "display pretty "errno" value"
It seems that `errno` value can be read by `__errno_location` function so it'd be better to display its `errno` number just like enum types.

https://www-numi.fnal.gov/offline_software/srt_public_context/WebDocs/Errors/unix_system_errors.html

[2020-04-06 08:50] namhyung commented on #1150
I don't understand what you want exactly.. do you want print the value of `errno`?

[2020-04-06 09:17] honggyukim commented on #1150
Yes. right. I've seen many function records `__errno_location` but it doesn't provide any useful meaning without the value.

[2020-04-06 09:25] namhyung commented on #871
Oh, I found that we can control non-option behavior using the short option string prefix ("+").  Please check [review/getopt-v2](https://github.com/namhyung/uftrace/compare/review/getopt-v2).

from the man page of [getopt_long(3)](https://linux.die.net/man/3/getopt_long):

[2020-04-06 09:27] namhyung commented on #1150
Can you point where you are seeing?

[2020-04-06 22:35] honggyukim commented on #1150
Here is an example having `__errno_location`.
[code]
It seems that whenever `errno` is read, `__errno_location` call is made.

[2020-04-06 22:36] honggyukim commented on #871
I tested and confirmed that it works fine now. Thanks a lot for your work!

[2020-04-07 04:28] namhyung commented on #871
Thanks for the testing!

[2020-04-07 04:30] #871 closed

[2020-04-07 16:39] hjongkim commented on #1013
Hello. If there is no update, can I try?

[2020-04-07 18:55] honggyukim commented on #1013
@hjongkim It's good to see you again. It's thankful if you work on it.

[2020-04-07 18:56] honggyukim commented on #1013
In addition to this, you can modify tui sort key to set the cursor to the same function. In the current implementation, when `s` key is pressed, the report window is sorted and the cursor goes to the top. But I'd rather want to make the cursor to be set to the same function.

[2020-04-10 05:54] honggyukim opened #1151 "failure on collecting correct kernel-cpuXX"
If some cpus are offlined especially from the initial numbers, then current implementation fails to collect correct `kernel-cpuXX.dat`. It's because it just simply count the number of cpus, then collect from `cpu0` by looping over the number of cpus.

Here is the problematic cpu settings.
[code]
In this case, uftrace has to collect `kernel-cpu4.dat` and `kernel-cpu5.dat`, but it just collects `ker

[2020-04-10 06:15] honggyukim commented on #1151
If this issue is fixed, then it can also be simpler to handle the problem as mentioned in https://github.com/namhyung/uftrace/pull/945#pullrequestreview-304215689.

[2020-04-10 06:55] honggyukim commented on #1078
Sometimes the test gets stuck and does not make progress, so I really need this non-multiprocessing execution is needed.

[2020-04-10 10:14] LoisHuang opened #1152 "display the file name of function"
Hello, whether the output could contain the file name of the function?

[2020-04-10 11:49] honggyukim commented on #1152
If you record with `--srcline` or `-a` option, then tui command shows the source location info at the bottom.

Please note that the target binary must have debug info, which is generated by `-g` option just like using `gdb` tool.

[2020-04-10 11:50] honggyukim commented on #1152
#1133 is under review and it shows source location info in `report` command.

[2020-04-10 12:00] honggyukim opened #1153 "051 return shows 'NZ' in aarch64"
Here is the problem.
[code]
Here is a simpler example to reproduce the same problem.
[code]
It can be compiled and executed as expected.
[code]
However, if uftrace is running with this program, the result is different.
[code]

[2020-04-10 14:03] honggyukim opened #1154 "incorrect enum display problem"
Here is a simple program.
[code]
The enum type `et` begins with `-1`. In this case, argument display shows the enum incorrectly as follows.
[code]
The `dump` output shows the problem as follows.
[code]
The enum is interpreted as `4294967295` instead of `-1` here so it needs to be fixed correctly.

[2020-04-10 15:12] honggyukim commented on #1154
It might be a problem of the logic in the following code.
[code]

[2020-04-10 15:52] honggyukim commented on #1154
The problem is because enum value is interpreted as `long` type, which is 8 bytes in 64-bit systems.

The following change fixes the problem by changing the value type from `long` to `int`. I'm not sure if it has to be explicit `int32_t` here.
[code]
The result is correct now.
[code]

[2020-04-10 15:55] honggyukim commented on #1154
It may not be a different problem, but it has another problem in aarch64 system and I'm looking into the problem. It must have some memory bugs in it even after applying the change above.
[code]
The two consecutive execution shows different results, which look it has a memory problem.

[2020-04-10 16:04] honggyukim commented on #1154
Besides this, we also have to handle C++11 enum, which may have different type size.
[code]
The result is as follows:
[code]

[2020-04-11 05:06] LoisHuang commented on #1152
Thanks for your reply! But I seemingly encountered one problem  when I used `tui `command, that the foot line displayed `uftrace graph: source location is not available [at 0x40063b] `. How can I solve this problem?

[2020-04-11 06:35] honggyukim commented on #1152
Please make sure the followings:
- if the binary is compiled with `-g` option.
- if the uftrace.data is recorded with one of `--srcline` or `-a` option. You can check if data directory has `.dbg` file inside.

Thanks for using uftrace.

[2020-04-12 09:22] LoisHuang commented on #1152
Appreciate for your explanation! I used `gcc -finstrument-functions -g test.c` firstly, and it could not display the source line correctly. Then I changed the command to  `gcc -pg -g test.c` , and I can get the source line information now.

[2020-04-12 18:48] honggyukim commented on #1152
Thanks for finding the problem.

The problem is that it's not possible to read argument info if the given binary is built with `-finstrument-functions` due to the generated code patterns.

The `.dbg` files contain argument info along with source location info, but the current implementation do not generate `.dbg` file for `-finstrument-functions` built binaries.

But I think uftrace has to produce

[2020-04-13 04:01] DanielTimLee commented on #1078
Sorry, I'm in the middle of something, so I can't get to the issue right now.

[2020-04-13 07:53] honggyukim commented on #1152
@LoisHuang I've made a PR to fix this problem. Please see #1155. Thanks very much for reporting this problem.

[2020-04-13 14:32] LoisHuang commented on #1152
It's very kind of you to offer me so much help. Thank you so much again!

[2020-04-14 13:22] namhyung commented on #1151
I'm not sure but if it'd return a specific error code for offline cpus, then we could check it and move onto the next.

[2020-04-14 13:24] namhyung commented on #1153
Need to check how AArch64 handles long double types.

[2020-04-14 13:29] namhyung commented on #1154
Maybe types smaller than `int` is fine, but I'm not sure how we support `long` types then.

[2020-04-14 13:30] namhyung commented on #1078
Feel free to do it anytime you feel comfortable. :)

[2020-04-14 13:59] namhyung commented on #1152
Yes, originally the debug info is only used to detect arguments and return values.  But with `--srcline` it can be used to display file names and line numbers too.  Currently uftrace cannot display arguments/returns for binaries built with `-finstrument-functions` and it remained to refuse debug info parsing.  Thanks to Honggyu for working on this.

[2020-04-15 04:55] honggyukim commented on #1152
@LoisHuang I'm glad it can be helpful to you. We always want to hear the voice of uftrace users, but it's difficult to get some feedback. Thank you again.

[2020-04-15 04:57] honggyukim commented on #1154
C++11 may use `long` type enum, but the size of C enum type always seems to be `4`. Could you suggest any better ideas?

[2020-04-15 04:59] honggyukim commented on #1151
I'm sorry but could you please explain what you mean?

[2020-04-15 05:04] honggyukim commented on #1153
Here is the disassembly output of `return_long_double`. It seems that the return value is stored in `q0` in this case, but I think it has to be properly handled by keeping `d0` and `d1` registers.
[code]
Here is the disassembly output, which is optimized with `-O2`. It seems that the return value is stored in `q2` in this case.
[code]

[2020-04-15 06:05] namhyung commented on #1154
Well, we can use DWARF info if exists and fallback to default (4) if not.  After adding some members into the enum type, I can see something like below:

[code]

[2020-04-15 06:09] namhyung commented on #1151
Something like this?

[code]

[2020-04-15 06:19] honggyukim commented on #1151
Thank you. The following print statement shows only online cpus so it needs to be changes to find all the available cpus.
[code]

[2020-04-16 06:50] honggyukim commented on #1151
We may have to use `sysconf(_SC_NPROCESSORS_CONF)` and loop over all the available cpus, then decide which cpu is online.

[2020-04-16 14:24] namhyung commented on #1153
Hmm.. I think it's passed in a memory pointed by x0 and then move to `q0` or `v0`.

[2020-04-16 14:25] namhyung commented on #1151
Right!

[2020-04-18 08:17] honggyukim commented on #1151
I just tested and found that simply changing from `_SC_NPROCESSORS_ONLN` to `_SC_NPROCESSORS_CONF` works fine. It generates some empty `kernel-cpuXX.dat` files, but it's better to keep them during record because some CPUs might be turned on/off during execution.

[2020-04-18 13:56] honggyukim opened #1157 "weird test output in aarch64"
Here is the test output in aarch64.
[code]

[2020-04-18 14:39] honggyukim opened #1158 "many tests get stuck in aarch64"
Here is the problem.
[code]
The `t080_replay_kernel_D2.py` does not make progress during test.

Here are more tests that get stuck.
[code]
[code]

[2020-04-18 19:33] honggyukim commented on #1158
It seems that we need the following change.
[code]

[2020-04-18 19:34] honggyukim commented on #1158
Even with the above change, my system fails with the following diff.
[code]
I don't know what `post_ttbr_update_workaround` means.

[2020-04-19 07:12] honggyukim commented on #1158
`t111_kernel_tid.py` shows that it doesn't record in `TDIR` directory.

It can simply be found with the following change.
[code]
The result is as follows.
[code]
It gets stuck in `for ln in open(os.path.join(TDIR, 'task.txt')):`.

It also requires to fix the test result as follows.
[code]

[2020-04-19 07:16] honggyukim commented on #1157
It can be simply reproduced with the following execution.
[code]

[2020-04-19 07:18] honggyukim commented on #1157
It seems that the following fix is needed.
[code]

[2020-04-20 03:07] namhyung commented on #1158
Hmm.. ok, I think i missed some (kernel-related) test cases during 3b6a15484df.

[2020-04-20 03:29] namhyung commented on #1158
Please use this.

[code]

[2020-04-20 03:30] namhyung commented on #1158
And test 143 is stuck with `random.randint()`.

[2020-04-20 03:31] namhyung commented on #1157
Yes, please send a PR with other changes!

[2020-04-20 04:27] honggyukim commented on #1158
Thanks. I will send a PR when I have some time.

But what do you think about `post_ttbr_update_workaround`?

[2020-04-20 04:40] honggyukim commented on #1154
Could you please fix this problem if you have an idea? :)

[2020-04-20 05:06] namhyung commented on #1158
TTBR is for page table setting and it seems to be needed for security enhancement against spectre/meltdown-like attacks.

https://lists.infradead.org/pipermail/linux-arm-kernel/2018-January/551838.html

[2020-04-20 05:08] namhyung commented on #1154
Sure, let me think about it.

[2020-04-20 05:16] honggyukim commented on #1158
Ah. I understand that. Do you think we can add `post_ttbr_update_workaround` in the skipped function list? This function appears too many times during kernel tracing.

[2020-04-20 05:27] namhyung commented on #1158
Yes, please add it.

[2020-04-20 10:18] ekyooo opened #1159 "uftrace replay with source line info"
This Issue is to discuss the details of the request below.

_Originally posted by @honggyukim in https://github.com/namhyung/uftrace/pull/1133#issuecomment-610381414_

_Originally posted by @honggyukim in https://github.com/namhyung/uftrace/pull/1133#issuecomment-616300550_

It looks like this. Is it ok?
(please don't mind the header.)

[code]

[2020-04-21 14:37] namhyung commented on #1159
Looks good!

[2020-04-27 04:57] junhyung-lee38 opened #1164 "uftrace does not work properly with signals."
I want to turn trace on / off via signal during process runtime.
However, if I executed uftrace and process through the following command and sent a signal (SIGUSR1, SIGUSR2, ... ) during process running, uftrace is abnormally terminated.

$ uftrace record --disable --signal SIGUSR1@trace_on ./test &
and then, I confirmed process state using ps command.
 1798 ttyHSL0  00:00:00 login
 1859 ttyHSL0

[2020-04-27 13:50] #1157 closed

[2020-04-27 13:58] namhyung commented on #1164
Hmm.. ok, I admit that it is confusing..  But in fact, the uftrace process (1944) is not the one running your program and processing the signal.  Instead, you should send it to your test program (1945).  We should update documentation about this..

The internals are bit complex but basically uftrace forks and runs the target process with libmcount library which communicates back to uftrace process

[2020-04-28 02:51] junhyung-lee38 commented on #1164
Thanks for your reply!

I had to send signal to the test program as you said.
It works!
It was just my mistake;;
Thank you very much!

[2020-04-29 16:05] #763 closed

[2020-04-30 03:16] #1151 closed

[2020-05-01 07:33] honggyukim commented on #614
We might have to handle `SIGSTOP` because of the step 4 "press ^Z to make it background task".

[2020-05-02 04:57] namhyung commented on #614
From [man 7 signal](http://man7.org/linux/man-pages/man7/signal.7.html):

But actually it's not SIGSTOP, I guess the terminal generates SIGTSTP for`^Z` key.  But I'm not sure how we can handle it.

[2020-05-02 16:20] honggyukim opened #1166 "different each uftrace tracing result in aarch64"
There is a strange tracing result for each different live command execution in aarch64
[code]

[2020-05-02 16:26] honggyukim commented on #1166
Because of this problem, the test `t216_no_libcall_report.py` fails on different test composition.
[code]

[2020-05-02 16:27] honggyukim commented on #1166
It might be related to signal handling, but not sure yet.

[2020-05-02 16:47] honggyukim commented on #1166
The following test results are also different from each execution.
[code]

[2020-05-03 01:39] namhyung commented on #1166
Yes, it depends on timing when a signal is handled.  If it's came during `mcount_guard_recursion` the record will not be saved.  So we can't reliably support signal handlers..

[2020-05-03 20:27] honggyukim commented on #1166
Hmm.. If so, I'm also wondering why it only happens in aarch64.

[2020-05-04 05:46] honggyukim commented on #614
Hmm.. Thanks for the explanation.

[2020-05-07 14:38] #1152 closed

[2020-05-07 14:39] #1159 closed

[2020-05-09 05:24] honggyukim commented on #1158
It's fixed by the following commits.
* af5ee09 tests: Fix stucked or failed tests in aarch64
* accb582 kernel: Skip post_ttbr_update_workaround() in aarch64

[2020-05-09 05:24] #1158 closed

[2020-05-09 13:21] honggyukim opened #1168 "caller filter trigger doesn't work"
As shown below, caller filter works fine with `-C`/`--caller-filter` option.
[code]
However, it doesn't work if it's used as a trigger to a specific function.
[code]
It also has the same problem during replay as well.
[code]

[2020-05-10 21:08] honggyukim commented on #1153
I thought that `q0` and `d0, d1` was same, but the following change fixes the problem.
[code]
The following test shows that it works fine.
[code]
But it has another problem when recording with arguments.
[code]

[2020-05-10 21:29] honggyukim commented on #1153
The test result of 051 return shows mostly passed after applying the following change along with `q0` change.
[code]
[code]
The result is different for each execution and it seems to be the same problem with #1166 although this test doesn't use signal at all.

[2020-05-13 08:35] simpzan opened #1169 "new requirement: support for filter one function itself instead of whole subtree."
I am tracing wayfire, a window compositor for linux. the tracing log is very huge for just 20 second. and a large part of the log is from std template. I tried to filter out all std function with `-F std::.`, it turns out most user functions are filtered out as well. because some user function is called in the subtree of a std function like cpp lambda.
I just want to filter out all std function an

[2020-05-13 15:10] namhyung commented on #1169
Hi, thanks for using uftrace.

The `-F std::.` will show std functions (and their subtrees) only, what about `-N std::.` instead?

[2020-05-13 15:17] simpzan commented on #1169
Oh, sorry, I made a mistake. I do use -N std::. and it filtered out all std
functions, meanwhile many user functions in the sub tree of std functions
are also filtered out. For example, user functions called from cpp
 lambda.  That’s not what I want. I want to hide all std functions and keep
all user functions.

On Wed, May 13, 2020 at 23:10 Namhyung Kim <notifications@github.com> wrote:

[2020-05-13 15:25] namhyung commented on #1169
OK, we don't have such filter just for single function.

Instead, you can try depth trigger like `-T std::.@depth=0`, it'll hide all functions started with std namesapce.  But you need to restore depth for user functions manually.  If your program starts with a common prefix or contains some unique name, you can use `-T prefix@depth=100` for example.

[2020-05-13 15:59] namhyung commented on #1169
So I've played with it. Please test [check/hide-filter](https://github.com/namhyung/uftrace/compare/check/hide-filter).  `--hide` option was added for testing.

Normal run:
[code]

To hide std library functions:
[code]

[2020-05-13 16:37] honggyukim commented on #1169
I've been thinking about this feature so created issues before at #898. If `-U` option works for `-pg` compiled binaries, then it will work exactly same as `--hide` filter above.

#1149 can be supported for analysis commands and it will provide consistent filter interface along with #898.

@simpzan Thanks for bringing attention to this feature.

[2020-05-14 06:03] simpzan commented on #1169
@namhyung @honggyukim Thank you for quick response. It's amazing.

@namhyung I tested the new branch. `live` is working nicely, while `replay` and `dump --chrome` is not.

[2020-05-15 14:29] namhyung commented on #1169
@honggyukim yes, I think `-P` and `-U` would have a different semantics and will be used for dynamic tracing.  While `--hide` is worked as a filter like `-N`.

@simpzan I only implemented the record part.  After you record it with `--hide`, you can use it as usual (or even apply other filters like `-F` or `-N`).

[2020-05-16 07:07] simpzan commented on #1169
@namhyung Oh, I see. I tested it, and it works. Thanks!

In current implementation, I have to record twice to get 2 versions of traces, one with the std functions and one without the std functions. Is it possible to record just once and use `replay` and `dump` to generate 2 versions of traces? I think it will be much easier to use this way. Thanks.

[2020-05-17 06:41] honggyukim commented on #1169
@simpzan uftrace currently doesn't support to regenerate a new trace based on the existing record. I recommend you to record once then replay with filters that you prefer.

If you feel it's inconvenient to give filters for every replay execution, there might be another way to do this with `uftrace.data/default.opts`. If you add options to this file for replay or dump, then the options will be appl

[2020-05-17 07:10] simpzan commented on #1169
@honggyukim thanks for your response. I think there's a misunderstanding here. Actually I do want to record once and replay with different filters later. but the current implementation of `--hide` don't seems to support that. if I record without `--hide` filters, then replay with `--hide` filters, the filters won't work.

currently the only way to use `--hide` filters is to use it with `record` su

[2020-05-17 09:51] honggyukim commented on #1169
@simpzan Please test [check/hide-filter-v2](https://github.com/namhyung/uftrace/compare/check/hide-filter-v2).  `--hide` option is now working for both record and replay.

For example, `t-abc` program can be compiled and recorded as follows:
[code]
It doesn't show `b()` function as expected in replay output.
[code]
The `--hide` option can also be used in replay time to hide `c()` function for the

[2020-05-17 09:55] honggyukim commented on #1169
@namhyung I still think that `-U` can be used for this purpose to provide a consistent filter interface for both record and replay time. The `-U` option can unpatch if the target function is dynamically patched, but otherwise it can be used same as `--hide` filter.

Similarly, `-P` option can also be used as a filter without showing subtree for normal functions as well.

[2020-05-17 10:57] simpzan commented on #1169
@honggyukim I just tested the new patch. everything is working as expected. Thank you!

I have to say that uftrace is really a wonderful tool to help understand large unfamiliar codebase. Thank you for creating/maintaining this amazing tool. :)  @namhyung @honggyukim

[2020-05-17 16:36] honggyukim commented on #1169
@simpzan Thanks very much for the compliment. I hope it will be helpful to you anytime you need.

Your feedback was helpful for us to make uftrace better. It'd be great if you could give us more feedback while using uftrace. Thanks a lot.

[2020-05-18 10:51] namhyung commented on #1169
@honggyukim OK, let's just use `-P` and `-U` instead of adding a new `--hide` option.

[2020-05-18 13:28] namhyung commented on #1168
The below patch should fix it:

[code]

[2020-05-21 07:03] honggyukim commented on #1168
Thanks. It works fine as expected.

[2020-05-23 04:33] #1168 closed

[2020-05-23 07:57] honggyukim opened #1173 "analysis commands still shows linux:schedule event for caller filter"
`linux:schedule` event is disabled for caller filter during record as follows.
- d908312 record: Disable linux:schedule event for caller filter

However, it's still shown in analysis commands such as replay, etc. `linux:schedule` also has to be disabled for analysis commands.

In addition, it has to be applied when caller trigger is enabled as well.

[2020-05-23 08:10] honggyukim opened #1174 "path (through) filter suggestion"
The caller filter is useful when analyzing only interesting function call path, but it doesn't show sub-functions of the target function.

For example, the following `t-sleep` output is as follows.
[code]
If someone is only interested in `mem_alloc` call patch, it can be used with a caller-filter as follows.
[code]
It hides all the sub-functions below `mem_alloc` as expected, but it might be very

[2020-05-25 13:35] honggyukim commented on #1153
The following document might be helpful.
- https://static.docs.arm.com/ddi0487/fb/DDI0487F_b_armv8_arm.pdf?_ga=2.51220522.201248655.1590412859-1641478657.1584404315#page=2409&zoom=100,69,410

It says as follows.

It seems that `stp d0, d1, [sp, #-16]!` and `ldp d0, d1, [sp], #16` might be same as `str q0, [sp, #-16]!` and `ldr q0, [sp], #16` in AArch32 state, but it might not be in AArch64 state.

[2020-05-28 13:57] #876 closed

[2020-05-28 14:02] namhyung commented on #1153
I cannot test it now, but according to your comment, it should fix the case.  Care to send a PR?

[2020-05-30 08:44] honggyukim commented on #908
There is another problem in the recent master.
[code]

[2020-05-30 13:16] honggyukim commented on #1114
I see the following compilation error with clang.
[code]

[2020-05-30 13:18] honggyukim commented on #1114
Another error comes from `clang-9`.
[code]

[2020-05-30 13:38] DanielTimLee commented on #1114
Error reproducible on:
x86: clang-8
AMD64: clang-7 clang-8 clang-9
aarch64: clang-5 clang-6 clang-7 clang-8 clang-9

[2020-05-30 13:39] honggyukim commented on #1153
I've already uploaded it at https://github.com/namhyung/uftrace/pull/1170/commits/c03fae9187fde337ae90708b3d64274aa9bdd5d2.

[2020-05-30 13:46] honggyukim commented on #908
The `--estimate-return` doesn't make it crashed.
[code]

[2020-05-30 13:48] DanielTimLee commented on #1174
Question with this filter idea,
what happens if `mem_alloc()` function is called multiple times, and their child function differs?

My initial thought with this was printing each unique stack traces that includes `mem_alloc()` separately.

For instance, if we have traced history like below,
[code]

Printing the unique stack traces like this.
[code]

[2020-05-30 14:24] #1138 closed

[2020-05-30 14:30] honggyukim commented on #1174
In this case, it will be shown as the same result because there is no other function that doesn't go passing through the given `mem_alloc` function.
[code]
It doesn't distinguish each stack trace in different replay output, but shows in the single output.

[2020-05-30 14:43] DanielTimLee commented on #1174
Oh. Now I see what it exactly does.

And after understanding what it does, I think the word `pass-through` is quite intuitive!

[2020-06-01 10:45] #1112 closed

[2020-06-02 11:22] #1153 closed

[2020-06-02 11:42] namhyung commented on #908
It'd be nice if we have a simple reproducer.

[2020-06-02 21:49] honggyukim commented on #908
I'm not sure if I can make it but will try later. I've tested again with [review/flat-record-v4](https://github.com/namhyung/uftrace/compare/review/flat-record-v4), but it still shows broken replay output.
[code]

[2020-06-03 14:19] namhyung commented on #908
Oh, timestamp values are interesting - it seems start time of `mcount_ret_stack` was reset for some reason.  Can you show me the `uftrace dump` output as well?

[2020-06-03 21:37] honggyukim commented on #908
It seems that the values of bad timestamps are half of the good timestamps.

Here is the dump output.
[code]

[2020-06-12 21:12] honggyukim opened #1178 "full dynamic tracing error based on docker ubuntu from mac"
I've tested uftrace based on docker ubuntu from my mac machine and got the following error output.
[code]

[2020-06-12 21:20] honggyukim commented on #1178
Here is a simpler test output with debug info.
[code]

[2020-06-13 21:52] DanielTimLee opened #1179 "kernel filter test stuck forever? (t022_filter_kernel)"
from the latest commit 08ccc15544a3390124b500133829e5b474847fa1

just tested t022_filter_kernel.py and it stucks forever.

[code]

And it stuck forever.
Kernel tracing works fine when it runs seperately.

[code]

Not sure what's the problem is.

[2020-06-13 21:53] DanielTimLee commented on #1179
The following is result of `uftrace Info` at working env

[code]

[2020-06-14 14:48] namhyung commented on #1178
Hmm.. I don't know, maybe worth trying `-e` option in #1097?

[2020-06-14 14:48] namhyung commented on #1179
I cannot reproduce it on my machine.  But it shows a lot of failures.. will take a look later..

[2020-06-14 14:54] namhyung commented on #1174
I don't like `depth=0` as it's confusing.  But agree with using `depth` trigger to limit the child functions.  What about renaming it to `focus` filter (as it has 'c' in the middle) and change the meaning to show all the child functions by default?  As it's relatively new, I guess it won't have many users yet..

[2020-07-11 12:41] honggyukim commented on #827
I've tested this again with the most recent master(306dc2a3) and full dynamic tracing works fine now.
[code]
However, it gets segfault with `--no-libcall` for some reasons.
[code]
The problem is gone when running with `-N base::debug::StackTrace::StackTrace` as follows.
[code]
But it doesn't fix the problem with `-N backtrace`.
[code]

[2020-07-11 20:48] honggyukim commented on #827
There is another problem when testing the most recent chromium version.
[code]
It was okay for the old chromium version, but crashes with the above message in the recent chrome. It also says the problem might be related to `StackTrace`.

[2020-07-19 09:24] honggyukim commented on #1114
I tested this again and the result is as follows.
- clang-9 works fine.
- clang-10 gets crashed.
- current git master works fine.

The result looks a bit strange because clang-10 still gets crashed, but clang-9 works fine. The current master works fine anyway.

[2020-07-21 13:48] namhyung commented on #1114
thanks for the update!

[2020-07-23 05:17] honggyukim opened #1182 "an unused variable warning"
I see the following warning.
[code]

[2020-07-28 02:12] namhyung commented on #1182
OK, please send a fix.

[2020-08-12 11:57] annulen commented on #752
I'm getting the same error with small test application you can get at https://github.com/annulen/test-checkbox. All symptoms are the same: --nest-libcall is required for reproduction, --force doesn't change anything

[2020-08-14 06:24] namhyung commented on #752
Please test the below patch:

[code]

[2020-08-14 08:25] honggyukim commented on #752
Thanks. I doesn't crash @annulen's program in my environment.

[2020-08-14 08:31] annulen commented on #752
Works here as well, thanks!

[2020-08-15 13:57] honggyukim commented on #1182
It seems that the return value of `mcount_save_code` is not used anywhere except for the above place. Are you okay to make its return type to `void`?

[2020-08-15 18:08] honggyukim commented on #834
I reproduced this problem.
[code]
The last part of replay is as follows.
[code]
The disassembled output of `libstdc++.so.6` is as follows.
[code]
It seems that the problem might come from the last `bl __cxa_throw@plt` call although it might be a prior problem that it doesn't return right after calling `malloc@plt`.

[2020-08-17 06:40] namhyung commented on #1182
Yes.

[2020-08-17 07:24] honggyukim commented on #1182
I've sent a PR at #1184 with other misc fixes. Thanks.

[2020-08-21 06:49] #1182 closed

[2020-08-27 20:10] honggyukim commented on #1154
If there is an example like below. `signed char` type can be passed into the function argument that accepts enum type.
[code]
The gcc compiler doesn't complain about it.
[code]
But clang thinks that it's not acceptable because enum type has to be `unsigned` so it complains and makes an error when `-Werror -Wsign-conversion` is used.
[code]
Because of this problem, some implementation has a negativ

[2020-08-27 23:57] honggyukim commented on #1142
It's fixed and not shown anymore.

[2020-08-27 23:57] #1142 closed

[2020-08-30 07:06] honggyukim opened #1186 "Rust argument replay failure"
Here is an example.
[code]
And compile it with mcount hook and run the program.
[code]
It can be recorded as follows and it's done without a problem.
[code]
But it shows a failure during replay.
[code]
The verbose output of dump command is as follows.
[code]
More verbose message is as follows.
[code]

[2020-08-30 07:07] honggyukim commented on #1186
The symbol `_rjem_je_sz_size2index_tab` is in `rustc` binary.
[code]

[2020-09-05 13:25] namhyung commented on #1186
Hmm.. but it's a data symbol.

[2020-09-05 13:29] namhyung commented on #1186
I've reproduced the problem, and it seems the address should belong to PLT in my case.  I'll take a look.

[2020-09-05 13:41] #1137 closed

[2020-09-05 14:20] namhyung commented on #1186
I found there are two different binaries of rustc:

[code]

Currently we save symbol and debug files using basename so only one of them is used and it breaks the other.  I'll think about how to handle this properly...

ps. I don't know why rustc is running at runtime though.

[2020-09-08 21:33] honggyukim opened #1188 "invalid enum spec error"
Here is an execution example.

**1. download perfetto**
[code]
**2. install prerequisite**
[code]
**3. build**
[code]
**4. run uftrace record with arguments**
[code]
It shows a few `invalid enum spec` messages. The `.dbg` file is as follows.
[code]
The function `File_Seek` in `../../buildtools/lzma/C/7zFile.c` is as follows.
[code]
The function `LookToRead2_Seek` in `../../buildtools/lzma/C/7zStre

[2020-09-08 21:43] honggyukim commented on #1188
The following simple test look similar to the above example.
[code]
But it doesn't show the same problem.
[code]

[2020-09-08 22:09] honggyukim commented on #1188
I found that the error message is printed when the file name begins with non alphabet characters. Let's make the example simpler but the file name should be like `7zFile.c`.
[code]
The uftrace record prints the same error message.
[code]
The error message is printed because it assumes that the enum type name has to following general symbol name rules, but in this case the enum is anonymous so gene

[2020-09-09 07:32] honggyukim commented on #1188
It seems that the above enum type is not passed to the expected `dinfo->enums`.
[code]

[2020-09-10 06:33] bavernet opened #1189 "configuration failure on system without `pkg-config`"
A few features cannot be enabled on a system without `pkg-config` although proper packages are already installed.

For example,
In order to enable TUI feature, I installed libncursesw5-dev package.
The feature (libncursesw) was still disabled as follows:
[code]

I found that the check routine uses `pkg-config` and it is not installed on my system, which could make users confused.

The following fe

[2020-09-10 06:40] honggyukim commented on #1189
Hi @bavernet, have you tried to run the following command?
[code]
You can try again if it shows the same problem. Thanks.

[2020-09-10 07:02] bavernet commented on #1189
It works!!
I am sorry to confuse you.
I should have read INSTALL.md before creating this issue. Thanks.

[2020-09-10 07:02] #1189 closed

[2020-09-10 07:14] honggyukim opened #1190 ""undefined reference to `_Py_Dealloc'" with python3.8"
There is some compilation errors when python3.8 is installed in the system.
[code]

[2020-09-10 07:15] honggyukim commented on #1189
No problem. I'm just wondering why `libncursesw` shows `OFF` although you manually installed `libncursesw5-dev`. `./misc/install-deps.sh` actually installs the same thing.

Thanks for creating the issue anyway :)

[2020-09-12 12:59] namhyung commented on #1190
Why did you install version 3.8 specifically?  Didn't 'python3-dev' work?

It might link with a bad version of the library.. What's the output of `python3-config --libs`?

[2020-09-12 13:01] namhyung commented on #1189
The `install-deps.sh` script installs `pkg-config` too.

[2020-09-13 13:41] honggyukim commented on #1190
I have to manage two different python3 versions for internal reasons. I found that this problem happens because of the difference between python3 and python3-config version difference, which was already shown before.

The PR #1082 actually fixes the problem, but I will close this issue if you don't think this is a problem.

Otherwise, we may be able to check if python3 and python3-config has the s

[2020-09-13 14:56] namhyung commented on #1190
I still think it's a unnecessary hack - I assume that a reasonable system should have python3-config to point a correct version.  But maybe I can live with that..

[2020-09-13 15:11] namhyung commented on #1186
Pushed [review/symbol-buildid-v1](https://github.com/namhyung/uftrace/compare/review/symbol-buildid-v1).

The problem was there were two binaries of rustc.  Currently symbol and debug files are saved using basename so if there's one file with same name, the second one will just give up (assuming the same info is already saved).  This mostly works well for libraries when there are multiple sessions

[2020-09-13 15:40] honggyukim commented on #1188
@namhyung I think the following change fixes the problem. If you agree, then I will make a PR with it.
[code]
The test result is as follows.
[code]

[2020-09-13 16:00] honggyukim commented on #1188
@namhyung I've uploaded the PR at #1193. Please take a look. Thanks!

[2020-09-13 18:05] honggyukim commented on #1186
It works fine in my environment, but the recorded data cannot be replayed in another machines. It shows the following error, which is same as the error in this issue.
[code]
It may be because the build id calculation requires the original binary, but there is no such binary in another machines.

I've also just made a few comments for some nitpicks. Thanks for doing this work!

[2020-09-13 18:06] honggyukim commented on #1190
Okay. I will close this issue.

[2020-09-13 18:06] #1190 closed

[2020-09-13 18:58] honggyukim commented on #1154
This problem happens during replay so I don't know if we can provide size information in the recorded data.

I've just made a PR at #1194. I know it cannot handle if enum type is specified as `long` type with C++11, but it may be very rare than this problem. I actually see this problem in everyday execution for the internal program.

[2020-09-14 14:42] #1154 closed

[2020-09-19 13:32] #1188 closed

[2020-09-19 13:38] namhyung commented on #1186
Did you record the data with the patch applied?  It should read build-id from .map files..

Note that I found the rustc binaries don't have build-id.  So I made it to check full-path name as a fall back..  I'll check it again.

[2020-09-19 20:28] honggyukim commented on #1186
Yes, I recorded the data with [review/symbol-buildid-v1](https://github.com/namhyung/uftrace/compare/review/symbol-buildid-v1).

But I tried to replay it with the current master and got the above error. We lose the backward compatibility in this case.

I tried again running replay with [review/symbol-buildid-v1](https://github.com/namhyung/uftrace/compare/review/symbol-buildid-v1) in a different m

[2020-09-20 02:09] namhyung commented on #1186
Yeah, I found the problem too. Will take a look..

[2020-09-20 03:00] namhyung opened #1197 "Python3 config trouble"
I found that my system doesn't have python support even if I installed `python3-dev` package.  And I found that from python 3.8 they added `--embed` option for programs embedding the python interpreter.  It seems python3-config is primarily for people who develop python extension module..  So it resulted in failure in the feature check.

Anyway without the `--embed`, python3-config didn't print th

[2020-09-20 09:54] honggyukim commented on #1197
It may not be a very nice way to fix this but I've added one more check binary `have_libpython3.8_` to handle this. Please have a look at #1198. Thanks.

[2020-09-20 11:25] namhyung commented on #1197
No, I have something different in mind.  Will post it soon.

[2020-09-20 11:40] namhyung opened #1199 "New script: retval-histogram.py"
I need to measure which values a function returns which running.  So I added retval-histogram.py script to do it in a general way.  However, I found several issues about python scripting.  So there are some fixes and work-around to them as well.  Also it seems that we need to install those script somewhere (like `$prefix/libexec/uftrace/` or `$prefix/share/uftrace/`?) and load from such directory.

[2020-09-20 14:05] namhyung commented on #1186
Pushed [review/symbol-buildid-v2](https://github.com/namhyung/uftrace/compare/review/symbol-buildid-v2)

Changelog:
 - check pathname and build-id of existing symbol file properly

[2020-09-21 06:12] namhyung commented on #1144
Also there's an on-going work on the debuginfod.

https://developers.redhat.com/blog/2019/10/14/introducing-debuginfod-the-elfutils-debuginfo-server/

[2020-09-21 13:40] namhyung commented on #1199
Pushed [review/retval-histogram-v2](https://github.com/namhyung/uftrace/compare/review/retval-histogram-v2).

Changelog:
* fix build error with earlier python versions
* update some description and comment

[2020-09-23 23:15] honggyukim commented on #1199
I've tested and got the same output. It looks useful!

[2020-09-24 12:58] #1197 closed

[2020-09-24 12:58] #1199 closed

[2020-09-25 20:41] honggyukim opened #1200 "Many kernel tests fail in aarch64"
Many kernel tests fail in aarch64 as follows.
[code]
Some of the test looks as follows.
[code]
It's not well filtered out with the following change.
[code]
It still shows the failure.
[code]

[2020-09-25 20:48] honggyukim commented on #1200
Here are some more.
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-09-26 04:39] honggyukim opened #1201 "compiler warnings when compiling it with clang"
There are some compilation warnings when compiling uftrace with clang.
[code]
It's shown by clang-6.

[2020-09-26 08:44] honggyukim commented on #1201
clang-9 doesn't complain about `__Py_Dealloc`.

[2020-09-26 09:16] honggyukim commented on #1116
It seems that `-fno-inline` option doesn't actually ignore function inlining in `clang-9` so `t015_longjmp` fails.

Here is the result that clang compiled uftrace runs gcc compiled test programs.
[code]
It shows less failures than clang compiled test programs.

[2020-09-26 09:21] honggyukim opened #1202 "clang compiled uftrace gets segfault with -R option"
If the uftrace binary is compiled with clang, it has more problems than it used to be. I've changed the `.config` file as follows.
[code]
The test program can be found in `tests` directory and can be compiled as follows.
[code]
If uftrace runs with `-R` option, it gets crashed as follows.
[code]

[2020-09-26 09:25] honggyukim commented on #1202
The crash happens at `mcount_memset4` as follows.
[code]
The backtrace is as follows.
[code]

[2020-09-26 09:29] honggyukim opened #1203 "uftrace cannot be compiled with DEBUG=1 with clang-9"
uftrace is able to be compiled with `clang-9`, but fails when `DEBUG=1` is given.
[code]

[2020-09-26 09:31] honggyukim commented on #1203
It compiles without the problem when python scripting is off.
[code]

[2020-09-26 09:32] honggyukim commented on #1202
It doesn't have this problem if `uftrace` is compiled by `clang-9` with `DEBUG=1`.

[2020-09-26 09:44] honggyukim commented on #1202
It doesn't make any difference.
[code]

[2020-09-26 09:44] honggyukim commented on #1202
The crash point is
[code]

[2020-09-26 09:47] honggyukim commented on #1116
Regarding `t083_arg_float`. it can be simply reproduced as follows.
[code]

[2020-09-26 12:33] honggyukim commented on #1203
This problem is related to #1114.

[2020-09-26 12:35] honggyukim commented on #1203
I see that the compilation error comes from `insert_tuple_double` function. It's very weird but we cannot pass `double` type in the argument.
[code]
The above problem still shows the same error. But it does compile fine when `insert_tuple_double` function is not called.

[2020-09-26 12:42] honggyukim commented on #1203
It's also very weird that the following compiles fine.
[code]

[2020-09-26 12:46] honggyukim commented on #1203
The following change makes a different clang error.
[code]
It shows
[code]

[2020-09-26 12:53] honggyukim commented on #1203
If we can avoid this problem, then we can enable clang build in our CI by default.

[2020-09-26 12:55] honggyukim commented on #1203
Maybe uftrace doesn't go well with floating point handling compiled by clang as reported at https://github.com/namhyung/uftrace/issues/1116#issuecomment-699471831.

[2020-09-26 15:18] honggyukim commented on #1203
I know it's very weird, but the following change makes clang happy to compile it.
[code]

[2020-09-26 16:00] honggyukim commented on #1186
Thanks for the update. But  [review/symbol-buildid-v2](https://github.com/namhyung/uftrace/compare/review/symbol-buildid-v2) still shows the same error if I replay it in another machine.
[code]
It doesn't show `fstack: negative call stack count (task: 26029)` error in the updated v2 version unlike v1.

[2020-09-27 02:00] namhyung commented on #818
@ParkHanbum can you still reproduce this?

[2020-09-27 02:05] namhyung commented on #1072
I've added this:
* aa80f693 dynamic: Add more unit test cases to verify hash map
* c33555f6 test: Add more unit tests
* a652ade1 fstack: Add more unit tests for fixup filters

[2020-09-27 02:05] #1072 closed

[2020-09-27 09:31] honggyukim commented on #1186
@namhyung Here is the recorded data from my machine.
- [uftrace.data.issue.1186.tar.bz2.txt](https://github.com/namhyung/uftrace/files/5288034/uftrace.data.issue.1186.tar.bz2.txt)

Could you try to replay this data?

[2020-09-27 10:44] namhyung commented on #1186
Thanks, I can reproduce now.  It seems I forgot to create a fallback .dbg file when there's a file has the same name (but for a different binary).

[2020-09-27 13:41] namhyung commented on #1186
Pushed [review/symbol-buildid-v3](https://github.com/namhyung/uftrace/compare/review/symbol-buildid-v3)

Changelog:
 * use build-id or checksum when writing dbg file with same name
 * fix an use-after-free when loading symbol from a fallback file
 * fix a bug of reusing previous build-id when reading map files

[2020-09-27 13:49] honggyukim commented on #1186
It works fine in my environment. Thanks for the update!

[2020-09-27 14:58] namhyung commented on #1201
Is it using python2.7?

[2020-09-27 15:35] #1201 closed

[2020-09-27 15:38] honggyukim commented on #1201
Yes, the system uses python2.7 so `__Py_Dealloc` is not used here. Thanks for the fix!

[2020-09-28 15:06] namhyung commented on #1186
Thanks for testing. I'll merge the change..

The only concern of this fix is that it adds some comments for pathname and build-id info to symbol and debug info files.  It seems current code handles comments in symbol files but not in debug files.  So old version of uftrace cannot read debug info in the data recorded by newer version of uftrace anymore.  This is unfortunate but I don't see any bett

[2020-10-01 05:18] #1186 closed

[2020-10-04 03:20] namhyung commented on #650
I've added `misc/dbginfo` tool in 04910f02.

[code]

[2020-10-04 07:03] namhyung commented on #650
Pushed [review/arg-struct-v1](https://github.com/namhyung/uftrace/compare/review/arg-struct-v1)

I've implemented a simple parser for struct/class passed by value (only for x86_64 now).  It still has many bugs and missing parts but I want to get some feedback first..

It can handle simple struct (with members have basic types) like below:

[code]

[2020-10-04 08:23] honggyukim commented on #650
Thanks for working on this. But I would like to ask to make the symbol name to be demangled.
[code]
Before:
[code]
After:
[code]

[2020-10-04 08:24] honggyukim commented on #650
It looks very nice. Thanks for this work as well.

[2020-10-04 18:25] honggyukim opened #1210 "ASAN errors in script-python"
There is an ASAN error as follows.
[code]
It can be fixed by #1209, but it still shows some memory leak as follows.
[code]

[2020-10-16 16:35] gpollo commented on #189
Hi, I've been working with uftrace as part of my research. My code was using `meson` as the build system. Since the current build system is basically raw makefile, I though I'd give a try about converting uftrace to `meson`. The [meson](https://mesonbuild.com/) build system is relatively new, but multiple projects are or has switchted to it like [systemd](https://github.com/systemd/systemd), [puls

[2020-10-17 05:34] honggyukim commented on #189
Hi @gpollo, Thanks very much for bringing this issue again.

I'm actually not familiar with `meson`, but it's good to have such a modern build system because I also think that make is too complicated. I just have a few questions and concerns.
1. What's the benefit of using `cmake`?
2. Does meson have an option that generates `make` if user wants rather than `ninja`?
3. The uftrace is also intended

[2020-10-18 08:38] namhyung commented on #189
In general, I'm happy to see volunteering work on build system improvement.  It seems meson is widely used in various projects so I guess it's already supported by most major embedded system development environments like yocto.  Maybe @chbae have some comments?

One of my concern is that meson seems to require separation of source and build directory.  I think current test code has assumption abou

[2020-10-18 21:47] gpollo commented on #189
@namhyung I'd say the biggest downside of `meson` is that it is quite new and they try to bring new ideas in the build system environment. For example, there is no `make` backend because it is slow and harder to write. For a build system that automatically generates build files, `ninja` is simply a better backend. They also force what they consider good practices. Some things that can be hacked in

[2020-10-20 05:51] honggyukim commented on #189
Thanks @gpollo, I'm happy to have a modern build system then.

[2020-10-24 23:09] honggyukim opened #1212 "memory leak in perf event with time filter"
We can record and replay as follows.
[code]
However, it shows a memory leak when replaying with time-filter as follows.
[code]

[2020-10-25 08:07] honggyukim opened #1213 "test failures in x86_64 with asan enabled"
Here is the output of `failed-tests.txt`.
[code]
The normal test result without asan enabled is as follows.
[code]

[2020-10-25 09:53] honggyukim commented on #1203
It shows the similar build error in the latest trunk of clang. the reproducible file and script is attached as follows.
- [script-luajit-3cacbb.c](https://github.com/namhyung/uftrace/files/5434400/script-luajit-3cacbb.c.txt)
- [script-luajit-3cacbb.sh.txt](https://github.com/namhyung/uftrace/files/5434403/script-luajit-3cacbb.sh.txt)

The bug report at LLVM is uploaded at https://bugs.llvm.org/sho

[2020-10-27 13:07] namhyung commented on #1212
Thanks for reporting this.  Indeed the perf event processing is different when time filter is enabled.  I will take a look later..

[2020-10-27 13:08] namhyung commented on #1213
It seems we should test it with ASAN regularly.

[2020-10-27 13:09] namhyung commented on #1203
Cool, thanks for doing this!

[2020-11-07 17:41] honggyukim commented on #1169
I've uploaded a PR for this that reuses -U option to replace --hide option.

[2020-11-20 14:17] namhyung commented on #1213
I found that the diff code has a problem.  Will fix it soon.

[2020-11-20 16:01] namhyung commented on #1213
Other problems seem to be not in uftrace.  The C++ full demangle code is in libstdc++ and script is from the python runtime.  Maybe we should suppress ASAN for external codes if it's possible.

[2020-11-20 16:01] #1212 closed

[2020-11-21 05:10] #1164 closed

[2020-11-21 06:10] #1121 closed

[2020-12-05 07:13] namhyung commented on #818
Right, we used `movdqu` which allows unaligned memory access to save xmm0 register in the return path.  I can see crashes when I change it to `movdqa` (which requires 16-byte alignment).  Will fix this.

[2020-12-06 02:39] #818 closed

[2020-12-07 07:11] JSFamily opened #1219 "segfault while std::stringstream::str() is called"
While running c++ applicaiton I wrote, I got the segmentation fault in uftrace.

Here is test code the segmentation fault was occrred and logs.

test.cpp
[code]

Compile : g++ -std=c++11 -pg ./test.cpp

Environments
Version : 0.9.4
Arch : Linux s5123 4.14.137 #1 SMP PREEMPT Mon Dec 7 04:49:47 UTC 2020 aarch64 GNU/Linux

Logs
[code]

[2020-12-07 12:26] namhyung commented on #1219
Hello, thank you to report the bug.  Can you reproduce it with the latest version of uftrace (built from the source)?

At least, it works on my system:
[code]

[2020-12-08 01:40] JSFamily commented on #1219
I tried to rebuild uftrace with latest version(Commit ID : 0d257ac104e3953a76daae2639e9be925b0b7698) and reproduce it.
But, it was same.

However, I tried to reproduce this issue on ubuntu18.04.4 x86_64 with uftrace v0.8.1. In this case, the issue was not occurred.

[code]

[2020-12-08 12:56] namhyung commented on #1219
Thanks, can you upload your binary here?  And please share your OS/compiler version.

Also could you please try -e option like `uftrace -e ./a.out`?

[2020-12-09 00:34] JSFamily commented on #1219
Here is the version of g++ and I attach the binary.
[binary.tar.gz](https://github.com/namhyung/uftrace/files/5662722/binary.tar.gz)

[code]

And I attach the result of execution that add -e option.
[code]

[2020-12-09 16:14] namhyung commented on #1219
Hmm.. ok.  I think this is what @honggyukim said before.  Maybe --no-libcall option would help.  Anyway I'll take a look and try to reproduce it on my env.

[2020-12-10 10:07] JSFamily commented on #1219
Thanks for your supports and I hope you find out this issue.
If I succeed to reproduce this issue on QEMU, I'll share the environment of test to you.

And I'm not sure this information is helpful, I attached the log with -vvv option.
[code]

[2020-12-10 14:42] namhyung commented on #1219
Thanks for the error log.  It seems failed to resolve PLT function addresses.

[code]

Hmm.. maybe it's because of the demangling.. let me try something.

[2020-12-10 14:46] namhyung commented on #1219
Can you test this?

[code]

[2020-12-11 00:35] JSFamily commented on #1219
As your request, I patched your changes and tested. But, the segfault occurred again.
However, it was little bit different like below logs.
[code]

Full Log : [log_uftrace_plt_demangling.txt](https://github.com/namhyung/uftrace/files/5676373/log_uftrace_plt_demangling.txt)

[2020-12-11 04:55] honggyukim commented on #1219
I can reproduce the problem with a bit simpler example as follows.
[code]
The crash is because of library call for `ss.str()` so better to set the filter for it. The reproducible command is as follows.
[code]
I see that the last instruction to return is incorrectly updated in `arch/aarch64/plthook.S`.
[code]
The `lr` register was `0x5555555c44` at the entry of `plt_hooker`, and the last `x17` regi

[2020-12-11 04:58] honggyukim commented on #1219
The segfault is raised right after hitting `ni` command in gdb at the end of `plt_hooker` assembly function, which is `br      x17`.
[code]

[2020-12-11 05:48] honggyukim commented on #1219
@namhyung I think you can reproduce the problem with your raspberry pi machine.

[2020-12-11 14:45] namhyung commented on #1219
Hmm.. ok.  I can reproduce the crash and it seems because we missed to save/restore x8 register in `plt_hooker`.

The below patch fixes it for me:
[code]

[2020-12-12 02:33] honggyukim commented on #1219
Thanks a lot. It works fine in my environment as well. Maybe the comment has to be updated together.
[code]

[2020-12-12 02:38] honggyukim commented on #1219
By the way, the following register info may not be matched with Linux environment as it's from [MS document](https://docs.microsoft.com/en-gb/cpp/build/arm64-windows-abi-conventions?view=msvc-160&viewFallbackFrom=vs-2019), but `x8 - x15` are scratch registers all together. Is it enough to keep only `x8` at `save_args`?
[code]

[2020-12-12 05:31] honggyukim commented on #1020
I've tested this again, but still show the same problem.
[code]
But works fine with `-e`/`--estimate-return` option.
[code]

[2020-12-12 06:17] honggyukim commented on #1020
I see that our `aarch64` doesn't properly handle the case when throwing exception from a library. I tested again with a simpler example which is attached at [issue1020.tar.gz](https://github.com/namhyung/uftrace/files/5682569/issue1020.tar.gz).

The source code is as follows.
[code]
[code]
[code]
The test environment can be prepared as follows.
[code]
Then we can see uftrace crashes the program wh

[2020-12-12 06:40] namhyung commented on #1219
AAPCS64 says that x8 is the indirect result location register.  Maybe we could save it with x18 which is the platform register.

[2020-12-12 06:42] honggyukim commented on #1020
It works fine in `x86_64` as follows.
[code]
Here is the crash output from `aarch64` with debug messages.
[code]

[2020-12-12 06:47] honggyukim commented on #1020
The difference between `x86_64` and `aarch64` is as follows.

**x86_64**
[code]
**aarch64**
[code]
The `aarch64` didn't do enough rstack reset for exception as `mcount_rstack_reset_exception` is called only once unlike `x86_64` did call it 3 times.

[2020-12-12 06:53] honggyukim commented on #1020
Maybe we have to debug the function `mcount_rstack_reset_exception`.
[code]

[2020-12-12 07:04] honggyukim commented on #1020
I see that `aarch64` goes into the `if ((unsigned long)rstack->parent_loc > frame_addr)` block while `x86_64` just skips it.

[2020-12-12 14:26] honggyukim opened #1222 "[RFC] build configuration for libcall and schedule"
In aarch64, library call can be crashed in some cases as reported in #1020. Because of this kind of problem we always have to ask users to use `--no-libcall` for safe tracing.

Rather than that, we might provide a way to set the default option with `configure` script. For example,
[code]
They can disable library calls and sched event by default. But we have to provide a way to enable library call

[2020-12-12 16:45] namhyung commented on #1020
I think I found the reason of the crash.  It didn't restore return address of PLT functions since it didn't know the location.  But I think we can scan the stack.  Actually the above test is like a special case and I think it should work in general.

Please check [check/aarch64-fix](https://github.com/namhyung/uftrace/compare/check/aarch64-fix) branch.

[2020-12-12 17:46] honggyukim commented on #1020
I see that it fixes the problem now. Thanks a lot for the fix!

[2020-12-13 04:42] honggyukim commented on #1020
The output looks a bit different but both works fine for `x86_64` and `aarch64` as follows.

**x86_64**
[code]
**aarch64**
[code]

[2020-12-13 05:24] honggyukim commented on #1020
Hmm.. It's a different problem that is also reported in #834, but it hits `pr_err` when running with `--nest-libcall`.
[code]

[2020-12-13 05:28] honggyukim commented on #834
This problem can be reproduced with the following simple example.
[code]
Then compile the program.
[code]
It works fine normally.
[code]
But uftrace hits `pr_err` when running with `--nest-libcall` as follows.
[code]

[2020-12-13 06:31] namhyung commented on #834
Hmm.. I don't know.  Maybe we can just ignore such calls..

[2020-12-13 10:40] honggyukim commented on #834
Sorry but what do you mean by ignoring such calls?

[2020-12-13 10:46] honggyukim commented on #834
I don't know if you mean the following.
[code]
But it makes the following segfault.
[code]

[2020-12-13 12:16] namhyung commented on #834
Yeah, something like that.. Even if it doesn't fix this problem, I think it's worth have it anyway.

[2020-12-13 16:22] honggyukim commented on #834
I've applied the following debugging change for more info.
[code]
As a result, it prints the output as follows.
[code]
As shown above, `child_idx` becomes negative value and the problem is because `pltgot_n - pltgot_2` is negative value. It seems that `pltgot_2` is mostly the same value `0x8c44cff8`, but the last `pltgot_n` value is less than that, which is unexpected.

It seems that the value at

[2020-12-13 16:36] honggyukim commented on #834
The result in x86_64 is as follows.
[code]
It seems that the problematic function in `aarch64` is `__cxa_get_globals` or `__cxa_init_primary_exception`.

[2020-12-13 16:54] honggyukim commented on #834
Again, the result is as follows.
[code]
Note that the `child_idx` number is the order of PLT section as follows.
[code]

[2020-12-13 17:00] honggyukim commented on #834
Unlike `aarch64`, the `x86_64` has an entry for `__tls_get_addr`.
[code]

[2020-12-13 17:03] honggyukim commented on #834
Hmm.. thinking it again, the name for TLS address function maybe different in `aarch64`. But the way accessing TLS address can be different in `aarch64`.

[2020-12-13 17:07] honggyukim commented on #834
We might have to find the difference between x86_64 and aarch64 from the following links.
- https://github.com/honggyukim/glibc/blob/glibc-2.28/sysdeps/x86_64/dl-tlsdesc.S
- https://github.com/honggyukim/glibc/blob/glibc-2.28/sysdeps/aarch64/dl-tlsdesc.S

[2020-12-13 17:15] honggyukim commented on #834
@namhyung Maybe we should properly skip tracing if `child_idx < pd->dsymtab.nr_sym` is false as you mentioned.

[2020-12-13 17:31] honggyukim commented on #834
As mentioned before the following diff makes the program get segfault in `aarch64`.
[code]
[code]
I see that this problem can be reproduced in `i386` build.
[code]
The `i386` also shows `___tls_get_addr` in the backtrace.

In `aarch64`, the replay from the crashed data is as follows.
[code]
In `i386`, the replay from the crashed data is as follows.
[code]

[2020-12-13 17:34] honggyukim commented on #834
`i386` has `___tls_get_addr` in its libstdc++ library.
[code]

[2020-12-14 00:55] JSFamily commented on #1219
The patch works well in my embedded system. Thanks a lot!

[2020-12-14 03:29] honggyukim commented on #834
[code]
The `blr     x2` at `0x0000007fbf580af4` makes it jump to the following code.
[code]
Then `br      x17` at `0x7fbf5787b0` makes it jump to `plt_hooker`.

[2020-12-14 04:37] honggyukim commented on #834
Skipping `__cxa_get_globals` doesn't fix the problem.
[code]
[code]

[2020-12-14 14:03] namhyung commented on #834
Thanks for the analysis.  It's too much details in the implementation.  I don't know what's the problem but the ALIAS_DECL() only works with functions we defined in the libmcount.

[2020-12-14 14:03] namhyung commented on #1219
Thanks for confirming, I'll merge the change.

[2020-12-14 14:06] namhyung commented on #1222
Well, I think we don't need to provide a short option if it's disabled by default.

[2020-12-14 14:12] namhyung commented on #1210
I think we fixed this in 444069d.  Other leaks came from unknown module are hard to fix.

[2020-12-14 14:12] #1210 closed

[2020-12-14 14:21] #1020 closed

[2020-12-14 14:21] #1219 closed

[2020-12-14 14:40] namhyung commented on #521
Is this still broken?

[2020-12-14 14:41] namhyung commented on #802
We need to check this again.

[2020-12-15 03:57] honggyukim commented on #1222
Yes, we can provide `--libcall` only.

[2020-12-15 05:06] honggyukim commented on #521
Yes, still broken for -O2 compiled binary.
[code]

[2020-12-15 05:43] honggyukim commented on #834
Right, moving to `skip_syms` doesn't fix the problem anyway.
[code]

[2020-12-15 05:44] honggyukim commented on #802
It works fine in `x86_64`, but poco build fails in `aarch64` for some reasons.
[code]

[2020-12-20 07:20] namhyung commented on #650
Pushed [review/arg-struct-v2](https://github.com/namhyung/uftrace/compare/review/arg-struct-v2).

Changelog:
 * allow multiple registers in argspec (for struct)
 * simplify the code not to arrange the args in the filter code
 * handle classes converted to a pointer (but it's not perfect)

[2020-12-20 08:24] honggyukim commented on #650
Thanks for the update. It looks good with the example above, but I got the following error when running full dynamic tracing for node with argument recording.
[code]
The backtrace is as follows.
[code]

[2020-12-20 08:48] namhyung commented on #650
It'd be nice if you can tell me what the function and argspec (retspec) was.

[2020-12-20 08:57] honggyukim commented on #521
I still see the same problem.
[code]
But it works fine with `-e` option.
[code]

[2020-12-20 12:25] honggyukim commented on #650
Hmm.. it looks not easy to find the function but will see later.

[2020-12-20 12:44] namhyung commented on #650
I thought just -vv (or -vvv) will show it (the last function).

[2020-12-20 14:43] namhyung commented on #650
Can you test the following patch?

[code]

[2020-12-20 15:12] honggyukim commented on #650
I ran it but it keeps running more than 10 mins, which looks strange.

Thanks. The fix above works fine.

[2020-12-20 15:14] honggyukim commented on #650
But it fails running uftrace replay.
[code]
I found that this error shows even before `arg-fix` branch was merged. I will do a bit more bisect to find the bad commit.

[2020-12-20 15:20] honggyukim commented on #650
The above replay problem happens since 66526ecea95d98ecd4f7e2e186e64fbda48f82e5 is merged.

[2020-12-20 15:29] honggyukim commented on #650
The above commit doesn't generate the line info at `L: ` incorrectly. I've compared the `good` record and `bad` record as follows.
[code]
The bad record is done with 66526ecea95d98ecd4f7e2e186e64fbda48f82e5, but good record is done after reverting the patch.

[2020-12-20 15:47] namhyung commented on #650
Thanks for the info.  I guess the following patch should fix it.

[code]

[2020-12-20 15:51] namhyung commented on #650
By the way, it's strange to have NULL argspec at the last line.  Maybe we also need to apply this:

[code]

[2020-12-20 15:56] honggyukim commented on #650
Thanks. As you suggested, the following changes fixes all the problems.
[code]

[2020-12-20 16:20] namhyung commented on #650
Pushed [review/arg-struct-v3](https://github.com/namhyung/uftrace/compare/review/arg-struct-v3)

Changelog:
 * fix return a large struct
 * update invisible reference handling

[2020-12-20 17:18] honggyukim commented on #650
Thanks for the update. The node tracing works fine now. But if possible, it'd be a lot more helpful if we can annotate the type name just before `{...}` as follows.

**Current output**
[code]
**Proposed output**
[code]

[2020-12-21 13:15] namhyung commented on #650
Pushed [review/arg-struct-v4](https://github.com/namhyung/uftrace/compare/review/arg-struct-v4)

Chagelog:
 * add type name

[2020-12-21 14:34] namhyung commented on #650
Pushed [review/arg-struct-v5](https://github.com/namhyung/uftrace/compare/review/arg-struct-v5)

Changelog:
 * fix crash in fstack when return value has zero length
 * detect C++ std::string

Test program:
[code]

Note that it can show std::string passed by value

[code]

[2020-12-22 05:25] honggyukim commented on #650
Thanks for the update. But I have two problems as follows.

It doesn't correctly show empty struct as shown below.
[code]
The layout structure of `std::string` in clang compiled binary is different so it cannot be read properly as follows.
[code]

[2020-12-22 08:44] namhyung commented on #650
1. Hmm.. I can see it correctly.  Can you show me the dbginfo output?
2. It's a known problem, but I cannot not see the {...}.

[2020-12-24 06:28] honggyukim commented on #650
It's shown as follows.
[code]

Actually, the problem happens when using `libc++.so` from LLVM library, but it should be fine when using `clang` + `libc++.so`. But anyway, we should detect whether we use `libc++.so` or not as we did at https://github.com/namhyung/uftrace/blob/master/utils/argspec.c#L115-L123.

[2020-12-29 13:10] namhyung commented on #650
I'm seeing this... looks no problem.

[code]

But the warning in the std string test is a problem.

[2020-12-29 13:43] namhyung commented on #650
Pushed [review/arg-struct-v6](https://github.com/namhyung/uftrace/compare/review/arg-struct-v6)

Changelog:
 * check type size for declarations (for strings in clang++)
 * add more test cases

[2020-12-29 20:22] honggyukim commented on #650
Thanks for the update. It works fine now. But I've tested it again with the following test change.
[code]
I tested it with `g++`, `clang++` and `clang++` with `libc++`.

**1. g++**
[code]
**2. clang++**
[code]
**3. clang with libc++**
[code]

[2020-12-29 20:27] honggyukim commented on #650
It would also be helpful if we can also handle `std::string_view`, which is widely used, but supported since C++17.

[2020-12-31 10:40] #1169 closed

[2020-12-31 10:56] honggyukim commented on #1169
@simpzan Thanks for your request. It's quite late but the `--hide` option is merged from #1217.

[2020-12-31 11:24] namhyung commented on #650
Pushed [review/arg-struct-v7](https://github.com/namhyung/uftrace/compare/review/arg-struct-v7)

Changelog:
 * rebase onto current master
 * small code refactoring

[2020-12-31 12:08] honggyukim commented on #650
Thanks for the update.  I would like to ask you something more with the example below.
[code]

**1. `g++` with `libstdc++.so`**
[code]
The `string_ref` can also be read with `/S` manually.
[code]

**2. `clang++` with `libstdc++.so`**

The `clang++` compiled binary can be shown as follows.
[code]
It doesn't show the argument in `std::string` format, but can be manually shown as follows.
[code]

**3

[2021-01-04 01:14] namhyung commented on #650
@honggyukim please file a separate issue for the strings.

[2021-01-04 01:29] #650 closed

[2021-01-04 01:29] #1075 closed

[2021-01-05 22:40] honggyukim opened #1227 "Improve argument handling for std::string and std::string_view"
#650 supports automatic argument handling for struct type and also supports `std::string` detection.

But it can be improved if we can support the following features.
- detect `std::string` reference format and apply `/S` as well.
- apply `/S` type to `clang++` compiled `std::string`.
- support `std::string_view` if possible.

The following example shows the current status.
[code]

**1. `g++` with

[2021-01-05 22:41] honggyukim commented on #650
@namhyung Thanks for your work. I've created an issue for the enhancement at #1227.

[2021-01-10 14:49] namhyung commented on #842
It turns out to be a non trivial change since it needs to modify the filter/trigger in libmcount at runtime.  Currently it initializes them at load time and accesses them in a lock-less way assuming it's not changing.  But with dlopen, we need to add or delete some.

[2021-01-11 16:36] bitsmaker opened #1228 "Can uftrace read debug symbols after the binary has run?"
Sorry for the confusing title. I am on a platform that does not have a lot of RAM and makes it nearly impossible to run binaries with debug info.

Would it be possible to run a release version similar to what the tool "perf" does? Then move the results to an X64 platform where the debug binaries or symbols exist. Then have uftrace read the results and use the debug binaries or symbols to replace t

[2021-01-12 08:35] namhyung commented on #1228
Hello,

Thanks for using uftrace.  I understand your concern and am aware of the situation in the embedded development.  But unfortunately, uftrace doesn't support that as of now.

To make it work, we need to change it to save necessary symbol and debug info files (without running the program) first.  This can be done on a different machine like you said.  And then use the info for the actual runs

[2021-01-13 00:22] bitsmaker commented on #1228
Hi

Thanks for your detailed response. Also thank you for treating this as a high priority. I will be happy to test it for you!

Bobby

[2021-01-14 06:41] majianpeng opened #1229 "compiler error on fedora 33"
In fedora 33, i met the following error message when make.

   83 |  _Py_DEC_REFTOTAL;
      |  ^~~~~~~~~~~~~~~~
      |  _Py_DECREF

Python 3.9.1 (default, Dec  8 2020, 00:00:00).
Google search:  https://github.com/python-greenlet/greenlet/commit/c644ca6823994b958e004b3e00b587723181b58e.

I try and bug fixed.

[2021-01-15 11:23] namhyung commented on #1229
Thanks for the report!

According to your info, it seems we need the _Py_DEC_REFTOTAL only if Py_REF_DEBUG is defined.  And we don't build uftrace with it so I think we can simply remove the code.  Do you mind sending a PR?

[2021-01-16 00:58] honggyukim commented on #1129
This problem was already fixed by 6cc2bedfd35a2c7e6db289cd1e3120ef2804c172, but #1230 refactors to reuse `print_json_escaped_char` as @namhyung suggested.

[2021-01-19 08:47] #1129 closed

[2021-01-20 06:36] Rexyyj opened #1231 "Dynamic/Full Dynamic tracing error on ubuntu 20.04 and 20.10"
Hello, when I was testing full dynamic tracing on ubuntu 20.04, the following error output shows:
[code]
But when I tried the same test on ubuntu 18.04, the output is as expected and without any error during tracing.
The code in test.c is:
[code]

And during the test of dynamic tracing, error occur during gcc compile time with the command in the tutorial:
[code]
It can be solved by:
[code]
but dur

[2021-01-22 18:06] honggyukim commented on #521
I doesn't happen on AArch64.

[2021-01-22 19:47] honggyukim opened #1232 "invalid stack access for arguments on aarch64"
uftrace cannot properly record node with `-a` option.
[code]
It can be reproduce by building node from the following guide.
[code]
The simpler reproducible record command is as follows.
[code]
After doing bisecting, the commit b41deceb03af916349bd3f61ed87aea37d816f4a introduced the problem.

It happens only on aarch64, x86_64 doesn't show the problem.

[2021-01-22 19:56] honggyukim commented on #1232
I've compared the `node.dbg` file and the working version which reverted b41dece is as follows.
[code]
But the currently broken `node.dbg` is as follows.
[code]
I've also recorded it on x86_64, which works fine. The same info is as follows.
[code]

[2021-01-22 20:06] honggyukim commented on #1231
Thanks very much for reporting this bug. I can reproduce the problem on Ubuntu 20.04.
[code]
I will take a look when I have some time.

[2021-01-22 20:12] honggyukim commented on #1231
Hmm.. It shows `endbr64` instructions at the entry of each functions.
[code]

[2021-01-22 20:14] honggyukim commented on #1231
We've already seen `endbr64` in #738.

[2021-01-22 20:20] honggyukim commented on #1231
The gcc info is as follows.
[code]

[2021-01-22 20:28] honggyukim commented on #1231
It can be reproduced with any test program.

[2021-01-22 21:11] honggyukim opened #1233 "argument for std::string not working on aarch64"
The `std::string` doesn't work on aarch64 as follows.
[code]
The detail shows as follows.
[code]
If I change the compiler to clang, the result is a bit different but still mostly fails.
[code]
The detail of clang compiled `s-std-string.cpp` is as follows.
[code]
Considering all these, I think it might be better to disable `/S` argspec just like we did for `libc++.so` compiled binary.

[2021-01-22 21:13] honggyukim opened #1234 "a warning when compiling uftrace with clang"
Here is the warnings when compiling uftrace with clang.
[code]
I got this on aarch64, but it may also be shown in x86_64.

[2021-01-22 21:16] honggyukim opened #1235 "002 argument test failure in aarch64"
[code]
More detail info is as follows.
[code]

[2021-01-22 21:18] honggyukim opened #1236 "015 longjmp test failure in aarch64"
Here is the failure.
[code]
The more detail info is as follows.
[code]

[2021-01-22 21:29] honggyukim commented on #1232
It looks the struct argument handling problem as we resolved in #650.
[code]
The result is not as expected.
[code]
We better test it with this example.

[2021-01-23 03:28] namhyung commented on #1229
Will add this:

[code]

[2021-01-23 04:00] namhyung commented on #1231
The actual error message was 'invalid permission' for the code address.  Can you please test this?

[code]

[2021-01-23 04:20] namhyung commented on #1232
Hmm.. strange, maybe there's a bug in parsing argspec.  Can you test this?

[code]

[2021-01-23 04:58] Rexyyj commented on #1231
Hello, thanks for the reply! I have tested this modification but the error output seems to be the same as the previous one, I didn't get the new added error message :
[code]

[2021-01-23 05:28] namhyung commented on #1233
Do you mean disabling `/S` for AArch64?  But it seems to work partially..

The basic problem of AArch64 is ABI of mcount function requires x0 register holding parent address.  This breaks the first argument unless full dynamic tracing is used (but it seems fine for plt functions).

[2021-01-23 05:30] namhyung commented on #1234
Oops, it's a typo, it should be

[code]

[2021-01-23 05:44] honggyukim commented on #1234
Yes, right :)

[2021-01-23 05:48] honggyukim commented on #1232
I just changed `pr_dbg` to `pr_out`, then the output is as follows.
[code]

[2021-01-23 05:50] honggyukim commented on #1233
Yes, right. If I change the `std::string` argument to the second, then it shows correctly. But I don't know why clang compiled binary shows the return string incorrectly.

[2021-01-23 06:02] honggyukim commented on #1233
The disassembled output is as follows.

**1. g++**
The ABI problem looks because of `mov     x0, x30` at line 241 just before calling `_mcount@plt`.
[code]

**2. clang++**
[code]

[2021-01-23 06:15] honggyukim commented on #1233
@namhyung Is it possible to apply dynamic tracing approach to patch `mov x0, x30` instruction to `nop`, then apply it at the end of `_mcount` handling?
[code]

[2021-01-23 06:41] honggyukim commented on #1233
Hmm.. the pattern around `xpaclri` is not common so cannot assume anything.

[2021-01-23 06:55] honggyukim commented on #1233
The gcc profiling hook for aarch64 is at
- https://github.com/gcc-mirror/gcc/blob/releases/gcc-9.3.0/gcc/config/aarch64/aarch64.h#L966-L974

It will be called by `expand_function_start` at
- https://github.com/gcc-mirror/gcc/blob/releases/gcc-9.3.0/gcc/function.c#L5156-L5161

[2021-01-23 07:57] honggyukim opened #1237 "nested library tracing changes behaviors on aarch64"
The following record is fine.
[code]
But adding `-l` option changes the behavior so gcc complains as follows.
[code]

[2021-01-23 08:00] honggyukim commented on #1233
The ABI problem on aarch64 was already reported at #781.

[2021-01-23 11:22] namhyung commented on #1232
Can you please test this?

[code]

[2021-01-23 11:27] honggyukim commented on #1232
[code]

[2021-01-24 02:44] namhyung commented on #1231
Thanks for the test.  Regardless of the result I think we should have the change though.

Can you try to build your test program with `-fcf-protection=none` switch?

[2021-01-24 02:56] namhyung commented on #1232
Hmm.. it got a correct register value in parse_argspec() but it has a different value when accessing the register.  I found that it should use struct_regs[] instead.  Can you test this?

[code]

[2021-01-24 03:09] namhyung commented on #1233
We need to analyze the instructions to use the x0 register correctly.  But the pointer authentication is another issue..

[2021-01-24 03:24] namhyung commented on #1236
Hmm.. it looks like a bug to miss that function..

[2021-01-24 03:26] namhyung commented on #1235
This can be a side-effect of optimization to make (or remove) such function calls.  As it only fails with -Os, I'd rather ignore.  But if you really care, you can add a fixup() routine to filter it out in the test script.

[2021-01-24 08:47] honggyukim commented on #1232
Thanks. It works fine for some cases.
[code]
But it gets crashed when recording node fully.
[code]
The backtrace is as follows.
[code]
The crash point in our code is as follows.
[code]

[2021-01-24 10:23] honggyukim commented on #1231
Hmm.. It works fine.
[code]

[2021-01-24 20:25] honggyukim commented on #1232
We can set only the crashed function.
[code]
The `node.dbg` for the function is as follows.
[code]
The related code is as follows.
[code]
[code]

[2021-01-24 20:52] honggyukim commented on #1232
I've applied the following diff for debugging.
[code]
The output looks as follows.
[code]

[2021-01-24 20:56] honggyukim commented on #1232
It gets crashed at line 561 because of null pointer dereference.
[code]

[2021-01-30 03:02] namhyung commented on #1232
OK, we should treat struct return value differently, for now I think this should be fine.

[code]

[2021-01-30 03:08] #1229 closed

[2021-01-30 03:08] #1234 closed

[2021-01-30 03:33] namhyung commented on #738
It seems the tunables are renamed like in https://www.gnu.org/software/libc/manual/html_node/Hardware-Capability-Tunables.html

* glibc.cpu.x86_ibt
* glibc.cpu.x86_shstk

[2021-01-30 03:34] namhyung commented on #1231
OK, then can you try this with the CF protection enabled binary?

[code]

[2021-01-30 06:19] honggyukim commented on #1231
Hmm.. It doesn't work. It crashes as well.

[2021-01-30 06:33] honggyukim commented on #1232
Thanks. It works fine now on top of your previous diff.

[2021-01-30 07:12] honggyukim commented on #1231
The following commits may be related to this problem.
- https://sourceware.org/git/?p=glibc.git;a=commit;h=94cd37ebb293321115a36a422b091fdb72d2fb08
- https://sourceware.org/git/?p=glibc.git;a=commit;h=04dff6fc0d4ad44fc4491f89fed6574380b78251

[2021-01-30 07:23] honggyukim commented on #1231
Hmm.. Ubuntu 20.04 uses glibc-2.31, but it doesn't include both commits above.

[2021-01-30 11:04] namhyung commented on #1231
Hmm.. can you test this again and show me the error message?

[code]

[2021-01-30 12:31] honggyukim commented on #1231
Hmm.. `si->si_errno` shows `0`.

[2021-01-30 12:42] honggyukim commented on #1231
It shows `Success` because the `si->si_errno` is `0`. Let's add the code anyway for later usage.
[code]

[2021-01-31 01:56] namhyung commented on #1231
I'm not sure si->si_errno is same as errno so that we can use strerror().  Actually I expected something other (like arch/kernel specific one).

[2021-01-31 23:40] honggyukim commented on #1231
It might be a bug in glibc-2.31 so reported this in the glibc mailing list at https://sourceware.org/bugzilla/show_bug.cgi?id=27300. Let's see if there is a way to avoid this problem.

[2021-01-31 23:42] honggyukim commented on #1231
@namhyung You can reproduce this problem in WSL2 Ubuntu 20.04 if you have a windows PC.

[2021-02-04 21:33] honggyukim commented on #1231
This problem happens also in Ubuntu 20.10, which uses `libc-2.32.so`.

[2021-02-10 09:43] namhyung opened #1238 "Investigate gcc -fpatchable-function-entry"
Recent GCC added the -fpatchable-function-entry option to better support dynamic tracing.  We should investigate it and support the binaries too.

[2021-02-13 07:16] namhyung commented on #1231
I've checked the [Ubuntu's glibc source](https://launchpad.net/ubuntu/focal/+source/glibc) and it seems to have an out of tree kernel patch to control CET. (but still not sure why the glibc tunables don't work).

Anyway can you please test the below patch?
[code]

[2021-02-13 09:59] honggyukim commented on #1231
Hmm.. I tested it on Ubuntu 20.04, but `ARCH_CET_DISABLE` is not defined so it shows the same crash.

[2021-02-14 00:25] namhyung commented on #1231
Maybe I need to include the headers.  Can you please try again?

[code]

[2021-02-14 07:38] honggyukim commented on #1231
I mean `ARCH_CET_DISABLE` is not defined anywhere so the `#ifdef ARCH_CET_DISABLE` is not compiled at all. So the diff doesn't make any change in the code.

[2021-02-15 00:37] namhyung commented on #1231
Hmm.. ok.  Can you strace your binary (without uftrace) and capture the output?

[2021-02-16 22:34] honggyukim commented on #1231
Here is the `strace` output.
[code]

[2021-02-17 11:45] namhyung commented on #1231
This is the ARCH_CET_STATUS according to https://lore.kernel.org/lkml/20180710222639.8241-28-yu-cheng.yu@intel.com/.

But kernel returns -EINVAL so it might not have the CET support.  Hmm..

[2021-02-17 12:18] #1232 closed

[2021-02-20 22:16] honggyukim commented on #1231
Hmm.. It looks like a mismatching problem in Ubuntu not supporting `arch_prctl(ARCH_CET_STATUS, ...)` in kernel but glibc also doesn't support `glibc.cpu.hwcaps=-IBT,-SHSTK` in `GLIBC_TUNABLES`. That looks bad.

[2021-03-01 07:16] wangmingyu84 commented on #1231
This error happened when using uftrace from binutils2.35.1.
I tested it by using binutils2.35, the result is OK.

[2021-03-01 07:35] namhyung commented on #1231
Thanks for the hint!  I'll check what changed in the binutils recently.

[2021-03-01 13:50] qpakzk commented on #1013
Hello @honggyukim
No one seems to have work on this issue, so I tried it.

Is this right what you intended?

https://user-images.githubusercontent.com/20490285/109505716-3f686000-7ae0-11eb-8b23-819837ab7d73.mp4

[2021-03-01 20:15] honggyukim commented on #1013
@qpakzk Thanks a lot for doing this!

Exactly. Could you please send a PR?

[2021-03-02 05:23] qpakzk commented on #898
Hello.
May I try this issue?

[2021-03-02 18:06] honggyukim commented on #898
Sure. Please go ahead and let us know if you have any questions. Thanks!

[2021-03-03 13:13] namhyung commented on #1013
@qpakzk nice work!  Thanks for doing this and I'll review the code.

[2021-03-06 07:16] #1013 closed

[2021-03-16 17:39] NikhilReddy-1 commented on #918
Is this still open? I'll take it if it is :)

[2021-03-17 19:44] honggyukim opened #1244 "memory leak when recording uptime"
We can reproduce the memory leak problem as follows.
[code]
This problem doesn't happen when recording some other simple programs such as `t-abc` or `pwd`.

The `uptime` binary looks as follows.
[code]

[2021-03-17 19:46] honggyukim commented on #1244
The tested hash is e1866b71c179b14259cd264428f480e26211bd80.

[2021-03-17 19:49] honggyukim commented on #918
@NikhilReddy-1 Thanks for your interest! But it seems like this leak was already fixed some time ago so I cannot reproduce the problem. Otherwise, you could try #1244 instead. I've just found a memory leak so wrote the step how to reproduce it.

[2021-03-17 19:50] honggyukim commented on #918
@gy741 Could you please check if you can reproduce? I don't know which version you tested so it'd be helpful if you can confirm this again. If it's not a problem now then we can close this.

[2021-03-17 20:30] honggyukim commented on #1244
It would be more useful if we can have `core` file when asan reported an error, but it doesn't properly generate the `core` file for some reasons.

As far as I know we should set `ASAN_OPTIONS` as follows to get coredump.
[code]
The message shows `core dumped` but can't find it.
[code]
I tested a simple program that generate asan report, but it successfully create a core file.

[2021-03-18 09:17] NikhilReddy-1 commented on #918
@honggyukim I was able to reproduce it on the current version(v0.9.4-232-ge186)

Valgrind Log:

`==3732== 48 bytes in 4 blocks are possibly lost in loss record 9 of 45
==3732==    at 0x4C31B0F: malloc (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==3732==    by 0x614EAF9: strdup (strdup.c:42)
==3732==    by 0x132EAA: find_or_create_node (report.c:63)
==3732==    by 0x11BBAF: update_repo

[2021-03-18 09:19] NikhilReddy-1 commented on #918
@honggyukim  I was able to reproduce it on the current build.(v0.9.4-232-ge186)

Here's the Valgrind Log:
[code]

[2021-03-18 10:47] gy741 commented on #918
@honggyukim Yes. This problem is reproduced.

[code]

@NikhilReddy-1 You can try to fix the problem.

[2021-03-19 07:28] honggyukim commented on #918
It's good that you both can reproduce but it would be better if you can write the steps to reproduce. For example, which data you recorded as follows.
[code]
I couldn't reproduce it with leak sanitizer(`make ASAN=1`) but it looks `valgrind --leak-check=full` catches more leaks. Thanks for your info. :)

[2021-03-21 22:39] honggyukim commented on #1144
We can find null-terminated string at the `Offset` in `.gnu_debuglink` section.
[code]

[2021-03-26 21:11] honggyukim commented on #771
I think it should have a way to control schedule event only. If we have a way then it can be handled simply like
[code]
If we do `opts->no_event = true` then it will stop recording other useful events such as recording task name, etc.

[2021-04-01 04:22] honggyukim opened #1246 "full demangler doesn't work with arguments"
Here is an example program.
[code]
We can compile and record it with its arguments.
[code]
But it cannot be replayed with `--demangle=full` option as follows.
[code]
But it works fine when using `live` option.
[code]

[2021-04-06 08:09] wangmingyu84 commented on #1231
After some simple investigation, it is found that even the following code can not execute the command correctly in aarch64 environment:

int main() {
return 0;
}

WARN: child terminated by signal: 7: Bus error
WARN: cannot open record data: /tmp/uftrace-live-Grb68N: No data available

Look at the log，function mcount_init_file is not executed. Is there something wrong with initialize mcount library

[2021-04-08 03:17] namhyung commented on #1231
Thanks for the investigation.  I'm busy with other stuff these days so couldn't have a time to look at it.

The mcount_init_file() is the first function when uftrace starts to trace so it seems to fail before the actual tracing.. hmm.

[2021-04-10 06:54] honggyukim commented on #1231
@wangmingyu84 Thanks very much for your help. Could you please show us the full log of running the following command for the example above?
[code]

[2021-04-11 16:13] namhyung commented on #1231
Can you please test [check/dynamic-fix](https://github.com/namhyung/uftrace/compare/check/dynamic-fix)?

[2021-04-12 19:57] honggyukim commented on #1231
@namhyung Thanks very much for the fix. It work fine now in Ubuntu 20.04 (x86_64).

@wangmingyu84 I don't see an error when testing in aarch64. Could you test it again in your aarch64 environment with @namhyung's fix in [check/dynamic-fix](https://github.com/namhyung/uftrace/compare/check/dynamic-fix)?

[2021-04-13 17:01] ShellCode33 opened #1247 "How to trace calls to a specific shared object ?"
Hello there, first time user here. Your tool looks amazing, I'm really glad I stumble across it.

I've been looking for quite some time on the Internet but I have not been able to find an answer so I thought I would open an issue here directly. Hopefully it wont bother you too much to do support here...

I'm basically trying to trace function calls made to a shared object so I did the following :

[2021-04-14 01:32] leimaohui commented on #1231
The bug in Ubuntu 20.04(binutils 2.24) and Ubuntu 20.10(binutils 2.35.1) may be not the same.
@honggyukim  Hi, haven't you tested on Ubuntu 20.10 of aarch64?

[2021-04-14 12:51] namhyung commented on #1247
Hi, thanks for using uftrace.

We don't have the feature to trace functions defined in a specific library only.  But I think you can the get the list of functions you want to trace (like `nm -D --defined-only <your library>`), and then use it with -F option.

[2021-04-14 12:55] namhyung commented on #1231
OK, so we have another problem in Ubuntu 20.01... hmm.

[2021-04-15 04:08] namhyung commented on #1231
Let's discuss the 20.10 issue in a separate thread and close this.

[2021-04-15 04:11] #1231 closed

[2021-04-15 13:17] ShellCode33 commented on #1247
Thanks for your answer. I found another way of doing that (without using uftrace :disappointed:), the issue with `-F` is that in my context there are multiple shared objects having the same function names (I'm chaining wrappers).

`ltrace` has such a feature, it would be awesome if you find the time to do it one day !

[code]
Keep up the great work, I'll be following closely what you do :+1:

[2021-04-15 13:17] #1247 closed

[2021-04-16 04:27] honggyukim commented on #1231
Hi @leimaohui, I tested it on Ubuntu 20.04 in aarch64 only. But it didn't have any problem even without this fix.

[2021-04-17 16:58] namhyung commented on #1247
Oh, sorry. I forgot the library has some defined symbols in the dynamic symbol table.  So you can try this.

[code]

[2021-04-18 08:17] honggyukim commented on #1231
@Hi @leimaohui, it works fine on Ubuntu 20.10 in x86_64 as follows.
[code]
I haven't tested it on Ubuntu 20.10 in aarch64 though.

[2021-04-18 08:32] honggyukim commented on #1231
The Ubuntu 20.10 in x86_64 uses binutils 2.35.1.
[code]

[2021-04-18 08:35] honggyukim commented on #1238
It would be really helpful if we have `-fpatchable-function-exit` as well in the future.

[2021-04-18 08:36] honggyukim commented on #1238
I also see that both GCC and Clang have `-fpatchable-function-entry` in the recent versions.

[2021-04-18 08:57] honggyukim commented on #1238
This option is also supported both in x86_64 and aarch64 as well.

[2021-04-19 00:32] leimaohui commented on #1231
Yes, this issue only happens on aarch64. We have no problems  on arm and x86-64.
So, I guess Ubuntu20.10 of aarch64 also has this issue.

[2021-04-22 15:57] kangtegong commented on #1244
hello, if no one is working on this issue right now, can I take this issue?

[2021-04-22 23:12] honggyukim commented on #1244
@kangtegong Sure. Please go ahead. It's good to see you again :)

[2021-04-26 04:44] honggyukim opened #1250 "warning in tests/s-dwarf2.cpp"
We can fix the following warning in `tests/s-dwarf2.cpp`.
[code]

[2021-04-26 04:55] honggyukim commented on #825
I see the following errors in the recent master(9502a0a6).
[code]

[2021-04-26 06:45] himanshu007-creator commented on #1250
Hi, i would like to work on this issue. please assign me this issue.My solution include usage of **strdup()** function
It will create a copy of string and when used, wont genetrate  an error.

Output-->

Press ENTER to exit console.

[2021-04-26 07:22] kangtegong commented on #1250
Oh, sorry.. I just saw your comment but I just amended and sent PR on this issue..

[2021-04-26 07:26] himanshu007-creator commented on #1250
Ah! Missed it , nevermind the issue must me solved, who does it doesn't matter😬

[2021-04-26 18:39] kangtegong commented on #1244
hmm.. when I `make clean` and `make ASAN=1`, and then run `./uftrace record -L. --force uptime`,

There is memory leak but the output is somewhat different. Memory leaks only about 16 bytes.

[code]

[code]

And other programs like `pwd`, and `ps` has some memory leaks too, but I'm not sure this is the right result.

[code]

[code]

[code]

I tried on the same on other test environment like W2L, A

[2021-04-27 14:54] claudiubalogh opened #1252 "Functions defined with the gcc ifunc __attribute__ are called twice"
[code]

The code pasted at the end and built with g++ (SUSE Linux) 7.4.0 works correctly when run independently:
[code]

However, when run from uftrace it seems the function is called one more time, with an undefined argument value:
[code]

GCC function attribute "ifunc" is defined here: https://gcc.gnu.org/onlinedocs/gcc-7.4.0/gcc/Common-Function-Attributes.html#Common-Function-Attributes

Build

[2021-04-28 06:45] honggyukim commented on #1250
@himanshu007-creator @kangtegong Thanks both of you!

[2021-04-28 07:03] honggyukim commented on #1252
@claudiubalogh Thanks for reporting this bug. I can reproduce the same problem with the following simpler example.
[code]
The compiled binary works fine but it gets crashed with uftrace as follows.
[code]
The gdb information is as follows.
[code]
The problem is that `parent_loc` is an invalid value.
[code]
The backtrace shows that there is no parent function that invoked `mcount()`. It may be beca

[2021-04-30 21:52] honggyukim opened #1254 "plthook is always crashed in Ubuntu 20.10 aarch64"
uftrace is always crashed in Ubuntu 20.10 aarch64.
[code]
The problem is gone if it runs with `--no-libcall`.
[code]
This problem is not related to full dynamic tracing and it also works fine with `--no-libcall`.
[code]

[2021-05-01 05:51] honggyukim commented on #1254
More verbose message is as follows.
[code]
As @leimaohui wrote in #1248, the following change makes it work. But it doesn't show library functions at all.
[code]
And it hangs `pwd` tracing as follows.
[code]

[2021-05-02 06:24] honggyukim commented on #1244
@kangtegong You're right. This problem happens only in aarch64 not in x86_64.

[2021-05-03 04:49] honggyukim commented on #1252
This problem doesn't happen in aarch64 Ubuntu 20.10.
[code]

[2021-05-03 04:52] honggyukim commented on #1252
The above is tested after applying the workaround done in #1248.
[code]
I also need to test it again in aarch64 Ubuntu 20.04.

[2021-05-03 06:08] #1250 closed

[2021-05-11 04:08] DanielTimLee commented on #873
Sure!
I'm not working on this right now, so feel free to go ahead.

2021년 5월 11일 (화) 12:38, Kang Minchul ***@***.***>님이 작성:

[2021-05-12 10:17] mattyclarkson opened #1257 "Flame Graph is misleading"
Using `uftrace dump --flame-graph` is misleading it _seems_ to be using the number of function entry/exit times to create the flame graph, not really sure.

When using `uftrace dump --chrome` it is possible to get the [_Call Tree_](https://developer.chrome.com/docs/devtools/evaluate-performance/reference/#call-tree) that represents the percentage of time spent in each function. This does not seem

[2021-05-12 12:19] mattyclarkson commented on #1257
Seems like [--sample-time <period>|https://github.com/namhyung/uftrace/commit/a31ce47f6dc9b174d2295c47286557043bb45d37] is the thing to use here. Might be worth adding to the `README.md`.

[2021-05-12 12:19] #1257 closed

[2021-05-12 19:54] namhyung commented on #1257
Thanks for the report.  I was aware of the issue but forgot to update.

When I added the flame graph support, it was hard to choose the correct sampling period.  If it's too big we might miss some details, while it can be costly if we choose too small.  So I was thinking about dynamic sampling period based on the total trace time or data size.  At the moment it's not available unless it walk throu

[2021-05-13 19:49] honggyukim opened #1258 "displaying argument type name for pointers"
I see that uftrace replay without argument info is useful especially with type info in struct types. However, we see many arguments in pointer types but these are not useful but makes the output look more complicated.

Instead, I would like to suggest to print the type of pointer info together. For example, if there is a program as follows.
[code]
The tracing output looks as follows.
[code]
But I

[2021-05-13 19:55] honggyukim opened #1259 "tui: Customize fields in report mode interactively"
@qpakzk implemented TUI with field customization for graph mode in #1240.

We have to apply the same change to report mode as well.

[2021-05-13 20:04] honggyukim commented on #1258
This may be handle similarly with 843a2ca7e92bb7956a78622ab59e4f1c723b972a.

[2021-05-14 00:10] qpakzk commented on #1259
@honggyukim Hello.
I'm going to try it in this weekend.

[2021-05-14 06:06] honggyukim commented on #1259
@qpakzk Sure. Thanks! We actually plan to make a new release soon so wanted to make the features complete as much as possible.

[2021-05-14 06:09] honggyukim opened #1260 "caller filter replay shows unnecessary trace output"
The caller filter works fine during record time, but when using it with replay, it shows some unrelated traces from different threads.

I will try to make a reproducible example when it's ready but I'm raising this issue to keep it tracked.

[2021-05-14 06:23] honggyukim opened #1261 "incorrect hide filter(-H/--hide) document"
Currently, hide filter(`-H`/`--hide`) is supported only for analysis commands but it's in `COMMON OPTIONS`.

We should move it to `COMMON ANALYSIS OPTIONS` for all the analysis commands from their man pages.

[2021-05-14 06:25] kangtegong commented on #1261
let me resolve this issue

[2021-05-15 19:25] #1261 closed

[2021-05-15 20:01] honggyukim commented on #1257
This may require to change the existing option but I would prefer to change `--flame-graph` option to reduce confusion.
- By default, `--flame-graph` shows in time unit rather than number of calls. I hope it works like having `--sample-time 1ns`.
- Deprecate `--sample-time` option and reuse `-t`/`--time-filter` option to reduce the time threshold.
-  If user wants to use number of calls, then reus

[2021-05-15 21:28] honggyukim opened #1263 "kernel tracing shows unexpected functions in aarch64"
Here is a simple hello world program.
[code]
If we try kernel tracing, the output shows a lot of `__this_module()` in its trace.
[code]
This is tested on aarch64 Ubuntu 20.10 based on M1 mac. In some other aarch64 machine, `el0_svc_handler` and `el0_svc_common` are appeared a lot as well.

[2021-05-18 17:33] gpollo opened #1265 "Google XRay instrumentation don't seem to work"
Hi, I'm trying to get `uftrace` working with Google XRay dynamic instrumentation. When patching all functions `-P .` on my own binary, none get traced in the final output.

I decided to run the unit tests (`make test`). Sure enought, test 140 `dynamic_xray` fails. Here's a sample log
[code]

I ran `gdb` and I found out that this [check](https://github.com/namhyung/uftrace/blob/master/arch/x86_64/m

[2021-05-18 22:53] namhyung commented on #1265
Thanks for looking into this!  Actually I don't see some visible progress in the xray these days and the doc seems outdated: https://llvm.org/docs/XRay.html

Maybe you'd better working on #1238.

[2021-05-19 13:57] amadio opened #1266 "uftrace shared libraries lack a SONAME"
Hi, I am maintaining a Gentoo Linux package for uftrace. We noticed that uftrace installs shared libraries that lack a SONAME.
Are these libraries expected to be used by something other than uftrace, or are they like plugins? uftrace itself doesn't seem to link against these libraries (libmcount*.so).

See also https://bugs.gentoo.org/724278.

[2021-05-19 16:45] gpollo commented on #1265
I forgot that I could generate the assembly with the compiler  (`clang -S ...`). I can easily see the details of the XRay sections:
[code]
I fixed it and I'll be sending a PR.

[2021-05-20 06:21] #771 closed

[2021-05-20 06:22] #1254 closed

[2021-05-20 06:29] namhyung opened #1268 "Compiler warning on utils/script-python.c"
Now I'm seeing a repeated compiler warning from the python code.

[code]

I guess the attribute is hidden in the PyAPI_FUNC macro.  Also I don't think we need the macro from the beginning..

[2021-05-20 06:44] kangtegong commented on #1268
I'll remove the macro and perform tests, if you don't mind.
If it's ok to remove, I'll send the patch.

[2021-05-20 07:02] namhyung commented on #1268
It'd be nice if you work on it, but I'd wait for @honggyukim in case I missed something.

[2021-05-21 07:45] honggyukim commented on #1268
I don't see such warnings. Which compiler do you use?

Anyway, `PyAPI_FUNC` is defined at [here](https://github.com/python/cpython/blob/4d4be477055d0f9e415407bcd193788fae04dc11/Include/pyport.h#L699) as follows.
[code]
The `Py_EXPORTED_SYMBOL` is defined at [here](https://github.com/python/cpython/blob/4d4be477055d0f9e415407bcd193788fae04dc11/Include/exports.h#L21) as follows.
[code]
Do you mean w

[2021-05-23 17:23] namhyung commented on #1268
Yes, they are only required for the python code itself.

[2021-05-24 04:54] kangtegong commented on #1268
I don't think the macro really matter either.
PyAPI_FUNC is set only for python script within the file,
and It compiles well without any issue when disabling it.

[2021-05-28 20:09] honggyukim commented on #1266
Hi, sorry for late answer but thanks for reaching us out. I think you're mentioning about `libmcount*.so` libraries. These libraries are preloaded into the target process that is forked by `uftrace` so they are not directly linked by `uftrace` binary. And could you clarify what you mean by lacking a SONAME?

FYI, we made a new release `uftrace-v0.10` a few days ago so if you're trying to make a pa

[2021-05-28 20:17] namhyung commented on #1266
@amadio thanks for your work on the packaging.  The libmcount*.so libraries are not intended to be linked with others so it doesn't need a SONAME.

[2021-05-31 06:05] namhyung commented on #1268
Please send the PR.

[2021-05-31 06:08] namhyung commented on #1263
There must be some symbolization issues and I think el0_svc_common/handler should be the correct names.  It seems like generic kernel syscall handler names and maybe it's expected to see them in the kernel entry.

[2021-05-31 15:35] amadio commented on #1266
Ok, thank you, that is what I thought. I changed the package so they are installed into `/usr/lib64/uftrace` rather than `/usr/lib64` directly, where other system libraries go. I also packaged the new version while at it. Cheers,

[2021-05-31 15:35] #1266 closed

[2021-06-04 21:08] nathan-retrace opened #1272 "Way to set environment on traced process"
Is it possible to add an option to set environment variables for the traced process, e.g. LD_PRELOAD ?

[2021-06-05 22:29] namhyung commented on #1272
Can you elaborate on your use case?

[2021-06-07 00:31] #1268 closed

[2021-06-08 00:10] akshit-sharma opened #1273 "better support for multithreading"
The program right now treats each function call from thread separately. A way to consolidate them together if possible by adding an extra column.
Problem: if 12 threads are calling a function which takes 10 ms each, then uftrace reports time taken as 120 ms, even if they were executed concurrently.

Sample code:
[code]

commands:
[code]

output from my machine of 12 cores:
[code]

[2021-06-09 06:09] namhyung commented on #1273
Right, you can think them as cpu time.  But you can see task statistics using `uftrace report --task`.  And if you really want to see the main thread (or others), there's `--tid <NUM>` option to filter given task(s) only in the output.

[2021-06-10 06:47] #1265 closed

[2021-06-11 01:35] qpakzk commented on #607
Hello @honggyukim !

I still didn't implement your requirement, so all numbers are zeros.
But is this what you wanted?
[code]

I'm not sure whether you propose to include 4 fields (parent, child, max depth, min depth) or 2 fields (min depth, max depth).

[2021-06-12 21:46] honggyukim commented on #607
Hi @qpakzk, sorry for late response.

Yes, right.

I proposed all those 4 fields.

[2021-06-13 14:03] honggyukim opened #1275 "TUI replay mode implementation"
The current `tui` command provides graph and report modes but we need replay mode as well.

The replay mode displays the current `uftrace replay` output bu it has to provide a way to fold and unfold the children functions same as `tui` graph mode.

[2021-06-13 20:28] honggyukim opened #1276 "compiler warnings in aarch64 fedora"
There are some compiler warnings when compiling uftrace in aarch64 fedora.
[code]

[2021-06-13 21:01] honggyukim commented on #1276
This problem is shown only when `libpython2.7-dev` is used. We install `libpython2.7-dev` in `install-deps.sh` script but it'd be better to use `libpython3-devv` instead. I uploaded a PR at #1277.

[2021-06-15 07:36] #1259 closed

[2021-06-15 20:20] qpakzk opened #1278 "TUI report mode with option `-f`"
The current `tui` command provides the `-f` option only for the graph mode.

How about providing the `-f` option for the report mode as well when adding the `--report` option together?

[code]

[2021-06-15 20:21] honggyukim commented on #1278
Yes, looks like a good idea. :)

[2021-06-26 18:05] honggyukim opened #1280 "unexpected segfault in clang compiled binary in aarch64"
Here is an example.
[code]
We can compile this with `clang`.
[code]
Then we can trace it with uftrace.
[code]
But if this program is compiled with optimization then it crashes.
[code]
It doesn't have this problem when compiled by `gcc` with the same optimization.
[code]

[2021-06-26 18:11] honggyukim commented on #1280
It might be helpful to compare the binaries for both compilers.
[code]
Here is the `float_add` function of gcc compiled binary(`float.gcc`).
[code]
Here is the clang compiled `float_add` binary(`float.clang`), which gets segfault.
[code]
As I observed this more, it seems that uftrace can't capture the function exit of `float_add` in clang compiled binary.

[2021-06-26 18:15] honggyukim commented on #1280
The test environment is as follows.
[code]

[2021-06-26 18:19] honggyukim commented on #1280
Here is the clang version info.
[code]

[2021-06-26 18:26] honggyukim commented on #1280
We can compare the assembly output at https://godbolt.org/z/jT7G9fPsP.

[2021-06-26 18:27] honggyukim commented on #1280
I'm just wondering what the following instructions are in the broken binary.
[code]

[2021-06-26 20:08] honggyukim commented on #1280
After digging into the problem with gdb, I see that the last `br x16` goes to `NULL` when returning from `main` function.
[code]

[2021-06-26 20:33] honggyukim opened #1281 "missing second argument record in struct"
Here is an example.
[code]
We can compile and run this program as follows.
[code]
The result shows that `compare_iters` shows only a single argument, but it actually has two arguments as written in the source code above.

The `a.out.dbg` shows it has two arguments.
[code]
The dump output clearly shows that uftrace recorded the first argument only.
[code]
We need to figure out why it didn't record

[2021-06-26 20:34] honggyukim commented on #1281
It's tested on aarch64, but need to confirm on x86_64 as well.

[2021-06-26 20:42] honggyukim commented on #1281
x86_64 has the same problem and its debug info is as follows.
[code]

[2021-06-28 22:05] namhyung commented on #1280
I suspect it's a clang's fault to set the frame pointer to an invalid value.  In the `_mcount`, we expect x29 points to a stack frame containing 'x29' and 'x30' of the previous frame.  But in the float.clang binary, it's saved in x29 + 0x10 so uftrace will use an invalid value (in d8 probably) as a parent location and it'll lead to a crash.

[2021-06-28 23:47] namhyung commented on #1281
It seems it needs to update arg->reg_idx for struct passed by registers, otherwise the second argspec just overwrote the first one as if it founds a same spec.  The below patch seems to fix it for me

[code]

[2021-06-29 06:27] honggyukim commented on #1281
@namhyung Thanks. I see that it fixes the problem.
[code]

[2021-06-30 05:11] #1278 closed

[2021-06-30 05:14] #1281 closed

[2021-07-02 05:06] coleblackman commented on #768
I updated the tutorial page, mostly fixing grammar issues and some formatting. A cursory look seems to indicate the content is still up to date, though if you have reason to think it' s not I'll go back through and execute each command with the sample programs to check. I also don't know whether command line flags have since been added/removed or not, but I think for a basic tutorial that's not a

[2021-07-02 06:21] namhyung commented on #768
Thanks a lot for your work!  It'd be great if you could check other pages like you mentioned!

[2021-07-02 06:39] honggyukim commented on #768
@coleblackman Thanks very much for your help. Please go ahead and let us know if you have some questions.

[2021-07-02 07:21] honggyukim commented on #1281
@namhyung Thanks for doing this fix! But I see 1398d5e is a breaking change. If there is previously recorded data then it can't be replayed normally.

We can record and replay with the previous version.
[code]
But after updating uftrace with the fix 1398d5e, it fails to show replay.
[code]
I know it's unavoidable but I just leave this comment for the record.

[2021-07-03 03:16] coleblackman commented on #768
No problem. I have continued working on the other wiki pages. The content has been very helpful in optimizing my own usage of uftrace.

However, I can't quite figure out what the following snippet, taken from the first paragraph of the "Filters" wiki page, is trying to say. Can you rephrase it?

Feel free to assign the issue and I'll submit a pull request for the main README also. Thanks.

[2021-07-09 12:49] qpakzk commented on #607
@honggyukim I'm not sure whether I implemented `min depth` and `max depth` correctly.

When a program is given below:
[code]

The report command with `depth-max` and `depth-min` as follows:
[code]

[2021-07-09 12:53] qpakzk commented on #607
As another execution, when the report command runs for `tests/s-fibonacci.c`:

[code]

[2021-07-10 16:27] honggyukim commented on #768
Sorry for the late response. the sentence you mentioned can be rephrased as

I modified the sentence in the wiki myself. So don't worry to change it again.

If you find something to change in README, then it would also be helpful for us. Thanks.

[2021-07-11 06:06] honggyukim commented on #722
Same program in C version.
[code]

[2021-07-11 13:07] honggyukim commented on #607
Yeah, I think you're correct.

It looks natural that `fib` shows max depth as `2` with `-D 3` is given.

[2021-07-11 16:54] namhyung commented on #722
How about using `--estimate-return`?

[2021-07-11 17:19] namhyung commented on #607
I think we need to update the documentation to describe the fields clearly.  Also please check if it works well with filters and triggers.

[2021-07-12 07:48] honggyukim opened #1283 "missing fields info in report output"
In some cases, some of the fields are empty in `report` and `tui` report mode. Does it look okay?
[code]

[2021-07-13 03:14] namhyung commented on #1283
I suspect they have 0 values.  But it's still strange why they have 0s.

[2021-07-14 07:45] honggyukim commented on #722
Sorry, I don't have an ARM 32-bit board to test it.

[2021-07-15 00:34] qpakzk commented on #607
@honggyukim Thanks for your answer.
I just wondered whether depth fields should ignore `-D opition`.

[2021-07-15 00:34] qpakzk commented on #607
@namhyung Thanks for your comment.
I keep that in mind.

[2021-07-17 11:37] honggyukim opened #1284 "ImportError: dynamic module does not define init function"
For some reasons, we can't run script command as follows.
[code]
Here is with the output with debug messages.
[code]

[2021-07-18 11:36] honggyukim commented on #1284
This problem happens because my `scripts` directory also has `simple.so` that is compiled when developing #1205.

It works fine after removing all the `.so` files that have the same name as `.py` files under `scripts` directory. I hope there is a way to import a `.py` module over the `.so` module with the same name.

[2021-07-18 11:36] #1284 closed

[2021-07-21 05:46] honggyukim opened #1285 "floating point arg/retval handling errors"
Here is the basic setup for the problem and it shows the return value correctly.
[code]
However, the arguments and return values become garbage values when running with `--debug-domain mcount:3`.
[code]

[2021-07-21 06:02] honggyukim commented on #1285
The same problem observed in aarch64 as well.
[code]

[2021-07-21 21:41] namhyung commented on #1285
I cannot reproduce it.

[2021-07-22 07:40] honggyukim commented on #1285
Hmm.. it's weird. The problem shows in two different machines.
[code]
The debug build with `make DEBUG=1` shows different result.
[code]
I will investigate this later again.

[2021-07-22 07:48] honggyukim commented on #1285
It shows some warnings but not related to this problem.
[code]
So it requires this.
[code]
It suppresses the warnings but it's not related to this problem.
[code]

[2021-07-22 08:15] honggyukim opened #1286 "segfault in 150 recv_event"
[code]
Here is the backtrace.
[code]
It crashes from our code at
[code]

[2021-08-02 00:41] namhyung commented on #1285
It should be fine to get a pointer of the field in the uftrace_module even if it's NULL since it doesn't dereference it.  But it'd be clearer doing it after the NULL check.

[2021-08-03 16:37] misang3 opened #1289 "Can Uftrace be used to trace multiple processes?"
In the docs, I see one of the limitations of Uftrace is that it can't be used for system wide tracing. Does this mean it wouldn't work if multiple uftrace instances are executed even with different output directory?

[2021-08-03 20:19] honggyukim commented on #1289
Hi @misang3, there is no problem running multiple uftrace instances if they do not write the tracing data in the same directory.

The uftrace do not support system wide tracing because it only follows the target process and its children processes and threads.

[2021-08-03 20:29] honggyukim opened #1290 "Limit the search range for nearest function symbol"
uftrace currently searches the function symbol in the nearest address, but this sometimes shows totally incorrect symbol name for some local symbols when the target binary is striped out the local symbols. This incorrect symbol name can seriously mislead the understanding of the function execution.

Rather than searching the nearest symbol carelessly, we might better limit the search range and sho

[2021-08-03 20:34] honggyukim opened #1291 "Provide a way to repeated execution of the target program"
Sometimes, it might be helpful to trace the target program multiple times with the same option.

In this case, we might add a new option that supports the multiple tracing record of the target program.

For example, we can add `--repeat <num>` option  for this.
[code]
And it generates the multiple records as follows.
[code]
We can also change the directory name.
[code]

[2021-08-03 22:50] misang3 commented on #1289
Thanks so much for your prompt reply. Appreciate the work you've done in building this!

[2021-08-04 02:08] namhyung commented on #1289
You can use `-f time` option to display timestamp in the uftrace replay output.  The default fields are 'duration,tid'.

[code]

[2021-08-04 06:36] honggyukim commented on #1289
If you want to see the timestamp along with the existing fields, then you can use `-f +time`. The `+` means add the field with the default fields.
[code]
You can get more info at https://github.com/namhyung/uftrace/blob/master/doc/uftrace-replay.md#fields.

[2021-08-05 04:55] honggyukim opened #1292 "uftrace dump doesn't work with time-filter"
The time-filter is expected to be fine with `dump` command, but it's not. We can reproduce the problem as follows.
[code]
The above shows time-filter works fine with `replay` command and it shows only 8 records including both entry and exit of functions. But `dump` shows the whole function records even with time-filter.
[code]
[code]
$ uftrace dump -F bar
uftrace file header: magic         = 46747

[2021-08-05 05:05] honggyukim opened #1293 "replay and report shows a non-existing record"
It's weird that uftrace replay and report shows some non-existing record as follows.
[code]
The function `<30d42>` is more problematic in report command. It sometimes shows at the top of the chart. But for simplicity, I applied time-filter to reduce the output. But this time, it doesn't show time record here.
[code]
However, the function `<30d42>` doesn't exist from the record. I checked it with `

[2021-08-05 05:09] honggyukim commented on #1293
Ah. I just found that the `30d42` are shown as sched events.
[code]

[2021-08-05 05:12] honggyukim commented on #1293
It's weird that some of the sched events have no address, but some have the address `30d42` here.
[code]

[2021-08-05 05:14] honggyukim commented on #1293
It looks that they are not identified as events because it still shows with `--no-event` option.
[code]

[2021-08-05 05:21] honggyukim commented on #1293
The same `30d42` is shown in `t-thread` example as well.
[code]
The address of both `linux:schedule` and `linux:sched-in` are shown as `30d42` and `linux:shed-out` doesn't have the address. The same is shown in the problematic example above.

[2021-08-05 05:36] honggyukim commented on #1293
[code]
The `30d42` is the hex number of `200002`, which is `EVENT_ID_PERF_SCHED_OUT`.
[code]

[2021-08-05 07:00] #1289 closed

[2021-08-05 07:00] misang3 commented on #1289
Appreciate the help!

[2021-08-05 16:21] misang3 opened #1294 "Tracing dynamic function pointers"
So I have a use case where the binary I'm tracing depends on a shared object library that exposes an interface based on dynamic function pointers. Lets say my app is foo and the library is bar.
[code]
[code]
[code]

Question:
Will Uftrace be able to record the internal_init function which is defined as static in bar?

In my test, I'm seeing this sort of error:
[code]
I'm suspecting the missing sym

[2021-08-06 05:24] honggyukim commented on #1222
If there is any chance that we can have a breaking change, then I would like to reuse `-L` option for --nest-libcall and use `-l` for `--libcall`. I believe `-L` is not quite used by general users.

[2021-08-06 21:22] honggyukim commented on #1294
Hi @misang3,

Yes, it's possible.

Did you strip the library? Otherwise, I think the symbol can be found. If not, it might be a problem in uftrace.

Could you specifically write the steps you followed including the build command? You can also show us more detail info with running `-vvv` option for verbose message.

[2021-08-09 21:05] namhyung commented on #1292
Right, uftrace dump currently doesn't honor the time filter and prints data.  This is because time filter requires more logic to queue data rather than processing them directly.  At first I wanted to simplify the logic in the uftrace dump to minimize a possible bug as it's used to debug other issues.  But we need to consider adding it to have consistent output with other subcommands.

[2021-08-09 21:08] namhyung commented on #1293
Yeah, those perf_events are recorded independently from uftrace so it might not aware of the tasks that have no functions.  We need to suppress those scheduling events when they are out of any functions.

[2021-08-09 21:13] namhyung commented on #1222
We can do that, but I think we better have a grace period (for a couple of releases) that warn the user if one used the option and tells it'll be changed soon.

[2021-08-09 21:18] namhyung commented on #1294
Hello, can you reproduce it on x86_64?  The arm (32-bit) support might be somewhat outdated, so I'm not sure if the problem is in the symbol handling logic or just in the arch-specific code.  In addition, did you use the latest version of the software?

[2021-08-10 07:01] #1286 closed

[2021-08-10 07:31] honggyukim opened #1297 "have_libpython2.7: unexpected operator"
I see the following build error.
[code]

[2021-08-10 07:42] namhyung commented on #1297
Oops, sorry.  The following patch should fix it:

[code]

[2021-08-10 07:45] honggyukim commented on #1297
Yeah, that fixes the problem. Thanks.

[2021-08-10 07:49] #1297 closed

[2021-08-10 09:01] cz172638 opened #1298 "detect libexecinfo on musl platforms"
on musl you are getting following errors:
undefined reference to `backtrace'
undefined reference to `backtrace_symbols'

```./configure --prefix=/usr --ldflags="-lexecinfo"``` is workaround.

[2021-08-10 09:06] cz172638 commented on #1298
on alpine 3.14 i'm getting segmentation fault with ```make unittest``` and with ```make runtest``` 2300 build failures:
[code]

[2021-08-10 12:08] cz172638 opened #1299 "unittest segaulting with musl"
while trying to package uftrace for alpine, got following segfault:
running in podman:
[code]

[2021-08-10 20:18] honggyukim commented on #1298
Hi @cz172638, musl seems to be different from glibc. Can you test this change?
[code]
I wanted to detect musl but it doesn't have a macro as written in https://wiki.musl-libc.org/faq.html so we can enable `stacktrace` only in glibc.

[2021-08-10 20:20] honggyukim commented on #1298
I don't have Alpine Linux environment so can't test it. Do you know if the older version of uftrace worked fine? For example, `v0.10`, `0.9.4`, etc.

[2021-08-10 20:50] namhyung commented on #1298
I think we should check libunwind in the check-deps as well.

[2021-08-10 22:48] honggyukim commented on #1298
Do you mean to use libunwind by default and just disable stacktrace if not exists? That might be also good.

[2021-08-12 07:33] cz172638 commented on #1298
```docker run --rm -it alpine:3.14```

[2021-08-12 07:37] cz172638 commented on #1298
google found that [libunwind should be solution as replacement for libexecinfo](https://github.com/JuliaLang/julia/issues/1901)

[2021-08-12 19:17] honggyukim opened #1300 "runtime errors caught by ubsan(UndefinedBehaviorSanitizer)"
[code]
The related code part is as follows.
[code]

[2021-08-12 19:19] honggyukim commented on #1300
The fix is at https://github.com/namhyung/uftrace/issues/1285#issuecomment-884719076

[2021-08-12 20:36] honggyukim commented on #1238
alpine doesn't support `-pg` nor `-finstrument-functions`, but it supports `-fpatchable-function-entry`.
[code]
But `-fpatchable-function-entry=N` compiles successfully.
[code]
https://gitlab.alpinelinux.org/alpine/aports/-/issues/9191

[2021-08-12 20:44] namhyung commented on #1238
That explains so many build failures in the #1298.

[2021-08-12 20:53] honggyukim commented on #1238
Yes, right. It explains the failures at https://github.com/namhyung/uftrace/issues/1298#issuecomment-895860617.

[2021-08-12 20:56] honggyukim commented on #1298
@cz172638 Please have a look at the below comment.
https://github.com/namhyung/uftrace/issues/1238#issuecomment-897950539

alpine doesn't support `-pg` nor `-finstrument-functions` so the test cannot be done at all. I tested full dynamic tracing[1] in alpine, but it works fine.
[code]
[1] https://github.com/namhyung/uftrace/blob/master/doc/uftrace-record.md#dynamic-tracing

[2021-08-12 20:58] honggyukim commented on #1238
https://godbolt.org/z/rc1rs7hqK shows the different binary outputs for various traceable options.

[2021-08-12 21:31] honggyukim opened #1303 "compiler warning in alpine Linux build"
We can reproduce the problem as follows.
[code]
man page says.
[code]

[2021-08-12 21:47] honggyukim commented on #1299
I also saw this segfault, but have no clue yet.

[2021-08-12 23:23] namhyung commented on #1293
Can you please check [check/sched-fix-v1](https://github.com/namhyung/uftrace/compare/check/sched-fix-v1)?

[2021-08-13 01:03] misang3 commented on #1294
Hi guys,
So I've been able to sort of resolve this. It had to do with the library being stripped like @honggyukim intuited. However now I'm not seeing the auto-args working for the functions in that library. Any ideas on how i can debug this? Is there any doc on how the args are captured?

Thanks!

[2021-08-13 03:33] honggyukim commented on #1293
Thanks for the work. But it shows a build error.
[code]
And it looks like the logic is not quite correct because some of the tasks can have empty function records but can has schedule events. But [check/sched-fix-v1](https://github.com/namhyung/uftrace/compare/check/sched-fix-v1) compares if the "total" count is `1`. This cannot handle the case as follows.
[code]

[2021-08-13 04:06] honggyukim commented on #1293
We can apply the following change on top of [check/sched-fix-v1](https://github.com/namhyung/uftrace/compare/check/sched-fix-v1).
[code]
This change can be squashed into https://github.com/namhyung/uftrace/commit/10a7188ee703d70bc8c56fc77554d9e29eb578be.

I can confirm this fixes my problem. Thanks very much for your help :)

[2021-08-13 06:39] #1300 closed

[2021-08-13 06:43] namhyung commented on #1293
Oh, I forgot to push after fixing the code.  Can you please check [check/sched-fix-v2](https://github.com/namhyung/uftrace/compare/check/sched-fix-v2)?

[2021-08-13 06:50] honggyukim commented on #1293
It still shows the remaining part.
[code]
We need this part.
[code]

[2021-08-13 06:58] namhyung commented on #1294
The auto-args works in two ways.  At first, it understands a list of well known functions like C standard library functions and other Linux system functions.  You can see them in [misc/prototypes.h](../blob/master/misc/prototypes.h).

The other way is to use DWARF debug info from your ELF files.  So you cannot use a stripped binary (and/or library) for this.

You can find more details in [wiki/Arg

[2021-08-13 06:59] namhyung commented on #1293
Ah, you're right!

[2021-08-13 07:03] namhyung commented on #1293
Pushed [check/sched-fix-v3](https://github.com/namhyung/uftrace/compare/check/sched-fix-v3).

[2021-08-13 07:06] honggyukim commented on #1293
It works fine now. Thanks.

[2021-08-13 07:21] #1298 closed

[2021-08-13 07:29] #1293 closed

[2021-08-13 12:16] kangtegong commented on #1303
I want to resolve this issue!

[2021-08-13 14:44] honggyukim opened #1304 "broken partial graph output"
Here shows the broken output when generating partial graph output.
[code]
But `tui` shows the symbols correctly. I'm not sure if this output is correct though.
[code]

[2021-08-14 02:30] namhyung commented on #1173
It should be closed by 55ab685b.

[2021-08-14 02:30] #1173 closed

[2021-08-16 02:36] namhyung commented on #1228
Please test [check/with-syms-v1](https://github.com/namhyung/uftrace/compare/check/with-syms-v1).

At first, you can save the data with a binary has full symbol information.  Let's say it as "uftrace.data.syms".

After that you can strip the binary and run uftrace with it.  When replay (or other analysis command) you can use --with-syms option with the name of the directory (like "uftrace.data.sym

[2021-08-16 06:49] honggyukim opened #1308 "Provide a way to print output in HTML format"
It'd be useful if we can print uftrace output in HTML format as follows.

![image](https://user-images.githubusercontent.com/19642328/129522016-3681cabe-6538-4667-b1ff-72d1215f543a.png)

It can be useful especially when sharing uftrace result to someone who doesn't have uftrace installed. We can copy & paste the text but it might be too verbose to paste the entire result and we also lose all the c

[2021-08-16 06:54] honggyukim commented on #1308
We can upload some example output in https://uftrace.github.io later.

[2021-08-16 16:17] honggyukim opened #1309 "demangling failures"
[code]

[2021-08-16 16:25] honggyukim opened #1310 "ERROR: record missing argument info for __static_initialization_and_destruction_0"
It looks like some of debug entries are not added to `.dbg` file. It clearly shows the debug entry was read during record time as follows.
[code]
But it shows an error about missing argument info for `__static_initialization_and_destruction_0`.
[code]
`__static_initialization_and_destruction_0` is found in `uftrace.data/test.sym` but not found in the `uftrace.data/test.dbg`.

[2021-08-16 20:37] honggyukim commented on #1228
@namhyung Thanks for doing this work. It works fine with the example you shared.

I have a few questions.
1. does it work for library symbols?
2. including library symbols that are `dlopen`ed?
3. can we do the same thing for `.dbg` files?

I feel like giving `--with-syms` option all the time looks annoying. Can we install the symbol into the recorded data or can we use `--with-syms` at runtime?

[2021-08-17 06:38] honggyukim commented on #1228
If the purpose of this requirement is to make the target binary striped, then we can think about separating the symbol info in a separate file. We might be able to handle this issue together if #1144 is completed.

[2021-08-17 12:11] kangtegong commented on #1303
i think this warning comes from alpine linux, not from uftrace.

Althogh man page of strerror_r does says `strerror_r` has two return values depending on the system like below,

[code]

if i `apk add build-base`, and then see /usr/include/string.h,

[code]

https://stackoverflow.com/questions/42190156/compatibility-of-strerror-r-on-different-platform

[2021-08-17 15:58] namhyung commented on #1228
Yep, I think so.

Probably.. :)

I'm not sure.. it seems not work currently.  But there's no reason for that, I'll check it in the next version.

Yeah, I'm aware of the #1144 and it's a slightly different issue.  I'll take care of it later.

[2021-08-17 16:12] namhyung commented on #1228
If you find yourself doing the same thing repeatedly, you can add a shell script or an alias for it like:
[code]

[2021-08-18 06:54] honggyukim commented on #1308
I uploaded the initial PR at #1311. I made `--color=html` mode instead of adding an extra `--html` option. Please have a look.

[2021-08-18 21:00] honggyukim opened #1312 "Can't read debug info for dlopened libraries"
uftrace currently doesn't store `.dbg` info for `dlopen`ed libraries. The example is as follows.
[code]
It shows the module name as `[unknown]` and doesn't set the debug info of `dlopen`-ed library `libabc_test_lib.so`.
[code]

[2021-08-18 22:11] honggyukim commented on #1312
The `.sym` file of `dlopen`ed library is currently created at https://github.com/namhyung/uftrace/blob/v0.10/libmcount/dynamic.c#L644.

The `.dbg` file can also be generated at this point. For example,
[code]
But filters including arguments can't be applied at this point. We need to find anther way to apply them.

[2021-08-19 05:57] namhyung commented on #1312
I think it's a duplicate of #842.

[2021-08-19 06:04] honggyukim commented on #1312
Ah, you’re right. But this also shows the module name is missing.

[2021-08-19 06:14] honggyukim commented on #1312
Can we inform the program with a special option that the target library will be used so apply filters even before the dlopen call?

[2021-08-19 06:25] namhyung commented on #1303
I think we can add a wrapper of the function like `uftrace_strerror()` and check the return value of the strerror_r().  If it's 0, then it's XSI version and the funciton succeeded.  We can return the buf then.  If it's XSI version and failed, the return value would be a positive integer less than 4096.  We might fill the buffer with a default message like "error: %d" and return.

So, if the return

[2021-08-19 06:59] honggyukim commented on #1312
We might be able to provide `--dlopen` option for this. For example,
[code]

[2021-08-19 08:43] kangtegong commented on #1303
I understood. I'll send the patch ASAP :)

[2021-08-19 22:18] honggyukim commented on #1312
Otherwise, we can also load the dwarf info if we have a library name as a postfix after `-A` or `-R` as follows.
[code]
After parsing the command, we can generate and load dwarf info for the library.

[2021-08-21 06:53] honggyukim opened #1314 "kernel test failures in aarch64"
Here is the kernel test result in aarch64
[code]
The failures are
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2021-08-21 06:55] honggyukim commented on #1314
But we need the following fix for 103 dump_kernel failure
[code]
The test results are now fine.
[code]

[2021-08-21 21:33] honggyukim commented on #1291
We don't need this.

[2021-08-21 21:33] #1291 closed

[2021-08-21 21:33] honggyukim commented on #1291
We can write a script instead.

[2021-08-21 21:36] honggyukim commented on #1290
If possible, we better add "unknown" symbols.

[2021-08-21 21:40] honggyukim commented on #1285
reproduced in aarch64 as well.
[code]

[2021-08-21 22:45] honggyukim commented on #1312
When a `dlopen`ed library is loaded, we may have to apply filters after acquiring a lock as @gpollo did at https://github.com/namhyung/uftrace/blob/71154aed62c365692ec1f11c4682b64d9691d7b5/libmcount/mcount.c#L902-L908.

[2021-08-21 23:44] namhyung commented on #1312
Could be.  But I'd like to separate the filters/triggers tree for dlopen from the main filters/triggers if possible.

[2021-08-22 00:04] namhyung commented on #1228
Currently it cannot use filters or triggers in record time.  I'll add it later so that we can use it like `uftrace record --with-syms ...` and then the result will contain symbols in the with-syms directory.

[2021-08-23 04:39] misang3 commented on #1294
Thanks! I've been able to resolve this. Appreciate the help!

[2021-08-23 06:35] #1294 closed

[2021-08-23 07:07] misang3 opened #1315 ""Usage: Unknown register name" error meaning"
I"m able to use Uftrace to sufficiently trace a binary. It has a lot of dependencies so hard to narrow down what the cause is but I;m seeing a lot of this error printed out by Uftrace:

Usage: unknown register name: arg1/p%r0

What does it mean?

Thanks!

[2021-08-23 07:09] honggyukim commented on #1315
Hi @misang3, the information is not enough to understand the problem. Could you show us the usage including the command you used and the architecture info as well.

You can just copy and paste the command and the output. Please run the command with `-v`option again.

[2021-08-23 16:26] namhyung commented on #1315
Did you run it on a 32-bit ARM machine?  The `arg1/p%r0` can be read as the first argument (arg1) is a pointer type (/p) and it's passed by the register (%r0).

[2021-08-23 17:44] akshit-sharma opened #1316 "sub-command specific help"
It will be useful to have the help specific to use case.

Existing Behavior:
``` uftrace --help ``` and ``` uftrace replay --help ``` gives the same help prompt.

New Behavior:
``` uftrace --help ``` can give the help for entire application.
``` uftrace replay --help ``` can give the  help for uftrace replay only.

Reason:
1. This will help narrow down the options available for subprograms (uftrac

[2021-08-24 16:39] #1303 closed

[2021-08-25 03:49] honggyukim opened #1317 "Add self time field by default in graph command"
The graph command currently shows only total time by default, but self time can also be shown by default.

The current graph command requires to have `-f +self` to show self time.
[code]
But we can show self time by default as follows.
[code]

[2021-08-25 03:50] honggyukim commented on #1317
The same change can be applied to `tui` command as well.

[2021-08-25 03:55] honggyukim commented on #1317
This can be done with the following simple change.
[code]
But we need to change related tests and documents update.

[2021-08-25 04:23] namhyung commented on #1317
Yep, the change would be simple but I was afraid that deeply nested functions can be hidden in the terminal then.

[2021-08-25 04:44] namhyung commented on #1316
Thanks for raising this issue.  I totally agree with you.

[2021-08-25 04:50] honggyukim commented on #1317
I see. That was the concern. I will close this issue then.

[2021-08-25 04:50] #1317 closed

[2021-08-25 04:52] honggyukim commented on #1316
We can redirect subcommand help to man pages just like `git` and `perf` does.

[2021-08-25 05:37] kangtegong commented on #1316
I think I can solve this one, if @namhyung and @honggyukim's ok :)

[2021-08-27 05:12] kangtegong opened #1319 "building on travis-ci.org is ceased. we should use travis-ci.com"
Building on travis-ci.org is currently not supported, so I think we should move it to travis-ci.com.
Maybe we should make new uftrace ci on travis-ci.com like this [link](https://app.travis-ci.com/github/kangtegong/uftrace)

![image](https://user-images.githubusercontent.com/47781146/131074898-962feca5-3445-42d4-81a8-c2c69bb00c12.png)

[2021-08-27 17:36] #1319 closed, assigned to nobody

[2021-08-28 07:00] elfring opened #1320 "Improving possibilities for efficient data analysis"
I tried the program „uftrace 0.10-53-gb001“ out together with [the installation program „calamares 3.2.42.20210826-b9f22a75-dirty“](https://github.com/calamares/calamares/ "Distribution-independent installer framework") (for example).
I let this software combination run with a trace record command for a few hours until I noticed that the installation program reached a processing step after which t