[2019-06-10 08:40] #791 closed

[2019-06-10 11:03] honggyukim opened #794 "Compilation error in rawelf"
Please see below:
[code]

[2019-06-10 11:49] honggyukim opened #795 "We need a way to set kernel filter for module"
It seems that embedded device has lack of space so cannot record everything. So we need a way to set trace filter for specific kernel module to reduce the size of record.

[2019-06-10 11:51] honggyukim opened #796 "Let's remove useless message "Didn't you run "make install?""
The message is misprinted in a normal execution.
[code]
The record looks fine though.

[2019-06-10 11:57] honggyukim opened #797 "Fail to find tracing_on file for kernel tracing"
It complains as follows:
[code]
However, `tracing_on` file exists.
[code]

[2019-06-10 12:28] honggyukim opened #798 "It seems that plthook is broken in some embedded env"
I cannot attach the detail info yet, but there seems to be some problems in AArch64 plthook.
I will update the problem if possible later on.

[2019-06-10 12:28] honggyukim commented on #798
I found that it only works fine with `--no-libcall`.

[2019-06-10 14:54] namhyung commented on #797
We need to change the code to detect location of `tracefs` or `debugfs` using `mount` info.  Currently it's hard-coded to `/sys/kernel/debug/tracing/`.

[2019-06-10 14:57] namhyung commented on #794
It's not a raw ELF, it uses libelf.  But it's weird it missed `GElf_Nhdr`.  Does the `/usr/include/gelf.h` have it?

[2019-06-10 14:59] namhyung commented on #796
So do you see this message even after you installed it?  The message is printed when it cannot find the libmcount in the install path.

[2019-06-10 15:00] namhyung commented on #798
With any specific build option?

[2019-06-10 15:13] namhyung commented on #784
I thought about it and eventually `uftrace live` will work like that.  I think we can create a thread to parse the shared memory directly in realtime.

[2019-06-10 15:19] namhyung commented on #774
I'm not sure whether it's a good idea.  Did you get this from a real use case?  AFAIK network transmission is complex and maybe it's done in a different context due to many reasons.

And how would you get the information?

[2019-06-10 15:21] namhyung commented on #727
I think we can close this now.

[2019-06-10 20:15] honggyukim commented on #727
Sure. Thanks for your hard work.

[2019-06-10 20:15] #727 closed

[2019-06-10 20:23] honggyukim commented on #760
Can it be added to v0.9.3 milestone?

[2019-06-10 20:25] honggyukim commented on #789
Can it be added to v0.9.3 milestone? If it happens just in a rare case then it doesn’t have to be.

[2019-06-10 20:38] honggyukim opened #799 "Maybe we need a more user friendly way for -P."
For v0.9.3, full-dynamic tracing is the major feature. But it seems that the current usage with `-P.` looks a bit cryptic and doesn’t look intuitive.

IMHO, we better have a way to apply the same effect with a simper and more user friendly option name just `-a`/`--auto-args` for `-A. -R.`

It could be `--dynamic` or we could also reuse `--force` option for this.

[2019-06-10 20:44] honggyukim commented on #322
@bkircher Could you please test the current master on Fedora? The project has been updated a lot since then. Thanks for your report.

[2019-06-10 20:45] honggyukim commented on #798
I will update if I can find it. I posted the recent issesus

[2019-06-10 21:05] honggyukim commented on #795
The corresponding option for this in trace-cmd is -g option.

[2019-06-10 21:23] honggyukim commented on #796
I cross compiled and copied the installed directory to the target board. But couldn't install it in the default directory `/usr/bin` and `/usr/lib` as usual because it's read-only file system.

[2019-06-10 21:39] honggyukim opened #800 "uftrace problems when using it on embedded devices"
I will keep update this issue whenever I find some pains on embedded devices.

The current problems I found is as follows:
- busybox pager is really bad and it makes the output ugly.
  - better to install proper `less` command.
  - use `PAGER=cat` to avoid using busybox pager.
- serial console output makes the output more ugly. It's not possible to connect to ssh so have to use only serial.
  - ma

[2019-06-11 02:15] honggyukim opened #801 "Providing extra information to uftrace info output"
It may be difficult to identify if user created many uftrace data records.

So I would like to add extra info to `uftrace info` output. For example, we can create a file `note.txt` inside `uftrace.data` and the content of the file can be printed at the end of `uftrace info` output.

[2019-06-11 05:47] ParkHanbum commented on #603
update.

problem occurred at here:
[code]

[code]

rsp register's value point to another memory region.
I think that 0x7ffff7fd0000 - 0x7ffff7fd1000 memory region was not writable.

[code]
I'm not sure but I think stack overflow is the cause.

[2019-06-11 09:06] honggyukim opened #802 "exception handling problem on Poco App"
It seems that many crashes are because of exception handling problem. The test program heavily uses Poco library. The failed log is as follows:
[code]
https://pocoproject.org/docs/Poco.InvalidAccessException.html

[2019-06-11 09:12] honggyukim commented on #802
It seems that Poco version is 1.7.5.

[2019-06-11 12:25] honggyukim commented on #721
It looks normal until `std::_Hashtable::_M_rehash` tries to allocates memory, but it shows `plthook_return`, then it throws `std::__throw_bad_alloc`.

[2019-06-11 13:45] honggyukim commented on #802
**Getting Started With The POCO C++ Libraries**
- https://pocoproject.org/docs/00200-GettingStarted.html

**1. download prerequisites**
[code]
**2. download poco**
[code]
**3. configure and build poco with `-pg`**
[code]

[2019-06-11 14:18] honggyukim commented on #802
Here is another test for making HTTP server.
[code]
[code]
[code]

[2019-06-11 21:52] honggyukim opened #803 "heap-buffer overflow report from asan"
Please see the report from address sanitizer.
[code]

[2019-06-11 21:54] honggyukim commented on #439
address sanitizer build is possible as follows:
[code]
I also made one of asan report in #803.

[2019-06-11 21:57] honggyukim commented on #803
Here is one more.
[code]

[2019-06-11 22:00] honggyukim opened #804 "memory leak report from lsan"
Please see below.
[code]

[2019-06-11 22:02] honggyukim commented on #804
Here is another.
[code]

[2019-06-11 23:56] honggyukim commented on #796
The same message is shown in https://github.com/namhyung/uftrace/issues/729#issuecomment-484369233 as well.

[2019-06-12 02:10] honggyukim commented on #521
It works fine if the program is compiled with `-finstrument-functions`.
[code]

[2019-06-12 02:11] honggyukim commented on #802
It might be related to #521.

[2019-06-12 05:30] ParkHanbum opened #805 "tiny problem occurred while configuration in i386"
__have_libccapstone.c has a problem that mismatched types.

[code]
[code]

[code]

because of this problem, setting is not done as intended.
this problem need very tiny change to fix it. should I send the patch?

[2019-06-12 05:54] ParkHanbum commented on #784
@namhyung @honggyukim Do you think this is a necessary work?

[2019-06-12 07:50] ParkHanbum commented on #769
this issue cause from update that related with symbols. not a bug.

[2019-06-12 07:50] #769 closed

[2019-06-12 12:14] namhyung commented on #805
Sure, please do.

[2019-06-12 15:11] honggyukim commented on #796
It's because `INSTALL_LIB_PATH` is set to the directory for install target on the same machine.
[code]
It could be changed when it comes to cross compilation environment. In this case, the compiled binaries can be directly copied to the target board.

[2019-06-12 15:14] namhyung commented on #796
You can set the `prefix` when you build it.

[2019-06-12 15:15] namhyung commented on #784
Yep

[2019-06-12 15:17] namhyung commented on #801
Not sure it's worth.  Anyway users should create the file, right?  Then why not just change the dirname?

[2019-06-12 15:32] namhyung commented on #603
Hmm.. the stack should be increased automatically.  Maybe some task has set a resource limit for stack `ulimit -s`.

Anyway does following patch make any difference?
[code]

[2019-06-13 07:06] ParkHanbum commented on #603
@namhyung unfortunately, it was not affect.

[code]
[code]

[2019-06-13 11:09] honggyukim commented on #802
I will try to reproduce the problem with a simpler example.

[2019-06-13 11:11] honggyukim commented on #801
I will close this if you disagree with it as it's just a matter of preference.

[2019-06-13 11:11] #801 closed

[2019-06-13 11:13] honggyukim commented on #795
Hmm.. `-g` is just a function filter in trace-cmd.
[code]
I'm not sure why `-F (function-name)@kernel` didn't work.

[2019-06-13 11:16] honggyukim commented on #784
@ParkHanbum I also think it's another great improvement.

[2019-06-13 11:19] honggyukim commented on #774
I do have a picture in mind but It's not an urgent work at all. So I will just close it until I get more realistic idea. Thanks.

[2019-06-13 11:19] #774 closed

[2019-06-13 12:21] namhyung commented on #603
Yeah, process itself can change its rlimit.  Maybe some process/thread set it to a very small number and doesn't expect to call `printf()` or so...

[2019-06-13 13:51] honggyukim commented on #771
There is the same issue in `-F` filter. I'm not sure if it's valuable to show scheduling events.
[code]

[2019-06-13 14:13] honggyukim opened #807 "segfault in ARM binary"
There is a segfault when tracing a specific ARM program which is compiled with `-pg` flag.
[code]
Here is verbose messages.
[code]
It gets crashed at the first function entry point. The most eye-catching lines are as follows:
[code]
Let's calculate the address.
[code]
Here is disassembly output.
[code]

[2019-06-13 14:14] honggyukim commented on #807
[code]

[2019-06-13 14:19] honggyukim commented on #807
Hmm.. I'm not sure if it's possible to make inter-work from `arm` to `thumb` with `pop {..., pc}` instruction.
[code]
In the above, the last `pop` instruction runs `arm` mode, but the return address is `thumb` mode.
[code]

[2019-06-13 14:36] honggyukim commented on #807
Here is some explanation regarding this.

In nonleaf functions built for ARM architecture v4T, the Thumb compiler must replace, for example, the single instruction:
[code]
with the sequence:
[code]
This has a small effect on performance. Compile all source modules for interworking, unless you are sure they will never be used with interworking.

http://infocenter.arm.com/help/index.jsp?topic=/com.a

[2019-06-13 14:39] honggyukim commented on #807
It still gets segfault with the following change.
[code]
I know that I shouldn't use `r3` for return, but it's just for testing believing that it won't return struct type. It should be running a little bit more at least.

[2019-06-13 14:54] namhyung commented on #795
You can add `-v` to see error messages if any.

[2019-06-13 14:57] namhyung commented on #771
I think we can disable it for `-C` filter but I'm not sure for `-F` filter since it can have long traces in it (when used for non-leaf functions).

[2019-06-13 15:15] namhyung commented on #759
Pushed [review/no-srcline-v2](https://github.com/namhyung/uftrace/compare/review/no-srcline-v2)

Changelog:
 * change option name to `--srcline`.
 * do not save srcline info by default

[2019-06-13 15:20] namhyung commented on #780
@ParkHanbum that kind of information is useful only for development.  Please add it for your need and remove when you want to push to upstream, ok?

[2019-06-13 15:57] namhyung commented on #780
Pushed [review/size-filter-v1](https://github.com/namhyung/uftrace/compare/review/size-filter-v1)

Example:  My test program has 3 functions - main, foo and bar - and their size are 94, 95 and 67 respectively.  So the setting it with 70 will remove the last function (bar) in the trace.

[code]

And 60 will show it again:

[code]

[2019-06-14 02:50] honggyukim commented on #780
@namhyung Thanks a lot for doing this. I just tested it for node and found that it has huge speed up.
[code]
It's a lot faster than only using time-filter. I also found that some big functions have really a short running time especially when it has a big switch condition or makes an early return.

I think it'd be better to use both `-Z` size filter along with `-t` time-filter, then it makes a huge

[2019-06-14 02:54] honggyukim commented on #780
In addition to this, it'd also make a better speedup if we can detect the size of each library function.

[2019-06-14 07:07] honggyukim commented on #780
Here is another test for chrome. It works fine as follows but I'm not clear if it's faster:
[code]
It gets crashed sometimes as follows:
[code]

[2019-06-14 14:21] honggyukim commented on #759
Thanks for the work. It works fine in my environment.

[2019-06-15 12:49] namhyung commented on #799
I don't think `-P <regex>` is not too annoying or cryptic.  Maybe there's better way to specify all functions in regex (or glob) but it's anyway user's choice.

[2019-06-15 12:54] namhyung commented on #780
Pushed [review/size-filter-v2](https://github.com/namhyung/uftrace/compare/review/size-filter-v2)

Changelog:
 * apply size filter for other kinds of dynamic tracing (nop-mcount or xray) too.
 * add a test case

[2019-06-15 12:57] namhyung commented on #746
I think this is a different problem other than cross-function jump.  So if the above patch can fix the cross-function issue, I think it'd be better close this with it and open another issue to discuss further.

[2019-06-15 13:06] namhyung commented on #771
Simply like below?

[code]

[2019-06-15 13:08] honggyukim commented on #771
If `--no-event` is used, it will disable taskname as well. So I would like to have a way to control only sched event.

[2019-06-15 13:22] honggyukim commented on #799
I will also close this if you disagree with it.

[2019-06-15 13:22] #799 closed

[2019-06-15 13:27] honggyukim commented on #746
I agree. It may be a different issue so I'm okay to close this and discuss later. Thanks for your effort and work.

[2019-06-16 11:27] honggyukim commented on #746
I just tested `review/dynamic-cross-v1` again, but it gets some error as follows:
[code]
It gets segfault in the current master.
[code]
It seems that it gets crashed while running `dlopen`.
[code]
[code]

[2019-06-17 01:00] namhyung commented on #771
Then how about this?

[code]

[2019-06-17 01:06] #719 closed

[2019-06-17 01:09] honggyukim commented on #771
Looks good. Thanks.

[2019-06-17 01:23] #759 closed

[2019-06-17 01:24] namhyung commented on #780
Merged 4eec7f8f

[2019-06-17 01:24] #780 closed

[2019-06-17 04:19] ParkHanbum opened #810 "I need an option to patch even if the symbol size is zero"
Currently, uftrace parses symbols only if the symbol size is greater than zero. sometimes, the binary I want to trace has a zero-sized symbol.  So, if I put the symbol name explicitly with the '-P' option, I want a way to parse the symbol even if it is zero in size.

for example:
[code]

This symbol with the Builtins prefix has ​​zero size.
but they are functions.

[code]

[2019-06-18 07:27] namhyung commented on #810
Are they real functions?  Do they have instructions?  Why do they have zero size then?

[2019-06-18 08:20] namhyung commented on #746
Please file a separate issue for segfault with master.

Could you please tell me which function the address is for and its assembly output?

[2019-06-18 09:18] namhyung commented on #789
Does the below patch fix it?  If so I'll apply it to similar files.

[code]

[2019-06-18 10:05] honggyukim commented on #789
After applying similar change, everything works. Thanks.
[code]

[2019-06-18 12:55] honggyukim opened #811 "segfault in full dynamic tracing rust compiler"
The current master gets segfault as follows:
[code]

[2019-06-18 12:56] honggyukim commented on #811
It seems that it gets crashed while running `dlopen`.
[code]
[code]

[2019-06-18 12:58] honggyukim commented on #746
I made a new issue in #811.

I will investigate it when I have more time. Thanks.

[2019-06-18 14:41] #789 closed

[2019-06-18 14:52] honggyukim commented on #789
Thanks for the fix but `s-malloc.c` is not changed so `048 malloc_impl` still fails.

[2019-06-18 14:58] namhyung commented on #789
Oops, I missed it since it didn't fail on my machine.  Hmm.. maybe just below can fix it

[code]

[2019-06-18 15:02] honggyukim commented on #789
Yes, it works fine with the above fix.

[2019-06-18 15:29] namhyung commented on #746
Pushed [review/dynamic-cross-v2](https://github.com/namhyung/uftrace/compare/review/dynamic-cross-v2)

- nothing changed (just rebased)

[2019-06-19 04:13] ParkHanbum commented on #810
@namhyung I don't know why this happening. but these are all the functions.

[2019-06-19 04:49] honggyukim commented on #810
@ParkHanbum Maybe you better show the disassembly output of such functions that have zero size.

[2019-06-19 08:13] ParkHanbum opened #812 "case about using jump to move to the function"
I was trace the v8 javascript engine. while interpreting javascript, there is weird problem. I was debug this problem to find what is the making problem. the cause of problem is that v8 interpreter use jump-op instead call-op to move to another function. this is break the rule about calling-conversion. uftrace will not operate normally due to a jump call that does not follow the calling convention

[2019-06-19 08:19] ParkHanbum commented on #812
this is not a bug report, uftrace worked fine.
I wonder that uftrace want to support these cases.

[2019-06-19 15:01] namhyung commented on #812
I think the tail-call optimization converts a call to a jump.  And uftrace is fine with it.

[2019-06-20 02:26] ParkHanbum commented on #812
@namhyung what

what does 'fine' mean?

[2019-06-20 04:10] sh1r1sh opened #813 "Recording unique call pairs"
Hi Namhyung,
I wanted to know if it will be possible to add an enhancement that:
1. Captures only the unique call pairs (caller-callee). i.e. no new entries will be recorded after the first time.
2. Has the ability to support a reset/clear so that the unique call pairs will be saved after the reset/clear.

I have a daemon program and I would like to derive the runtime call chain at different point

[2019-06-20 06:32] ParkHanbum commented on #810
these are disassembly codes of Two zero-sized functions.

[code]

[code]

[code]

[2019-06-20 07:18] honggyukim commented on #810
Hmm.. that looks strange.

[2019-06-20 07:22] honggyukim opened #814 "dynamic tracing with existing `-pg -mfentry -mnop-mcount`"
I'm just wondering if it's possible to apply dynamic patching only for the target `NOP`s, which are generated by `-pg -mfentry -mnop-mcount`.

After having full-dynamic tracing, it gets a bit complicated to use `-pg -mfentry -mnop-mcount` options. Even if the target binary has a bug when it comes to full-dynamic tracing, it should work fine with `-pg -mfentry -mnop-mcount`. However, it seems that

[2019-06-20 09:03] namhyung commented on #814
I don't understand.  What's your problem?

[2019-06-20 09:15] honggyukim commented on #814
If the target binary cannot be recorded with full-dynamic tracing due to some mishandled cases, we can never trace it even if it's already compiled with `-pg -mfentry -mnop-mcount`.

It's because it can also try to patch some unsafe function if it's not covered by `-pg -mfentry -mnop-mcount`. I'm not sure yet if we already handled all the edge cases including the case in cross-function jump instru

[2019-06-20 10:28] bkircher commented on #322
0.9.2 release builds fine on Fedora 31 and tests run through

[2019-06-20 10:28] #322 closed

[2019-06-20 10:28] namhyung commented on #814
I don't understand.  What's your problem?

[2019-06-20 11:11] honggyukim commented on #814
For example, I think chrome that is compiled with `-pg -mfentry -mnop-mcount` cannot be traced even with previously existing dynamic tracing feature. It will try to use full-dynamic tracing for some unsafe functions and will get crashed if we cannot fully handle all the cases for full dynamic tracing.

[2019-06-20 11:17] honggyukim commented on #814
I think the current implementation decides whether to patch `__dentry__` or `__fentry__` depending on the function. But if some functions don't have `__fentry__` somehow, it may try to patch `__dentry__` to some unsafe function and can make the target program crashed.

[2019-06-20 11:25] honggyukim commented on #322
@bkircher Thanks for testing it. We plan to make another release `v0.9.3` as well. Thanks.

[2019-06-20 11:40] honggyukim commented on #807
The target -pg compiled binary is ARM 32-bit, but its kernel is 64-bit.

[2019-06-20 23:42] honggyukim opened #816 "Support programs that have their own lightweight threads"
It's tricky to handle some programs that have their own lightweight threads. It can be found especially in Go programs and it runs many internal go routines which are scheduled by their internal scheduler.

Another example is HPX programs that support an environment for HPC(high performance computing). It also gets crashed as reported in the following HPX mailing list.
- https://www.mail-archive.c

[2019-06-20 23:55] honggyukim commented on #816
HPX stack switching is implemented in
- [hpx/src/runtime/threads/coroutines/swapcontext.s](https://github.com/STEllAR-GROUP/hpx/blob/master/src/runtime/threads/coroutines/swapcontext.s)
- [hpx/src/runtime/threads/coroutines/swapcontext64.s](https://github.com/STEllAR-GROUP/hpx/blob/master/src/runtime/threads/coroutines/swapcontext64.s)

[2019-06-21 00:12] honggyukim commented on #816
It seems that we need another sub-level task structure for each thread and we have to expand the current `tid` level info more in details.

[2019-06-21 05:48] ParkHanbum opened #817 "improve support for patching external modules."
I want add some task to TODO list.

[code]

for now, this PR could not support alias name like libc.so.6.
only support actually library name that has displayed in proc /< pid >/ maps.
and this PR could not support dynamic loaded module also.

so, I want append to TODO list two tasks.
1. support alias name of library. ( if possible )
2. support dynamic loaded module.

and as honggyu say, need to ma

[2019-06-21 05:52] ParkHanbum commented on #812
anyway, it works after turn-off AUTO_RECOVER

[code]

results:
[code]

[2019-06-21 07:23] honggyukim commented on #813
Hi @sh1r1sh, thanks for using uftrace.

uftrace doesn't have builtin support for that, but I think you can write a python script to make the unique call pair. uftrace can provide a hook for each function entry and exit and you can write `uftrace_entry` and `uftrace_exit` python function, then do what you want inside them.

Please read the python scripting section in the following tutorial slide.
-

[2019-06-21 08:11] ParkHanbum opened #818 "stack alignment is required not only for entry but also for exit"
when user trace the stripped binary, uftrace display address of function instead the name. because there is no symbol information, this is very natural process.

but this is the cause of the problem if user use script option.
see the belows, this is backtrace of uftrace when crashed:
[code]

# problem occurred at here:
[code]
as you can see, stack did not aligned.

# reason
this control-flow only

[2019-06-21 08:14] ParkHanbum commented on #812
@namhyung I wonder why AUTO_RECOVER is needed.

[2019-06-21 09:16] honggyukim commented on #812
@ParkHanbum Please read #418. The problem was found when tracing node.js engine.

[2019-06-21 09:55] honggyukim commented on #812
If you disable auto-recover, then node will get crashed when it tries to perform garbage collection.

[2019-06-21 20:52] kfir-drivenets opened #819 "Add thread names to the reports"
If an application sets a custom name for its threads using `pthread_setname_np` (http://man7.org/linux/man-pages/man3/pthread_setname_np.3.html) that name should be available in the report.

When viewing reports from processes with a lot of threads this can really help.

For example, lets assume that I recorded a run using `uftrace record [[my_app]]`.
Now when running `uftrace info` I will get som

[2019-06-21 21:37] kfir-drivenets opened #820 "Arguments with non printable characters mess up chrome reports"
Lets take the following example
[code]

Now we'll compile, dump as json and test the file
[code]

The resulting json file contains invalid character as part of the argument reported in the strnlen call. This in turn makes the json file invalid for using in chrome.

[2019-06-22 01:19] honggyukim commented on #819
Hi @kfir-drivenets, thanks for your feedback.
We've already done it and you can have thread name if you update uftrace to master.

Here is an example record for a shell program `d8` of V8 JavaScript engine.
[code]
As you can see, it shows each thread name in `task list` field.

You can also see the thread name in `replay` output using `-f +task` as follows:
[code]
We've been updating the project a

[2019-06-22 01:21] honggyukim commented on #820
I believe it's fixed in the current master as well. I've handled this in #736.
Please let me know if you have any other problem. Thanks for your feedback!

[2019-06-22 01:32] honggyukim commented on #817
@ParkHanbum Please go ahead. I think we need it. Thanks!

[2019-06-22 01:42] ParkHanbum commented on #812
@honggyukim I see, I'll find the way.

[2019-06-22 01:53] ParkHanbum commented on #784
@namhyung I have a question. for now, ftrace can display function trace call in real time of use script option with replay.py. so, I think this issue can be done if I add logic to load the symbols. How about loading symbols at startup?

[2019-06-22 04:46] namhyung commented on #813
@sh1r1sh Hello,thanks for the suggestion.  Is it to reduce the size of tracing data or just to make analysis easier?

[2019-06-22 04:50] namhyung commented on #819
@kfir-drivenets yep, it's already done in the master and you need to check perf event is availble on your system - `/proc/sys/kernel/perf_event_paranoid` not being 3.

[2019-06-22 04:52] namhyung commented on #820
Did you run `cat main.json` instead of `main` (binary)?

[2019-06-22 04:55] namhyung commented on #816
Yep, it's a known problem and I need to think about it more.

[2019-06-22 04:56] namhyung commented on #818
Thanks for the report and the analysis.  Could you also work on the fix?

[2019-06-22 05:03] namhyung commented on #814
Currently it checks the first 5 functions to have known patterns (for `-pg -mfentry -mnop-mcount`) and treat the whole module in a same way.  IOW, it marks the result in the `adi->type` and use it for all functions.

[2019-06-22 05:08] namhyung commented on #817
As I said before you can compare SONAME of the library too (if filename comparison is failed).

[code]

[2019-06-22 05:15] namhyung commented on #812
AFAIK uftrace can handle tail-calls without problem.  But it's strange that it's used for other cases..

[2019-06-22 05:17] namhyung commented on #784
You can do that in the script.  Also what I thought was to do it in the native code not using a script..

[2019-06-22 05:32] #805 closed

[2019-06-22 05:46] namhyung commented on #760
For item 2, where do you want to change?

[2019-06-22 06:30] ParkHanbum commented on #818
@namhyung If there were not need to call the symbol_getname function, it can be solved without additional instruction. I will try this way first...

[2019-06-22 06:33] ParkHanbum commented on #817
@namhyung thanks, I understand what you say, now.

[2019-06-22 07:24] kfir-drivenets commented on #820
@namhyung, it's a copy paste issue when I opened the ticket. It was on the json file :)

[2019-06-22 08:17] kfir-drivenets commented on #820
I just ran the same test with the latest master (git clone & build & run again) the resulting json file was valid. So it looks like the issue was really solved :)

[2019-06-22 08:17] #820 closed

[2019-06-22 08:32] kfir-drivenets commented on #819
Just checked on the master branch build and it looks like the thread names are reported properly there :+1:.

Is it possible to add the thread name to the chrome report as well?

[2019-06-22 08:37] kfir-drivenets opened #821 "Add "strict validation" for mcount calls"
I recently tested uftrace on an application that I use. That application is composed of multiple different archives (`.a` files) that are linked together. While preparing the project to run with `uftrace` I added the `-pg` flag to our Makefiles. After playing around with some reports I noticed that some function calls are missing, even though I didn't use any filters.
Turns out that I forgot to ad

[2019-06-22 09:34] honggyukim commented on #819
Yes, you will see the thread name in chrome output as well.

[2019-06-22 09:45] namhyung commented on #818
But still there might be a problem during execution of script.  So I think it's safer to align stack pointer.

[2019-06-22 13:11] sh1r1sh commented on #813
Yes, it is to reduce the size of the tracing data as we have a long running daemon process and for my use, the unique caller-callee pair is sufficient. I will experiment a few options and see what works.

[2019-06-23 00:39] #658 closed

[2019-06-23 00:41] #739 closed

[2019-06-23 00:45] namhyung commented on #760
For item 1, what about this?

[code]

[2019-06-23 01:50] honggyukim commented on #760
I found it only in wiki pages so I modified it before.

It looks very good, but only minor fixes.

-> "The uftrace can selectively convert it back to call `mcount()` using `-P` option."

"a error" -> "an error"

Thanks for the update.

[2019-06-23 02:09] honggyukim commented on #814
Okay. I see. Thanks for the explanation.

[2019-06-23 02:09] #814 closed

[2019-06-23 02:13] honggyukim commented on #796
I'm not sure if this message is really necessary. If the filesystem is read-only, the compiled binaries, `uftrace`, `libmcount*.so`, can be sent to someone else and set their own environment to use. We don't have to fix the location for its execution.

[2019-06-23 02:25] honggyukim commented on #739
@namhyung What about applying this as well? Is there any benefit of not recording `linux:task-name`?

[2019-06-23 03:09] namhyung commented on #821
Thanks for the suggestion!  It could be helpful to identify such issues.

FYI latest version added (still experimental, x86_64 only) dynamic tracing support which is able to trace functions don't have `mcount` calls.  I think it also can be used to verify functions for dynamic tracing.

[2019-06-23 03:10] namhyung commented on #760
Thanks for your feedback.

[2019-06-23 03:17] namhyung commented on #796
@Taeung are you ok with removing the message?

[2019-06-23 03:22] namhyung commented on #739
Well, it doesn't honor the meaning of **NO** events and maybe sometimes users want to remove overhead of perf events at all.

[2019-06-26 12:08] honggyukim commented on #762
It's fixed by #806. Thanks @ParkHanbum for fixing this.

[2019-06-26 12:08] #762 closed

[2019-06-26 12:10] honggyukim commented on #521
It works fine if `s-exception3.cpp` is compiled with `-m32`.

[2019-06-27 11:21] honggyukim commented on #521
I need to test this for ARM/AArch64 as well.

[2019-06-30 22:55] #746 closed

[2019-06-30 22:58] namhyung commented on #760
Please see [check/doc-update](https://github.com/namhyung/uftrace/compare/check/doc-update).

[2019-07-01 00:16] honggyukim opened #822 "full dynamic error when used with size filter"
The node program can be normally trace as follows:
[code]
However, it gets some error when it's used with size filter as follows:
[code]

[2019-07-01 00:18] honggyukim commented on #760
Thanks! Everything looks good, but I think we better add `-Z` as well as `--size-filter` in `NEW` file because `-Z` would be used more often than `--size-filter`.

[2019-07-01 00:20] honggyukim commented on #822
It used to be working fine before [review/dynamic-cross-v2](https://github.com/namhyung/uftrace/compare/review/dynamic-cross-v2) is merged.
[code]

[2019-07-01 00:23] honggyukim commented on #822
The logfile shows that it has some `bad jump` messages as follows:
[code]

[2019-07-01 00:26] honggyukim commented on #811
It now shows some different error message after [review/dynamic-cross-v2](https://github.com/namhyung/uftrace/compare/review/dynamic-cross-v2) is merged.
[code]

[2019-07-01 00:27] honggyukim commented on #811
The errored address is always same if `--no-randomize-addr` is given.
[code]

[2019-07-01 13:37] honggyukim commented on #822
I just bisected and found that 74e8c973c930b4e68674df63179a6eecd8f13ff5 introduced the problem.

[2019-07-02 07:22] honggyukim commented on #803
Here is another possible errors.
[code]

[2019-07-02 07:33] namhyung commented on #822
OK, the bad target function might not patched so it could not find it.  What about this?

[code]

[2019-07-02 07:37] namhyung commented on #811
Could you please show me the disassembly of the problematic function?

[2019-07-02 10:41] honggyukim commented on #822
It works fine with your fix. Thanks!

[2019-07-02 10:56] honggyukim commented on #811
[code]
It seems that the function itself is related to `dlopen`.
[code]
[code]
Its rust code is written as follows:
[code]
https://github.com/rust-lang/rust/blob/1.34.1/src/librustc_metadata/dynamic_lib.rs#L20-L33

[2019-07-02 11:01] honggyukim commented on #811
It seems that there are some problems while uftrace wraps `dlopen` of rust.

[2019-07-02 13:21] #822 closed

[2019-07-02 13:29] namhyung commented on #813
Sorry for the late reply.  I think it's a good idea to reduce repeated data from record but it somehow needs to keep the information.  And I don't want to make the fast path slow because of this, will think about it more later.

[2019-07-02 13:30] namhyung commented on #810
Then we should know the "real" size of the function.

[2019-07-04 13:20] honggyukim opened #823 "Some problems of libdw in ARM environment"
It seems there is another problem using `libdw` in ARM environment as follows:
[code]
It looks strange that the assertion is failed in `libdw` internally. It uses `elfutils-0.148` as follows:
[code]
It uses the current master version.
[code]

[2019-07-04 13:22] honggyukim commented on #823
It works fine if `--auto-args` is not used.
[code]
The recorded data looks good.

[2019-07-04 13:41] honggyukim opened #824 "ARM segfault in qml-runner"
It gets segfault when running `qml-runner` in ARM 32-bit environment.
[code]
The replay output is as follows:
[code]
As above, `dlsym` and `_Uarm_step` might be some problematic points. It might also be related to auto recover issue as well.

[2019-07-05 11:19] honggyukim commented on #824
Here is gdb output.
[code]

[2019-07-05 11:29] honggyukim commented on #824
Here is verbose log near the segfault point.
[code]

[2019-07-05 13:02] honggyukim commented on #824
As I described above, it always gets crashed at the same place.
[code]
Hmm.. This problem looks like related to recover problem same as #722.

[2019-07-05 13:09] honggyukim commented on #824
It seems that we cannot avoid this kind of problem even with `-finstrument-functions` because plthook always hijacks the return address regardless of the compilation flag.

We need another way to implement auto-recover in ARM as well.

[2019-07-06 06:09] honggyukim commented on #796
@Taeung Could you please take a look?

[2019-07-07 01:20] honggyukim opened #825 "Remaining test fails in x86_64"
There are some failed tests as follows:
[code]

[2019-07-07 01:24] honggyukim commented on #825
`062 arg_char` fails as follows:
[code]
[code]

[2019-07-07 01:27] honggyukim commented on #825
`182 ` is failed as follows:
[code]

[2019-07-07 03:00] honggyukim opened #826 "pthread_exit gets segfault"
Here is a test program `pthread_exit.c`.
[code]
It can be compiled and executed normally as follows:
[code]
Please note that the value of `retval` is changed from initial `0x111` to something else.

However, it gets segfault when tracing with uftrace. It shows that the initial value of `retval` is changed from `0x111` to `NULL`.
[code]
Here is gdb output.
[code]

[2019-07-07 03:02] honggyukim commented on #826
This problem is related to `182 thread_exit` as mentioned in #825 as well.
[code]

[2019-07-07 03:14] honggyukim commented on #826
It seems that the problem is only shown when the target program is compiled with `-pg`.
[code]
It works fine if it's compiled with `-finstrument-functions`.
[code]

[2019-07-07 03:15] honggyukim commented on #826
It's another recover handling problem as well.

[2019-07-07 03:30] honggyukim commented on #826
It can make various segfault problems so I added `critical` tag for this.

[2019-07-07 08:54] honggyukim commented on #746
I tested chrome with the current master again and it also gets segfault. Here is gdb test output.
[code]
We can see some code by moving to the upper frame.
[code]
[code]
If we go one more up frame.
[code]
[code]
We can see chromium code in one more upper frame.
[code]
I'm not sure if this `StackTrace::StackTrace` code is entered because of misbehaviors in `__dentry__`.
[code]

[2019-07-07 09:54] honggyukim opened #827 "another problem of fully dynamic tracing for chrome"
I tested chrome with the current master again and it also gets segfault. Here is gdb test output.
[code]
We can see some code by moving to the upper frame.
[code]
[code]
If we go one more up frame.
[code]
[code]
We can see chromium code in one more upper frame.
[code]
I'm not sure if this `StackTrace::StackTrace` code is entered because of misbehaviors in `__dentry__`.
[code]

[2019-07-08 13:23] namhyung commented on #825
Thanks for the summary and investigation, I'll take a look later..

[2019-07-09 02:30] honggyukim opened #829 "Some weird start log messages on AArch64"
It seems that we have a few more problems on various arch environments. I got the following starting log messages while running on AArch64 and `prog` is compiled with `-pg -fno-omit-frame-pointer`.

The problems are as follows:
1. `prog` is failed in `check_binary` even though it's compiled with `-pg`.
2. perf event check is failed with `Function not implemented` message.

[code]

[2019-07-09 02:58] honggyukim commented on #825
Thanks. Let's make a new release when you have some time.

[2019-07-10 02:06] lufovic77 opened #830 "uftrace for tracking MySQL/InnoDB function calling"
Hi I want to track the procedure of function calling in InnoDB engine, but got some problems.
Functions I want to see are the functions in MySQL such as btr_lock (b-tree locking), not the system calls or library calls needed to run MySQL. (Internal functions are needed)

My work procedures are as follow
1. run mysql (not using uftrace here)
`./mysqld --defaults-file=../../config/my.cnf --skip-gran

[2019-07-10 02:29] honggyukim commented on #830
Hi @lufovic77,

Here are some check lists.

1. Does `mysqld` binary is compiled with `-pg` option? Otherwise, it will only show library calls. You can check it as follows:
[code]

2. If it's difficult to recompile `mysqld` with `-pg`, then please try to record it with `-P .` option for [full-dynamic-tracing](https://uftrace.github.io/slide/#full-dynamic-tracing). It must has `dynamic` feature in v

[2019-07-10 05:54] lufovic77 commented on #830
First, thank you for your help.

1. I compiled mysql (version 5.7.24) with the flag ' -DCMAKE_CXX_FLAGS=-pg '. And the result of the command is as follows, so I think there's no issue with the compiling.
![image](https://user-images.githubusercontent.com/20508932/60943306-82c8f600-a320-11e9-87c7-42f9a1dea9f9.png)

2. I used
`uftrace record --no-libcall -P -D10 ./mysql -u root`
command as you recom

[2019-07-10 06:14] honggyukim commented on #830
Thank you for sharing the data. But I'm not really sure if InnoDB is really compile with `-pg`. In some cases, `-pg` option might partially be applied and some functions can be missed.

Could you please make sure if MySQL and InnoDB are compiled into a single executable binary?

FYI, if the target is correctly compiled with `-pg` option, then you don't have to additionally give `-P .` option.

[2019-07-10 07:41] lufovic77 commented on #830
Solved issue!
1. I have to run the uftrace when turning on the mysql server, before accessing to the mysql.
2. I only gave CXXFLAGS but also have to give CFLAGS as cmake option.

Here's my procedure, but it might quite be different cause I run all the commands with root (sudo su).
1. download the mysql server source code and extract + solve dependencies.
2. CMAKE
[code]
3. make
[code]
4. Enter to

[2019-07-10 08:04] honggyukim commented on #830
I'm glad to hear that!
If you're okay, I would like to add your reproducible steps as a use case document in our wiki page.

As you can see in [node](https://github.com/namhyung/uftrace/wiki/uftrace-for-node) and [gcc](https://github.com/namhyung/uftrace/wiki/uftrace-for-gcc-compiler), the document mostly contains a sequence of execution commands with just a few sentences so you don't have to spen

[2019-07-10 08:18] honggyukim commented on #830
There is one more thing to tell you. If you compile it with `-pg -g`, then you can record all the arguments and return types simply with `-a`/`--auto-args` option. Please try it as well.

[2019-07-10 14:42] namhyung commented on #825
Sure, I'll do it soon.

[2019-07-10 21:59] honggyukim opened #831 "logfile enhancement"
I would like to create the logfile inside `uftrace.data` directory by default so that external users can send it us simply a single directory. And the name doesn't have to be different all the time.

The current implementation requires explicitly remove the previous logfile because it's open mode is `append`, but we don't have to remove it anymore if it's create inside `uftrace.data`.
The previous

[2019-07-11 01:46] lufovic77 commented on #830
It's my pleasure if I can contribute!
Which step should I state more detail?

Plus, I'll recompile with the additional -g flag and check the parameters.
Thank you!

[2019-07-11 02:09] honggyukim commented on #830
Thanks a lot.

Can you create a new page named `uftrace for MySQL/InnoDB` in wiki page?
The contents can be similar to [gcc](https://github.com/namhyung/uftrace/wiki/uftrace-for-gcc-compiler).

The vague parts are as follows:

- download where?
- you better to show extract command
- how to solve dependencies?

Looks good.

You can write a sequence of commands.

And other parts looks okay as of now

[2019-07-11 02:16] honggyukim commented on #830
The following description also shows how to write reproducible commands.
- https://github.com/namhyung/uftrace/issues/802#issuecomment-500848170

[2019-07-11 05:42] honggyukim commented on #830
@lufovic77 Please do not think you have to write a perfect doc at once. We can improve it incrementally. You can just write a draft version first.

[2019-07-11 05:58] lufovic77 commented on #830
Alright, I feel such burdened cause it's my first time to contribute, but I'll just write it down first.

[2019-07-11 06:07] honggyukim commented on #830
I think the steps you wrote above is enough for the first initial draft version. So you can first copy and paste it to the new wiki page. :)

[2019-07-11 06:22] lufovic77 commented on #830
I added some steps and uploaded to wiki page now. Can you follow the steps and tell me what to improve?
Thank you!

[2019-07-11 06:37] honggyukim commented on #830
Looks very good. Thanks a lot!

I have a few comments on it.

1. cmake option has to specify clear directory names.
[code]
Can you please write some directory rather than the followings?
- `/your/workspace/`
- `/your/data/directory/`
- `/your/configuration/directory/`
I'm kind of stuck on the above how to specify those directories.

In addition, `/where/boost/is/downloaded/` can be changed to `$(p

[2019-07-11 07:05] lufovic77 commented on #830
1. cmake directory
In my case, I made /home/kyungmin/MySQL_uftrace. Structure is as follows.
![image](https://user-images.githubusercontent.com/20508932/61028338-6c3f9f00-a3f3-11e9-9117-cb431a007f63.png)
- /your/workspace/ -> /home/kyungmin/MySQL_uftrace/workspace
- /your/data/directory/ -> /home/kyungmin/MySQL_uftrace/data
- /your/configuration/directory/ -> /home/kyungmin/MySQL_uftrace/config

S

[2019-07-11 07:42] honggyukim commented on #830
Thanks for the update. But it seems that `my.cnf` looks too complicated. Where is the original `.cnf` file? I think it'd be better to copy the original file, then provide `diff` change if needed.

[2019-07-11 14:17] honggyukim commented on #796
@Taeung Gentle ping~

[2019-07-11 16:31] Taeung commented on #796
Really sorry, I missed the notification... I think you are right. I also think it is better to remove the message
because there can be cases like cross compilation environment.

[2019-07-12 01:24] honggyukim commented on #796
I made a request to change this in #832. Thanks!

[2019-07-12 01:49] lufovic77 commented on #830
Sorry for the late reply. I'm having trouble with database crash when repeatedly turning on and off MySQL with uftrace.

I'm not sure where the default my.cnf is because it has been so long using the original one :(
However, once installing MySQL, you might find the default my.cnf file in the
`/etc/my.cnf`
or example files in
`/mysql/workspace/support-files/` (where mysql is installed)

If there's

[2019-07-13 05:46] honggyukim commented on #826
It works fine in AArch64 as follows:
[code]

[2019-07-13 12:59] #796 closed

[2019-07-13 14:38] honggyukim commented on #830
@lufovic77 Sorry for late answer. I have a few more problems applying `my.cnf`. I will tell you if I can find a way to reproduce it.

[2019-07-13 14:45] #760 closed

[2019-07-14 11:29] honggyukim opened #834 "Invalid child_idx number with --nest-libcall in AArch64"
I've seen the following problem when recording with `--nest-libcall`.
[code]
As shown above, I checked `libstdc++.so.6` binary with readelf.
[code]
It seems that I didn't find `TLSDESC_PLT` and `TLSDESC_GOT` in other binaries.
It's PLT section looks similar to others though.
[code]

[2019-07-14 11:32] honggyukim commented on #834
The `node` binary doesn't have something special.
[code]

[2019-07-14 11:40] honggyukim commented on #834
Here is segment info of `libstdc++.so.6`.
[code]

[2019-07-14 11:41] honggyukim commented on #834
[code]

[2019-07-14 11:46] honggyukim commented on #834
Here is replay output for crashed node.
[code]
We might have to check if the last record `__cxa_allocate_exception` is related to this problem.

[2019-07-14 11:47] honggyukim commented on #834
It always gets crashed at the same location.
[code]

[2019-07-14 11:50] honggyukim commented on #834
Hmm.. I just recorded once again with arguments and found that `malloc` failed allocation and returned `0`.
[code]

[2019-07-14 11:52] honggyukim commented on #834
Hmm.. `malloc` was failed because it made a request to allocate more than 3GB.
[code]
[code]

[2019-07-14 11:56] honggyukim commented on #834
I started to make a big size of allocation since a while ago.
[code]

[2019-07-14 11:57] honggyukim commented on #834
Other apps get crashed with the same error message in the same system.

[2019-07-14 12:09] honggyukim commented on #834
Here is the recorded data. -
[uftrace.data.aarch64.node.tar.gz](https://github.com/namhyung/uftrace/files/3389833/uftrace.data.aarch64.node.tar.gz)

The recorded node can be downloaded with the following command.
[code]
The compiler version is as follows:
[code]

[2019-07-15 01:46] lufovic77 commented on #830
I will also try with my EC2 server after creating the new instance.
Btw, can you tell me what's wrong with the progress? Like error messages.
Thank you!

[2019-07-15 12:53] honggyukim commented on #834
Here is the recorded data. - [uftrace.data.aarch64.node.tar.gz](https://github.com/namhyung/uftrace/files/3392358/uftrace.data.aarch64.node.tar.gz)

The recorded node can be downloaded with the following command.
[code]
The compiler version is as follows:
[code]

[2019-07-15 12:55] honggyukim commented on #830
Hmm.. I just simply don't know which `.cnf` file has to be used.

[2019-07-16 04:45] lufovic77 commented on #830
I understand that because when I first build MySQL with the source code, it took 3 days to build completely understanding the situations and solving so many issues.
The one I got help from is the blog https://bluexmas.tistory.com/631 .

However, I think there's no matter even if you copy and paste my.cnf I've uploaded and just change the directory name.
I'm so sorry I can't give you the help :(
Pl

[2019-07-16 05:10] honggyukim commented on #830
Thanks for your kind help. I have something else to do these days so will try it when I have some time. I will get back to this for sure. Thank you very much for your time and effort on this.

[2019-07-16 13:42] namhyung commented on #830
@lufovic77 thanks so much for your effort in doing this!

[2019-07-17 23:01] honggyukim opened #835 "A new compiler option is needed for function entry/exit hooks"
I've seen some but not many segfault problems in ARM and AArch64 due to return address hooking. It could be fixed by `-finstrument-functions`, but we need a better way to handle this since `-finstrument-functions` has the following cons.
- It includes entire inlined functions so slower than `-pg`, which inserts hooking code after inlining.
- It cannot provide argument info due to its instrumentati

[2019-07-17 23:03] honggyukim commented on #835
Maybe the name can be `-pu` that stands for "Enable function profiling for uftrace"

[2019-07-22 09:55] honggyukim commented on #771
Hmm.. It doesn't handle analysis commands. I think we need to have a way to control scheduling event only in this case.

[2019-07-22 11:33] honggyukim opened #836 "analyzing uftrace.data from remote server"
It's related to usability enhancement, but I think it'd be really useful for the first time users if we can provide a way to replay `uftrace.data` from remote server.

If possible, we don't have to ask users to download the data, but just let them to run `uftrace replay` command right away.

It's not an urgent work item, but can be very useful.

[2019-07-22 11:34] honggyukim commented on #836
The usage can be as follows:
[code]

[2019-07-22 13:57] honggyukim commented on #807
[code]

[2019-07-22 14:21] honggyukim commented on #807
[code]

[2019-07-22 14:31] honggyukim commented on #807
[code]

[2019-07-22 14:42] honggyukim commented on #807
I found that it gets crashed at the following lines.
[code]

[2019-07-22 14:52] honggyukim commented on #807
The value of `sym->addr` is `0x8ff` so gets crashed.

[2019-07-22 14:54] honggyukim commented on #807
[code]

[2019-07-22 14:57] honggyukim commented on #807
[code]

[2019-07-22 15:06] honggyukim commented on #807
It seems that the commit d8eb70b482461060f7d33784b96265f744bd1d24 introduced the problem.
[code]

[2019-07-22 15:07] honggyukim commented on #807
The following change make it run more.
[code]

[2019-07-22 15:16] honggyukim commented on #807
It works fine after checking out to c71457b5707fed1ad01728757c4c7a73258115e5. It's related to symbol management changes.
@namhyung Could you please take a look at this if you have some time?

[2019-07-22 15:31] honggyukim commented on #807
It goes a bit more if I apply the following change based on master.
[code]
[code]

[2019-07-22 16:43] honggyukim commented on #807
I should test the following change as well.
[code]
I know it's not a good idea to run `find_map` again, but it's just for simple testing.

[2019-07-22 23:54] namhyung commented on #826
Maybe somehow related to #517. I need to investigate why it sees NULL for the retval.

[2019-07-23 05:05] namhyung commented on #807
I am afraid of thread safety of the cache lookup.  What about just not using it?

[2019-07-26 07:50] honggyukim commented on #824
I tested it again.
[code]
[code]
Here is gdb test result.
[code]

[2019-07-27 04:13] honggyukim commented on #807
Sorry for late answer. I missed the alarm by your comment.
But hmm.. could you be more specific?

[2019-07-28 00:39] honggyukim opened #837 "missing argument error during replay"
Please take a look at the following execution sequence.
[code]
It shows that it cannot find argument info. Here is the data recorded.
- [uftrace.data.git.missing.args.tar.gz](https://github.com/namhyung/uftrace/files/3438739/uftrace.data.git.missing.args.tar.gz)

I would also like to have a way to skip argument info as I suggested in #595.

[2019-07-28 01:03] honggyukim commented on #837
Here is the `git` executable binary - [git.txt](https://github.com/namhyung/uftrace/files/3438749/git.txt)

[2019-07-28 08:44] namhyung commented on #807
The `lookup_cache()` assumed single-threaded, it does't grab a lock or something.  I didn't want to add a locking overhead since it's the fast path.

[2019-07-28 08:47] namhyung commented on #837
I think it doesn't matter we print args or not since it's about the parsing.  The argument and return value have variable-length so it needs argspec/retspec to parse the size correctly.  I'll take a look at the problem..

[2019-07-28 09:00] namhyung commented on #837
It seems record has no problem and it's the `main` function with correct arguments (loaded at 0x400000).
[code]

But I found a suspicious lines in the task file as it calls system git image from your built one.  As we use basename for symbol and debug info, it might be confused which binary was used and might access with different address..

[code]

[2019-07-29 03:20] honggyukim commented on #807
Thanks. I just made a PR in #838 and it works fine on my ARM target board.

[2019-07-29 05:37] honggyukim commented on #837
I see. I also see that it's executed with the system `git` binary. It seems that it's not a problem of uftrace. If you also think so, I will close this issue then. Thanks for the clarification.

[2019-07-30 15:07] #807 closed

[2019-07-30 15:14] namhyung commented on #837
Ideally it could detect such mismatch and do something.  But let's leave it as a future work and close this for now.

[2019-07-30 15:20] honggyukim commented on #837
Okay. I will close it. Thanks!

[2019-07-30 15:20] #837 closed

[2019-07-30 15:37] namhyung opened #839 "dynamic unpatching to reduce overhead"
I don't know how to call it - maybe dynamic unpatching or reverse dynamic.  Anyway it's about to disable tracing for already instrumented functions by compiler.  For example we can use dynamic tracing for a non-instrumented binary to trace selected functions only.  But it could not apply the same technique if functions already have mcount/fentry calls.  This change will do it by overwriting calls

[2019-07-30 15:37] DanielTimLee opened #840 "Function Argument: Support for fetching value of pointer argument"
[code]

at here, as we can see we can only figure out the pointer value of the function argument.

It would be really helpful if 'Function Argument' supports fetching the value which is pointed by the pointer.

[2019-07-30 15:53] DanielTimLee opened #841 "Function Argument: fetching all argument with one position specifier (args)"
Currently with `function argument`, to fetch arguments, all of the argument must specified with each position specifier.

[code]

If all of the argument can be fetched with only one position specifier, something like `args`, it will be really convenient.

For example, like this.

[code]

or something like `-A Func@arg*` would be great too.

[2019-07-31 00:06] honggyukim commented on #840
I also think that this is needed in some cases, but it also has a risk to crash the target program if the pointer value doesn't point to properly allocated memory location. It may be used as follows:
[code]

[2019-07-31 06:55] honggyukim opened #842 "missing arguments with DWARF from dlopen-ed library"
It doesn't properly record arguments using DWARF info when the library is opened by `dlopen`.  Please see the example inside `tests` directory as follows:
[code]
After building the binaries as above, it can be traced as follows:
[code]
But it doesn't record arguments and return values for `lib_a`, `lib_b`, and `lib_c`.

[2019-07-31 14:10] namhyung commented on #841
You can use `-A func` if you have dwarf info.

[2019-08-01 11:19] namhyung commented on #840
Usually pointers are for complex data structure like struct or union.  So we should support such aggregate types then.

[2019-08-01 11:48] honggyukim commented on #839
Thanks a lot for doing this! I've tested this as follows:

**1. `-pg -mfentry`**
It works fine as expected.
[code]
**2. `-pg -mrecord-mcount`**
However, it doesn't properly work as expected.
[code]
Unfortunately, it cannot be used for ARM/AArch64 due to the lacking compiler support.
[code]
[code]

[2019-08-01 11:54] honggyukim commented on #839
I'm just wondering if it's not possible to unpatch `mcount` calls without `-mrecord-mcount`. I'm not sure if it's possible but we could try pattern patching for `mcount` calls.

[2019-08-01 12:21] honggyukim commented on #839
In addition, I think it'd be useful to have `-U` for unpatching.

[2019-08-01 12:59] namhyung commented on #839
We can unpatch `-pg` built binaries using capstone, will work on it later.  And ARM/AArch64 might be easier to handle since their instruction length is fixed.

[2019-08-01 13:00] namhyung commented on #839
I'm not sure it's good to add an option for that.

[2019-08-01 13:38] honggyukim commented on #839
Understood. Thanks.

It's to skip some specific functions and it can be used for different purposes from `-N` option.

[2019-08-01 15:00] namhyung commented on #839
I'm thinking of just using `-P` option for that too.

Anyway, was your program built with `-pie`?  Please try this for the failed `-mrecord-mcount` case.

[code]

[2019-08-01 15:56] DanielTimLee commented on #841
It's true but in case when it doesn't have dwarf data this feature would be
useful.

Since full dynamic tracing support has been added to uftrace, I use `-P .`
a lot with binary that doesn't have debug info.

In this case, I think fetching all argument with one position specifier
will be useful.

2019년 7월 31일 (수) 23:10, Namhyung Kim <notifications@github.com>님이 작성:

[2019-08-01 16:00] DanielTimLee commented on #842
Is this issue related to #539 ?

[2019-08-01 16:14] DanielTimLee opened #844 "Function Argument: fetching the args which is not belonged to the function"
Function Argument option `-A`, can access the argument which is not belonged to the function.

[code]

As you can see here, function foo only has one argument, but when using `-A` argument with
arg2, arg3, arg4, arg5, arg6, It fetches all of the values which is not owned by the function.

Well, it's just fetching `rdi, rsi, rdx, rcx, r8, r9` (on x86_64) register which is done in 'mcount.S',
But I'

[2019-08-01 23:53] honggyukim commented on #842
@DanielTimLee You're right. It's same issue, but I will keep this as well because it's easier to reproduce the problem.

[2019-08-02 02:26] honggyukim commented on #839
Hmm.. the result is still the same.
[code]
Here is the full configuration of gcc.
[code]

[2019-08-02 02:41] honggyukim commented on #839
Here is the code coverage info. It seems that it couldn't find the address location.
[code]

[2019-08-02 06:16] honggyukim commented on #839
Hmm.. It seems that the problem comes from `sym->addr` is relative address without applying map start address. I just printed the values inside `cmp_loc` for them and it looks as follows:
[code]

[2019-08-03 07:32] namhyung commented on #645
Pushed [review/task-info-v3](https://github.com/namhyung/uftrace/compare/review/task-info-v3)

Changelog:
 * rename to 'Total/self time' rather than 'run/cpu time'
 * rename 'pid' to 'tid'
 * add a test case

[2019-08-03 07:33] namhyung commented on #839
Thanks for the info.  How about this?  (please don't apply the patch above)

[code]

[2019-08-03 08:45] namhyung commented on #841
But then it knows nothing about the functions and arguments.

[2019-08-03 08:49] namhyung commented on #844
Again, uftrace cannot know about the arguments.  Like the C programming language, uftrace honors user's intention and doesn't prevent what users want to do. :)

[2019-08-03 09:48] honggyukim commented on #839
It works fine. Thanks!
[code]

[2019-08-03 13:20] DanielTimLee commented on #841
Seems there are no valid option to implement this feature without debug info.
I'll close the issue.

[2019-08-03 13:20] #841 closed

[2019-08-03 13:27] DanielTimLee commented on #844
I see.

Even with dwarf info, blocking the action of
"fetching the argument which is not belong to the function"
seems pointless.

I'll close the issue right away.

[2019-08-03 13:27] #844 closed

[2019-08-04 01:30] honggyukim commented on #839
Otherwise, I hope that this unpatching is needed not only for dynamic tracing, but also general cases. Especially, I think it's very much needed when applying `-Z` size filter even without dynamic tracing.

[2019-08-04 08:25] DanielTimLee commented on #840
So is it worth to implement it?
Or should we avoid implementing it because of difficulties?

[2019-08-04 08:25] namhyung opened #846 "dynamic tracing support for AArch64"
I implemented the dynamic tracing feature on AArch64.  The basic idea is similar to x86_64 and currently it only disallows the PC-relative addressing.  This can be easily done with or without capstone so I added the both version to the [review/dynamic-aarch64-v1](https://github.com/namhyung/uftrace/compare/review/dynamic-aarch64-v1) branch.

I now can run uftrace itself (not record) with dynamic t

[2019-08-05 01:48] honggyukim commented on #846
Thanks a lot for this work! I also tested it on my raspberry pi board and it works fine for `uftrace` itself. But I gets some segfault when trying to run `cgdb` binary as follows:
[code]
The disassembly of `annotations_parser_at_miscellaneous_prompt` is as follows:
[code]
It seems that we need to handle more patterns. Thanks!

[2019-08-05 01:52] honggyukim commented on #846
In addition, I think it'd be really helpful if we can have a way to export non-stripped binary, then import it when tracing stripped binary. If possible, we can use it more practical way.

[2019-08-05 02:15] honggyukim commented on #846
I tested it again for `cgdb` with `uftrace` without capstone and it seems that the record looks fine. But uftrace doesn't finish and go to sleep status at cleanup phase.

[2019-08-05 14:53] namhyung commented on #846
It seems there's a kind of infinite loop - maybe because return address was not calculated properly.  Anyway I updated the instruction check with capstone so that it can reject the RET instruction (which includes access to the PC).  It's available on the [review/dynamic-aarch64-v2](https://github.com/namhyung/uftrace/compare/review/dynamic-aarch64-v2)

[2019-08-05 16:09] namhyung commented on #846
I tested it with plain gdb but result was similar.  It looks like not a problem with dynamic tracing but somehow related to vfork() IMO.  Anyway below patch make it finish:

[code]

[2019-08-05 21:25] honggyukim commented on #827
I tested it based on the current master, but it also gets crashed.
[code]
Here is replay output for the crashed record.
[code]

[2019-08-05 21:29] honggyukim commented on #827
[code]

[2019-08-05 21:46] honggyukim commented on #827
[code]

[2019-08-05 21:51] honggyukim commented on #827
Hmm.. I think it can be avoided if we have a way to enable `trace_on` at return trigger as follows:
[code]

[2019-08-05 22:00] honggyukim commented on #827
Here are more tests with size-filter.
[code]
But the following command works fine with `-Z 3000`.
[code]

[2019-08-05 22:25] honggyukim commented on #827
I bisected the test based on function size and the result is as follows:
[code]
The test result shows that size-filter 1258 fails, but 1259 works fine. It needs to find which function made the segfault based on the size, but needs some manual calculation.

[2019-08-05 22:27] honggyukim commented on #827
@namhyung Is there any easy way to check the size of each function?

[2019-08-05 22:42] honggyukim commented on #827
I generated debug log for both cases.
[code]
Here is the diff output of both logfiles.
[code]

[2019-08-05 22:43] honggyukim commented on #827
As I suggested, if we have `-U` option to unpatch some specific functions, then we can easily test this kind of case.

[2019-08-05 23:08] honggyukim commented on #827
I tested it again with the following command.
[code]
It finished normally, but it doesn't execute as expected. I wanted to apply patching for functions that are greater than 1259 bytes. In addition, I also wanted to apply patching for the given list of functions, but they are skipped because their size is less than 1259 bytes.

I think that it'd be better to have a way to patch some given function

[2019-08-05 23:23] honggyukim commented on #827
Even if `-N` is used, it also gets crashed.
[code]

[2019-08-05 23:50] namhyung commented on #827
I also saw crashes when dynamic tracing was applied to memory allocation functions like malloc.

[2019-08-06 01:55] namhyung commented on #827
Here's a patch for the `-U` option

[code]

[2019-08-06 02:19] honggyukim commented on #827
Thanks for the patch! I will test it more in details. Btw, I think `-U` can be also used not only for dynamic tracing, but also for general cases. It can be used as follows:
[code]

[2019-08-06 02:28] honggyukim commented on #827
@namhyung As you expected, the problems comes from the memory allocation function.
[code]
After unpatching to the function `_GLOBAL__N_1::do_malloc`, it works fine.
[code]

[2019-08-06 02:33] honggyukim commented on #827
The source code of `do_malloc` is as follows:
[code]
And its disassembled code is as follows:
[code]

[2019-08-06 02:48] honggyukim commented on #827
I've attached the crashed record data after running the following command.
- [uftrace.data.do_malloc.tar.gz](https://github.com/namhyung/uftrace/files/3470131/uftrace.data.do_malloc.tar.gz)

[code]
It doesn't get crashed at the first `do_malloc` calls, the problem might be more complicated.
[code]

[2019-08-06 04:51] honggyukim commented on #846
I tested it again with `cgdb` and it works fine for both capstone and manual dynamic tracing.
They both need to apply the `wait_count` change to make it finish normally. Thanks!

[2019-08-06 04:55] honggyukim commented on #846
It seems that there are not much difference in terms of the number of records between capstone and manually traced records.
[code]

[2019-08-06 05:34] honggyukim commented on #846
I tested it again with non-pg compiled `node` and it also works fine as follows:
[code]

[2019-08-06 05:43] honggyukim commented on #846
It's not directly related to this issue but I cannot trace some aarch64 binary with `--nest-libcall` as described in #834.
[code]
It can be reproduced with the binary `node` and it can be downloaded in [here](https://honggyu.zetacode.com/node).

Please take a look at it if possible. Thanks!

[2019-08-11 06:14] honggyukim opened #848 "dwarf_getsrc_die assertion error"
Here shows the problem while running it on an ARM target board.
[code]
Here is verbose log messages.
[code]

[2019-08-11 07:51] honggyukim commented on #848
I cannot test it right now, but it seems that the following change is needed to fix this.
[code]
@namhyung How do you think?

[2019-08-11 10:18] honggyukim commented on #848
Hmm.. it doesn't look like it's the right fix.

[2019-08-13 01:49] honggyukim commented on #848
`dwarf_getsrc_die` is implemented as follows:
[code]

[2019-08-16 06:58] sgkimsm opened #849 "latest master failed to build (cannot find capstone functions)"
It doesn't build as below and it's same with clang too.
Am I missing some required steps?

[code]

[2019-08-16 14:09] honggyukim commented on #849
Hi @sgkimsm, it seems that it cannot find capstone library. If so, please run the following build sequence.
[code]
In addition, could you please show the log when you run `make V=1` again?

[2019-08-18 11:43] honggyukim opened #850 "export and import a list of plthook functions"
It's sometimes difficult to debug when recording for library functions. To make the debugging simpler, I think it'd be really helpful if there is a way to export the list of plthook functions to be traced.  Then the list can be manually modified and used it for later recording.

By having this kind of way, we can find the problematic library function doing something like bisecting each library fun

[2019-08-18 11:48] honggyukim commented on #850
I would like to debug an error as follows:
[code]
Here is more detail info.
[code]
[code]

[2019-08-19 06:28] namhyung commented on #849
@sgkimsm thanks for the report, but I don't know why it detects capstone.  Do you have the library installed?  Can you show me the output of `pkg-config --libs capstone`?

[2019-08-19 06:35] namhyung commented on #848
Hmm.. the assertion failure seems not related to uftrace (even if it passed an wrong address).  Could you please show me the name and address of the symbol?  Also it'd be nice if you could dump related DWARF info.

[2019-08-19 06:48] sgkimsm commented on #849
I'm not so sure why but everything works as expected today.

I had installed libcapstone3 and libcapstone-dev with apt before building uftrace.
And I turned off my VM last Friday and turn on today. Probably some setting was not completed after installing capstone on Friday.
The build process completes even with new git clone, so I think you can close this and sorry for a false alarm.

[2019-08-19 06:48] #849 closed

[2019-08-19 22:28] namhyung commented on #839
Pushed [review/dynamic-unpatch-v2](https://github.com/namhyung/uftrace/compare/review/dynamic-unpatch-v2)

Changelog:
 * fix `-mrecord-mcount` case
 * add `-U` option to add pattern for unpatch

[2019-08-26 16:03] twaik opened #851 "Android NDK build"
Hi. Can you please make uftrace to be able to be built with Android NDK? NDK has no mcount support, but there is a need to write function execution time trace log. I think there is no need to interpret results on the target device, it can be done on PC using `uftrace replay`. NDK misses posix_spawn implementation until Android 9, so you can get it [here](https://android.googlesource.com/platform/e

[2019-08-27 20:32] namhyung commented on #851
Thanks for using uftrace.  Unfortunately it doesn't support Android for now.  I'm not familiar with the build system and there's some piece of code needs update to be built on non-glibc systems.

And I don't know why you mentioned `posix_spawn` as it's not used in uftrace (but supported if user application is using it).

[2019-08-27 20:41] twaik commented on #851
Oh, I am sorry. Termux build was failing because of missing posix_spawn implementation in this file: https://github.com/namhyung/uftrace/blob/master/tests/s-posix_spawn.c .

[2019-08-27 20:43] twaik commented on #851
Can I ask you to fix uftrace in Termux? I tried to cross-compile uftrace but everything I get is
[code]

[2019-08-28 23:23] namhyung commented on #851
No need to be sorry.  The `posix_spawn` is in the test and it should move on even if it fails to build.  I'm not aware of the Termux so it's unlikely I can work on it in near future.  But can you show me the backtrace of the segfault?  You can simply add `-v` option to uftrace as well.

[2019-08-29 03:43] twaik commented on #851
[code]
Also I need to notice a bit different structure of bionic binary, e.g. Unwind_Resume() function is placed in libgcc_real.a in NDK and compiled statically to the binary.
Patches for uftrace to be built in Termux: https://github.com/termux/termux-packages/tree/master/packages/uftrace
Build instructions: https://github.com/termux/termux-packages/wiki

[2019-08-30 00:57] honggyukim commented on #216
It works great with WSL2 now!

![image](https://user-images.githubusercontent.com/19642328/63985807-4342ad00-cb0c-11e9-89c0-c8a7e8fdcd1d.png)

[2019-08-30 02:02] honggyukim opened #852 "full dynamic patching error in WSL2 Ubuntu 18.04"
I have tried to use full-dynamic tracing in WSL2 Ubuntu 18.04 machine, but failed as follows:
[code]
I think it's not because it's tested under WSL, but because it has some unknown pattern that should be handled.

[2019-08-30 02:03] honggyukim commented on #852
Here is uftrace version info.
[code]

[2019-08-30 02:19] honggyukim commented on #852
Here is code coverage info in `libmcount/dynamic.c`.
[code]
[code]

[2019-08-30 21:44] namhyung commented on #216
Wow, that's great!

[2019-08-31 01:50] honggyukim commented on #216
It seems that we don't need to have a separate Linux machine to develop uftrace.

[2019-09-01 08:48] ParkHanbum commented on #852
you can test it with followed command :
[code]
and it worked well previous version.
[code]

[2019-09-01 12:07] honggyukim opened #853 "segfault when given logfile name is already taken by a directory"
Here is an example recording a simple program.
[code]
The above example works fine and the debug message can be stored with `--logfile` option as follows:
[code]
However, it gets crashed if the given file name is already used by another directory as follows:
[code]
It needs to check if the file is already exists or not.

[2019-09-01 12:10] honggyukim commented on #853
The crash point is in `uftrace.c` file as follows:
[code]

[2019-09-01 12:10] honggyukim commented on #853
This is a simple bug so anyone can fix this if interested.

[2019-09-01 15:56] honggyukim commented on #852
Thanks @ParkHanbum! I've bisected and found that the following commit introduced the problem.
- d777b0bb dynamic: Use relative address with module symtab

It works fine before the above commit was made.

[2019-09-03 00:29] namhyung commented on #852
Thank you both for the report and analysis.

[2019-09-03 04:05] twaik commented on #851
I think you need to skip /dev/* files when you are scanning process maps files.

[2019-09-03 04:06] twaik commented on #851
Is there a way to trace child via gdb? Maybe I can trace it and find out what causes segfault.

[2019-09-03 11:05] twaik commented on #851
I have a gdb log, but I do not understan what I see.
[code]

[2019-09-03 14:31] twaik commented on #851
The error occures in linker_init_post_relocation, but it is not because of dlopen/execve/etc hooks, and not because of wrong mcount name. I can not trace a segfault. Can you please help me?

[2019-09-04 05:55] ParkHanbum opened #854 "need help to develope plugin to support javascript function trace with nodejs(v8)."
I wrote the tricky way to trace javascript function trace for nodejs(v8) when long time ago. it has been quite long time since then but if you interest about this, I want to implement it with programmatic way. (for refresh your memory : refer here https://github.com/namhyung/uftrace/issues/617)

I have think how to implement this with less change of uftrace. in my opinion, it is better to split be

[2019-09-06 02:15] honggyukim commented on #848
Sorry for the late reply. I now have a board that can reproduce the problem.
[code]
Here is the debug message.
[code]

[2019-09-06 02:20] honggyukim commented on #848
The above `pwd` is actually `busybox` so better to test this with a complete binary `uptime.procps`.
[code]
Here is another test result.
[code]

[2019-09-06 07:04] honggyukim commented on #797
If so, can we just try `/sys/kernel/tracing/` again if `/sys/kernel/debug/tracing/` doesn't exist? I know using `mount` is the right way, but it's just to simply handle the problem.

[2019-09-07 06:07] honggyukim opened #857 "Unhandled cmdline pattern by chrome trace viewer"
The problem is that the following json output cannot be read by chrome trace viewer.
[code]
But the following works fine.
[code]

[2019-09-07 06:12] honggyukim commented on #857
It works fine after fixing the json file manually.
[code]

[2019-09-07 06:16] honggyukim commented on #857
It seems that the following `strquote` has to be fixed.
[code]

[2019-09-07 06:19] honggyukim commented on #857
It needs to fix the following code.
[code]

[2019-09-07 18:10] rls1004 opened #858 "segfault when function argument to display exceeds memory range"
I found some problem when using -A option.
Here is the steps to reproduce it.

Code to be traced (simple.c) :
[code]

Display the first argument :
[code]

Display the 99999999999th argument :
[code]

Display the 0th, 0x100000000th argument :
[code]

The result of requesting the 0th argument is the same as the result of requesting the 0x100000000th argument.
0xffffffff, 0xfffffffe, 0xfffffffd, .. d

[2019-09-07 19:47] rls1004 commented on #853
Can i take this issue?

[2019-09-08 00:24] honggyukim commented on #858
Hi @rls1004. Thanks for the testing!

The following test crashes the program because it accesses invalid memory location.
[code]
`/s` means to dereference the address of the argument to read the null-terminated string characters. It can crash the program if the address is invalid. It's the user's responsibility to specify the right argument location.

The second example also has some possibility t

[2019-09-08 00:26] honggyukim commented on #858
The related code location is at `utils/filters.c`.
[code]

[2019-09-08 00:27] honggyukim commented on #858
FYI, `parse_retval_spec` function is implemented to use index `0` to identify if the argspec is return value.

[2019-09-08 00:30] honggyukim commented on #853
Sure, please take it. I would like to provide more info regarding this.

Please refer to the following discussion.
- https://github.com/namhyung/uftrace/pull/707#issuecomment-475830493
- https://github.com/namhyung/uftrace/issues/831

I think we better have some protection code for this.

[2019-09-08 08:08] gy741 commented on #804
Hello @honggyukim

I am investigating this problem.

This is caused by not freed the memory allocated for `info->retspec`

I'll add Commit to my PR.

[code]

This problem will be solved by my PR (#859 )

[code]

[2019-09-08 13:12] rls1004 commented on #853
The problem seems to be caused by writing an error message to logfd when logfd is NULL.
Before calling pr_err(), I want to set logfd to stderr.
Is this okay?

[2019-09-08 14:11] namhyung commented on #848
Hmm.. it seems 0.148 was release 9 years ago?  Any chance we can check it with a more recent version?

[2019-09-08 14:20] namhyung commented on #851
Sorry for the late reply.  I don't know what's the exact reason of the segfault, but `dlsym()` was called during PLT hooking in the initialization phase.  Not sure why it's a problem, maybe need to look at the implementation of linker.

[2019-09-08 14:25] twaik commented on #851
Looks like Ubuntu arm segfaults too. 0.9 works fine, but the latest segfaults.

[2019-09-08 14:45] namhyung commented on #854
Thanks for your work, but I don't understand the way you want to do it.  There might be multiple ways to trace javascript functions from v8, but it seems using external data (extern.dat) is the simplest way.

[2019-09-08 15:34] namhyung commented on #797
Yep, that'd be a simple work-around.

[2019-09-08 15:36] namhyung commented on #851
Do you mean the packaged version or latest master?

[2019-09-08 17:36] twaik commented on #851
Latest master

[2019-09-09 00:02] honggyukim commented on #851
Hi @twaik. Thanks for the work. If `0.9` works fine, then could you please bisect from `0.9` to latest master to find the problematic commit?

[2019-09-09 00:04] honggyukim commented on #854
It seems that he wants to enable v8's flag `--trace` from uftrace in a hacky way without explicitly ask user to turn on the v8 flag.

[2019-09-09 00:36] twaik commented on #851
I am sorry, but I did not test. @xeffyr did.

[2019-09-09 02:33] honggyukim commented on #851
I see. Thanks anyway.

[2019-09-09 04:42] honggyukim commented on #853
I'm okay with it. Thanks!

[2019-09-09 05:21] lntuition opened #860 "Need another expression for special character argument"
I found some bug(?) at displaying function argument with 'c'(character) format.
Maybe another user can be confused with this option.
Test code and result are as follows.

Code

[code]

Result
[code]

With above result, ASCII code number 0('\0') is considered end of string. So it didn't print arg2.
Similarly(i think this is not critical), ASCII code number 8('backspace') remove quote.

I think we n

[2019-09-09 06:07] lntuition commented on #857
Is this real problem about strquote function?
I know single quote string is not standard of json format.

From <http://json.org/>

[2019-09-09 06:19] honggyukim commented on #857
The problem seems to be that a single quote shouldn't be escaped like `print(\'Hello\')`. This makes chrome trace viewer cannot load the `.json` file.

It can simply be changed to `print('Hello')`, then it can be loaded without a problem.

[2019-09-09 06:22] honggyukim commented on #857
As you can see from the following output.
[code]
The `'Hello'` string is escaped by `strquote` function when it's written to `cmdline` info. I mentioned that it should be fixed unless there is another reason to do it.

@namhyung Is there any reason to escape a single quote to write it to `cmdline`?

[2019-09-09 06:32] honggyukim commented on #860
I agree. They should be printed in a better way. Here is a simpler example based on your test.
[code]
The replay output doesn't look good as follows:
[code]
It can be printed in a better way as follows:
[code]

[2019-09-09 06:51] lntuition commented on #857
I check that strquote function is only called cmds/info.c which is related json format.
If there are no reason for escaping single quote to write it to `cmdline`,
then i will(i think it should be) remove logic about escaping single quote.

After remove logic, i think function name is unclear.
Maybe we can change name from strquote to strdbquote or str_doublequote.
Or we can just modify comments.

[2019-09-09 11:24] xeffyr commented on #851
[Latest commit](https://github.com/namhyung/uftrace/commit/66eb586666389e7b2134a4bd224027a0bcd75364) on master seems work fine.

[code]

The segfault was on tag v0.9.3 and happened only when traced program compiled with `-pg` flag:
[code]

I can do a git bisect, but since on latest master this issue is not reproducible I think no point to do it.

[2019-09-09 11:52] namhyung commented on #851
@xeffyr I agree you don't need to bisect if latest master works well.

Could you please run `uftrace record` with `-v` option and show me the disassembly of few functions like `main()`?

[2019-09-09 11:58] namhyung commented on #858
Yes, there's an issue in the argument checking - the current code just assumes valid inputs.  We should check the range of argument index and access permission of memory region.

[2019-09-09 11:59] namhyung commented on #858
@rls1004 please feel free to take it!

[2019-09-09 12:10] #804 closed

[2019-09-09 12:14] rls1004 commented on #858
I thought about checking the accessible memory range, but it seems to cause performance issues and TOCTOU problems.
The arguments of the function are either in registers or stacked on the stack, so I thought about limiting them to the stack frame range (using bp and sp register).
But I'm not sure if that's a good way.

[2019-09-09 12:17] namhyung commented on #854
That's controversial, but I think it's ok.  What I meant was how to integrate the output from it.

[2019-09-09 12:20] ParkHanbum commented on #854
@namhyung external data is simplest way to trace javascript function. but it depend to v8 to log function-calling, therefore we cannot use filtering, triggering, and so on. I think it can be solved by adding target-specific codes. for example, to treating specific range function calling from TraceEnter and JavaScriptFrame::PrintTop as one javascript function will make we can keep uftrace flow.

an

[2019-09-09 12:24] namhyung commented on #831
OK, I agree with you that having the log file in the data directory (with a fixed name) is good.  But the problem is that we need to consider backward compatibility of the option because it used to have an argument for the file name.  Maybe it'd be nice to use the given name in the data directory.

[2019-09-09 12:26] xeffyr commented on #851
`uftrace record -v` on Android:
[code]

Disassembly of `a.out`. Only for `main()` and `func1`:
[code]
Complete at: https://pastebin.com/ViTLxcXJ

[2019-09-09 12:28] #853 closed

[2019-09-09 12:30] namhyung commented on #860
Please do it for the string arguments too.

[2019-09-09 12:43] namhyung commented on #857
I cannot remember, maybe just for generality.  I'm ok with the change.  How about the name `json_quote`?

[2019-09-09 14:35] namhyung commented on #858
That's too arch-specific and not sure it works well since stack arguments will be above the bp register anyway.  While there's a race, current code maintains allowed memory regions and it works well in practice.  But it misses proper permission check for now.  Please take a look at `update_mem_regions()`.

[2019-09-09 14:41] namhyung commented on #854
I don't think I'm following you well, so do you want to make a change in the v8 side?

[2019-09-09 14:51] namhyung commented on #851
Thanks for doing that.  I found that your clang generate incompatible binary pattern than we expect from gcc.  Please see the comments in `arch/arm/mcount.S`.

[2019-09-09 14:58] honggyukim commented on #854
It seems that he wants to find the v8 memory location of --trace option flag, then patch the value from libmcount.

[2019-09-09 15:02] namhyung commented on #851
Could you please test the [completed untested patch](https://github.com/namhyung/uftrace/files/3591171/clang-mcount-hook.patch.txt)?

[code]

[2019-09-09 15:14] namhyung commented on #854
???  You just can add the flag in `do_child_exec()`.

[2019-09-09 15:59] #645 closed

[2019-09-09 16:15] honggyukim commented on #645
I just saw this feature is merged into master. Thanks for your hard work!

But I have a few requests to enhance this.
- I think the output can be shown exactly same as normal `graph` output.
- It doesn't work well with time-filter. I expect the time-filter work to hide based on the task time. It could be `total` or `self` time

[2019-09-10 00:02] honggyukim commented on #831
I'm okay with it. We should also think how to handle the case when `-H` option is used.

[2019-09-10 00:07] honggyukim commented on #804
Thanks for the fix @gy741! I tested it with the same execution commands and they no longer generate leak report as above.

[2019-09-10 01:21] namhyung commented on #645
Please file a new issue for it.

[2019-09-10 05:59] rls1004 commented on #858
OK! i will take this issue.

[2019-09-10 07:29] lntuition commented on #857
Sounds good! I will make the patch and create PR.

[2019-09-10 20:18] xeffyr commented on #851
@namhyung After applying this patch, it works.

[2019-09-11 00:20] honggyukim commented on #851
That's great! @namhyung Is there any reason to make `GLOBAL(mcount)` slightly different from the original `GLOBAL(__gnu_mcount_nc)`? If there's no reason, we can just make it as an alias.

[2019-09-11 07:37] lntuition commented on #860
I only apply escape sequence to '\0'(null), '\b'(backspace), '\n'(line feed). Because i think current expression of the other unprintable character such as '\t'(tab) is more easy to understand.

If anyone find cleaner solution(general expression for unprintable character), modify this solution plz.

[2019-09-11 08:42] twaik commented on #851
You can add `#ifdef __clang__` to make sure it builds only for clang.

[2019-09-11 09:22] honggyukim commented on #848
I just tested it with `elfutils-0.175` and there's no problem like `0.148`.

Hmm.. I need to upgrade `elfutils` in the system myside.

[2019-09-11 09:22] #848 closed

[2019-09-11 09:23] honggyukim commented on #823
It's same as #848 and it's not a problem of uftrace, but the problem of old version of `elfutils`. It works fine with `elfutils-0.175`.

[2019-09-11 09:23] #823 closed

[2019-09-11 09:23] honggyukim commented on #848
@namhyung Is there any way to work around this problem?

[2019-09-11 14:41] namhyung commented on #860
Hmm.. considering unicode (UTF-8) I don't know what's the better approach.  For ASCII, escaping would be better but it might break some UTF-8 encodings too.

[2019-09-11 15:07] namhyung commented on #839
Yep, I'll try to update and merge it.

[2019-09-11 15:14] namhyung commented on #851
@honggyukim there's a difference how `lr` register was saved before calling `mcount`.  So they cannot be merged.

@xeffyr good to see it works, thanks for the testing!

@twaik it's not a problem of building uftrace.  It cares the target binary which could be built by gcc or clang.  So the marco guard won't work IMO.

[2019-09-11 15:16] namhyung commented on #848
I don't know, sorry.

[2019-09-11 15:20] twaik commented on #851
I mean you can change mcount asm code correspond the target compiler. Patched mcount code for clang or original __gnu_mcount_nc code for gcc.

[2019-09-11 15:39] twaik commented on #851
So the patch effectiveness depends on the target binary compiler?

[2019-09-11 15:42] honggyukim commented on #851
If `uftrace` is built with `gcc`, but tries to run it with the target binary, which is compile with `clang`, then we should still need `GLOBAL(mcount)` to support both gcc compile binary and clang compile binary.

[2019-09-11 16:07] honggyukim opened #867 "backward compatibility problem for argument"
Please see the following problem.
[code]

[2019-09-11 23:53] honggyukim commented on #799
What about providing `-p` option for `-P.` just like `-a` for `-A. -R.`?

[2019-09-12 20:07] DanielTimLee opened #868 "Scripting feautre stuck on t-malloc?"
While testing script feature, I've found some of the scripts goes stuck with running t-malloc.

[code]

debug logs are..

<details>
  <summary>Click to expand</summary>

Debug
[code]

</details>

It seems, `scripts/count.py` and `scripts/report-libcall.py` goes stuck.
I'm not sure whether it is problem of scripting thing or binary problem.

Any hunch why it gets stuck?

[2019-09-13 11:31] ParkHanbum commented on #818
@honggyukim could you please tag this as "good first issue", please?

[2019-09-13 11:54] honggyukim commented on #818
I can add the tag but it doesn't look like a "good first issue". Moreover, it doesn't have reproducible instruction steps. Can you simplify the problem and add reproducible command line steps?

[2019-09-13 13:15] honggyukim opened #869 "Need a check routine when building on Mac machine"
Currently, uftrace only supports Linux, but someone might try to build it on Mac machine.
[code]
The error message looks confusing, so it'd be better to have a check routine to print a proper warning message when it's compiled on Mac machine.

The simplest check command is `uname -s` and its output in Linux machine is as follows:
[code]
On Mac machine,
[code]
Anyone can take this, but I hope a new

[2019-09-14 23:30] honggyukim commented on #846
The same repeating problem was also shown in https://github.com/namhyung/uftrace/issues/731#issuecomment-485199951.

After running with `cgdb` in x86_64, uftrace doesn't finish.
[code]
I found that it keeps printing the below debug message while waiting.
[code]
It seems to be a very rare case so better to handle in a separate issue. What about merging this work, then handle this problem later?

[2019-09-14 23:46] honggyukim commented on #846
It seems to be very exceptional case. I found that uftrace tries to patch the target program `hello` as well as `gdb` so makes the problem.
[code]

[2019-09-15 00:04] honggyukim commented on #846
It seems that the pair between "mcount init" and "mcount fini" are not matched.
[code]
As shown above, `mcount: initializing mcount library` are shown 3 times for `gdb`, `bash`, and `a.out`. However, `mcount: mcount trace finished` are only shown twice for maybe `gdb` and `bash`. It seems that gdb does something for `a.out`, so missed to get the finish from uftrace side.

[2019-09-15 10:08] namhyung commented on #867
How about the same version you recorded?

[2019-09-15 12:29] namhyung commented on #868
I also saw it's stuck in `malloc()`.

[code]

It seems to happen after main function was finished

[code]

Maybe bacause it has a call to `malloc` inside the python scripting engine.

[2019-09-15 12:29] namhyung commented on #868
I think following patch fixes the problem:

[code]

[2019-09-15 12:45] namhyung opened #871 "convert to getopt_long for option parsing"
Currently it uses `argp_parse()` to parse command line options.  But it's glibc-specific so has some portability problems.  While there's a supporting library for this, it'd be nice to avoid using it.  I think it's rather straight-forward to convert the option parser to use `getopt_long()` instead.

[2019-09-15 14:24] #851 closed

[2019-09-15 16:09] honggyukim commented on #867
Here is info output.
[code]
But I cannot find the commit 78a1 from the history. It seems that the version info is fixed after this version.

[2019-09-16 01:00] honggyukim commented on #871
This is one of the most valuable work items as a first step to support Android.

[2019-09-16 05:13] honggyukim commented on #852
Hmm.. The following works fine.
[code]
It also works fine before 11474865fbfc9ce411dcceab0ea2e203e31423c5 is committed.

[2019-09-16 07:42] DanielTimLee opened #873 "Enhance bash-completion?"
I think the Bash completion can help new users get a full picture of the various uftrace options.
Well, `uftrace -h` could help though, but it's size is huge and hard to read.

Furthermore, I'm not sure it's working correctly?
I think it's stuck since 1cad398dc 2017-11-24.

What I thought was kind of like this.
Auto-completion of commands will help to get know about required arguments, or etc..
Re

[2019-09-16 23:38] honggyukim opened #874 "Support CSV format report command output"
The current report output is aligned to console output, but it would be also useful to provide a way to print the result in CSV format.

By providing the result in CSV format, it can be easily read in excel spread sheet for further analysis.

[2019-09-17 00:34] namhyung opened #876 "support to select output fields of uftrace report"
The output fields of uftrace report is fixed depending on options used.  Basically it uses total time, self time and number of calls for each function.  But it also can display average/min/max of each time or other fields may be added later.  So it'd be nice to have flexible output fields like uftrace replay did.

[2019-09-17 02:37] honggyukim commented on #852
@ParkHanbum Could you take a look why 1147486 makes the problem?

[2019-09-17 05:54] honggyukim commented on #655
As @lu-zero suggested, we can get some reference to implement rust demangler.
- https://github.com/alexcrichton/rustc-demangle

[rustfilt](https://github.com/luser/rustfilt) also uses the same demangler.

[2019-09-17 06:05] honggyukim opened #877 "Analysis reports for STL implementation comparison (libstdc++, libc++, MS STL)"
Very recently, microsoft has opened MSVC STL implementation on github.
- https://github.com/microsoft/STL
- https://devblogs.microsoft.com/cppblog/open-sourcing-msvcs-stl

It seems that it can be meaningful to compare the STL implementation for each library.
- [GNU libstdc++](https://gcc.gnu.org/onlinedocs/libstdc++)
- [LLVM libc++](https://libcxx.llvm.org/)
- [MSVC STL](https://github.com/microso

[2019-09-17 07:25] ParkHanbum commented on #852
@honggyukim sure, I'll take look asap.

[2019-09-17 09:38] DanielTimLee opened #878 "segfault on DPDK"
It seems uftrace isn't running properly with DPDK.
Actually I do not know well about DPDK, so I gotta figure out more.

[code]

[code]

<details>
  <summary>Steps to reproduce</summary>

#### Steps to reproduce

[code]

</details>

[2019-09-17 12:03] gonapps commented on #871
I want to contribute this issue!

[2019-09-17 12:08] namhyung commented on #877
Looks like an interesting topic for study.

[2019-09-17 23:44] honggyukim commented on #871
Great! Please go ahead.

[2019-09-18 05:02] honggyukim commented on #869
It's fixed by #879.

[2019-09-18 05:02] #869 closed

[2019-09-18 05:10] honggyukim opened #880 "Support man pages written in Korean"
It can be simply copied from `doc/*.md` to `doc/ko/*.md`, then translated in Korean language. Then it can be compiled after applying the following change.
[code]
The build command can be as follows:
[code]

[2019-09-18 06:11] sungho-yoon commented on #877
I want to compare the STL implementation of each library

[2019-09-18 06:54] honggyukim commented on #877
@sungho-yoon Thanks! We first have to make sure that if it's possible to build MS STL in Linux environment. Could you please try it first?

[2019-09-18 07:09] sungho-yoon commented on #877
@honggyukim OK I'll try it first

[2019-09-18 10:49] honggyukim opened #881 "Improve the code readability with more comments"
uftrace code base may not be easy to understand for new users, so I believe that it'd be a lot better to have more comments on its code base.

If someone cannot understand some code, it needs to have descriptive comments. Anyone can send a PR with helpful comments at the code location while navigating the source code.

[2019-09-18 10:51] honggyukim commented on #881
For example, I added the following commit to explain how PLT works with GOT.
- 4b283f7 plthook: Add a comment for mcount_arch_plthook_addr

[2019-09-18 13:45] gy741 opened #882 "Null Pointer Dereference in setup_task_filter()"
Hello,

If the `taskinfo:tids` are corrupted in info file, a memory error occurs.

Similar to the #574 problem.

[info file](https://github.com/namhyung/uftrace/files/3626680/crash.zip)

gdb log:
[code]

In my opinion, Fix code:

[code]

[2019-09-18 15:45] #857 closed

[2019-09-18 15:45] #860 closed

[2019-09-18 17:21] henrychoi7 opened #883 "Support Arch Linux for required dependency install"
Since I'm using Arch Linux for uftrace, is it okay to add support for the dependency install in `misc/install-deps.sh`? I've already added few lines, tested the installation and it worked fine on running kernel `5.2.14-arch2-1-ARCH`. I also separated the capstone in case of old distros. (#833)

Where I'm trying to add it:
https://github.com/namhyung/uftrace/blob/29b53352a972c43d7d2c4b62c4f9635dfc2

[2019-09-18 22:42] honggyukim commented on #883
Sure. Please go ahead. @namhyung also uses Arch Linux by the way.

[2019-09-18 23:04] honggyukim opened #884 "Reshape graph --task output"
As I mentioned in https://github.com/namhyung/uftrace/issues/645#issuecomment-529554699, the task display with `--task` can be improved as follows:
- I think `graph --task` output can be shown exactly same as normal function-level graph output, but at task-level.
- It doesn't work well with time-filter. I expect the time-filter work to hide based on the task time. It could be total or self time.

[2019-09-18 23:05] honggyukim commented on #882
Hmm.. what's the problem of the info file? Did you manually modify it?

[2019-09-19 04:10] henrychoi7 commented on #883
Thank you. I'll create a new PR for this issue later on.

[2019-09-19 06:10] honggyukim commented on #880
The PR #885 is submitted for better start of this issue.

[2019-09-19 12:15] gy741 commented on #882
@honggyukim Yes, I modified the info file manually.

`taskinfo:tids:number`-> `taskinfo:nr_tid=2`

Therefore, the conditional statement code is not executed.

https://github.com/namhyung/uftrace/blob/29b53352a972c43d7d2c4b62c4f9635dfc204d48/cmds/info.c#L554-L577

[2019-09-19 12:24] honggyukim commented on #878
Hmm.. I don't know what DPDK is and it looks it doesn't have clear reproducible steps for the crash.

[2019-09-19 12:40] gy741 commented on #760
Hello,

In my opinion, the message of the check_binary() function also needs to be changed.

With full-dynamic tracing, it can be used without `-pg` or `-finstrument-functions` flag.

However, there is no content in the error message.

[code]

https://github.com/namhyung/uftrace/blob/1f8f08419ac18a3e586b14cc4732efe50eb1fa20/cmds/record.c#L1477-L1479

[2019-09-19 13:40] namhyung commented on #883
@honggyukim not anymore :(

@henrychoi7 please do!

[2019-09-19 13:46] honggyukim commented on #883
@namhyung I didn't know that. I'm just wondering about your new distro. :)

[2019-09-19 14:59] gonapps opened #886 "Support docker images"
I'm thinking of adding Dockerfiles to this project.
If I add Dockerfiles for various distros such as ubuntu, arch, centos, apine..
It would be easier to test uftrace in other environments.

According to [this post](https://twitter.com/brendangregg/status/508094166769737728?lang=en) it seems possible to trace kernel functions inside containers.

[2019-09-19 15:25] namhyung commented on #882
I prefer checking with `NULL` than `0` for pointers.

[2019-09-19 15:29] namhyung commented on #760
Yes, please update. :)

[2019-09-19 15:31] namhyung commented on #883
Well, I'm using Ubuntu now...

[2019-09-20 00:50] honggyukim commented on #883
Thanks. We now have only Ubuntu, so may have to care more about other distros then.

[2019-09-20 01:49] honggyukim commented on #886
Thanks. It looks useful when testing for multiple distros.

[2019-09-20 04:14] gy741 commented on #874
Hello, @honggyukim

I'm working on this.

[2019-09-20 04:43] honggyukim commented on #874
Thanks. Please go ahead!

[2019-09-20 08:53] gy741 commented on #874
Hello, @honggyukim

I'm adding a function.

Is this the right direction?

[result.zip](https://github.com/namhyung/uftrace/files/3635017/result.zip)

output
[code]

[code]

[2019-09-20 12:50] gy741 commented on #874
Hello,

I changed to the csv output, not to save the file.

output:
[code]

[code]

[2019-09-20 12:53] honggyukim commented on #874
@gy741 Please send a PR for further review. It's not possible to make inline comments here.

[2019-09-20 13:40] gonapps commented on #883
@henrychoi7
No pull request yet? I could add arch linux dependencies if you are busy

[2019-09-20 14:30] honggyukim commented on #883
@gonapps Thanks for your passion, but I think you don't have to make him hurry :)

[2019-09-20 14:47] honggyukim commented on #874
@namhyung What do you think about the option name? I think we can provide `--format` option, then use it as `--format=csv` or `--format=chrome` and so on. It's for future extension.

[2019-09-20 17:20] henrychoi7 commented on #883
@gonapps Sorry about the delay. Please let me know if anything goes wrong.

[2019-09-20 17:39] kuongee opened #891 "dynamic tracing gcc"
Hi,

I'm trying to trace gcc with uftrace, and I have one question in result of replay.

1. I tried like this:

<pre><code>$ uftrace record -F main /usr/local/bin/gcc
$ uftrace replay </code></pre>

It showed like below in the last of replay,
<pre><code>uftrace stopped tracing with remaining functions
================================================
task: 5585
[7] exit
[6] diagnostic_action_after_

[2019-09-20 22:49] honggyukim commented on #891
Hi @kuongee, the manual is written to compile gcc with `-pg` option and it makes `gcc` binary already tracable. Since you manually patch `main` function again with `-P main`, the `main` function has `mcount` calls twice simply speaking.

The dynamic tracing feature with `-P` is better to be used when the target binary is not compiled with tracable compiler option such as `-pg` or `-finstrument-fun

[2019-09-20 22:56] honggyukim commented on #891
If you try the following example, then it's might be easier to understand.
[code]
Please note that full dynamic tracing with `-P` might fail to insert tracable code to some functions under some restrictions. For example, if the target function is too small, then it may not be possible.

In this case, only `main` function is successful to insert `mcount` call with `-P` option.

[2019-09-20 23:51] honggyukim opened #892 "replay with compressed uftrace.data"
The current recorded data is large especially because of symbol files.

It'd be useful if uftrace can replay the data even if it's compressed. The required usage is as follows:
[code]

[2019-09-21 00:06] honggyukim opened #893 "remove empty 'perf-cpuXX.dat' files"
uftrace collects `perf-cpuXX.dat` for each online CPUs and copy them into `uftrace.data`. But many of them are tend to be empty if the target program doesn't run in parallel.

It increases the number of files in `uftrace.data` unnecessarily, so I think we better to remove them if they are empty.

Here is the related code snippet.
[code]

[2019-09-21 00:11] honggyukim commented on #892
It can be more useful if remote analysis is supported by #836.

[2019-09-21 00:18] honggyukim commented on #893
There is some similar code in `apply_default_opts` function how to check if the file is empty.

[2019-09-21 00:19] honggyukim commented on #893
I hope a new contributor try this :)

[2019-09-21 00:41] kuongee commented on #891
I added -P option because I was just wondering how to use.
And that's why that happened!!
Anyway, thank you for your kind reply! :)

[2019-09-21 00:41] #891 closed

[2019-09-21 01:20] honggyukim commented on #891
You will better understand dynamic tracing by reading the followings:
- [man uftrace record](https://github.com/namhyung/uftrace/blob/master/doc/uftrace-record.md#dynamic-tracing)
- [dynamic tracing in slide tutorial](https://uftrace.github.io/slide/#dynamic-tracing)
- [full-dynamic tracing in slide tutorial](https://uftrace.github.io/slide/#full-dynamic-tracing)

Welcome and thanks for the first

[2019-09-21 04:04] honggyukim opened #894 "missing -Z size filter explanation in man page"
`-Z`/`--size-filter` needs more explanation in its man page.
[code]
It says `See DYNAMIC TRACING`, but there's no explanation about it.

[2019-09-21 04:05] honggyukim commented on #894
It has to be written in `DYNAMIC TRACING` section.
- https://github.com/namhyung/uftrace/blob/master/doc/uftrace-record.md#dynamic-tracing

[2019-09-21 04:22] honggyukim commented on #894
Please see 4eec7f8f for more info.

[2019-09-21 07:24] #883 closed

[2019-09-21 11:50] henrychoi7 opened #896 "Tracing SpiderMonkey JavaScript engine"
Hello,

I'm trying to trace SpiderMonkey, which is available as a standalone interactive shell (Also, Mozilla Firefox uses SpiderMonkey JS interpreter but I want to start it with the engine first). I used the source code version 59.0 and tested with the debug build (with `-pg` compiler flags).

Tracing result looked fine with no errors and I was wondering if it's okay to write down the Wiki about

[2019-09-21 15:59] DanielTimLee commented on #868
Seems upper solution fixes stuck with the script `report-libcall.py` but not `count.py`

[code]

some detail for the running env.

[code]

[2019-09-21 16:10] honggyukim commented on #896
Sure. Please do not hesitate writing the doc in wiki page. Thanks for your try :)

[2019-09-22 13:59] henrychoi7 commented on #896
Thank you! I’ll update the Wiki soon.

[2019-09-22 13:59] #896 closed

[2019-09-22 17:03] yeominstall commented on #893
Could I check this issue?

[2019-09-22 23:27] honggyukim commented on #893
@yeominstall Sure. Please go ahead. :)

[2019-09-22 23:55] honggyukim commented on #893
Likewise, empty `kernel-cpuXX.dat` can also be removed if kernel tracing is enabled.

[2019-09-23 00:31] namhyung commented on #868
I'd say that it fixed the stuck problem but there's another problem behind it.

[2019-09-23 01:38] #886 closed

[2019-09-23 01:40] #882 closed

[2019-09-23 15:33] #858 closed

[2019-09-23 16:05] namhyung commented on #839
Merged: 344d05bd

[2019-09-23 16:05] #839 closed

[2019-09-23 16:12] namhyung opened #897 "convert scripting engine to python3"
The python2 will have end-of-life soon so we should stop using it.  The scripting code now uses C-python version 2 APIs explicitly.  I think we need to support both versions (2 and 3) for some time as python2 would still be used in embedded systems.  The configure script should detect the version (prefer 3) and define appropriate macro so that source files can determine the API version.

[2019-09-23 16:18] namhyung commented on #846
Pushed [review/dynamic-aarch64-v3](https://github.com/namhyung/uftrace/compare/review/dynamic-aarch64-v3)

Changelog:
 * just rebased to master

[2019-09-23 16:38] yeominstall commented on #893
I cannot find files kind of `perf-cpuXX.dat` (and also `kernel-cpuXX.dat`) in `uftrace.data`. What option is needed to getting these files?

[2019-09-23 18:46] honggyukim commented on #827
Hmm.. `_GLOBAL__N_1::do_malloc` itself doesn't have a problem.
[code]
It works fine if uftrace patches only `_GLOBAL__N_1::do_malloc` function.

[2019-09-23 19:03] honggyukim commented on #893
Please make sure your configuration has `perf_event` and `schedule` enabled.
[code]
In addition, please show me the value of the following command:
[code]
These days, Ubuntu sets its default value to `3` for security reasons, but the value `3` doesn't allow us to read perf events by uftrace as well.

Please read the following document for more details.
- https://github.com/torvalds/linux/blob/c309

[2019-09-23 19:13] honggyukim opened #898 "support -U and -Z options for non dynamic tracing"
`-U` and `-Z` options currently works only for dynamically patched functions.

However, it can also be very useful if it can apply the NOP-patch operation even to functions that have tracable hooks by `-pg` or `-finstrument-functions`.

Hopefully, it can be generalized regardless of dynamic tracing or not.

[2019-09-23 19:14] honggyukim commented on #880
It's done by #885, so close it now.

[2019-09-24 00:20] honggyukim opened #899 "info: failed to set filter or trigger by default.opts"
Please reproduce the problem with the attached data.
- [uftrace.data.default.opts.info.fail.tar.gz](https://github.com/namhyung/uftrace/files/3644632/uftrace.data.default.opts.info.fail.tar.gz)

The `default.opts` contains some filter options.
[code]
The problem is that `uftrace info` shows some error message as follows:
[code]

[2019-09-24 00:31] honggyukim opened #900 "provide parallelism metric as a new field"
uftrace already has scheduling event info and it makes uftrace capable to calculate how many cores are actually running (by the same program) at some specific time.

It can be used as a way to provide the parallelism of the target program in the entire execution, but it can also be used where is sequential and parallel execution regions.

The details will be updated later on.

[2019-09-24 00:32] honggyukim commented on #899
We should remove the message `Usage: failed to set filter or trigger: read_uftrace_info or `.

[2019-09-24 02:41] honggyukim commented on #893
In addition, `kernel-cpuXX.dat` are only created when kernel tracing is enabled with `-k` or `-K` option with root permission.

[2019-09-24 04:03] yeominstall opened #901 "Differences between option -K and -K 1"
I found an ambiguity about kernel option.
I expected to get the same result from commands below, but I didn’t.

[code]
[code]
[code]

In the help page, we can show about kernel option like:
[code]

It seems like option `-K` and `-K 1` are same because it described `-K` has default value `1`.

Could we improve this?
If I misunderstood something about this, please let me know.

[2019-09-24 04:21] honggyukim commented on #901
Hmm.. there’s no default value for `-K`. It always has to accept a value for depth setting. The option description looks incorrect. Can you fix the description?

[2019-09-24 05:06] yeominstall commented on #901
Sure, I will do.

[2019-09-24 05:06] namhyung commented on #901
The number is required. Please simply remove the default value from the help string.

[2019-09-25 02:09] gy741 opened #903 "stack-buffer overflow in read_task_txt_file()"
Hello,

I found stack-buffer overflow bug.

This issue is basically because sscanf() doesn't have a bound for the reading and writing, and it can cross the array limit and cause the program to crash.

So, I'll add that instead of %s which can overrun your buffer, I'd recommend explicitly setting the buffer size

https://github.com/namhyung/uftrace/blob/4eec7f8fbb20901a3425a2f194e10328e7ea9a37/util

[2019-09-25 04:29] honggyukim commented on #903
@gy741 Could you explain the specific numbers you used for each change?

[2019-09-25 04:45] gy741 commented on #903
@honggyukim Based on the size of the array used.

For example, The val array has a size of 32.

the length in the format does not include the null byte, but there must be space for the null byte.

So, 31 Limited use to size. This prevents overflow.

[code]

[2019-09-25 14:49] namhyung commented on #903
While this looks correct, it's fragile to use raw numbers there IMO.  For session ID you can use `SESSION_ID_LEN` instead since both session and dlopen messages have an unused field after the sid field.  For other parts you'd better using something like `sizeof(buf)-1`.

You may want to use `stringify()` macro from `tests/unittest.h`.

[2019-09-25 14:58] rls1004 opened #905 "Segfault when using ARG_FMT_STD_STRING"
test code:
[code]
display argument as ARG_FMT_STD_STRING:
[code]

When using the ARG_FMT_STD_STRING format, memory addresses are not checked.

[2019-09-25 15:37] namhyung commented on #899
It looks like there's an error to add the " or " part in `fstack_setup_filters()`.

[2019-09-25 23:32] honggyukim commented on #852
@ParkHanbum Can you reproduce the problem?

[2019-09-26 13:51] sungho-yoon commented on #877
I need some help to analyze stl.
Maybe there is a problem tracing libc++ built-in functions.

Source code
[code]

Compile option
`clang++ -pg -stdlib=libc++ a.cpp`

Result
`uftrace -t 1us a.out`
[code]

I don't think uftrace can trace libc++ built-in functions. Is there a way to trace it? With Full Dynamic Tracing, the results are same.
Should I rebuild libc++ with -pg option?

[2019-09-27 03:11] #901 closed

[2019-09-27 09:27] honggyukim opened #907 "support a way to change sort key in TUI report mode"
The current TUI doesn't support to change a sort key and it fixes the key to "total".

We have to provide a key to change the sort key in TUI report mode. I personally think that `s` can be used to change the key.

The key can be changed in order whenever `s` key is pressed.

[2019-09-27 09:41] honggyukim opened #908 "invalid enum spec"
Please see below.
[code]

[2019-09-27 09:55] honggyukim commented on #908
It even gets crashed at the end. It maybe the problem of dynamic tracing.
[code]

[2019-09-27 09:59] honggyukim commented on #908
The `perfetto` tool is downloaded and compiled as follows:

**1. download perfetto**
[code]

**2. install prerequisite**
[code]

**3. build**
[code]

[2019-09-27 10:01] honggyukim commented on #908
`perfetto` tool is relatively a lot smaller than `chrome`, so it might be a good target to fix existing full-dynamic tracing bugs.

[2019-09-27 16:52] gy741 commented on #903
@namhyung  Is this code correct or not?

[code]

[2019-09-27 18:33] DanielTimLee commented on #903
With upper(very first one) code apply, I see string length mismatch.

[code]

as you can see here, sid value in tasks.txt is `sid=4841e8e4fbcf3b95`.
but with the code apply, it tries to load `sid-4841e8e4fbcf3b9.map` with one character missing.

[2019-09-28 03:23] junhoryu opened #912 "uftrace-gdb.py Error"
![Screenshot from 2019-09-28 12-18-48](https://user-images.githubusercontent.com/7580915/65810807-553a6d00-e1ea-11e9-89d8-f9e771dd7f10.png)

I executed uftrace-gdb.py, the output error like above.
I do not know what problem it is.

thank you.

[2019-09-28 07:20] junhoryu commented on #831
I'd like to take it

[2019-09-28 14:36] gy741 commented on #903
@DanielTimLee Commands run normally in my environment.
There may be a problem with the environment.

[code]

[2019-09-28 18:21] DanielTimLee commented on #912
It is not intended to be run individually.
GDB has scripting feature (python), and the file `uftrace-gdb.py` that you tried to run was actually intended to be loaded when debugging uftrace.

https://github.com/namhyung/uftrace/blob/df0921fb7be57552340b71c9ff694d9ca68547ea/uftrace-gdb.py#L15-L17

As you can see, from the content of the `uftrace-gdb.py`, it fetches modules from `gdb/` directory whic

[2019-09-29 04:32] honggyukim commented on #831
@junhoryu Thanks! Please take it and let me know if you have any problems.

[2019-09-29 05:12] #912 closed

[2019-09-29 11:07] honggyukim commented on #908
Hmm.. some of the tests are originally failed even without uftrace recoding.
[code]
[code]

[2019-09-30 00:19] #899 closed

[2019-09-30 00:20] #905 closed

[2019-09-30 06:35] gy741 opened #914 "heap-buffer overflow in setargs()"
Hello,

I found heap-buffer overflow bug.

Due to an infinite loop, a crash occurs.

https://github.com/namhyung/uftrace/blob/b735366116ce47cd26e65d3488fb6ad77d63d708/utils/utils.c#L727-L734

Crash info:
[code]

Thanks.

[2019-09-30 06:40] gy741 commented on #914
If someone is interested,  can contribute to this problem.

[2019-10-01 16:40] namhyung commented on #897
Pushed [review/python3-support-v1](https://github.com/namhyung/uftrace/compare/review/python3-support-v1).

@thepaul could you please check this?  I'm not sure `python-config` is enabled for python3 in the new debian systems.  I don't have it in my system so I applied below patch for test:

[code]

[2019-10-02 00:00] honggyukim commented on #897
@namhyung Thanks for doing this work! But my system has different python3 version as follows:
[code]

[2019-10-02 05:38] namhyung commented on #897
Oh, you have `python3-config`.  How about this then?

[code]

[2019-10-02 08:16] gy741 opened #918 "memory leak in command_tui()"
Hello,

I found memory leak bug.

After executing the `tui` command, if you enter `q` option, a memory leak occurs.

valgrind log:
[code]

[2019-10-02 08:17] gy741 commented on #918
If someone is interested, can contribute to this problem.

[2019-10-03 03:25] honggyukim opened #919 "heap buffer overflow in tui"
Here is a heap buffer overflow problem. The report is generated after building with `make ASAN=1`.
[code]

[2019-10-03 03:30] honggyukim opened #920 "memory leak report in tui"
Here is the steps to reproduce the problem.
[code]

[2019-10-03 05:48] honggyukim commented on #897
Hmm.. my system has some problem that cannot find `libpython3.7m.so`.

@namhyung If I don't modify the branch, it loads `libpython2.7.so` so I made the modification you suggested above.

But it get crashed as follows:
[code]
`python3-config` shows the info below.
[code]
However, there is no shared library `libpython3.7.so` in the path given by `python3-config`.
[code]
It only has a static library

[2019-10-03 06:05] namhyung commented on #897
Hmm.. then it's not a problem of uftrace.  I'll modify it would exit with a helpful message in this case.

[2019-10-03 06:16] namhyung commented on #897
Pushed [review/python3-support-v2](https://github.com/namhyung/uftrace/compare/review/python3-support-v2)

Changelog:
 * use `python3-config`
 * add error check when loading python library

[2019-10-03 10:33] gy741 opened #921 "add the hacktobberfest label"
Hello,

For a month, hacktoberfest is held.

So, I think it would be nice to add the hacktoberfest label.

In addition to contributions, PR effect.

Ref:
https://hacktoberfest.digitalocean.com/
https://github.com/search?o=desc&q=label%3Ahacktoberfest+state%3Aopen&s=updated&type=Issues

[2019-10-04 03:11] honggyukim commented on #897
Thanks. It doesn't get crashed now.

In addition, I would like to have a way to check if python shared library is available. The current check routine passes even if only a static library is found.

[2019-10-04 03:13] honggyukim commented on #897
Hmm.. thinking it again. IMHO, we don't have to disable script feature during build time. It will just exit if a proper python shared library is not found.

[2019-10-04 12:01] gkarlos commented on #914
How can this be reproduced?

[2019-10-04 14:05] gy741 commented on #914
@gkarlos Thank you for your interest.

Steps to Reproduce:
[code]

[2019-10-04 17:44] gkarlos commented on #914
@gy741 Thanks. I will have a look

[2019-10-05 04:10] honggyukim commented on #914
@gkarlos Thanks for your effort. The simpler way to reproduce is as follows:
[code]

[2019-10-05 07:21] DanielTimLee commented on #880
If the Korean document is not displayed, it is probably a locale problem.

Make sure the locale is set to `LANG=ko_KR.UTF-8`.

[code]

[2019-10-05 07:34] DanielTimLee opened #923 "uftrace --list-event feature isn't well documented."
uftrace --list-event feature isn't well documented.

[code]

[code]

The only place that I can see how this option could be used is commit log.

Seems the feature is for systemtap SDT and perf event, so it might be used less,
but, I think this part should be better documented than it is now.

[code]

[2019-10-05 08:31] rls1004 commented on #919
I think the cause is the same as #803.

[2019-10-05 09:49] henrychoi7 opened #926 "-L option when tracing in other languages (e.g. Python)"
Hi there,

I was trying to trace python files in another uftrace directory (I already installed uftrace to the system environment by executing `sudo make install` in master branch and compiled uftrace again from `origin/review/python-tracing-v3` branch). Therefore, I tried with `./uftrace` but nothing happens after executing python files like below.

[code]

Also, if uftrace couldn't find the libr

[2019-10-05 09:53] hjongkim commented on #907
I want to try this issue.

[2019-10-05 16:32] honggyukim commented on #907
Thanks. Please go ahead :)

[2019-10-05 16:36] honggyukim commented on #919
Thanks. It looks the same problem.

[2019-10-06 08:34] gkarlos commented on #914
Well the problem seems to be `while (*args != QUOTE)` plus the newline in `echo "'" > opts`. This is also true for the DQUOTE case.

So if i get this right, we are parsing command line options, but from a file instead. If so, how should a newline character be treated there? Should it just be ignored? What if the newline is in the middle of an option? i.e the option spans multiple lines. What's the

[2019-10-06 13:59] gy741 commented on #914
@gkarlos Thank you for the analysis.

In my opinion, how about limiting the number of loops to actual size(To the size of the string in `default.opts`)?

[2019-10-06 14:44] namhyung commented on #923
Yes, the SDT events are from libraries so it'd be different for each program due to the different dependencies.  But other events are global so can be listed regardless of the argument (program).

[2019-10-06 14:47] namhyung commented on #926
The `-L` option is for debugging/testing and not for users.  After proper installation process, all libraries should be in a system directory and be loaded without a problem IMO.

[2019-10-06 15:14] namhyung commented on #914
@gkarlos please treat it same as a whitespace.

[2019-10-07 08:30] gy741 opened #931 "How to build static library generation?"
Hello,

How to build static library generation?

There seems to be no options in the configure file.

Ex) `--enable-static` , `--disable-shared`

Thanks.

[2019-10-07 15:32] henrychoi7 commented on #926
@namhyung Sorry, my explanation wasn't enough. Yes, I didn't knew about the `-L` option until I've found the `libmcount` and analyzed the program reading library path. I didn't download the uftrace source for debugging/testing. I just wanted to **use** it on a other language. Therefore I thought; does it necessary for the users to know about the `-L` option? If then, I thought it would be helpful

[2019-10-08 02:19] honggyukim commented on #931
Hmm... It needs more explanation. What do you mean by "static library generation"?

[2019-10-08 02:20] honggyukim commented on #921
Hmm.. What's good having this label?

[2019-10-08 02:43] namhyung commented on #926
The python function tracing is still in development.  Once it's done all necessary libraries should be installed in a proper directory so users don't need to use `-L` option to specify some directory.  Before that we are using it just for easier testing.

[2019-10-08 03:10] namhyung commented on #931
uftrace relies on the dynamic linker to trace target program.  Why do you want a static build?

[2019-10-08 04:01] gy741 commented on #921
@honggyukim It can attract developers' attention.
I think this leads to a PR effect.

[2019-10-08 04:32] gy741 commented on #931
Generally, static builds are not required.
However, I am planning to strengthen the uftrace  using libfuzzer.
To do this, need a static build.

libfuzzer shows good performance as it is used in google.
Perhaps, I think you know this tool.

Ref:
https://llvm.org/docs/LibFuzzer.html
https://github.com/google/oss-fuzz
https://www.youtube.com/watch?v=FzaR3iH2iZs

[2019-10-08 05:05] namhyung commented on #846
Merged: 117901c

[2019-10-08 05:05] #846 closed

[2019-10-08 05:09] henrychoi7 commented on #926
I understand. It was a little rushed to think of this ‘-L’ option. I’ll keep testing and see what I can do for further python tracing support. Thank you for your opinion! :)

[2019-10-08 07:19] ParkHanbum commented on #852
@honggyukim I'm trying to find what problem is. sorry about late.

[2019-10-08 07:58] ParkHanbum commented on #852
@honggyukim it is not occur since commit ad739625 .

[2019-10-08 08:16] honggyukim commented on #852
Thanks for checking it. But it doesn't get crashed because it doesn't patch any binary.
[code]
There's no patch result status.

[2019-10-08 08:30] ParkHanbum commented on #852
this problem occurred because it is not guaranteed that lower memory mapped module is executable-binary in WSL2.

before commit ad739625, we assume that binary have lowest memory address and first mapped at process memory space. so when user doesn't specify the module name that to proceed the dynamic patching, uftrace try to process dynamic patching to first mapped module in process memory space.

[2019-10-08 08:30] ParkHanbum commented on #852
@honggyukim I checked it, too.

[2019-10-08 08:53] ParkHanbum commented on #852
it just removed warning message only. I don't understand why it was removed. module name that have to patched come from user input. without any warning message, how to know problem occurred?

[2019-10-08 08:55] ParkHanbum commented on #852
sometime I feel very unhappy of unkind of uftrace.

[2019-10-08 10:29] ParkHanbum commented on #852
@honggyukim I think it was fixed.

[2019-10-09 05:41] #914 closed

[2019-10-09 11:40] #926 closed

[2019-10-09 11:56] henrychoi7 commented on #931
@gy741 If you’re familiar with fuzzing techniques and code instrumentation, how about trying other tools like [AFL](http://lcamtuf.coredump.cx/afl/)? They have a lot of modifications you could use including dynamic/static analysis for shared libraries. AFL is one of the fuzzing engines behind OSS-Fuzz but I never used OSS-fuzz.

[2019-10-09 13:10] gy741 commented on #931
@henrychoi7 My long-term future is to use Google's infrastructure(Integration into oss-fuzz).
Because, OSS-Fuzz leverages Google's massive server farms to bring serious compute to bear on fuzzing.

I have experience using AFL. AFL is a good fuzzer tool.
but, OSS-Fuzz doesn't have support for fuzzing traditional AFL targets compiled with afl-{gcc,clang}
AFL supports "persistent mode", but this is s

[2019-10-10 02:18] ParkHanbum commented on #931
I think it is useful if we can build uftrace statically. because some OS like Android did not use GLIBC even it was based on linux kernel.

[2019-10-10 02:35] ParkHanbum commented on #854
it takes long time, I write a example plugin to explain about this. please take see https://github.com/ParkHanbum/uftrace_plugin_nodejs/

[2019-10-10 04:48] namhyung commented on #852
I just pushed [check/exec-map](https://github.com/namhyung/uftrace/compare/check/exec-map) to address this problem.  Could you please verify it works well on WSL2?

[2019-10-10 05:07] honggyukim commented on #852
It works fine with the branch. Thanks for your work!
[code]

[2019-10-10 05:20] honggyukim commented on #877
Sorry for missing to reply this thread. The STL functions inside libstdc++ are mostly provided in its header files, but libc++ provides most of implementation inside the library itself.

So it might not be able to trace many functions inside libc++. The best way to trace it is to recompile libc++ as well. Thanks.

[2019-10-10 05:43] ParkHanbum commented on #852
it works. but I don't understand why need this sophisticated solution. would you let me know why?

[2019-10-10 06:12] namhyung commented on #852
Well, as I said there are other places which use first map as the map for the executable (like symbol table lookup and filter settings).  So I added a new field to find the map use it instead of the first one.

[2019-10-10 15:19] #852 closed

[2019-10-10 15:58] honggyukim opened #936 "A compiler warning"
Please see below.
[code]

[2019-10-11 01:35] honggyukim commented on #827
I got a different error by trying to trace a different chrome binary, which is the most recently updated.
[code]

[2019-10-11 01:51] namhyung commented on #919
OK, anyway I think it's better to fix by aligning 'size' properly before calling `xrealloc()`.

[2019-10-11 01:53] honggyukim commented on #827
Here is a bit more verbose output.
[code]

[2019-10-12 06:05] gy741 commented on #936
@honggyukim Hmm.. I can't see the error.

What version of gcc do you use and Did you add an option?

my gcc verson:
[code]

[2019-10-12 06:11] honggyukim commented on #936
my gcc is a bit old one.
[code]
It's the default gcc in Ubuntu 16.04 LTS.

[2019-10-12 08:11] gkarlos commented on #936
I am getting the same warning on GCC 6.5

[2019-10-12 11:26] gy741 commented on #936
In the gcc 6 version, I can see the error.

However, errors are not seen in the gcc 9 version.

The problem appears to occur only in the old version of gcc.

[code]

[code]

[2019-10-12 13:37] gy741 commented on #936
What do you think of this code?

"Is my approach right?"

[code]

[2019-10-13 03:43] gy741 opened #938 "heap-buffer overflow in read_taskinfo()"
Hello,

I found heap-buffer overflow bug.

If there is a large amount of data(`,`) in the `taskinfo:tids` of the `info` file, it falls into an infinite
loop.

https://github.com/namhyung/uftrace/blob/2d6c907dedaecb37fb73b9a42f97020842c5b6d4/cmds/info.c#L560-L569

PoC:
[code]

Crash info:
[code]

[2019-10-13 03:43] gy741 commented on #938
If someone is interested, can contribute to this problem.

[2019-10-13 07:07] rls1004 opened #939 "stack buffer overflow in json_quote()"
`fread()` reads the contents of the `/proc/self/cmdline` file by the size of `fha->buf` and stores it in `buf`.

https://github.com/namhyung/uftrace/blob/322185a09c85e280733949db661ce975253aef7f/cmds/info.c#L215-L232

However, `fread()` does not append null to the end of the string read, so the string in `buf` can be recognized as a string longer than 4096, which is the size of `fha->buf`.

`strch

[2019-10-13 08:19] honggyukim opened #940 "another memory leak in live replay"
Please see below.
[code]

[2019-10-13 08:52] honggyukim commented on #939
The following fixes the problem for the heap buffer overflow.
[code]
But it's still just a partial fix.
[code]

[2019-10-13 09:26] rls1004 commented on #939
How about using the heap instead of the stack?
This bug can be fixed by allocating buf to the actual size of the file and adding null to the end of the string.

[2019-10-13 10:13] honggyukim commented on #854
Hmm.. It's difficult to understand your idea so it'd be better to have a meeting and present what you're trying to do with this. Is this the topic for your talk in Naver Deview?

[2019-10-13 10:57] honggyukim opened #941 "crash while running script with `dump.py`"
Please see below.
[code]

[2019-10-13 11:16] honggyukim commented on #939
I'm okay with it.

[2019-10-13 12:30] honggyukim opened #943 "python scripting during record time doesn't finish"
Please see below.
[code]
After running `strings.py` script for `ls` command, the program doesn't finish.

[2019-10-13 12:33] honggyukim commented on #941
Here is the backtrace.
[code]

[2019-10-13 12:35] honggyukim commented on #941
cgdb backtrace points the problem was occurred in `Py_XDECREF`.
[code]

[2019-10-13 12:42] honggyukim commented on #941
After applying the following change.
[code]
It doesn't get crashed, but also doesn't finish like #943.

[2019-10-13 14:17] gkarlos opened #944 "segfault when exe name is empty in opt-file"
As far as i am aware, it is allowed to pass the exe file name in the opt file. When doing so a segfault occurs when the exe name is empty / empty space.

Steps to reproduce:
[code]

A segfault also occurs when a file is given but the opt-file is empty. i.e:
[code]
Though i think the latter should probably be a separate issue. Let me know and i will update.

[2019-10-14 00:39] namhyung commented on #939
The usual fix the fix kind of problem is adding NUL byte at the end of buffer and truncate long strings.  IOW the following oneliner will do:

[code]

[2019-10-14 00:50] namhyung commented on #943
Is it same for other scripts too?  Also I cannot reproduce it.

[2019-10-14 00:56] namhyung commented on #944
Hmm.. I thought it was fixed by your change, but it only for quotes.  OK then I think this is same problem in the parsing the option file, but it'd better to compare the backtraces.  Handling command line argument is a different problem of course.

[2019-10-14 02:21] honggyukim commented on #943
It seems that only Ubuntu 16.04 machines have this problem, but not in Ubuntu 18.04. I will check its python version as well.

[2019-10-14 04:44] honggyukim commented on #941
It's not crashed in Ubuntu 18.04, but only crashed in Ubuntu 16.04.

[2019-10-14 11:38] gkarlos commented on #944
@namhyung Yes i had a fix for that too (i think the first case only), but you commented that the PR was solving two issues, invalid file and missing file. Also i think the two cases are not necessarily 100% connected.

[2019-10-14 12:38] namhyung commented on #944
Got it.  Can you work on this too?

[2019-10-14 18:21] gkarlos commented on #944
Sure. Do you reckon the second case above should be a separate issue?

[2019-10-14 23:48] namhyung commented on #944
Yes, you can have the two fixes in a PR.

[2019-10-15 04:59] honggyukim opened #951 "[RFC] uftrace as a fault injection framework"
The uftrace is not only a function tracer, but also be used as a fault injection framework. For example, it may always replace the return value of `fopen` to NULL for security tests or fuzzing.

Please read more about it in the following link.
- https://en.wikipedia.org/wiki/Fault_injection#Application_of_fault_injection

It can be simply used in the command line as follows:
[code]
`fopen@retval=0

[2019-10-15 08:17] henrychoi7 commented on #951
I think it'll be quite comfortable for security testing if it's integrated into uftrace. Many security researchers are using external tools to find vulnerabilities but it's not a centralized test environment. If uftrace provides an option for fault injection, it could generate some useful data for security-related weaknesses in a specific code.

Also, there is a C library for fault injection [libf

[2019-10-15 08:53] henrychoi7 commented on #943
I also can't reproduce the issue (including previous issue #941) on Arch Linux (5.2.14-arch2-1-ARCH). Tried other scripts but it seems to be fine using python version 3.7.4.

[2019-10-15 11:35] gy741 opened #952 "incorrectly checks fread() retval"
Hello.

The return value of the free() function is "size_t", which cannot be a negative value.

Therefore, the following conditions always fail.

https://github.com/namhyung/uftrace/blob/2d6c907dedaecb37fb73b9a42f97020842c5b6d4/cmds/info.c#L219-L224

https://github.com/namhyung/uftrace/blob/322185a09c85e280733949db661ce975253aef7f/utils/symbol.c#L1237-L1241

fix code:

[code]

Ref:    https://gith

[2019-10-15 14:01] eltonpinto156 commented on #921
I shall add the Hacktober Label.

[2019-10-15 15:11] honggyukim commented on #939
Thanks. I agree with you. But it still generates heap-buffer overflow because the NULL is converted to space by the following lines.
[code]
It has to be changed as follows:
[code]
It doesn't make any problem now.

[2019-10-16 01:24] namhyung commented on #939
Ah, right.

[2019-10-16 08:46] honggyukim opened #957 "double free error while python scripting for python interpreter"
Please see below.
[code]

[2019-10-16 08:49] honggyukim opened #958 "argument parsing error"
Please see below.
[code]
As shown above, `python3` doesn't properly accept `-c` option with uftrace.

[2019-10-16 08:52] honggyukim commented on #958
The problem is because my system `python3` is a shell script, which is located in a different place.
[code]
It's actually a shell script.
[code]
It works fine if the proper path is given.
[code]
It seems that we better pass the arguments properly even to shell script.

[2019-10-16 08:59] honggyukim commented on #957
Here is backtrace.
[code]
And the problematic point in our side is during `Py_Initialize`.
[code]

[2019-10-16 13:08] rls1004 opened #963 "memory leak in opts"
steps to reproduce :
[code]

`opts->sig_trigger` is allocated and not freed.

https://github.com/namhyung/uftrace/blob/657d4beb5d9439ba772ef7ac704ad17e18eefdaa/uftrace.c#L805-L807

https://github.com/namhyung/uftrace/blob/657d4beb5d9439ba772ef7ac704ad17e18eefdaa/uftrace.c#L1014-L1026

[2019-10-17 02:23] namhyung commented on #951
Interesting idea!

[2019-10-17 02:28] namhyung commented on #952
While the return type is unsigned, we save it into a signed type so it can be negative.

[2019-10-17 03:19] namhyung commented on #957
Hmm.. this is tricky - using python when tracing python :)

[2019-10-17 04:17] gy741 commented on #952
@namhyung  Thanks for the good code review.

There is a way to change the data type. `int` -> `size_t`
Maybe you don't want it.

I'll close the problem.

[2019-10-17 04:27] namhyung commented on #952
Hmm.. it was confusing, you said `free()` function but it was actually `fread()`, right?  I checked again that `read()` (not started by "f") returns ssize_t while `fread()` returns size_t.  So I think your change is correct.

[2019-10-17 04:35] #963 closed

[2019-10-17 05:43] gy741 commented on #952
Oops, sorry.
Yes. It's about `fread()`.
I will send PR.

[2019-10-17 16:01] henrychoi7 opened #976 "Add usage description for script --record option"
Hi there,

According to the man page for [uftrace-script](https://github.com/namhyung/uftrace/blob/master/doc/uftrace-script.md#script-options), the command could be executed like below:

[code]

But, I couldn't find any description about `--record` option in the usage output.
https://github.com/namhyung/uftrace/blob/efa568409286a7b56d3bee9598e7b6cec06d0d4d/cmds/script.c#L148

Therefore, I'm think

[2019-10-18 15:19] #939 closed

[2019-10-18 15:20] #919 closed

[2019-10-19 07:38] namhyung opened #988 "x86_64: handling CALL instruction for dynamic tracing"
Currently it rejects functions having CALL in the prologue due to its PC-relative addressing for return address.  But as it's basically same as PUSH + JMP we can handle it like others.  Actually we already use JMP at the end of the copied instructions to move to the original function.

So to support CALL we can convert it to PUSH and adjust target address of JMP.  After applying this I could trace

[2019-10-19 07:39] honggyukim opened #989 "broken replay output with 64-bit kernel address"
The current output with kernel address is broken as follows:
[code]

[2019-10-19 07:46] honggyukim commented on #988
Thanks for doing this work, but it needs to be rebased to avoid a recent bug.

I tested it after rebasing and it works good.

**Before**
[code]

**After**
[code]

[2019-10-19 07:47] honggyukim commented on #988
Here is disassembly output of `a` function.
[code]
The fifth byte is the beginning of `callq` instruction so it was failed in the current master, but handled with this change.

[2019-10-19 07:53] namhyung commented on #988
Thanks for the test, rebased and force pushed to the branch.

[2019-10-19 09:01] honggyukim commented on #989
It has to be fixed like https://github.com/namhyung/uftrace/pull/716/commits/3267899c5e3e4d5a0d1cf5acbd31ec0210961eb7, but needs to update following @namhyung's comment in https://github.com/namhyung/uftrace/pull/716/files#r270887007.

[2019-10-19 10:38] rls1004 opened #993 "heap buffer overflow in get_argspec_string()"
https://github.com/namhyung/uftrace/blob/7817a96eb33f28e0fbb931301a493c633994af65/cmds/replay.c#L592-L603

The `memcmp()` function makes a 4-byte string comparison of str.
However, it can happen that the memory size requested to `xmalloc()` is less than 4 bytes.

[code]

[2019-10-19 11:31] rls1004 opened #996 "error when using multiple command lines"
steps to reproduce this error :
[code]

[2019-10-19 11:45] honggyukim commented on #996
Could you please explain more about it?

[2019-10-19 12:12] gy741 opened #997 "heap buffer overflow in fstack_account_time()"
Hello,

I found heap-buffer overflow bug.

I randomly modified the "29497.dat" file.

PoC:  [uftrace.data.zip](https://github.com/namhyung/uftrace/files/3746640/uftrace.data.zip)

Steps to Reproduce:
[code]

ASAN Log:
[code]

gdb backtrace log:
[code]

[2019-10-19 12:13] gy741 commented on #997
If someone is interested, can contribute to this problem.

[2019-10-19 12:14] rls1004 commented on #996
For example, in this case
[code]
The recorded cmdline is shown below.
[code]

The `read_cmdline()` read it using the `fgets()`, so reading stops after a newline.

https://github.com/namhyung/uftrace/blob/7817a96eb33f28e0fbb931301a493c633994af65/cmds/info.c#L249-L257

The `read_cpuinfo()` reads the next line as well.
An error occurs because the string "cpuinfo:" cannot be read.

[2019-10-20 08:43] rls1004 opened #1005 "memory leak in run_cmd"
Memory allocated through the `parse_cmdline()` is not freed.

[code]

https://github.com/namhyung/uftrace/blob/2e0357e619f4bd2843c398fb2671d545d35770a6/uftrace.c#L767

https://github.com/namhyung/uftrace/blob/2e0357e619f4bd2843c398fb2671d545d35770a6/uftrace.c#L1034-L1047

[2019-10-20 15:35] Lorac opened #1008 "Segfault with qt application"
The output of `uftrace -v -t 1ms  record  ./MyQtApp`

[code]

This is the replay `uftrace replay MyQtApp`
[code]

If I use `--no-libcall` it works, but I lose a lot of information...

This is on AArch64.

[2019-10-21 12:27] namhyung commented on #988
@ParkHanbum are you ok with this?

[2019-10-21 12:32] namhyung commented on #1008
@Lorac thanks for using uftrace and the report.  Which version did you use?  You might use more `-v` option to see more detailed debug messages.  It'd be nice to know which library function it tried to execute and if there's any clue for the function.

[2019-10-21 13:49] #993 closed

[2019-10-21 13:52] #996 closed

[2019-10-21 14:40] namhyung commented on #976
No, it should be after the `<script_file>` since it's the argument of the `-S` option.

Then it's a bug.  What was your exact command line?

[2019-10-21 14:44] #1005 closed

[2019-10-21 14:52] rls1004 opened #1011 "Some descriptions of uftrace-record.md are incorrect."
It is described that the `i` and `u` formats print decimal numbers.
However, even with the `u` format, hexadecimal numbers can be printed.

https://github.com/namhyung/uftrace/blob/5c69d19dbcf4ae3ecddc6df4fc36ad5c849f87ed/doc/uftrace-record.md#L461-L463

https://github.com/namhyung/uftrace/blob/5c69d19dbcf4ae3ecddc6df4fc36ad5c849f87ed/doc/ko/uftrace-record.md#L465-L466

That can be when `val.i` is

[2019-10-21 15:26] honggyukim commented on #803
The [first](https://github.com/namhyung/uftrace/issues/803#issue-454920418) and [second](https://github.com/namhyung/uftrace/issues/803#issuecomment-501038598) problems are fixed, but the [third](https://github.com/namhyung/uftrace/issues/803#issuecomment-507553600) problem still remains.
Thanks @rls1004!

[2019-10-21 17:17] Lorac commented on #1008
I tried using 0.8.3 and 0.9.3 and having the same problem. Do I need to activate the instrumentation for all the libraries that I'm calling?

[2019-10-22 00:57] namhyung commented on #1008
Any chance you can run current master version?

No you don't need to do it unless you want to trace inside the libraries.

[2019-10-22 01:52] honggyukim commented on #1008
It can be a lot more helpful if you can share the following info.
- entire compilation flags for the binary
- the output of `gcc -v`

[2019-10-22 05:48] henrychoi7 commented on #976
Oh, sorry. I meant the end of the command line. My command line was exact same as the above. There was no bug about this. Then, is it okay to put it after the `<script_file>`?

Also, when there were no arguments or options in using `record` and `live`, the output description was same like below:

[code]

Aren't these supposed to be different like `script`?

[2019-10-22 05:53] honggyukim commented on #976
`record` and `live` accept `COMMAND` for target program binary, but `script` is an analysis command just like `replay`, `report` and others.

[2019-10-22 15:27] Lorac commented on #1008
These are the `defines`

[code]
compilation flags
`-finstrument-functions -O0 -g -pipe -Wall -Wextra -Wpedantic -fPIC -std=gnu++14`

GCC -v
[code]

Output with `-vvv`

[code]

[2019-10-23 03:52] honggyukim opened #1013 "tui: support a key 'f' for field change in graph mode"
The current tui graph mode only shows "total" by default, but it could show more fields from the command line option `-f`.

It'd be better to provide a way to customize fields in graph mode in interactive mode. I think `f` key can be mapped for this purpose. It could show a new box window just like `h` key for help message, then provide check boxes for each field.

[2019-10-23 11:54] namhyung commented on #976
Yes, but `uftrace script --record` should accept `COMMAND` as well.  But `-S` option is mandatory so I think the usage should remove the "[ ]" (which means optional arguments) like below:

[code]

The --record option is different and I think it's better to add another line in the synopsis section of the uftrace-script manpage.

[2019-10-25 01:08] #988 closed

[2019-10-25 01:14] namhyung commented on #1008
Thanks for the info.  Do you see the segfault at the same point everytime?  Can you show me your code or provide a simple reproducer?

[2019-10-25 08:45] nasafix-nasser commented on #1013
Hi,
May I work on this?

[2019-10-25 09:20] nasafix-nasser commented on #1013
Thank you.

[2019-10-25 16:36] Lorac commented on #1008
It always segfault at the same place. I'll try to build a simple reproducer as soon as I can.

[2019-10-28 13:53] namhyung commented on #936
@gy741 sorry for late reply.  No I think it still has the same warning.

[2019-10-28 14:36] #936 closed

[2019-10-28 17:11] henrychoi7 commented on #976
Okay, I understand what you mean. I'll remove `[]` in the usage description.

Then, is it okay to add something like:
[code]
in the synopsis section of the uftrace-script man page? I'm not sure if it's fine to replace it with the original one.

It's out of the question, also I found that there is `[live]` in the [synopsis section](https://github.com/namhyung/uftrace/blob/master/doc/uftrace-live.md

[2019-10-29 00:34] namhyung commented on #976
Don't replace, just add it.

[code]

No, the "live" part is really optional.

[2019-10-29 01:55] henrychoi7 commented on #976
Thank you for your opinion! I'll leave a PR for this later.

[2019-10-30 06:36] hyunjunpark-1 opened #1016 "ERROR : writing shmem name to pipe: Broken pipe"
Hi namhyung & honggyu
I'm using for performance optimizing for some app

This app start from systemd as below
-/usr/bin/uftrace -d /tmp/uftrace.data --no-libcall record "my app path"

When I stop the record by systemctl, error occur as below

mcount: /usr/src/debug/uftrace/1.0-r0/git/libmcount/misc.c:103:uftrace_send_message
 ERROR: writing shmem name to pipe: Broken pipe
mcount: /usr/src/debug/uf

[2019-10-30 07:55] honggyukim commented on #1016
Hi @hyunjunpark-1,

Thanks for sharing the crash info. It'd be more helpful if you can share with more verbose log messages. Could you run uftrace as follows:
[code]
The `debug.log` will contain more verbose execution log and we need to examine how uftrace is finished with the ERROR log you shared.

It'd be much better to share the `debug.log` file, but if not possible. Please remove some internal

[2019-10-30 11:17] namhyung commented on #1016
It seems #802 has a similar problem.

[2019-10-31 00:14] honggyukim commented on #1016
I remember that the error log in #802 was took from AArch64 machine, not from x86_64. I tested it once again in x86_64 machine, but it works fine.

[2019-10-31 02:02] hyunjunpark-1 commented on #1016
I upload uftrace log

[uftrace.log](https://github.com/namhyung/uftrace/files/3791798/uftrace.log)

[2019-10-31 05:56] honggyukim commented on #1016
Hmm.. I don't see anything strange from the log file. Is it possible to run the program from the shell directly instead of running it from systemd script?

There were some issues when the program was executed from systemd and it worked fine after running it standalone.

[2019-11-01 01:22] #907 closed

[2019-11-01 01:56] namhyung commented on #1016
@hyunjunpark-1 Could you please test below patch?

[code]

[2019-11-01 05:58] honggyukim opened #1017 "segfault when full dynamic tracing for libpthread.so"
Please see below.
[code]

[2019-11-01 15:22] kobi-ca opened #1018 "replay/dump with time-range cannot be used when time-filter used in record"
this commit:
https://github.com/namhyung/uftrace/commit/f699ea466de5908de26e264b8bd6cf5c5a0415b7
added -r/--time-filter to defaults.opt file.
when running replay/dump, the defaults.opt options are augmented to the dump/replay command line options creating the case of having time-filter + time-range which is failing.
when I run dump with time-range and my record was running with time-filter, I cann

[2019-11-02 04:15] honggyukim commented on #1018
Hi @kobi-ca, thanks for the report. Could you show me the example execution sequence that shows the problem? It'd be easier to understand the problem.

[2019-11-02 21:40] kobi-ca commented on #1018
hi @honggyukim
here is an example
uftrace record -t 1us  ...
now try to either dump or replay
uftrace dump --chrome --time-range ~2sec
what happens is that the defaults.opt file from uftrace.out directory has -r 1us and when running dump it is like running
uftrace dump --chrome --time-range ~2sec -t 1us and there is an error saying you cannot have time-filter with time-range.
let me know if you ne

[2019-11-03 04:59] namhyung commented on #1017
Well.. my simple answer is "don't do that". :)

The pthread library is a kind of the foundation, it won't be stable to play with it as uftrace relies on it.  But it might be interesting to see what makes it failed..

[2019-11-03 06:01] namhyung commented on #1018
@kobi-ca thanks for using uftrace and reporting the issue.  Yes, as time-filter and time-range is not compatible, we should disable the default time filter when a time-range is given.  Could you please check the below patch?

[code]

[2019-11-03 22:19] kobi-ca commented on #1018
will do. what parsing_default_opts means here?
and what happens if opts->range is not populated yet? can this happen?
I mean we hit this new added line but case 'r' is not processes yet. can this happen? if yes, the above might not work all the time.
maybe I need to better understand what parsing_default_opts means here.

thanks

[2019-11-04 02:25] namhyung commented on #1018
We have two pass of option parsing.  One is normal pass and the other is for default option which is done after the normal pass.

[2019-11-07 01:01] dofmind opened #1020 "Error of C++ program when throws exception from dynamic library on AArch64"
Hi,

I have a problem with C++ program using dynamic library on AArch64. When throws exception from dynamic library, the program is terminated with below messages.
[code]
If i just execute the program without uftrace or with --no-libcall option, the program works normally.
[code]
There is no problem on genericx86-64.

I used latest uftrace.
[code]
Here is a simple code.

- C++ program
[code]

- li

[2019-11-07 01:38] honggyukim opened #1021 "another heap buffer overflow"
[code]

[2019-11-07 01:43] honggyukim opened #1022 "heap buffer overflow in replay"
[code]

[2019-11-07 01:44] honggyukim commented on #1022
Tested version.
[code]

[2019-11-07 01:45] honggyukim commented on #1021
Tested version.
[code]

[2019-11-07 01:48] honggyukim opened #1023 "memory leak in report command"
[code]

[2019-11-07 01:57] dofmind commented on #1008
@Lorac any update?

[2019-11-07 01:58] honggyukim opened #1024 "memory leak in tui"
[code]

[2019-11-07 03:24] honggyukim commented on #1020
Hi @dofmind,

Thanks very much for reporting this bug with reproducible code. I've added `Makefile` to build and test the problem, then I can successfully reproduce it. Here is your code with `Makefile` -
[exception.tar.gz](https://github.com/namhyung/uftrace/files/3817719/exception.tar.gz)

Here is the steps to reproduce.
[code]
Now, it's ready to run with uftrace.
[code]
Thanks very much again.

[2019-11-07 03:27] honggyukim commented on #1020
I found a weird part in the PLT section of `a.out` binary.
[code]
It has `_mcount` calls in every PLT stub functions, it seems that this makes the problem.

[2019-11-07 05:32] honggyukim commented on #1020
Ah.. It's `adrp` instruction, which is not a call instruction. It also gets crashed when building even without `-pg`. The problem is still shown with `--force`.
[code]

[2019-11-07 05:34] honggyukim commented on #1020
[code]

[2019-11-07 08:12] honggyukim commented on #1020
The important part in the above log looks like as follows:
[code]
Here are the related code.
https://github.com/namhyung/uftrace/blob/7ddad19a271c92d020f1119aa89b3bed2665bf98/libmcount/wrap.c#L279-L301

https://github.com/namhyung/uftrace/blob/7ddad19a271c92d020f1119aa89b3bed2665bf98/libmcount/wrap.c#L303-L325

The `mcount_rstack_restore` is
https://github.com/namhyung/uftrace/blob/7ddad19a271c92d

[2019-11-07 08:17] honggyukim commented on #1020
Hmm.. it seems that restore is actually applied sometimes. I can see some actually log after applying the following debugging code.
[code]
The actual output log is as follows:
[code]
I can see some "`mcount_rstack_restore applied!`" from the log output.

[2019-11-07 15:46] Lorac commented on #1008
[code]

This application crashes.

[2019-11-07 19:24] Lorac commented on #1008
The last trace was from 0.8.3.

This is from the latest master:

[code]

[2019-11-08 01:32] namhyung commented on #1020
@dofmind thanks for using uftrace and reporting the bug.  The exception handling is always a tricky issue.  These days I cannot find much time to play with AArch64 env, but will try to look at it...

[2019-11-08 06:54] dissu opened #1025 "ERROR: cannot analyze insn in arm"
[code]

[2019-11-08 07:01] honggyukim opened #1026 "Cannot open session map with write permission"
In some environments, session map cannot be opened with write permission.  It's because the owner of launched process can be changed and it may not have write permission in `uftrace.data`.

I've written some modification and it works fine.
[code]
The strange thing here is that changing the mode in `mkdir` actually doesn't work as expected. It may be related to some security protection in the syste

[2019-11-08 07:41] honggyukim commented on #1025
Here are the related code.
[code]
[code]

[2019-11-08 07:53] honggyukim commented on #1025
Here is an instruction that contains `4c51`.
[code]
Here is an instruction that contains `f8d8`.
[code]

[2019-11-10 04:34] honggyukim opened #1029 "test failures in ARM32 raspbian"
I've run tests in ARM32 raspbian and here are the failed tests.
[code]
It gets stuck after finishing `198 lib_arg_float`.

[2019-11-10 05:45] honggyukim commented on #1029
The tests related to arguments are not actually the failures of ARM here.
[code]
It can be fixed with the following change.
[code]

[2019-11-10 06:04] honggyukim commented on #1029
The tests 048 and from 119 to 121, they get crashed as follows:
[code]
The reason of the crash is because raspberry pi doesn't have such amount of memory, so they can be fixed by reducing the memory size for those tests as follows:
[code]
After applying the changes above, they are all passed.
[code]

[2019-11-10 06:14] honggyukim commented on #1029
Another problem is
[code]
Here is to simply reproduce the problem.
[code]
It seems that it has some problem on replay with read trigger.

[2019-11-10 06:17] honggyukim commented on #1029
The gdb log is
[code]

[2019-11-11 01:03] honggyukim opened #1030 "test failures in x86_64"
Here are the tests, which are failed in x86_64. It's tested on Ubuntu 16.04 machine.
[code]

[2019-11-11 01:06] honggyukim commented on #1030
For `182 thread_exit`, it can be reproduced as follows:
[code]

[2019-11-11 01:12] honggyukim commented on #1030
It's kind of duplicated to #825, but leave it because some test failures are not shown there.

[2019-11-11 09:13] Bored66 opened #1031 "Segmentation fault: invalid permission"
While running on a big project I receive 'Segmentation fault: invalid permission'
[uftrace.log.gz](https://github.com/namhyung/uftrace/files/3830531/uftrace.log.gz)

And backtrace in gdb looks like this:

#0  0x00007ffff7cc8000 in ?? ()
#1  0x00007ffff7fb1c7e in __dentry__ () at /home/borovitski/git-repos/uftrace/arch/x86_64/dynamic.S:110
#2  0x00007fffffffe08b in ?? ()
#3  0x00007fffffffe09b in ?

[2019-11-11 11:45] namhyung commented on #1026
Maybe it has a `umask` setting to prevent it.

[2019-11-11 12:10] namhyung commented on #1025
Hmm.. not sure how many instructions we can support for prologue analysis..  Anyway it looks they are frequently used and have nothing to do with SP.  So we can ignore them simply like below:

[code]

[2019-11-11 12:15] namhyung commented on #1029
Please send PRs once those patches work well for x86.

[2019-11-11 12:49] namhyung commented on #1031
It seems like it's crashed from the beginning (in `main()`):

[code]

I'm not sure why it recorded the ENTRY data even if there's no filter/trigger set.  Did you enabled any event or trigger?

Also the address `0x55d636f53879` should be the start of main function.  I guess it has no read access for the code segment so the invalid permission.

[2019-11-11 12:50] namhyung commented on #1031
Does the below patch help?

[code]

[2019-11-11 13:14] namhyung commented on #1008
Could you please upload the sample binary?  I cannot build it :)

[2019-11-11 13:16] Bored66 commented on #1031
The patch didn't fix anything it seems...
The command line I was using was like uftrace -vvv -P . -a ...
do you a new log file?

[2019-11-12 16:11] Lorac commented on #1008
[uftrace_dgb.zip](https://github.com/namhyung/uftrace/files/3837086/uftrace_dgb.zip)

[2019-11-13 07:56] honggyukim commented on #1029
I added partial fixes in #1028.

[2019-11-13 08:02] honggyukim commented on #1029
Many of the remaining failures include floating point argument handling issues.

[2019-11-13 08:33] honggyukim commented on #826
It also gets crashed in ARM 32-bit raspbian.
[code]

[2019-11-13 23:07] honggyukim commented on #1026
It seems that it's because of file system settings, but not sure.

[2019-11-13 23:08] honggyukim commented on #1025
Thanks. I will test it when I have the execution environment again.

[2019-11-14 01:52] honggyukim commented on #1029
The demangle related problem looks like symbol address matching problem.
[code]

[2019-11-14 04:44] honggyukim commented on #1029
By investigating the problem of demangle as follows.
[code]
The address of the last `std::ios_base::Init::~Init` looks weird.
[code]
I've seen some cases that  cannot find the proper symbol in ARM/AArch64. It might be the same problem.

[2019-11-14 05:30] honggyukim commented on #1029
I found that it goes to wrong if statement in the following check.
https://github.com/namhyung/uftrace/blob/7ddad19a271c92d020f1119aa89b3bed2665bf98/utils/symbol.c#L430-L433

The last `std::ios_base::Init::~Init` symbol is not expected to have `sym.st_value`, but it's not zero in this case. So the `sym->addr` calculation goes wrong.

Let's see the function `load_dyn_symbol` itself. It reads ELF in

[2019-11-14 05:32] honggyukim commented on #1029
After changing to `configure --without-libelf`, the symbol is shown correctly. I'm not sure how to avoid to install 64-bit `gelf.h` in raspbian system.

[2019-11-14 08:03] namhyung commented on #1008
Thanks I'll take a look, but now I'm in a business trip so it'll take some time. :)

[2019-11-14 08:30] honggyukim commented on #1008
Hi @Lorac, I tried to run your program, but it's not compile with `-pg` so cannot trace it.

[2019-11-14 23:12] Lorac commented on #1008
I traced it with `-finstrument-functions`

[2019-11-15 20:35] kuzminrobin opened #1034 "When replaying args and retvals of type `/s`, escape the `"` char (prepend with `\`)."
When outputting the args and/or retvals of C-string type (pointer to null-terminated sequence of chars), if those C-strings contain `"` character then would be nice to prepend the `"` with `\` character. E.g. I want `uftrace` to print
`"ab\"c"` instead of
`"ab"c"` when I call like this:
`myFunc("ab\"c")`.

(I want to redirect the `uftrace` output to a file and then to look at that file in an edito

[2019-11-15 23:39] honggyukim opened #1035 "full dynamic tracing failure for V8"
I tested to trace current V8 master with full dynamic tracing, but failed as follows:
[code]
I bisected the commits and found the problem from the following one.
- 1147486 dynamic: support libraries for dynamic tracing

It cannot simply be reverted right now, so need to take care of the problem later.

[2019-11-15 23:41] honggyukim commented on #1035
@ParkHanbum Please take a look if possible.

[2019-11-15 23:43] honggyukim commented on #1034
Hi @kuzminrobin, it's been a while. Thanks for keep using uftrace.

Could you please show me a simple example and its replay output? That would be easier to handle the issue for me. Thanks.

[2019-11-16 00:06] honggyukim commented on #1034
Maybe it seems that the following is the similar example.
[code]
[code]
It seems that you want `puts` to print `"ab\"cd"` instead of the current output `"ab"cd"`.

[2019-11-16 00:16] kuzminrobin commented on #1034
Correct! I want
[code]

[2019-11-16 00:31] honggyukim commented on #1035
You can download the following binaries to reproduce the problem.
- [d8.txt](https://github.com/namhyung/uftrace/files/3853618/d8.txt)
- [snapshot_blob.bin.txt](https://github.com/namhyung/uftrace/files/3853619/snapshot_blob.bin.txt)

Then, try to run it if it works fine.
[code]

[2019-11-16 00:42] honggyukim commented on #1034
The following change may work for your purpose. Please apply it by downloading the diff file attached - [replay-string-escape.diff](https://github.com/namhyung/uftrace/files/3853631/replay-string-escape.diff.txt).
[code]

[2019-11-16 00:44] honggyukim commented on #1034
But I'm not sure if we really have to apply this change because it changes the default replay output. I may have to speak with @namhyung first.

[2019-11-16 01:53] honggyukim opened #1036 "duplicated dynamic patching for the same address map"
It takes long time to trace `clang` with full dynamic tracing as of now.
[code]
The reason is that it analyzes the same `clang` binary twice as shown below.
[code]
It's because they actually use difference session maps. They both have same address for `clang` binary, but different addresses for other shared libraries.
[code]
We may need to detect if the same binaries have the same address mapping

[2019-11-16 14:56] honggyukim opened #1037 "change the behaviors of --report option"
The `--report` option is used for showing report output before replay output in `live` command only. But I think it'd be used in a different way.

**1. reuse it for `tui` command.**

It can be used for displaying report mode when `tui` command is launched.

**2. displaying only report output in live mode.**

I think it's not needed to show both report and replay at the same time. It can be used to

[2019-11-16 15:05] honggyukim opened #1038 "reuse --record option for live command"
The option `--record` is used only in `script` command to record before scripting.

The `live` command doesn't keep the recorded data as of now. But `--record` option can also be used for `live` command to keep the recorded data in the given or default directory such as `uftrace.data`.

[2019-11-16 15:32] honggyukim commented on #893
@yeominstall You can finish by applying this change only for `perf-cpuXX.dat` excluding kernel data. Do you have any update since then?

[2019-11-16 17:10] honggyukim commented on #1008
I checked it again, but the file you attached do not have any tracable code.
[code]

[2019-11-16 22:52] honggyukim opened #1039 "check locale setting when installing man pages"
The current install build always install English man pages and it can be changed by adding `DOCLANG=ko` for Korean man pages.

But what about checking locale setting when installing man pages? I think it's easier for general users.

[2019-11-18 05:11] AnsBal commented on #1035
Hello @honggyukim, I think the problem is the that the address is not aligned to the page size.

This patch should solve the problem:

[code]

[2019-11-18 05:23] honggyukim commented on #1035
Hello @AnsBal,

Thanks very much for your effort, but it doesn't actually fix the problem. Here is the execution log.
[code]

[2019-11-18 05:46] honggyukim commented on #958
There's another case that should work fine.
[code]

[2019-11-18 16:07] Lorac commented on #1008
Ok this one has mcount in it. Sorry.

[uftrace_dbg.zip](https://github.com/namhyung/uftrace/files/3859525/uftrace_dbg.zip)

[2019-11-18 19:47] AnsBal commented on #1035
Ohh it seems that this patch had the be applied in another location in the code.

This fixed it for me:

[code]

[2019-11-19 10:43] sgkimsm commented on #846
Hi @namhyung ,

May I assume that this kind of dynamic tracing has its own overhead, so very frequently called function may show more self time usage than "-pg" instrumented profiling?

[2019-11-20 06:02] namhyung commented on #846
Yes, that's true.  For dynamic tracing, it needs to look up the saved code and execute one more jump.  But it's hard to say about the overhead since `-pg` affects the code generation and the body of the code may be different when it's not used.  Also dynamic tracing might not trace some functions due to technical/implementation problems.

[2019-11-20 06:08] namhyung commented on #1034
I think it should be default.  Please add it to `print_escape_char()`.

[2019-11-20 06:11] namhyung commented on #1036
Hmm.. we cannot do something for different sessions since they are in different address space.  Each is a different instance of the program, and we cannot change the binary itself.

[2019-11-20 06:12] namhyung commented on #1037
Well, it was sometimes useful for me to see the both of report and replay output.  But I'm ok with the first change.

[2019-11-20 06:13] namhyung commented on #1038
I'm ok with this.

[2019-11-20 06:23] sgkimsm commented on #846
Ok, thank you for the answer.
Then can I think that dynamic tracing can show which functions are mostly bottleneck when only few functions consume large CPU, but when the CPU usage is distributed evenly, it may be hard to say which functions should be optimized or the profiling result is so precise or correct due to the effect of dynamic tracing as you mentioned?
With statistical profiling approac

[2019-11-20 06:28] namhyung commented on #1039
I don't want to change default (English) man page installation since it's the default language for "C" locale.  We might do additional installation depending on locale..

[2019-11-20 06:29] namhyung commented on #958
What's the type of the ninja file?  Is it a (shell) script?

[2019-11-20 06:35] honggyukim commented on #1035
Thanks @AnsBal, it actually fixes a simple problem.
[code]
But doesn't fix the following problem.
[code]

[2019-11-20 06:40] namhyung commented on #1035
@AnsBal Yes the patch above would fix the problem given the description of the mprotect():

[code]

@honggyukim That's a different issue and reminds me of the days in node.js debugging... oh...

[2019-11-20 06:47] honggyukim commented on #958
Right. `ninja` is also a shell script file.

[2019-11-20 06:50] namhyung commented on #846
Well, the performance impact of uftrace is large when tracing function is so small and called very frequently.  But it's already included in the target function so you should be which function has the overhead for that case too.

For perf, profiling should be correct as long as the process runs long enough (or consumes enough cpu cycles).  But I'd say that's the most case so you don't usually need

[2019-11-20 06:53] honggyukim commented on #1037
I'm okay if you don't want to change it for live command. I just made a PR for tui command in #1042. Thanks!

[2019-11-20 06:54] sgkimsm commented on #846
Ok, thank you again for the clarification and the great work to add this cool feature. :)

[2019-11-20 06:59] namhyung commented on #846
You're very welcome!

[2019-11-20 07:02] honggyukim commented on #1039
I'm fine with it as well anyway. Thanks.

[2019-11-20 07:03] sgkimsm commented on #846
Sorry for many questions, but I forgot one.
I can't reproduce below result, but I think the statistics may be quite useful sometimes. Then could you advise how I get these debug info with current implementation?

...
dynamic: dynamic patch stats for 'uftrace'
dynamic:    total:      665
dynamic:  patched:      462 (69.47%)
dynamic:   failed:      194 (29.17%)
dynamic:  skipped:        9 ( 1.35%)
d

[2019-11-20 07:03] honggyukim commented on #1036
Technically, I think it looks possible, but requires a lot of work to identify if the same binary is mapped in the same address.

[2019-11-20 07:12] honggyukim commented on #846
@sgkimsm It's our pleasure to answer questions. The stat info can be printed simply with `-v` or `--debug-domain dynamic:1`. Could you please try again?

[2019-11-20 07:13] honggyukim commented on #846
Here is a simpler example.
[code]

[2019-11-20 07:22] namhyung commented on #1036
??? They are in different processes.  A change in one process cannot be shown to the other..

[2019-11-20 07:24] #976 closed

[2019-11-20 07:24] honggyukim commented on #1036
I mean the instruction analysis phase can be skipped. It may not be a big overhead though.

[2019-11-20 07:25] #1038 closed

[2019-11-20 07:25] #1037 closed

[2019-11-20 07:37] sgkimsm commented on #846
Oh, I got the result as expected, but strangely I couldn't read it from the terminal, probably due to wrong text color setting of my terminal.
Thank you for the help!

[2019-11-20 07:59] honggyukim commented on #846
You can also save the debug log into a file with `--logfile` option.
[code]

[2019-11-20 08:05] sgkimsm commented on #846
It's very good to know that there is an option for this. Thanks!

[2019-11-20 11:17] honggyukim commented on #846
Please let us know if you have any other questions. Thank you too!

[2019-11-20 17:05] ParkHanbum commented on #1035
@honggyukim check that the functions which have 'Builtins_' prefix has recorded. these functions must be exclude from tracing list.

[2019-11-20 17:15] kuzminrobin opened #1043 "The `uftrace` can be extended towards becoming a debugging aid."
(Continuation of the 2019.11.{15 - 19} dialog at https://gitter.im/uftrace/uftrace#)
As for
item **1** (interleaving the `uftrace` output with the application's `stdout/stderr` output)
and item **3** (wrapping/shrinking the repeated calls)
looks like the way I apply `uftrace` is different from your intention/philosophy.
Looks like your `uftrace` implementation is *performance-oriented/profiling-or

[2019-11-22 03:58] lntuition commented on #1024
To @honggyukim. I try to resolve this issue, but i cannot reproduce this problem. Could you explain how to reproduce this problem like #920?

[2019-11-22 04:32] honggyukim commented on #1024
Hi @lntuition, thanks for coming back. Here is the reproducible sequence.
[code]

[2019-11-22 05:14] lntuition commented on #1024
@honggyukim Thank you for comment! Sadly, i cannot reproduce problem in my environment with above sequences...

[2019-11-22 06:02] honggyukim commented on #1024
`setup_perf_data` in `utils/perf.c` is called twice in total from the following callers.
- `process_uftrace_info` in `cmds/info.c`
- `open_data_file` in `utils/data-file.c`

But `finish_perf_data` is called only once in my environment.

[2019-11-22 06:10] lntuition commented on #1024
In my environment, looks like `setup_perf_data` is never called. I don't know why this function is not called :(

[2019-11-22 06:11] honggyukim commented on #1024
Can you show me `uftrace --vesion`? Here is mine.
[code]
Your environment may not have `perf` in the list.

[2019-11-22 06:14] lntuition commented on #1024
[code]
Umm... I checked it, and look like having perf in the list :(

[2019-11-22 06:16] honggyukim commented on #1024
Could you show me the value of `/proc/sys/kernel/perf_event_paranoid`?
[code]
If the value is `3`, then change it to `1` and please try again.

[2019-11-22 06:21] lntuition commented on #1024
@honggyukim Thank u for helping! Now, I can reproduce problem.

[2019-11-22 08:10] honggyukim opened #1045 "invalid rstack error in arm"
Here is the sequence to reproduce in raspbian arm board.
It shows some broken message - ` WARN: invalid rstack read`.
[code]
Here is the recorded data - [uftrace.data.arm.invalid.args.tar.gz](https://github.com/namhyung/uftrace/files/3878506/uftrace.data.arm.invalid.args.tar.gz)

The problem can be seen by simply replaying the data.

[2019-11-22 08:43] lntuition commented on #1023
https://github.com/namhyung/uftrace/blob/ae49f162eb55b447e5085172eadea0fd7f0fa95d/utils/fstack.c#L925-L930

I think this problem occurs because of duplicate memory allocation. I think 927 line include behavior of 928-929 line. If we remove 928-929 line, memory leaking doesn't exist anymore. But i'm not sure that this approach does not hurt program...

So I need help. Is this correct approach? @hon

[2019-11-22 09:51] honggyukim commented on #1035
@ParkHanbum If so, is there any way to detect such functions?

[2019-11-22 09:56] honggyukim commented on #1023
It doesn't work by removing 928-929 line. You will easily see the problem after recording a simple program with `-a` option, then replay it. Maybe `args->data` has to be free-ed somewhere else.

[2019-11-22 10:55] honggyukim commented on #1045
This problem might be related to https://github.com/namhyung/uftrace/issues/786#issuecomment-500082323.

[2019-11-23 06:30] honggyukim commented on #1035
@AnsBal If so, could you send a PR for it?

[2019-11-23 10:05] gonapps opened #1049 "Enable travis-ci on pull requests"
Currently travis-ci is disabled on pull requests.
If you enable it, it will be automatically detect changes that make unittest or build fail.

[2019-11-23 10:07] honggyukim commented on #1049
If it's possible for the pull requests as well, why not having it?

[2019-11-23 10:46] ParkHanbum commented on #1035
you can use objdump to find functions or use python script replay.py

[2019-11-23 11:03] honggyukim commented on #1035
I mean if such functions make the crash, then uftrace has to automatically detect and exclude those functions. We cannot ask users to run `objdump` to find and manually exclude the functions.

[2019-11-25 01:39] namhyung commented on #1023
Agreed, we are overwriting `node->args` here and if it had data allocated, it'll be leaked.

[2019-11-25 01:42] namhyung commented on #786
Hmm.. ok.  Will take a look later.

[2019-11-25 01:49] namhyung commented on #1049
Yes, that'd be really helpful.  Could you please take a look and figure out how we can enable it?

[2019-11-25 01:59] gonapps commented on #1049
@namhyung
You can enable by clicking 'Build pushed pull requests' at https://travis-ci.org/namhyung/uftrace/settings

[2019-11-25 08:55] namhyung commented on #1049
Hmm.. it seems already enabled.

[2019-11-25 08:57] #920 closed

[2019-11-25 11:11] gonapps commented on #1049
@namhyung Oh it looks like now travis ci status is shown on github pull requests. Thanks

[2019-11-25 15:24] gonapps commented on #1049
Hmm.. not sure travis ci check will be shown without checking new pull requests in future

[2019-11-25 22:30] namhyung commented on #1049
You can see it when you open "All tests have passed" -> "Show all checks"

[2019-11-26 02:55] gonapps commented on #1049
Yeah but pull requests before #1051 there is only a codefactor check
For example: https://github.com/namhyung/uftrace/pull/1050
Did you changed some settings and is this solved now?

[2019-11-26 16:42] honggyukim commented on #803
The [third](https://github.com/namhyung/uftrace/issues/803#issuecomment-507553600) problem can be fixed with the change below.
[code]
@namhyung If you think it's correct, then I will send a PR.

[2019-11-26 17:01] honggyukim commented on #1023
How about this?
[code]
It seems to be a fix the memory leak in `args.data`.

[2019-11-27 00:32] honggyukim opened #1053 "memory leak in argspec"
Here is the reproducible execution sequence.
[code]

[2019-11-27 01:53] yisparyan opened #1054 "Bad timing data when using clone(), inverted time - data seems broken"
I noticed that I am running into issues when trying to use uftrace on code that uses clone to spawn new processes.

Example program that demonstrates the issue:

[code]
compiled with gcc -pg or gcc --finstrument-functions, GCC version 4.4.6

[code]

uftrace info and dump seems to suggest that it's only able to see the initial process. It looks like all of the cloned child's tracepoints are being a

[2019-11-27 02:16] honggyukim commented on #1054
@yisparyan Thanks very much for reporting this. I just modified your example in a simpler way, but shows the same problem as follows:
[code]
It shows `inverted time` in replay output.
[code]
We will take a look at this later when we have time. Thanks a lot!

[2019-11-28 23:04] AnsBal commented on #1035
Ii investigated the problem and found that when main is not patched (using -N main) the problem disappear:

[code]
This is the asm dump of main (Notice the jump instead of ret):
[code]

[2019-11-28 23:05] namhyung commented on #1023
It will work.. another approach is to use a local buffer since we need it only for comm string but not tested.

[code]

[2019-11-28 23:06] honggyukim commented on #1035
If you intended to "unpatch" `main` function, you can use `-U main`. Please read the description in the man page for `-U`/`--unpatch` option for more details.

[2019-11-28 23:11] honggyukim commented on #1035
It still shows the problem if I use `-U main`. It seems that the return hooking makes the problem in some specific function.
[code]

[2019-11-28 23:21] namhyung commented on #1054
@yisparyan thanks for using uftrace and reporting the issue.  Any reason you want to use `clone()` directly?  It's a very low-level system call and uftrace relies on higher-level facility (`pthread_atfork()`) to detect creation of new task.

[2019-11-28 23:26] honggyukim commented on #1035
[code]
The above problem can be fixed by unpatching `Builtins_LoadGlobalIC_NoFeedback`.
[code]
Here is the disassembly output of the `Builtins_LoadGlobalIC_NoFeedback`.
[code]

[2019-11-28 23:28] #1024 closed

[2019-11-28 23:29] #1053 closed

[2019-11-28 23:31] honggyukim commented on #1035
But unfortunately, it has more problems. Even if the above functions are unpatched, it still gets segfaulted.
[code]
This is a reason why I'm afraid of adding more and more techniques on full dynamic tracing. We first have to fix these problems rather than increasing success rate as of now.

[2019-11-28 23:47] honggyukim commented on #1035
The problem can be fixed by unpatching `Builtins_.*` functions as @ParkHanbum mentioned.
[code]
It's because builtin functions are written in assembly and it looks difficult to detect their pattern.

[2019-11-28 23:50] honggyukim commented on #1035
Here is the full disassembly output. Let's see if it's possible to detect and exclude such functions.
[code]

[2019-11-28 23:57] honggyukim commented on #1023
Hmm.. I think `args.data` are dynamically allocated in other places so better to use it in the same way. I tested your approach and it works fine as well.

[2019-11-29 02:41] AnsBal commented on #1035
I tried to debug one builtin function that crashs ( ``` Builtins_HandleApiCall ```) with gdb and here is what I found:
A series of JUMPS (instead of calls) to other function are performed until the control reaches the following line:

``` 0x55555662b238 <Builtins_AdaptorWithBuiltinExitFrame+24>        mov    %r10,0x20(%rsp) ```

After this point the return address of the frame in not the same anym

[2019-11-29 13:12] honggyukim commented on #1035
@AnsBal Thanks very much for the detail analysis. It might be tricky to handle it.

It doesn't fix this problem for now, but we saw the similar problem in garbage collection phase, but it was resolved by doing auto recover in #418.

FYI, it's merged in the commit below.
- 00340e51 Merge branch 'auto-recover'

[2019-11-29 13:39] ParkHanbum commented on #1035
@AnsBal actually, that all functions which has Builtins_ prefix are the part of interpreting logic of v8. while interpreting, v8 do so much manipulation to the stack. so, the calling convention is not kept on here. one of them is "On Stack Replamencement" a.k.a OSR optimization. I did some work to keep the safety while interpreting, but it breaked safety in common function. so, I gave up what to s

[2019-11-29 13:50] honggyukim commented on #1035
As you can see from the code below, the builtin function says `"Overwrite the return address on the stack."` at the end of the function.
[code]
https://github.com/v8/v8/blob/dfa569b462c18a08b22009da909d9aeb4a1ae2da/src/builtins/x64/builtins-x64.cc#L2505-L2540

[2019-11-29 14:00] honggyukim commented on #1035
I'm not sure if it's helpful, but the following commit explains about OnStackReplacement well.
- https://github.com/v8/v8/commit/49d9555a971c5f3cd6982702025765d3abbe92c7
[code]

[2019-11-29 21:14] honggyukim commented on #1035
It's a bit off topic, but leave some links regarding on stack replacement as a reference (for me).
- [on-stack replacement in v8](https://wingolog.org/archives/2011/06/20/on-stack-replacement-in-v8)
- [CS 7600 Survey Paper: On-Stack Replacement](http://prl.ccs.neu.edu/img/cs7600-mhyee-survey-paper-osr.pdf)

[2019-12-01 03:04] ParkHanbum commented on #1035
you can found the information associated from here : https://die4taoam.tistory.com/52 (korean)

[2019-12-01 13:47] honggyukim commented on #1035
@ParkHanbum You've already analyzed it. Thanks for sharing!

[2019-12-02 01:49] honggyukim commented on #1035
@ParkHanbum Anyway let's back to the problem. Would it be possible to detect such cases to exclude the functions safely?

[2019-12-02 04:25] ParkHanbum commented on #1035
@honggyukim it cannot be possible until we hijack RET, IMO.

[2019-12-02 05:06] AnsBal commented on #1035
@honggyukim Thanks for sharing all the resources.
@ParkHanbum I still didn't have time to read about the on-stack replacement technique in details. But I think if we can't support them, we should at least detect them and maybe suggest skipping them to the user. Do you have any idea about how can they be detected ?

[2019-12-02 05:23] ParkHanbum opened #1057 "For better performance, use the hash map instead of rbtree to find the function that caller of mcount."
as you know, hashmap has better performance than rbtree when search value by fixed key. for currently, uftrace use rbtree to find which function call the mcount. because mcount offset in function is not a fixed. but we can use disassemler for now, therefore we can calculate address which has call mcount.

I think it can be guarantee better performance, and significantly save the time.

[2019-12-02 23:43] namhyung commented on #1057
OK, so you want to use it for non-dynamic tracing case as well, right?  Then yes, I think it's possible when capstone is usable.

[2019-12-02 23:44] #803 closed

[2019-12-04 03:58] gonapps commented on #1049
Looks like travis-ci is enabled! I'll close this issue

[2019-12-04 03:58] #1049 closed

[2019-12-05 09:28] ParkHanbum opened #1060 "use SQLite3 to save Uftrace datas to use ability of SQL and Database."
for currently, uftrace use file to save uftrace datas which contains symbols and tracing information. this is good for portable and independetable. but bad for useable.

user cannot use tracing datas as way not supported by uftrace. uftrace support many mining way for tracing data. but it's usability is always limited obviusly.

so, it is better to change a way of saving uftrace datas. I think SQL

[2019-12-06 23:48] yisparyan commented on #1054
Hi, thanks for the response.

The codebase I'm working with on uses a test framework/harness that uses clone under the hood. It uses it to prevent the main test process from crashing if one of the tests segfaults or aborts.

I looked at the code briefly, it looks like vfork is already working by intercepting calls, so perhaps something similar would work for clone?

[2019-12-09 21:39] AnsBal commented on #1035
@ParkHanbum If we can be notified when the return address is accessed (Read or Write), we can know where the danger is. And at least let the user know.
We can use hardware breakpoints for this purpose. Since there is a limited number of them in most arch, we can use software watch-points instead (single stepping and checking RET, or a better technique..).

[2019-12-10 13:47] ParkHanbum commented on #1035
@AnsBal I agree that some technique can mitigate this problem. but if we take it, then it will effect to every other cases. additionally, we do not know how interpreter executed. so, it is only the assuming not the theori. we could not garantee safety of code until we can cover all logic of interpreter.

[2019-12-12 01:39] namhyung commented on #897
Pushed [review/python3-support-v3](https://github.com/namhyung/uftrace/compare/review/python3-support-v3)

Changelog:
 * fix warning on `stringify`

[2019-12-12 03:08] honggyukim opened #1061 "generate dynamically patched execution binary"
It takes time for dynamic patching the target functions in the original execution binary.

It might be possible to generate a new dynamically patched binary for uftrace tracing. There are some benefits as follows:
- a lot faster launching time by removing dynamic analysis and patching time.
- easier debugging because objdump output of dynamically patched binary makes a lot easier which functions a

[2019-12-13 06:32] namhyung commented on #786
There was a bug in the filter code - it didn't use 64-bit data type for address:

[code]

[2019-12-13 06:56] namhyung commented on #1045
Hmm.. the problem comes from the exit of `strncpy()`.  It should not have return value but it's somehow marked as it has (`0x2d`).  I guess it's because it checked the filter with a wrong address due to the bug in #786.  Can you record it again with the patch applied?

[2019-12-13 06:59] honggyukim commented on #786
Thanks for the fix. I tested it on ARM 32-bit board and it work fine.
[code]
I only changed the types without renaming `ip` to `addr`.

[2019-12-13 07:12] honggyukim commented on #786
Here is a tiny problem and it shows the following warning when building it on ARM 32-bit board.
[code]

[2019-12-13 07:13] honggyukim commented on #1045
You're right. The problem is gone after applying the fix in https://github.com/namhyung/uftrace/issues/786#issuecomment-565319442. Thanks for the fix.

[2019-12-13 07:49] #897 closed

[2019-12-13 07:49] #786 closed

[2019-12-13 07:49] #1045 closed

[2019-12-13 23:03] honggyukim commented on #1026
What about making it sure as follows?
[code]

[2019-12-14 00:03] honggyukim opened #1063 "random failure in tests"
It seems very weird that some tests are randomly failed. For example, 226 test result is different for each execution.
[code]
@DanielTimLee It seems that this problem has been seen since #570 was merged. Could you please take a look at this problem?

[2019-12-14 00:16] honggyukim commented on #1063
Its result is different even when executing only a single test.
[code]

[2019-12-14 00:32] honggyukim commented on #1063
The failed result is as follows:
[code]

[2019-12-14 00:54] namhyung commented on #1026
Does it work actually?  Why didn't the mkdir work but it did?

[2019-12-14 01:00] honggyukim commented on #1026
I didn’t test the second change, but the first `chmod(777)` worked fine.

[2019-12-14 01:12] namhyung commented on #1026
Hmm.. `0777` looks dangerous though..

[2019-12-14 01:15] honggyukim commented on #1026
If so, what about 755 then?

[2019-12-14 01:32] namhyung commented on #1026
It's much better, but I really don't understand why it would work.. :)

[2019-12-14 07:01] lntuition opened #1065 "float argument broken with uftrace in x86_64"
I found some float argument is broken with uftrace in x86_64
I didn't check with other environment...
Here is example code(test.c)
[code]

with uftrace with -A and -R option, it doesn't work well :(
[code]

Results :
[code]

Expected :
[code]

[2019-12-14 08:26] namhyung commented on #1065
Thanks for the report, I can reproduce the problem.  Will take a look.

[2019-12-14 11:32] namhyung commented on #1065
Yes, I found the filter code has some instructions which use SSE registers (`xmm0`, ...) and they overwrote the floating-point arguments.  This should not happen since we disallow such thing when building libmcount.  Then I looked at the git history and found the python3 patchset (4bff7d6d) accidentally got rid of it.

Now I'm ok with the below patch.  @lntuition can you confirm too?

[code]

[2019-12-14 13:42] honggyukim commented on #897
Hmm.. I'm sorry that I tested this very late, but it doesn't work on my environment as follows:
[code]
The result of `python3-config --ldflags` is as follows:
[code]
But the default version of `python3` is `3.7m` as follows:
[code]
In addition, there is no `libpython3.7m.so` in the search path.
[code]
The difference is shown because the default `python3-config` points to `python3.5-config` instead

[2019-12-14 14:10] honggyukim commented on #897
My system has `python3` as follows:
[code]
The default `python3` is `python3.7`.
[code]

[2019-12-14 14:54] namhyung commented on #897
It looks you installed two versions of python3.  Then it's your problem to configure them properly.

[2019-12-14 22:39] honggyukim commented on #897
Hmm.. I tested it again in a different machine and it still has another problem.
[code]

[2019-12-14 22:52] honggyukim commented on #897
After applying the following change, it works fine.
[code]
[code]

[2019-12-14 23:42] honggyukim commented on #897
How about applying the following change?
[code]
It detects the same python3 library module by running `python3-config`.

[2019-12-14 23:43] honggyukim commented on #897
I would also like to add a debug message to identify which python library is used.
[code]

[2019-12-14 23:48] honggyukim commented on #897
After applying all these, the final output is as follows:
[code]
The default `python3` in my system is still `python3.7` though.
[code]
I don't clearly remember how I installed `python3.7` although `sudo apt install python3` installed `python3.5` and `python3.5m` previously.
[code]

[2019-12-15 03:00] lntuition commented on #1065
@namhyung Thanks for your work! I confirm it :)

[2019-12-15 05:14] honggyukim opened #1067 "unexpected graph --task output"
I recorded `make` program itself.
[code]
But `graph --task` output has unexpected `|` lines at the last two lines
[code]
Here are example files for above test.
[code]
[code]
[code]
[code]

[2019-12-15 08:20] namhyung commented on #897
OK, I just noticed `Py_FinalizeEx()` was added in 3.6.  So we can move it out of the ifdefs..

[code]

[2019-12-15 08:24] namhyung commented on #897
Based on the installed location, I guess you manually built and installed it from source.  And I don't want to make it special for uncommon case like you.

[2019-12-15 08:56] honggyukim commented on #897
Based on the console output, it doesn't seem to be installed from source build.
[code]
I compiled it for testing, but it looks differently by showing its hash tag.
[code]
If you don't like this approach, then I'm fine with it. I will just remove my python3.7 manually.

[2019-12-15 08:58] honggyukim commented on #897
Along with the change `Py_Finalize`, please add the change in https://github.com/namhyung/uftrace/issues/897#issuecomment-565762961 to identify which library version is loaded in debug message.

[2019-12-15 14:10] namhyung commented on #897
Would you please send me a PR?

[2019-12-15 20:40] DanielTimLee commented on #1063
I remember there are some test cases that the test results are
inconsistent.

But not sure why. From the test result snippets that you've attached, seems
usleep can be the reason I guess?

I'm not really well aware of how it works,
So I need to look into it.

On Sat, Dec 14, 2019, 09:32 Honggyu Kim <notifications@github.com> wrote:

[2019-12-15 20:50] DanielTimLee commented on #1060
I may not following,

But I'm not sure of improvement of 'usability' by using database.

I guess the reason you comment like this is because uftrace is using its own data tracing format which is hard to use for other use-cases.
(Ex. Importing other tracing data to uftrace.
Or Exporting uftraced traced data to other)

IMHO,

[2019-12-16 01:14] namhyung commented on #1060
@ParkHanbum do you have any specific usecase?  I don't know how many people is good at SQL.

[2019-12-16 01:19] #1065 closed

[2019-12-16 01:21] namhyung commented on #1061
But it requires re-writing the ELF binary which affects section placements or maybe need to add new section(s).

[2019-12-16 14:18] honggyukim commented on #1061
It may be difficult to implement it, but I think it has a lot of benefits. I know that it take a lot of effort to implement though.

[2019-12-17 11:37] #989 closed

[2019-12-21 07:39] lu-zero commented on #1060
Saving the tracing data has the first requirement of taking the least amount of it, I doubt sqlite3 is quicker than the status quo.

Converting the data to a sqlite3 db could happen at a later time

[2019-12-22 03:34] honggyukim commented on #1063
Hmm.. there is another test.
[code]
It doesn't use `usleep` inside.

[2019-12-22 05:17] namhyung commented on #1054
@yisparyan sorry for the late reply.  Any reason you cannot use `fork()`?  I added support for `vfork()` since it's still used unfortunately.  I'm afraid it intercepts `clone` used in `fork` so we might see two task creations for one.

[2019-12-22 05:24] namhyung commented on #1043
Sorry for the late replay and thanks again for the lengthy write up.  Yes we consider the debugging aid of uftrace very important and will work on that direction.

[2019-12-22 05:26] namhyung commented on #1060
Sure, we can have a script to convert/export data to sqlite3.

[2019-12-22 05:35] namhyung commented on #1029
The GElf is designed to cover to handle both 32 bit and 64 bit systems so it chose the 64 bit one intentionally.

[2019-12-22 07:28] honggyukim opened #1070 "missing arguments error"
The test program is recorded as follows:
[code]
But it cannot be properly executed with analysis commands.
[code]
It shows some replay output, but it also shows the same error message.
[code]
Here is the recorded data - [uftrace.data.missing.args.tar.gz](https://github.com/namhyung/uftrace/files/3992221/uftrace.data.missing.args.tar.gz)

[2019-12-22 07:35] honggyukim commented on #1070
It shows report and graph output if the error message is changed as follows:
[code]
[code]
The dump output shows that the length of problematic arguments is 0.
[code]

[2019-12-24 02:55] honggyukim opened #1071 "always crashed at cs_close() when full dynamic tracing used"
Here is the execution environment.
[code]
In this server, full-dynamic tracing always gets crashed as follows:
[code]
Here is the crash point.
[code]
I deleted `cs_close` statement for debugging purpose.
[code]
It still gets crashed in a different place.
[code]

[2019-12-24 02:58] honggyukim commented on #1071
The backtrace of actual crash point is as follows:
[code]

[2019-12-26 04:23] honggyukim commented on #1067
Here is the recorded data - [uftrace.data.issue1067.tar.gz](https://github.com/namhyung/uftrace/files/4001355/uftrace.data.issue1067.tar.gz)
[code]

[2019-12-27 01:15] namhyung commented on #1067
This seems to fix:

[code]

[2019-12-27 01:25] namhyung commented on #1070
Hmm.. it actuall doesn't have the return value data.  It seems like a bug in record..

[2019-12-27 01:32] honggyukim commented on #1067
Thanks. It fixes the problem of recorded data for `make` above, but still has an issue when running it with time-filter for recorded data for `chrome`.
[code]

[2019-12-27 01:40] honggyukim commented on #1070
I've delved into the problem, but only found as follows:
[code]
As shown above, `total_size` becomes zero, so the `length` is also zero in the record.

[2019-12-27 01:46] honggyukim commented on #1067
The record data for `chrome` can be downloaded in the link below.
- https://github.com/honggyukim/ksc2019/tree/master/data

Please uncompress `uftrace.data.chrome.youtube.google.naver.debug.tar.gz`.

[2019-12-27 23:18] namhyung commented on #1070
But then it would save no argument/return value at all.   In this case we only lost some of it.

[2019-12-27 23:23] namhyung commented on #884
Fixed by #1050

[2019-12-27 23:23] #884 closed

[2019-12-28 07:01] namhyung commented on #1067
It seems we should apply the time filter differently.  I've uploaded the fix at [check/task-graph](https://github.com/namhyung/uftrace/compare/check/task-graph).

[2019-12-28 07:07] namhyung commented on #1071
Did you do something with capstone?  As it's crashed in the dynamic linker, it'd not be a problem in uftrace or libmcount.  I'd recommend you re-install the capstone library..

FYI, I cannot reproduce with the current code:

[code]

[2019-12-28 07:10] namhyung commented on #1025
Can anyone verify the above change?

[2019-12-28 07:13] honggyukim commented on #1067
Do you mean that one of the children might live longer because it could be detached from the parent?

I tested it with your fix and the output looks very good now. Thanks very much for the fix!

[2019-12-28 07:15] honggyukim commented on #1025
Hmm.. Actually, this error was shown when I manually wrote `mcount` calls at the beginning of some functions in chrome source code. I don't have the environment now.

[2019-12-28 07:16] honggyukim commented on #1071
I have a different machine and capstone is installed by `misc/install-deps.sh`. It's only shown in a specific machine. I know it's weird but left the issue to track the issue in the future.

[2019-12-28 07:27] namhyung commented on #1067
Parent can exit anytime if it wants to.

[2019-12-28 07:31] namhyung commented on #1025
Then I'll merge it and close this.  Please reopen if you could find an issue later.

[2019-12-28 07:37] honggyukim commented on #1025
Okay. Thanks.

[2019-12-28 07:45] honggyukim commented on #880
This work is done by the following pull requests.
- uftrace: #924
- record: #991
- live: #991
- replay: #992
- report: #933
- dump: #929
- graph: #969
- tui: #984
- script: #948
- info: #995
- README: #986

[2019-12-28 07:45] #880 closed

[2019-12-28 07:46] #1067 closed

[2019-12-28 07:46] #1025 closed

[2019-12-28 08:04] #1035 closed

[2019-12-28 08:35] namhyung opened #1072 "write more unit tests"
Although we have growing number of runtime end-to-end test, it'd be nice to have more unit test for internal logics.  As they're tested during PR, it's more likely to find bugs early.  Let's do it.

[2019-12-28 09:21] honggyukim commented on #898
@namhyung What do you think about adding this to the next release?

[2019-12-28 09:24] honggyukim commented on #834
@namhyung Could you please take a look at this if you have some time for working on AArch64?

[2019-12-28 09:25] honggyukim commented on #834
Due to this problem, I always ask users to add `--no-libcall` when running it on AArch64.