[2021-08-28 09:18] elfring opened #1321 "Terminate trace run after a configurable program condition"
A traced program can reach a data processing step after which it can be terminated.
How do you think about the possibility to express any conditions for the trace tool to trigger a corresponding program termination? :thinking:

[2021-08-28 10:48] elfring opened #1322 "Add the word „be“ in two sentences of the documentation"
The wording „will not shown“ is used at two places.
* https://github.com/namhyung/uftrace/blob/a663f491e4be2ccf6c0c3f4563226b0ba035d101/doc/uftrace-record.md#triggers
* https://github.com/namhyung/uftrace/blob/a663f491e4be2ccf6c0c3f4563226b0ba035d101/doc/uftrace-live.md#triggers

I suggest to use the wording „will not be shown“ in these sentences.

[2021-08-28 11:43] elfring opened #1323 "Support function trace scopes"
I would like to specify that only selected function calls should be traced.

[The action „trace_on“ is supported already for triggers](https://github.com/namhyung/uftrace/blob/a663f491e4be2ccf6c0c3f4563226b0ba035d101/doc/uftrace-record.md#triggers "Documentation: uftrace record").
I occasionally see a need to trigger also the corresponding action „trace_off“ (after the selected function was succes

[2021-08-29 08:24] elfring commented on #1320
I hope that a command variant like the following will influence the data analysis also in desirable directions. :thinking:

[code]

Will any more system fine-tuning evolve accordingly?

[2021-08-29 12:46] elfring commented on #1060
How will the clarification evolve for [the corresponding database schema](https://en.wikipedia.org/wiki/Database_schema "Description for the usage of database schemas")? :thinking:

[2021-08-31 09:16] im-ayushi opened #1324 "Showing argument type name for pointers on the output screen"
$ clang++ -pg -g typename.cpp

$ uftrace -a a.out
# DURATION     TID     FUNCTION
            [131885] | main() {
   0.916 us [131885] |   foo(&aaa, 0xffffc4bf333f, 0xffffc4bf333e);
   1.959 us [131885] | } = 0; /* main */

[2021-08-31 15:36] akshit-sharma commented on #1273
I am unable to get thread id by using --task flag.
I used the same example with -pg instead of -finstrument-functions.
My Makefile is :
[code]

My main.cpp file is:
[code]

Output of ``` uftrace report --task ``` and ``` uftrace report ``` is the same.
uftrace report --task :
[code]
uftrace report
[code]

[2021-08-31 16:06] akshit-sharma opened #1325 "chrome dump bug"
Presently chrome dump is unable to properly format [operator""s](https://en.cppreference.com/w/cpp/chrono/operator%22%22s).
I will assume this will extend to any function which uses `"` (double qoutes).
Recreating:

main.cpp:
[code]

command:
[code]

Try opening chrome.json in chrome browser (chrome://tracing/), it should error out.

Reason for error:
<details>
<summary>
chrome.json created
</summ

[2021-08-31 16:23] namhyung commented on #1273
Strange, I get this

[code]

Can you show me the `uftrace --version`?

[2021-08-31 16:25] namhyung commented on #1325
I think we had (and fixed?) a similar problem.  @honggyukim can you please take a look?

[2021-08-31 16:27] namhyung commented on #1324
Hi @im-ayushi, thanks for using uftrace.

As of now, it doesn't support displaying type names in the output.

[2021-08-31 16:31] namhyung commented on #1321
Do you want to terminate the target process from uftrace?  Seems a bit scary but might be useful in some case.

[2021-08-31 16:37] namhyung commented on #1322
It'd be nice if you could send a PR directly.  Or do you want others to do it for you?

[2021-08-31 16:39] namhyung commented on #1323
I think you can use a depth filter (-D 1) with function filters (-F myfuncs) to trace selected functions only.

[2021-08-31 16:41] namhyung commented on #1320
Do you mean parallelizing the analysis commands (like uftrace replay, report, ...)?

[2021-08-31 16:45] akshit-sharma commented on #1273
My ```uftrace --version``` was ```v0.9.3```. I had the one installed from apt-get. I updated to latest one now. thanks.

[2021-08-31 16:45] #1273 closed

[2021-08-31 16:46] akshit-sharma commented on #1325
Sorry, its fixed. I had a earlier version.

[2021-08-31 16:46] #1325 closed

[2021-08-31 17:12] elfring commented on #1320
* I assume that there are further possibilities to consider for parallel data processing.
* The stored data can be offered by other application programming interfaces.
* The recorded data can be reduced on demand by some means, can't they?

[2021-08-31 17:37] elfring commented on #1321
Occasionally, yes.

[2021-08-31 17:43] elfring commented on #1323
:thinking: I got the impression that depth filters support other purposes than the possibility to activate tracing for the duration of selected function calls.

[2021-08-31 20:07] elfring commented on #1320
Would you find any clarification interesting according to data processing aspects by the following command variant? :thinking:

[code]

[2021-08-31 21:09] bernhardkaindl opened #1328 "uftrace is now in LinuxBrew (merged into Homebrew)"
As uftrace now has a brewable formula in LinuxBrew, I guess it would be nice for users to add it as an option to INSTALL.md. Yes/No/Ideas?

PS: A submission as a package for the spack build system and package manager is also ready to be reviewed: https://github.com/spack/spack/pull/25710

### Discussed in https://github.com/namhyung/uftrace/discussions/1327

PPS: Debian and Ubuntu are still on v0.

[2021-09-01 06:21] namhyung commented on #1328
Thanks for your effort!  But the INSTALL.md file is mainly for how to build (and install) it from source.  I think most users are familiar with the packaging system they use to install the binary package.

I agree that it'd be really nice if we can update the package in Debian!  Also I'm willing to release it more frequently and actually plan to get v0.11 soon.

[2021-09-01 21:16] yottapulsky opened #1330 "New command to modify filters at runtime"
PR #1269 introduces a new uftrace command, able to modify the filters of an already running uftrace instance. Feedback is needed about some design features.

The PR comes with a handful of new features, such as modifying filters and triggers, as well as time and depth options. It can be reviewed independently from PRs than rely on it (namely #1274).

# Motivation

Some use cases require instrument

[2021-09-02 06:48] namhyung commented on #1330
@yottapulsky thanks for your detailed explanation.  It helps me to understand the issue you want to solve.  So do you want to run uftrace continuously and also want to change filters/triggers?

I've just got a different idea.  As I said, eventually I want to have `uftrace record -p <PID>`.  I'd like to not have `uftrace client` or (`apply`) if possible.  I think we can make `uftrace record --daemo

[2021-09-02 17:16] #1228 closed

[2021-09-02 21:11] bernhardkaindl commented on #1328
Agreed, getting uftrace updated in debian should be the next priority.

To get the ball rolling, I've taken thepaul's commit history for the debian subdirectory from his repo,
rebased it and updated it to the current Debian build environment, and added libunwind and libluajit.

In the sbuild, which is the enviroment used to build the binary packages, the autotest (which thepaul
activated to run ma

[2021-09-02 22:30] yottapulsky commented on #1330
Yes, the point was having uftrace continuously tracing its target, and in the meantime change the filters/triggers (and eventually (un)patch functions) in the target.

Having the `-p <PID>` option in the `record` command seems intuitive, as one can choose to trace either a binary or a process. Eventually the record command will be able to load `libmcount-*.so` at runtime, but for the moment, let's

[2021-09-03 06:45] namhyung commented on #1330
I didn't expect you want to trace it all the time because of the data size.  At some point you would need to disable tracing unless the data traffic is very low.  So I think it's ok to pause tracing by stopping and restarting record with new option.

[2021-09-06 02:58] #1308 closed

[2021-09-07 03:52] kangtegong opened #1335 "Dockerfile for archlinux not working"
While building distro test with Dockerfiles in misc/docker, I found out
Dockerfile for arch linux is not working properly like below

[code]

If I chage the image source from `FROM archlinux/base:latest` to `FROM archlinux:latest`, this also caused problem like below

[code]

Turns out, I think official image for archlinux in docker hub only [supports `amd64` architecture](https://hub.docker.com/_

[2021-09-07 15:14] yottapulsky commented on #1330
I agree that in most cases it should be OK to stop tracing.

We actually have use cases where we really need to keep tracing, and where the data traffic is indeed low. For example, we'd like to change the filters the way triggers do, but with an external script reading the trace output and using it to make decisions. We can discuss about this particular use case in another issue. It's an example o

[2021-09-08 07:14] namhyung commented on #1330
How did you use the external script?  By uftrace?

If you really need the continuous tracing, yeah maybe we should add the client/apply command.  I'm just thinking about the long term maintenance burden it'd bring, as it breaks the assumption in the stability of the shared data structure like filters.

[2021-09-08 16:22] yottapulsky commented on #1330
This feature is only an idea, we don't have any script yet. It could be used with the `script` command, but we need to execute it while the trace is being written. Currently this is not possible.

Yes, we'd really like to have it. What is problematic exactly? Do you think there is a way to manipulate the shared structures so the stability isn't impacted too much?

[2021-09-09 05:30] namhyung commented on #1330
Note that `uftrace record -S <script>` can run a script during record.

I designed it not to modify the global data structures (like filters) once it's initialized mostly for the performance reason.  But we can do that for the daemon case in a separate libmcount-daemon.so.  I think we can share the same code in the libmcount and add some conditional codes to do the necessary jobs for the daemon ca

[2021-09-09 22:35] honggyukim commented on #1330
Sorry for jumping into the discussion late. The expected execution model of @namhyung looks as follows.
[code]
But in this case, it seems that we will have two separate `uftrace.data` directories for each `uftrace record`.

When does the record process finishes? The issue I think is we don't have a way to detach `uftrace` until the program finishes. If so, we can't change the filter in the middle

[2021-09-09 22:59] honggyukim commented on #1330
If we need to support continuous tracing, then I also think there should be another way such as `client` or `apply` command because `uftrace record` is expected to drop `uftrace.data` directory for each run.

But the issue is the implementation and maintenance in the long term as @namhyung mentioned. We should lock/unlock for each access to `mcount_triggers`, `mcount_depth`, `mcount_threshold` and

[2021-09-09 23:16] honggyukim opened #1337 "uftrace recv needs to collect tracing data in a single uftrace.data"
Currently, `uftrace recv` command stores `uftrace.data` for each `uftrace record --host` run. For example,
[code]
Finally the `data` directory has two different tracing data directory.
[code]
I think it'd be useful if we can collect tracing data continuously in a single `uftrace.data`. The option could be `--collect-data` for example. So the expected output looks as follows.
[code]

[2021-09-10 16:41] kangtegong commented on #1322
Just fixed this issue, assuming @elfring want others to solve this issue.

And @elfring, if you were working on this issue, please let me know!

[2021-09-10 22:52] #1322 closed

[2021-09-11 10:15] vitlav opened #1343 "gcc -flto=auto : function ‘uftrace___cyg_profile_func_exit’ redeclared as variable"
With -flto=auto optflag I got

[code]

[2021-09-11 15:43] elfring commented on #1320
Would you find any analysis results according to a previous test run on 2021-08-31 similarly suspicious for desirable software improvements? :thinking:

Example:
[code]

[2021-09-11 20:10] elfring commented on #1320
Another background information for the desired clarification:
[code]

[2021-09-13 14:03] yottapulsky commented on #1330
Thank you for the explanations.

From my last changes in #1269, the daemon was only started in `libmcount-daemon.so`, which is not selected by default. So locks are necessary only is this library.

I'll be working on making `record` able to interact with the daemon too, and to detach from the target.

[2021-09-13 18:14] namhyung commented on #1337
Looks useful. I think `--combine-data` is slightly better..  maybe we could do it for the regular `uftrace record` as well.

[2021-09-13 18:27] namhyung commented on #1330
I'm afraid that attaching/detaching to an existing process (with or without an existing uftrace daemon) is not simple.

[2021-09-13 18:42] yottapulsky commented on #1330
I agree. The first step would be to attach to an existing daemon I think, but for this we need to setup libmcount (e.g. shared memory buffers) asynchronously. I'll be putting my efforts on dynamic patching first, as it can use my current client.

Regarding the detach part, @honggyukim suggested using `--detach-after=TIME`. Maybe we can use a `--detach` option in the client too, that can order libm

[2021-09-15 04:51] namhyung commented on #1330
If it can support attach/detach, I think the most intuitive way to detach is to catch Ctrl-C in uftrace record and send a command to the daemon.

[2021-09-15 04:53] namhyung commented on #1343
Thanks for the report, I'll take a look.

[2021-09-15 06:57] honggyukim commented on #1337
Looks fine to me.

Yes, that makes sense. It doesn't have to be used only for `recv` command.

[2021-09-15 06:59] honggyukim commented on #1343
Hmm.. The error is also shown only with `-flto` and it looks tricky anyway.

Is there any special reason to use `-flto=auto` or `-flto` option when building uftrace?

[2021-09-16 08:59] vitlav commented on #1343
That redeclation looks like a hidden bug for me.
There is no special reason to use LTO exclude the reason all vendors enable it by default:
https://fedoraproject.org/wiki/LTOByDefault
https://wiki.ubuntu.com/ToolChain/LTO
https://en.opensuse.org/openSUSE:LTO

[2021-09-16 16:25] kangtegong opened #1348 "Better message when uftrace command used solely"
Hello, I want to suggest better message when we put `uftrace` command.

Currently, when user first install the tool and enter `uftrace`, these message come out.

[code]

But how to you think about changing these message more user-friendly like below?

[code]

or

[code]

If this is ok, I think I can use message ['How to use uftrace' from README.md](https://github.com/kangtegong/uftrace#how-to-use-

[2021-09-16 16:37] kangtegong commented on #1348
Furthermore, I'm currently working on this issue #1316 ,
and when it's done, we can put

[code]

at the end of the message.

[2021-09-16 19:51] honggyukim commented on #1348
@kangtegong That looks really nice. Please go for it!

[2021-09-16 19:51] honggyukim commented on #1343
Hmm.. we will think more about it. Thanks for reporting the issue.

[2021-09-16 19:54] honggyukim commented on #1330
I think it's also a good way to detach, but not sure if it can reliably work as expected. I personally think we can also have `--detach-after=TIME` for different purposes. This can be done in a separate work.

[2021-09-18 10:44] elfring opened #1351 "Checking failure for a filter application"
I constructed a small test program for [the function “QStorageInfo::setPath”](https://code.woboq.org/qt5/qtbase/src/corelib/io/qstorageinfo.cpp.html#155 "Data determination").
I measured execution durations for the used functionality.

[code]

Can the total run time look questionable here? :thinking:

I would like to limit the software analysis a bit for the called functions.

[code]

Should such

[2021-09-18 16:56] elfring opened #1352 "Improving descriptions for data output according to function arguments and return values"
[The information “The uftrace tool supports recording function arguments and/or return values …” is provided](https://github.com/namhyung/uftrace/blob/ea48ca7acde23fe4053c725d706d264e1bd4c470/doc/uftrace-record.md#arguments "Storage of function data").
I would appreciate if the documentation can be extended so that [these data would be better reusable by other commands for helpful software analyse

[2021-09-19 05:49] honggyukim opened #1353 "Unable to use python3.8 for scripting"
`python-3.8.pc` doesn't provide `-lpython3.8` unlike `python-3.5.pc`.
[code]
The `python-3.5.pc` is as follows.
[code]
It has `-lpython3.5m` part in `Libs`.
[code]
But `python-3.8.pc` does have nothing in `Libs`. The result shows a problem because of this difference. I had to use `python3
[code]
But it's also tricky because of the following difference. It looks `python3.5` and `python3.8` has to b

[2021-09-19 05:50] #1353 closed

[2021-09-19 06:44] honggyukim opened #1354 "random failure in range tests"
It looks some tests related to `-r`/`--time-range` randomly fail as follows.
[code]
[code]

[2021-09-19 09:16] chengguo-msft opened #1355 "Some functions are not recorded when tracing ORB-SLAM2"
I am using uftrace to trace [g2o::BlockSolver::solve](https://github.com/raulmur/ORB_SLAM2/blob/f2e6f51cdc8d067655d90a78c06261378e07e8f3/Thirdparty/g2o/g2o/core/block_solver.hpp#L354)'s call graph in [ORB-SLAM2](https://github.com/raulmur/ORB_SLAM2), however, when program runs into [this loop](https://github.com/raulmur/ORB_SLAM2/blob/f2e6f51cdc8d067655d90a78c06261378e07e8f3/Thirdparty/g2o/g2o/cor

[2021-09-19 15:50] elfring opened #1356 "Reconsidering the display of execution durations for tracing with kernel functions"
I tried the following commands out together with the software “uftrace v0.10-76-g3064” once more according to my small test program.

[code]

I find the following data display suspicious.

[code]

* Should any more function calls like “`QStorageInfoPrivate::retrieveVolumeInfo`” and “`__internal_statvfs64`” be displayed here?
* Do the software components disagree about the total run time here?
* :c

[2021-09-19 17:22] namhyung commented on #1351
I don't see anything strange.  What's your expectation?

I think so.  Did you see the function in the report output without a filter?

[2021-09-19 17:26] namhyung commented on #1352
I don't follow.  What kind of info do you want?  What's the tool you'd like to use?

[2021-09-19 17:33] namhyung commented on #1354
Not sure what's going on.  It'd work if the normal t-abc example ran correctly.

[2021-09-19 17:35] elfring commented on #1351
I find the elapsed real time interesting here (which is a bit bigger than the combined times from kernel and user mode).

Thanks for your positive feedback.

Not yet.

Would you like to check if any function calls were missed by a questionable recording process?

[2021-09-19 17:38] namhyung commented on #1355
Hello, thanks for using uftrace and reporting the issue.

It might be optimized by the compiler so you'd better check the assembly of the loop.  Please make sure that it calls the function in the loop body and the functions have calls to the mcount.

[2021-09-19 17:44] elfring commented on #1352
I would like to work with all data (which were recorded) also by subsequent analysis commands.

* Your tracing tool will eventually be extended for more detailed value displays, won't it?
* I can become also interested in corresponding database queries and reports.

[2021-09-19 17:48] namhyung commented on #1356
Yes, it looks suspicious and we might have a problem in handling kernel functions.  Would you please share some more data on the kernel functions?  I think we can use the least called one like '__x86_sys_newfstatat'.  Can you please upload the output of `uftrace replay -F __x86_sys_newfstatat@kernel`?

[2021-09-19 17:55] namhyung commented on #1351
It's fairly common when the process was blocked during the run.

You'd better check the assembly code to confirm if there are function calls actually.  The compiler might inline some functions.

[2021-09-19 17:58] namhyung commented on #1352
I think you're talking about the struct arguments.  I don't have a good idea yet how to display them in the replay as it can go too verbose.  For now, `uftrace dump` will show the raw values.

[2021-09-19 18:16] elfring commented on #1356
[code]

What would you like to find out from the generated file which contains 16 MiB data at the moment?
[replay-__x64_sys_newfstatat-kernel.zip](https://github.com/namhyung/uftrace/files/7192665/replay-__x64_sys_newfstatat-kernel.zip)

[2021-09-19 18:31] elfring commented on #1351
Can such blockage occasionally become also questionable?

Should be checked before if mentioned special functions still belong to ones which are callable by known software libraries?

[2021-09-19 18:44] elfring commented on #1352
I would like to determine for example which file specifications were passed to [calls of a function like `statvfs64`](https://github.com/bminor/glibc/blob/595c22ecd8e87a27fd19270ed30fdbae9ad25426/sysdeps/unix/sysv/linux/statvfs64.c#L27 "Return information about the filesystem.").
Can such information be recorded on demand?

[2021-09-19 20:25] honggyukim opened #1357 "t-exception3 test fails in aarch64 with clang"
The following crash happens in aarch64 with clang.
[code]
It doesn't happen when the target is compiled without `-fno-inline`.
[code]

[2021-09-19 20:38] honggyukim commented on #1354
I just created the issue for future record. I have’t analyzed it in details yet.

[2021-09-19 20:53] honggyukim commented on #1357
[code]

[2021-09-19 20:55] honggyukim commented on #1357
`g++` doesn't have this problem.
[code]

[2021-09-19 21:00] honggyukim opened #1358 "t-malloc gets stuck in aarch64"
The test `t048_malloc_impl.py` gets `TM` in aarch64 as follows.
[code]
It can simply be reproduced as follows.
[code]

[2021-09-20 04:22] namhyung commented on #1356
Oh... then you should use a depth filter too.. like `-D 2` ?

[2021-09-20 04:26] namhyung commented on #1351
It depends on the program and compiler behavior.  It's hard to tell just from the uftrace.

[2021-09-20 04:30] namhyung commented on #1352
Are you talking about 'struct statvfs' argument filled by the function at return?  If so, it looks useful to have a spec to describe the behavior.

[2021-09-20 04:38] namhyung commented on #1060
@ParkHanbum I think we can keep this as a feature request as some people seem to be interested in this.

[2021-09-20 06:50] elfring commented on #1356
Will any other filter approaches become more interesting for the shown use case than by “depth”? :thinking:

[2021-09-20 07:01] elfring commented on #1351
Would I need to ensure (by build settings) for the discussed software analysis that the mentioned special function implementations will actually be callable (in test environments)? :thinking:

[2021-09-20 07:23] #1309 closed

[2021-09-20 07:25] namhyung commented on #1309
The above would be demangled as below:

[code]

[2021-09-20 07:25] namhyung commented on #1309
Full demangled names (by c++filt)

[code]

[2021-09-20 07:37] elfring commented on #1352
Not directly at the moment.

I would like to find some input parameters out for further analysis of the discussed data processing.

[The mentioned programming interface contains two arguments](https://github.com/bminor/glibc/blob/43576de04afc6a0896a3ecc094e1581069a0652a/io/sys/statvfs.h#L49 "Getting information about a filesystem").

[code]

Would you occasionally like to look at any consequences

[2021-09-21 20:43] qpakzk opened #1359 "Using -s/--sort option with --report option in TUI"
As @honggyukim mentioned in #1279, it can be helpful to use -s/--sort option when --report option is used in TUI.

[2021-09-27 18:44] misang3 opened #1363 "Segmentation fault in __gnu_mcount_nc"
Trying Ufrace for the first time on a new platform (Arm Cortex A7 arch) and seeing a segmentation fault in the _gnu_mcount_nc subroutine:

[code]

Hooked up gdb and debugged the segfault to the line: `ldr     r1, [fp]    /* fp (=r11) might point to return address on THUMB */`
When i compile without -pg and use the --force option it works since theres no mcount routine.
Have any ideas on what the i

[2021-09-27 19:27] honggyukim commented on #1363
Hi @misang3, thanks for reporting a problem. Could you show us the console output of running `uftrace record` with `-vv` or `-vvv` option to show us verbose message?

I'm also wondering if you have used the current master or old uftrace version.

[2021-09-27 20:25] honggyukim opened #1364 "segfault when running clang compiled t-thread-exit"
[code]
It doesn't get crashed when running with `--no-libcall`.
[code]
The clang version is
[code]

[2021-09-27 20:27] honggyukim opened #1365 "t191_posix_spawn failure with clang"
[code]

[2021-09-27 20:37] misang3 commented on #1363
[code]

[2021-09-27 20:50] misang3 commented on #1363
Now pulling from the latest master branch:

[code]

[2021-09-27 20:53] misang3 commented on #1363
One thing I've observed is that the fp (framepointer) which is r11 on my instruction set is set to 0 when i do a register dump:
[code]
That seems like why its segfaulting on the ldr instruction

[2021-09-27 20:58] namhyung commented on #1363
Did you build your program with `--fno-omit-frame-pointer`?

[2021-09-27 20:58] misang3 commented on #1363
That was it! that option was missing. Now it works! Thanks!

[2021-09-27 20:58] #1363 closed

[2021-09-27 20:59] misang3 commented on #1363
Is this a requirement for using Uftrace? Any workaround for a project that uses -`fomit-frame-pointer` for optimization?

[2021-09-27 21:02] namhyung commented on #1363
It's required for ARM (v6 and v7), afaik other arch will add it automatically when `-pg` is used.

[2021-09-27 21:04] namhyung commented on #1365
I think we need to find options to suppress such implicit libcalls in clang (like `-fno-builtin` in gcc).

[2021-09-29 21:11] #1359 closed

[2021-09-30 22:45] misang3 commented on #1363
I have a platform that uses ARM GCC with the following options: `-march=armv7-a -mthumb` and `-pg` seems to enable framepointers but the other one with `-mcpu=cortex-a7` is the one that i have to explicitly set `-fno-omit-frame-pointer`.

[2021-09-30 23:03] namhyung commented on #1363
Thanks for the update!

[2021-10-04 09:48] elfring opened #1368 "Support the configuration of a shell environment before tracing a passed command"
The tool “uftrace” supports tracing for passed commands.
These commands are directly executed so far.
But this execution configuration should be adjusted for some use cases.

We are used to functionality which is provided by some [command-line interpreters](https://en.wikipedia.org/wiki/Unix_shell "Description for the usage of Unix shells").
We would occasionally like to [redirect data streams](ht

[2021-10-05 19:55] yottapulsky opened #1369 "Runtime dynamic patching on x86_64"
# Introduction

We would like to bring _safe and concurrent runtime patching_ for the x86_64 architecture, so binaries that are not compiled with special options can be instrumented at runtime.

This issue is a place to discuss informally about pull request #1274.

We propose a progressive strategy, in which we want to gradually improve the efficiency of our methods.

# Previous work

PR #1274 rel

[2021-10-07 06:24] namhyung commented on #1368
I don't get your point exactly.  Do you want to use shell redirection with uftrace?  Isn't it working for now?

[2021-10-08 02:36] misang3 commented on #1363
Sorry i know this is closed but hopefully quick question:
I have a program I'm tracing with Uftrace (unfortunately can't share the sources yet :( ) but I'm getting this error:
[code]
And when I run it with -e, it works. Also if i apply a filter that reduces the functions being recorded then it works.
I don't really understand what the -e option does, maybe it will help me understand what could be

[2021-10-08 03:26] namhyung commented on #1363
Usually uftrace changes function return addresses to track exit from the function but it sometimes causes an error.  The -e option didn't do that and estimates whether previous functions are returned by comparing frame pointers.  It might have inaccurate call graphs (when functions pass arguments in stack) but safer to run.

[2021-10-08 19:59] qpakzk opened #1370 "Sort by func in TUI report"
The `report` command can sort by `func`. But `func` isn't a sort criterion for TUI report.
How about sorting by `func` in TUI report too?
To be honest, the `*` doesn't point to `func`, but the `-s` option allows you to initially sort by `func` in the TUI report now.

[2021-10-08 20:03] qpakzk commented on #607
@honggyukim Could you give me some advice how to know callees and callers in the current function?

[2021-10-11 05:23] Aref-Mousavi opened #1371 "Failed to run program with switches"
Hello
I want to use uftrace on lte-softmodem which normally execute like this:
`sudo -E ./lte-softmodem -O <configPath>`

but when i add uftrace record it seems, the program get error on reading config file. I compiled the program using -pg and it runs perfectly without uftrace. so its unlikely its because of the config file. but maybe i'm not passing argument properly to my main program!!!

`sudo

[2021-10-11 07:23] Rtoax opened #1372 "live trace"
Is there a plan to make trace of running process that already running, like uftrace -p <PID>?

[2021-10-11 20:56] namhyung commented on #1372
That's on the TODO for years, but unfortunately I don't have enough time to work on it.

[2021-10-15 05:58] namhyung commented on #1371
Glad to hear it works.  But I'm not sure what caused the segfault with the new switch.  Have you checked it actually passed your environment variable to the target process?  (I guess so, but better to check).

[2021-10-20 07:46] mckaylinux opened #1374 "arch/aarch64/mcount.S:8: Error: no such instruction: `stp x29,x30,[sp,'"
Hi，
when i was build aarch64  the build log is show as below, so the indicate not support aarch64, right ?
hope fix the problem, thanks.

uftrace/arch/aarch64/mcount.S: Assembler messages:
uftrace/arch/aarch64/mcount.S:8: Error: no such instruction: `stp x29,x30,[sp,'
uftrace/arch/aarch64/mcount.S:9: Error: too many memory references for `mov'
uftrace/arch/aarch64/mcount.S:12: Error: no such instr

[2021-10-20 19:11] honggyukim opened #1375 "trace2html can't be executed with python3"
The output `.json` file generated by `dump --chrome` can be converted into `.html` file with [trace2html](https://chromium.googlesource.com/catapult/+/refs/heads/main/tracing/bin/trace2html), but this script doesn't support python3 as of now. The error message is shown as follows.
[code]
The related explanation can be found at the most recent update at https://chromium.googlesource.com/catapult/+/

[2021-10-21 09:57] mckaylinux commented on #1374
I am curious, why clang has the compiler option -pg, but it fails to compile， or it just support x86

[2021-10-31 23:47] honggyukim opened #1377 "uftrace record failure when launching python 3.10.0"
[code]

[2021-10-31 23:48] honggyukim commented on #1377
I just found that this is because of not using `./python -c ''`, but used `python -c ''`. So the following works fine.
[code]
We may have to investigate why it fails.

[2021-11-03 08:23] ekyooo opened #1378 "source location filter"
This is issue to discuss the details of the request below.

listed at https://github.com/namhyung/uftrace/wiki/TODO#9-filter-improvement

For now, I've only selected the available options for testing.
-Y option is to set filter to trace selected source file.
-y option is to set filter not to trace selected source file.

Before:
--srcline option is used to show source location to you.

[code]

Afte

[2021-11-03 23:12] honggyukim commented on #1378
Thanks for opening this issue. I think it could be better to use existing option for source location filter. We can currently apply filters with `@` mark for trigger actions as follows.
[code]
I think we can add another `<action>` "src="<source_spec>". For example, your example can be used like this way.
[code]
`-F .@src=/home/soft/uftrace/tests/s-libmain.c` means to apply filter to every function

[2021-11-03 23:15] honggyukim commented on #1378
I also think we can use regex to source location string as well. For example, this should work to the source `s-libmain.c`, but it could be matched with any directory paths.
[code]

[2021-11-04 04:19] namhyung commented on #1377
Hmm.. strange.  Maybe python binary exec'es to itself?

[2021-11-04 05:15] namhyung commented on #1378
@ekyooo Thanks for bringing up this issue.  Basically I think it'd be better matching only with a basename unless there's a slash in the path.

About the @honggyukim suggestion, I feel like it's a different case.  The location filter is not an action in the trigger.  It's rather a selector - we select filter/trigger using function name normally, but with this it can be a source location.  Maybe we

[2021-11-04 15:12] ekyooo commented on #1378
@honggyukim, @namhyung
Thank you for your comments.

I have additional questions about the exclusion case you suggested.

The bash shell treats "$@" in the argument string as a special character as shown below.
[code]
'@$' can be preserved with escape character and single quotes.
[code]

So @hide with the regex '$' requires escape character or single quotes.
[code]
or
[code]

Do you agree with thi

[2021-11-04 23:39] honggyukim commented on #1378
@namhyung I thought about it maybe because we use `@` to specify module name, but I'm fine with your approach.

@ekyooo I think you don't have to worry about `@`. We already use `@` without quote but it works fine as follows.
[code]
But we can't directly use `$` so we need `\` or quote it as follows.
[code]

[2021-11-06 06:53] ekyooo commented on #1378
@honggyukim
Thank you for your reply.

@namhyung
I have a question about your comments.

For now it require '$' in argument to trace 's-libmain.c' as below.
[code]

Are you saying it's better to get the same result without the '$' as shown below?
[code]

Thank you.

[2021-11-06 23:22] honggyukim commented on #1378
It can be used as `-O .*s-libmain.c`. The filter match has two different modes. One for exact match and the other is regex match. Please see the following locations.
- https://github.com/namhyung/uftrace/blob/v0.11/utils/filter.c#L368-L369
  - `#define REGEX_CHARS  ".?*+-^$|()[]{}"`
- https://github.com/namhyung/uftrace/blob/v0.11/utils/filter.c#L240
  - `exact_match` flag

If the function name do

[2021-11-07 04:41] ekyooo commented on #1378
@honggyukim
I'm sorry for the confusion.
I know two different mode and my '$' case was an example of regex mode.
But I thought @namhyung means if there's no slash in the path, it'd be better apply exact match with just basename though there's no characters from REGEX_CHARS in the argument.
So I checked it.

Thank you.

[2021-11-07 22:37] namhyung commented on #1378
@ekyooo thanks a lot!  I'll take a look later.

[2021-11-08 07:43] kwangheeyoon opened #1383 "How should I analyze linux:schedule ?"
The fgets function analysis is different with --no-event option
Please tell me How should I analyze linux:schedule?
Is the linux:schedule time actually used?

Please check below result.

1. no option

1)uftrace graph
![image](https://user-images.githubusercontent.com/93905160/140702003-f0c17b6d-902c-40b8-9183-e9d7e52d36c3.png)

2)uftrace replay
![image](https://user-images.githubusercontent.com/93

[2021-11-08 07:48] honggyukim commented on #1383
Hi @kwangheeyoon, `linux:schedule` is recorded when schedule event happens so it's not explicitly shown in the source code.

`--no-event` means uftrace not to record or show events including schedule events.

The `linux:schedule` is the time the process or thread is scheduled out by OS scheduler.

[2021-11-08 10:35] ekyooo commented on #1378
@namhyung I'll send you a pull request after I check and fix it once more.
I hope you take a look after it.
Thank you.

[2021-11-09 08:04] kwangheeyoon commented on #1383
Thanks for your reply
real working time of fgets() function is the below?
fgets() working time = fgets time - linux:scheduled

![image](https://user-images.githubusercontent.com/93905160/140885230-ff36dd01-bd70-4c47-ad8e-8b47e8a501e8.png)

[2021-11-09 17:11] namhyung commented on #1383
Yep, that's the `self time` in the uftrace report.

[2021-11-19 04:18] honggyukim opened #1384 "-fpatchable-function-entry compiled binary doesn't patch full functions"
If there is a simple example as follows.
[code]
`-pg` compiled binary traces functions as follows.
[code]
However, `-fpatchable-function-entry=N` compiled binary trace much fewer functions.
[code]
It looks it doesn't patch enough functions from the binary because they might not be fully informed by `__patchable_function_entries` section so tried again after removing it.
[code]
It looks weird many

[2021-11-19 04:18] honggyukim commented on #1384
This is tested with #1367.

[2021-11-19 04:25] honggyukim commented on #1384
clang compiled binary also shows the same result.
[code]
However, removing `__patchable_function_entries` from clang compiled binary doesn't allow us to patch anything.
[code]

[2021-11-19 06:41] #1238 closed

[2021-11-19 10:11] honggyukim commented on #1384
It looks AArch64 shows the same problem.
[code]
These are the patched symbols.
[code]
It seems that we don't patch weak symbols.
[code]

[2021-11-19 10:28] honggyukim commented on #1384
It's fixed with the following change.
[code]
Now it shows more functions in the trace.
[code]

[2021-11-19 10:31] honggyukim commented on #1384
We can simply add `ST_WEAK_FUNC` to our patch list, but it would also be very helpful if there is a way to selectively filter out weak functions. Not sure what interface might be good for this.

[2021-11-21 18:47] namhyung commented on #1257
I've updated the logic to choose a sample time automatically.  PTAL [review/flame-sample-v1](../compare/review/flame-sample-v1).

[2021-11-21 18:58] honggyukim opened #1387 "arguments error in -fpatchable-function-entry compiled binaries"
There is a sample program `shared_ptr.cc`.
[code]
We can see the tracing output with `-pg` compiled binary as follows.
[code]
However, it shows an error when tracing `-fpatchable-function-entry` compiled binary as follows.
[code]
This was tested with #1386 to avoid skipping weak symbols.

[2021-11-21 19:01] honggyukim commented on #1387
To compare the difference, I recorded two examples as follows.
[code]
The `.dbg` file of `uftrace.data.fpatchable` doesn't have debug info of many symbols as follows.
[code]

[2021-11-23 03:28] kwangheeyoon commented on #1383
I send a e-mail. Could you check it?

[2021-11-27 16:51] honggyukim commented on #1257
@namhyung Sorry for the late feedback. It looks good but it'd be better to add the description about the logic in the `dump` man page.

[2021-11-28 19:36] #1384 closed

[2021-11-29 03:35] namhyung commented on #1257
Thanks for your feedback.  I'll add the description.

[2021-12-05 05:23] ChoKyuWon opened #1392 "Nightly rustc doesn't provide mcount symbol with -Z instrument-mcount flags"
I try to analyze wasmtime with uftrace, but it did not work with an error message that can't find mcount symbol.

So I try the example on the document, but it still did not work.
[code]
And here is the ``nm``` result with ```-Z instrument-mcount``` flags.
<details>
<summary>nm message</summary>
<div markdown="1">

[code]
</div>
</details>

And here is my toolchain versions:
[code]

[2021-12-05 21:11] namhyung commented on #1392
@quark-zju do you have any idea?

[2021-12-06 03:23] quark-zju commented on #1392
Bisect shows it's a regression introduced in `nightly-2021-08-22`. `nightly-2021-08-21` works fine. Looking at the commits (`git log --graph a0035916e..d3e2578c3  -p`), ["Upgrade to LLVM 13"](https://github.com/rust-lang/rust/commit/db002a06ae9154a35d410550bc5132df883d7baa) looks the most suspicious. I haven't tried to look deeper yet.

[2021-12-13 05:43] namhyung commented on #1392
@quark-zju thanks for checking this and sorry for the late reply.  Do you mean that the bytecode contains calls to `mcount` but the final binary doesn't?  It might be a link-time optimization to get rid of it if the rust runtime doesn't provide the definition of the `mcount`, but I'm not 100% sure.

Btw, is it possible to change the rustc to use `-fpatchable-function-entry` like in #1367?  It does

[2021-12-15 22:26] honggyukim opened #1397 "`--dlopen` option is needed for dynamic tracing"
When tracing with dynamic tracing, uftrace has to patch the the binary to enable tracing hooks. But in case of `dlopen`ed libraries, the patching time is included into the execution time.

This will misled the execution time of `dlopen` called functions, so we need to get rid of the patching time for `dlopen`ed libraries.

To address this issue, we can add `--dlopen` option to explicitly pass the

[2021-12-16 06:13] namhyung commented on #1397
Do you want to change the content of the binary before loading?  I'm not sure if it's possible (in case of shared objects) and then it'd create a different copy of the image.  Consider two different processes use the same binary - one with uftrace, the other is not.

[2021-12-16 09:42] honggyukim commented on #1397
I mean I want to call `dlopen` for the given library in `mcount_startup` in the target process and it won't affect the original program's behavior but just load the library ahead.

[2021-12-19 22:31] namhyung commented on #1397
I'm not sure if it'd change the behavior in a subtle way.  The library might have some initialization code which depends on internal states then it can behave differently.

[2021-12-19 22:41] honggyukim commented on #1397
As I understand, the second `dlopen` call for the same library just returns the same handle. I think we can provide an option to users.

I also really need this approach to remove dynamic patching time at runtime. I better write a prototype and check it again though.

[2022-01-02 18:43] honggyukim commented on #1387
The output of `dbginfo` for `shared_ptr.fpatchable` doesn't have much info.
[code]
Unlike `shared_ptr.fpatchable`, `-pg` compiled binary shows a lot more info.
[code]

[2022-01-02 19:08] honggyukim commented on #1387
Notable `lcov` difference of `misc/dbginfo.c.gcov.html` is as follows.
**1. `shared_ptr.pg`**
[code]
**2. `shared_ptr.fpatchable`**
[code]
It shows `if (loc->sym == NULL)` check at line 23 fails mostly in `shared_ptr.fpatchable`.

[2022-01-02 23:45] honggyukim commented on #1387
This problem happens because `dwarf_getsrc_die` returns `NULL` and it's assigned to `Dwarf_Line *line`.
https://github.com/namhyung/uftrace/blob/b417739a7e9a41baedc705a7b46c1be6602985a1/utils/dwarf.c#L1435

`-fpatchable-function-entry=5` adds 5 NOP instructions at the function prologue and `sym->addr` has the address of the first NOP instruction. However, we don't have dwarf info at the first NOP

[2022-01-04 07:35] honggyukim commented on #1235
It's fixed by https://github.com/namhyung/uftrace/commit/646927870c139427f641945123732e1f12b98010 in #1253.

[2022-01-04 07:35] #1235 closed

[2022-01-04 08:15] honggyukim commented on #1387
I just checked again, but clang provides source location info from the first NOP instruction so this problem exists only in gcc.

[2022-01-09 22:55] honggyukim opened #1399 "NOPs in function exit with -fpatchable-function-exit=N would be useful"
Currently, gcc and clang support adding NOPs only in function entries with -fpatchable-function-entry=N, but it could be extended to `-fpatchable-function-exit=N`.

Having this option can make uftrace record more reliable because it doesn't have to do return address manipulation. We can detect `__patchable_function_exits` and if it exists then uftrace doesn't have to do return address hijacking.

[2022-01-10 15:04] honggyukim opened #1400 "ARM 32-bit test result"
I've tested our tests on ARM 32-bit and here is the result.
[code]
The test is done in aarch64, but cross compiled to arm 32-bit binaries with the following diff.
[code]
We should install aarch64 to arm cross-compiler as follows.
[code]

[2022-01-10 15:16] honggyukim commented on #1400
It'd be easier to test both 32/64 bits even in arm machines if we have #1032.

[2022-01-10 19:21] honggyukim commented on #1400
One of notable failure is
[code]

[2022-01-10 20:15] honggyukim commented on #1400
Second run shows this result.
[code]

[2022-01-12 02:36] pietgeursen commented on #1272
I think I've run into this problem too so I'll have a go at explaining it.

I want to be able to set the `LD_PRELOAD` environment variable for the program I'm tracing with `uftrace`.

BUT, if I do it like this:

[code]

Then I will intercept uftrace's calls too. I really only want to set that env variable for my program.

As example, gdb gives you an escape hatch so you can do this:

[code]

[2022-01-12 23:06] honggyukim commented on #1203
It's not fixed yet, but the bugzilla issue was transferred to https://github.com/llvm/llvm-project/issues/47305.

[2022-01-19 19:38] namhyung commented on #1272
I see, it's tricky because uftrace also sets `LD_PRELOAD`.  When it comes to other env variables, you can use `env` as well.

[code]

I'll think about adding an option to set environment variables, thanks!

[2022-01-29 15:43] kangtegong opened #1404 "Is uftrace `-?` option an obsolete feature, or a bug?"
In README.md and doc/uftrace.md, there's an explation about `-?` option like below:

README.md

    You can use `-h`, `-?` or `--help` option to see available commands and options.

uftrace.md

    -?, \--help
        :   Print help message and list of options with description

But turns out, `-?` option doesn't work properly. (18.04.1-Ubuntu SMP x86_64)

[code]

Is this option is not available an

[2022-01-31 12:56] honggyukim commented on #1404
You're right. It has become obsolete since we change the option from argp to `getopt_long` at 86f44a22bc6d87723f9a60344eecd3c1a04134cd.

Please send a PR to fix it. Thanks.

[2022-02-01 01:59] #1348 closed

[2022-02-01 01:59] #1404 closed

[2022-02-04 02:13] namhyung opened #1406 "Support recording with pre-saved symbols"
We have `--with-syms` option for `uftrace replay` to symbolize data using external symbol files.  Extend it to `uftrace record` so we can use stripped binary for recording.  Symbols and debug info should be recorded separately before the strip.  And filenames should not be changed.

Example:
[code]

It also supports filtering and debug info.  During the record, libmcount will read symbols and debu

[2022-02-10 08:02] honggyukim opened #1407 "Support event for script command"
Our script interface only defines these.
- `uftrace_begin()`
- `uftrace_end()`
- `uftrace_entry()`
- `uftrace_exit()`

But it's not possible to process other events such as scheduling events so we need to expand it for event support.

[2022-02-10 08:10] honggyukim commented on #1406
I didn't carefully look into the changes in details, but I tested and found it works as expected. Thanks for the work!

[2022-02-11 05:09] honggyukim opened #1408 "Make uftrace.data/info as text format"
Currently, uftrace.data/info has binary format, but it makes difficult for manual debugging.

In addition, I also think about making other data from external tracing tools to be converted to uftrace format. The text format info would allow this to be simpler.

[2022-02-13 20:29] #1387 closed

[2022-02-13 20:57] namhyung commented on #1144
I think #1406 can be an answer.

[2022-02-13 20:58] namhyung commented on #1228
I'm working on #1406 now.

[2022-02-13 21:09] honggyukim commented on #1144
Hmm.. I think it's a different issue. I wanted to get debug info from external files without using pre-recorded `uftrace.data`.

[2022-02-14 03:00] namhyung commented on #1144
Right, it's different.  But I think it can be helpful in some cases.

[2022-02-15 07:50] #1406 closed

[2022-02-21 20:08] tlambertz commented on #1392
I have encountered the same issue for my tracing library as well, it's a change in how clang/llvm split functionality between themselves.
There is an open issue here: https://github.com/rust-lang/rust/issues/92109

I have found a workaround to be manually adding the required LLVM passes:

[code]

[2022-02-22 23:31] namhyung commented on #1392
Thanks for the update!

[2022-02-22 23:44] namhyung opened #1409 "Flame graph dump and depth filter"
I found flame-graph dump doesn't work well with a depth filter.

For example, I played with the abc test program.
[code]

By default it uses 1us as the sample-time for this tiny program.  So it will produce a flame graph data like below.

[code]

This is fine.  But when I use a depth filter it behaves unexpectedly.

[code]

I'd like to see `main 2` in the output but it doesn't print that (even wit

[2022-03-03 18:22] namhyung commented on #1407
I've pushed [review/script-event-v1](../compare/review/script-event-v1).

It doesn't support running a script at record time.  The `uftrace_script_event` funciton is added to handle event types.  The sc_ctx provides 'name' and 'args' for event information.

This is my test script.
[code]

I ran it with the following command.
[code]

[2022-03-03 21:45] namhyung commented on #1407
I've added Lua support but couldn't test it actually.  It'd be nice if you could verify it.

[2022-03-05 06:33] honggyukim commented on #1407
Thanks very much for doing this. I will have a look more. For now, test looks good.
[code]

[2022-03-08 07:09] honggyukim commented on #1407
It works fine for Lua as well.
[code]
[code]

[2022-03-15 05:32] namhyung commented on #1407
Pushed [review/script-event-v2](../compare/review/script-event-v2).

Changes:
 - add documentation and test cases
 - fix script filter cleanup

[2022-03-16 21:23] namhyung commented on #1328
Yep, I plan to have a new release soon, maybe this or next month.

[2022-03-16 22:29] #1407 closed

[2022-03-17 09:42] honggyukim commented on #1407
Thanks very much for your work! I just added `uftrace_event` to `dump.py` and `dump.lua` at #1412.

However, I can't add it to `replay.py` because I can't get duration for `linux:sched-out`. Can we pass this information together?

[2022-03-17 10:16] honggyukim commented on #1407
I found a workaround with this.
[code]
Its output is as follows.
[code]
It looks depth of event is always `0`.

[2022-03-18 01:05] ParkHanbum opened #1413 "how about use Thread-Local storage supported by compiler instead posix-style?"

[2022-03-18 07:44] #1057 closed

[2022-03-19 01:33] namhyung commented on #1407
Right, the duration is not a part of the event so you need to calculate it in your script.

[2022-03-19 05:28] namhyung commented on #1413
In fact, I used it originally but converted to the posix API in the commit 5fefcba47b.  It was because that using `__thread variable` added implicit `__tls_get_addr()` calls in many places and it became visible to performance profile.  Another reason was to release per-thread data structure reliably when a thread is exiting.

[2022-03-20 17:34] ParkHanbum commented on #1413
now I remember it. I think I went through the same problem and tried to fix it.

would you please review below commit?
https://github.com/ParkHanbum/uftrace/commit/59566806eab09f18f6b16d59b2c48fa3c4a84955

I think it might be useful.

[2022-03-21 01:49] namhyung commented on #1413
Thanks for your suggestion.  If you propose it as a performance improvement, could you please give me some numbers to verify it's actually better for uftrace?

[2022-03-21 11:05] ParkHanbum commented on #1413
Thank you for your kind answer. We have a record of very rough tests in the past, and we can expect about 40 percent performance improvement. However, if this proposal is accepted, I will provide a much more accurate test record.
![99F880355C7D1B1F13](https://user-images.githubusercontent.com/1003760/159248856-aec24a33-1d1c-4d35-8a6a-b5a41a652b13.png)

[2022-03-21 11:26] ParkHanbum opened #1414 "[suggest] feature for tracing to already running process"
The feature to trace running processes is useful. In particular, it is attractive that it can skip the initialization stage of the program and track only the functions user want.

I think the function of tracing dynamically executed programs should be developed separately as follows.

1.Injection of shared object file responsible for tracing  function
feature to load shared objects that enable tra

[2022-03-21 17:01] thisisamardeep opened #1415 "How to disable all tracing in a particular directory or to enable tracing only in a particular directory"

[2022-03-21 18:27] namhyung commented on #1413
Yeah, it should be faster when you call it directly.  But it's somewhat vague when you do it with uftrace since, as I said, it might change the number of calls and might give the opposite result.  Probably we should have a benchmark for uftrace first.

[2022-03-21 18:38] namhyung commented on #1415
I guess you are talking about filtering based on the source code lacation.  Actually #1395 is being worked on so hopefully you can get it in the next version.

[2022-03-21 19:05] thisisamardeep commented on #1415
yes
thanks it reallly helps when you have 20 gb of call trace like cpython.

[2022-03-29 01:41] honggyukim commented on #1414
Hi @ParkHanbum, it's good to see you back here :)

I can summary your words as follows.
1. Injecting `libmcount.so` to an already running process.
2. Create a communication channel between a target process and uftrace.
3. Modify the target process for full dynamic tracing.

First of all, we already have experimental work for 2 and 3 done by @gpollo and @clementguidi. In #1269, creating a communica

[2022-04-06 06:39] isempty opened #1418 "Segfault 와 uftrace.data 를 찾을수 없다는 에러 메세지"
안녕하세요.
처음 설치해서 사용해 보는데 아래와 같이 에러가 발생하네요. 기본 repo 에서 설치한 0.9.3 버전에서도 그리고 github 에서 다운받은 최신버전에서도 똑같이 segfault 와 uftrace.data 를 찾지 못하네요.

물론 '-pg' 옵션을 주어 간단한 abc 파일 테스트 해도 마찬가지 입니다.

혹시 다르게 설치하거나 테스트 해야할 방법이 있을까요?

OS : Ubuntu 20.04.04

- repo 에서 설치한 버전 테스트
[code]
----------------------------------------------------------------------------------------------

- 소스로 컴파일해서 설치한 버전 테스트
[code]

-----------

[2022-04-06 06:55] ParkHanbum commented on #1414
thank you for welcom @honggyukim  :)
I'm glad to hear that! looks many changes.

I have no objection to your approach. it is good approach if user can be support.
If the only problem is the loading of libmcount.so, it may be easily possible by modifying the dynamic section.

However, if you don't have user support yet, the attach feature can be useful.
Also, in my experience, most problems with in

[2022-04-07 07:03] honggyukim commented on #1418
안녕하세요.
제가 보기에는 테스트가 잘못된것 같은데 일단 `uftrace v0.9.3` 으로 테스트할 필요는 없어보입니다. 아래와 같이 테스트해도 문제가 발생하는지 확인해보시면 좋을것 같네요.
[code]

[2022-04-07 07:28] isempty commented on #1418
답변 감사합니다. 바로 테스트 해보니 결과가 같네요.. 혹시 cpu arch 문제일까 싶어서 아래 첨부했습니다.

root@XXX:~/rdma/uftrace-2# git clone https://github.com/namhyung/uftrace
Cloning into 'uftrace'...
remote: Enumerating objects: 20075, done.
remote: Counting objects: 100% (1189/1189), done.
remote: Compressing objects: 100% (653/653), done.
remote: Total 20075 (delta 702), reused 833 (delta 522), pack-reused 18886
Receiving objects:

[2022-04-07 07:45] honggyukim commented on #1418
흠.. 이상하네요. `uftrace --libmcount-path=. -vvv t-abc` 결과를 보여주실 수 있을까요?

[2022-04-07 07:55] isempty commented on #1418
넵

root@XXX:~/rdma/uftrace-2/uftrace# uftrace --libmcount-path=. -vvv t-abc
uftrace: running uftrace v0.11-77-g1eb08 ( x86_64 dwarf python luajit tui perf sched dynamic )
uftrace: checking binary t-abc
uftrace: using ./libmcount/libmcount.so library for tracing
uftrace: creating 64 thread(s) for recording
uftrace: start writer thread 0
uftrace: start writer thread 1
uftrace: start writer thread 2

[2022-04-07 08:35] isempty commented on #1418
그리고 2T mem 에 256 core 입니다.  용량이 조금 큰듯한 시스템입니다~

[2022-04-07 23:49] honggyukim commented on #1418
흠.. 이상하네요. 혹시 record 된 `uftrace.data` 를 압축해서 첨부해 주실 수 있을까요?

그리고 혹시 라이브러리 함수 tracing 에 문제가 있는게 아닐지 모르니 다시 한번 더 `uftrace --libmcount-path=. -v --no-libcall t-abc` 실행 결과를 보여주실 수 있을까요?

가장 도움될만한 정보는 segmentation fault 가 발생할때의 backtrace 정보인데 gdb 를 붙여서 같이 보여주시면 도움이 더 많이 될 것 같습니다.  아마도 이렇게 해 주시면 좋지 않을까 싶네요.
[code]
이후에 run 한 다음에 gdb 가 segmentation fault 에서 멈추면 `bt` 를 입력해서 backtrace 를 확인 할 수 있습니다.

[2022-04-08 00:03] isempty commented on #1418
말씀하신대로 아래와 같이 bt 진행했는데 stack 에 아무것도 나오지 않네요. 흠..

root@XXX:~/rdma/uftrace-2/uftrace# ./uftrace --libmcount-path=. -v --no-libcall t-abc
uftrace: running uftrace v0.11-77-g1eb08 ( x86_64 dwarf python luajit tui perf sched dynamic )
uftrace: checking binary t-abc
uftrace: using ./libmcount/libmcount.so library for tracing
uftrace: creating 64 thread(s) for recording
mcount: initializing mcount libra

[2022-04-08 01:11] isempty commented on #1418
첨부파일은 아래처럼 진행했을때 uftrace.data 입니다.

 uftrace record --libmcount-path=. -vvv t-abc

첨부파일을 서버에서 빼어내오는데 시간이 좀 걸리네요.
[uftrace.data.tar.gz](https://github.com/namhyung/uftrace/files/8447729/uftrace.data.tar.gz)

[2022-04-08 02:02] isempty commented on #1418
혹시 몰라 gdb 관련 warning 을 읽고 옵션을 추가해서 진행해도 결과는 마찬가지입니다.

`root@XXX:~/rdma/uftrace-2/uftrace# cat ~/.gdbinit
set follow-fork-mode child
add-auto-load-safe-path /root/rdma/uftrace-2/uftrace/uftrace-gdb.py
root@XXX:~/rdma/uftrace-2/uftrace# gdb --args uftrace --libmcount-path=. t-abc
GNU gdb (Ubuntu 9.2-0ubuntu1~20.04.1) 9.2
Copyright (C) 2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL versi

[2022-04-10 00:24] honggyukim commented on #1418
제가 휴가중이라 답이 늦어졌네요. 며칠후에 돌아가서 다시 확인해보겠습니다. 그런데 --no-libcall 옵션을 추가해서 실행해보면 문제가 라이브러리 tracing 에서 발생하는지 확인해볼 수 있습니다.

[2022-04-10 15:15] honggyukim commented on #1418
보내주신 파일을 열어봤는데 필수적으로 필요한 `info` 파일이 생성되지 않았네요.
https://github.com/namhyung/uftrace/wiki/Data-Format#the-info-file

보내주실 실행 결과중에 이 부분도 이상하네요.
[code]
자식 프로세스가 정상 종료되었는데도 마지막에 segfault 가 발생하는 원인을 파악해야 할 것 같습니다.

그리고 보내주신 gdb 실행 결과는 segmentation fault 가 발생하지 않네요. gdb 로 문제에 대해 재연이 안되어서 bt 를 해도 아무 결과도 안나오는것 같네요. gdb 를 붙여서 실행해도 똑같이 segmentation fault 가 발생하도록 만드는게 우선으로 보입니다.

[2022-04-10 18:17] namhyung commented on #1418
자식 프로세스는 정상 종료이고 uftrace 자체가 segfault를 맞았으니 gdb에서 `set follow-fork-mode child` 부분을 빼고 실행해야 backtrace를 볼 수 있을것 같습니다.

[2022-04-11 01:34] isempty commented on #1418
바쁘실텐데 답변 감사드립니다. 아래는 set follow 옵션을 빼고 다시 실행한 결과입니다.

[code]

[2022-04-11 22:25] honggyukim commented on #1418
마지막에 보내주신 gdb 실행 결과에서 보니 너무 많은 수의 코어가 있어서 segfault 가 발생한게 아닌가 싶네요. 그리고 보내주신 uftrace.data 압축 파일에도 `perf-cpu254.dat` 까지도 생성된 것을 보면 더 그런 문제가 아닌가 싶습니다.

일단 가장 간단하게 우회하는 방법은 `--no-event` 옵션을 추가해서 uftrace record 를 하는게 좋을것으로 보입니다.

그리고 혹시 커맨드에서 `nproc` 실행 결과로 사용하고 계신 장비의 core 갯수를 보여주실 수 있을까요?

[2022-04-12 01:00] isempty commented on #1418
아래는 no-event 로 테스트한 결과 입니다.

[code]

그리고 현재 core 갯수는 아래와 같습니다.

[code]

위처럼 no-event 로 하면 나오긴 하는데 이 tracing 으로 분석해도  되는걸까요? no-event 의 의미를 잘 몰라서요~

[2022-04-12 04:02] honggyukim commented on #1418
그래도 다행이네요. 일단 --no-event 를 항상 사용하셔도 괜찮습니다. 단지 스케쥴링 이벤트와 같은 내용을 기록하지 않는거라 전체적인 함수 단위 분석에는 전혀 영향이 없습니다.

core 갯수가 저희가 예상했던 범위를 벗어나서 발생하는 문제로 보이는데 조금 더 분석해서 해결 방법을 찾아보도록 하겠습니다.

[2022-04-12 07:31] honggyukim commented on #1418
감사합니다. 그런데 제가 말씀드린건 당분간 사용하시는 장비에서는 --no-event 를 사용하셔야 문제 없이 동작 가능하다고 말씀드린겁니다. 저희도 문제 원인 조금 더 확인해보겠습니다.

[2022-04-12 07:54] isempty commented on #1418
네넵. 알고있습니다. 현재 장비에서만 그렇게 하겠습니다.

[2022-04-14 06:21] namhyung commented on #1418
확인해보니 cpu 갯수가 255였군요. thread 별로 처리할 cpu 수를 계산하는 부분에서 반올림이 있는데, 이 때 여분으로 할당하는 writer_arg->cpus 배열에 -1 로 지정해 둔 것을 체크하는 것을 잊었네요. (cmds/record.c 의 `start_tracing()` 참고)

아래의 패치가 적용되면 될 것 같습니다.

[code]

[2022-04-15 05:05] isempty commented on #1418
방금 새로 cloning 해서 확인해 봤는데 이번에는 문제없이 recording 됩니다.
빠르게 해결해 주셔서 감사합니다~ 좋은 주말 되셔요~ : )

[2022-04-15 05:46] #1418 closed

[2022-04-15 05:46] namhyung commented on #1418
확인 감사합니다!

[2022-04-15 09:25] honggyukim commented on #1418
버그 리포트 올려주셔서 감사합니다.

[2022-04-16 09:26] FantasqueX commented on #1343
Same issue here when trying to package uftrace for ArchLinux. Temporarily disable LTO to solve the problem.

[2022-04-25 04:17] honggyukim opened #1422 "test failure in t221_taskname_time"
[code]

[2022-04-25 04:20] kangtegong commented on #1422
let me fix this!

[2022-04-27 16:09] kangtegong opened #1424 "inform users about /proc/sys/kernel/perf_event_paranoid value in docs"
According to this document[1] below,
in order to get kernel profiling, raw and ftrace function tracepoint access, etc,
`/proc/sys/kernel/perf_event_paranoid` value should be considered.

However, `/proc/sys/kernel/perf_event_paranoid` in most systems are set (more than) 3 as default,
so I think it's better to inform users about this in docs like:

[code]

[1] https://github.com/torvalds/linux/blob

[2022-04-27 17:41] namhyung commented on #1424
Good point, please go ahead.

Yeah, it's unfortunate that most distro now set it to 3 as default.  But I think I managed it can do the job with the value of 2 (excluding kernel profiling) instead of 1.

[2022-04-28 01:16] Ansudeen commented on #337
Hi,
please check LD_LIBRARY_PATH is exported properly with right library path. i had same issue but after updating the ld_library_path it works well.

[2022-04-28 04:41] kangtegong commented on #1424
Thanks! But I'm not sure which document should I write to put this message.
I thought about INSTALL.md or uftrace-live.md, uftrace-record.md,
but I'm not sure this is the proper document...
Can you recommend which document should I write for this message?

[code]

[2022-04-29 03:56] honggyukim opened #1427 "memory leaks in t147"
[code]

[2022-04-29 03:56] honggyukim opened #1428 "memory leaks in t220"
[code]

[2022-04-29 03:57] honggyukim opened #1429 "memory leaks in t252"
[code]

[2022-04-29 03:58] honggyukim opened #1430 "memory leaks in t157"
[code]

[2022-04-29 22:36] namhyung commented on #1430
I'm not sure about this one.  It seems the python runtime leaks the memory and we might not have the control.

[2022-04-30 05:36] honggyukim commented on #1430
I found the same memory leaks in many tests. It might be from the same reason.

[2022-05-05 03:37] #1429 closed

[2022-05-09 09:44] kangtegong opened #1434 "Official web page for uftrace for better accessibility."
Currently there is no official webpage for uftrace (except for slide and man pages).
It think we can apply readthedocs like below

https://uftrace.readthedocs.io/

or make custom github page for uftrace.

Personally, I think readthedocs is good because it can generate website based on markdowns (or rst files) under `doc/` directory.

But if readthedocs invoke lots of changes in uftrace repository

[2022-05-13 18:03] namhyung commented on #1434
Sounds good.  I'm not familiar with that but current README and manpage should be fine.

@honggyukim what do you think?

[2022-05-20 17:06] honggyukim commented on #1434
That will be good. But I hope we can use https://uftrace.github.io instead of https://uftrace.readthedocs.io just like https://docs.kernel.org if possible.

Besides that, I think we better move some documents with good quality to our source repo instead of having them in wiki. For example, https://github.com/namhyung/uftrace/wiki/Data-Format. It's because
1. we don't really update the documents in

[2022-05-21 05:37] kangtegong commented on #1434
I totally agree with @honggyukim :) Thanks.

[2022-06-05 00:19] #1427 closed

[2022-06-26 07:40] honggyukim opened #1439 "t168_lib_nested.py gets segfault in i386 build"
The test t168_lib_nested.py shows segfault in i386 build.
[code]
The segfault shows at this location.
[code]
The backtrace is here.
[code]

[2022-06-26 07:41] honggyukim commented on #1439
The same segfault shows in test 192 as well for the same problem in `--nest-libcall`.
[code]

[2022-06-26 20:56] namhyung commented on #1439
From a quick glance, I cannot find what's wrong.  The session id seems valid...

[2022-06-27 07:35] honggyukim opened #1441 "runtime error: applying zero offset to null pointer from clang ubsan"
Please see the message below.
[code]
Here is the clang version info.
[code]
gcc doesn't show this error message.

[2022-06-27 17:59] namhyung opened #1444 "Split uftrace_info_bits to index and mask"
Like in `enum uftrace_feat_bits`, it should have separate bit index and mask to reduce possible confustions.  Recent test failure was because of this confusion and it was painful to discover the root cause.

[2022-06-28 15:18] japawBlob commented on #1428
Hey I think I found the missing free. Test 220 no longer leaks in my fork. Will do some further tests.

[2022-06-28 18:36] honggyukim commented on #1428
@japawBlob Thanks! Please send a PR when you're ready.

[2022-06-28 23:10] honggyukim commented on #1439
I also don't have an idea why it gets crashed.

[2022-06-28 23:14] honggyukim opened #1445 "uftrace --feature-test option"
It can be helpful to have an option that tests if some features are available to use in the currently running system.

For example, if `/proc/sys/kernel/perf_event_paranoid` is `3`, then uftrace can't record schedule events. Except for this, there could be many others.

I will fill out more detail description later.

[2022-07-01 21:08] honggyukim opened #1448 "add function size info to report field (graph, tui are optional)"
The function size info is not runtime information but it delivers useful ideas how big the function is.

We can add the function size info to report and graph field.

[2022-07-01 21:09] honggyukim commented on #1448
@namhyung Please let me know if you don’t like the idea.

[2022-07-01 22:40] namhyung commented on #1448
I Like the idea!

[2022-07-02 00:04] honggyukim commented on #1448
The `uftrace_symbol` has `size` info so we can just print it in report and graph command output.
https://github.com/namhyung/uftrace/blob/79a7d940b484be95ded642f9c9a48925c2472281/utils/symbol.h#L50-L55

[2022-07-02 10:16] honggyukim opened #1449 "error: unknown type name ‘bool’ in utils/argspec.h"
We don't compile `utils/argspec.h` as a standalone, but it's obviously a problem so better to fix it.
[code]
We might have similar problems in other `.h` or `.c` files.

[2022-07-02 14:53] dwlsalmeida opened #1450 "Rust support is apparently broken"
Rust support is apparently broken, as per https://github.com/rust-lang/rust/pull/96238

It seems like the Rust compiler has stopped inserting the mcount instrumentation at all, which can be verified by something like:

`rustc +nightly -Z instrument-mcount hello_world.rs`
`nm hello_world | grep mcount`

Where nothing will show up.

Maybe a warning should be added to the README.md file? I lost a cou

[2022-07-02 18:48] honggyukim commented on #1450
Hi @dwlsalmeida, thanks for the report but it looks a duplicate issue with #1392.

Could you try again with the following workaround as mentioned at https://github.com/namhyung/uftrace/issues/1392#issuecomment-1047195716?
[code]

[2022-07-02 18:57] kangtegong opened #1451 "adding more fields in graph command"
Personally, I use `total-avg`, `total-min`, `total-max`, `self-avg`, `self-min`, `self-max` fields in report command is very usefully.

But currently `graph` command only support `total`, `self`, `addr` field.
I think it would be great if we can add these fields in `graph` commands, too.

[2022-07-02 18:58] honggyukim commented on #1451
Right, we can also add them to `tui` command as well.

[2022-07-03 01:55] eddie9712 commented on #1450
Hi @honggyukim , I think the workaround #1392 still doesn't work with the newest Rust compiler (`rustc 1.64.0-nightly (f2d93935f 2022-07-02)`). I had tried this workaround and then I got the error:
`error: failed to run LLVM passes: unknown function pass 'post-inline-ee-instrument'`.
However, if I used the earlier Rust compiler (`nightly-2021-12-02-x86_64-unknown-linux-gnu`) this workaround could

[2022-07-03 12:28] KIJUNG-CHAE commented on #1016
안녕하세요. 같은 문제로 고생중인데 혹시 해결하셨으면 해결방법 공유가능하신가요..?

[2022-07-03 13:39] honggyukim opened #1453 "warning: ignoring return value of ‘asprintf’, declared with attribute warn_unused_result"
There are some warnings when building `unittest` as follows.
[code]
We better fix those warnings.

[2022-07-04 00:45] SulRash commented on #1453
Hello,

This issue seems easy to fix on the surface and I just wanted to ask if the bytes returned from asprintf are used? If not, I think I can push a fix pretty quickly.

[2022-07-04 21:40] honggyukim commented on #1450
Thanks for your explanation. It seems there is definitely a problem adding mcount call in Rust compiler.

Sorry but it looks like beyond my knowledge for now as it's related Rust and LLVM compilers. I will investigate more when I have enough time for this.

As a workaround, I think you can still run uftrace for Rust program with full dynamic tracing.
https://github.com/namhyung/uftrace/blob/master

[2022-07-05 07:11] zhaopinglu commented on #1414
+1 for attaching running process. Especially for troubleshooting in production environment.

[2022-07-05 11:00] honggyukim commented on #1414
I agree. @ParkHanbum Do you have any update for this feature?

[2022-07-05 19:16] honggyukim opened #1456 "support firefox profiler with uftrace dump --firefox"
uftrace currently support chrome trace viewer format with `uftrace dump --chrome` and that is really useful to visualize the workload.

However, there are some requests to support firefox profiler format as well. We can add another firefox option and it can be used as `uftrace dump --firefox`.

The firefox profiler file can be opened at https://profiler.firefox.com/ and the most interesting thing

[2022-07-06 06:51] honggyukim opened #1457 "test 238 report_field2 failure"
The test 238 report_field2 fails as follows.
[code]
We can simply reproduce the problem as follows.
[code]
The problem is because of unknown filed name 'total-max' and we should fix this.

[2022-07-06 18:30] #1449 closed

[2022-07-07 19:59] honggyukim opened #1463 "description of script command at README.md needs to be fixed"
README.md currently describes about the script command as follows.

However, we do support Python 3 along with Python 2.7 so this needs to be updated as follows.

The same change has to be applied to `doc/ko/README.md`.

[2022-07-07 20:05] honggyukim opened #1464 "make 'uftrace --version' show python version info"
Currently, `uftrace --version` shows whether [python scripting](https://github.com/namhyung/uftrace/blob/v0.12/doc/uftrace-script.md#script-execution) is supported, but it doesn't inform whether python2.7 or python3 is supported.

We better distinguish the python version info by modifying the following code.
https://github.com/namhyung/uftrace/blob/v0.12/misc/version.sh#L37-L40

So the expected ou

[2022-07-08 05:52] kangtegong opened #1465 "Adding more fields in tui command"
Like @honggyukim mentioned in [here](https://github.com/namhyung/uftrace/issues/1451),

I think it's good to have more fields in like total-avg, self-avg, self-min, self-max in tui too.
Currently only three fields(total-time, self-time, address) are supported like below

[code]

[2022-07-08 06:03] kangtegong opened #1466 "Saving previous failed test result by renaming failed-tests.txt to failed-tests.txt.old"
Currently, uftrace produces failed-tests.txt after running runtest.py
which contians failed test results.

Problem is, failed-tests.txt can be overwritten when we run runtest.py again.
I think it's better to rename failed-tests.txt to failed-tests.txt.old when runtest.py is executed again
to see how results are different than the latest results.

Also, I think we can make a diff command out of it

[2022-07-08 06:17] kangtegong opened #1467 "Printing out specific test result status"
I think most uftrace developers are more interested in `NG`s or `BI`s, not `OK`s in test result.
So it's good to have a filtering option to see what tests are actually failed.
This can be implemented like the example below:

[code]

[2022-07-08 18:16] #1467 closed

[2022-07-09 06:06] honggyukim opened #1469 "add an option -k to runtest.py to keep the compiled binaries"
`runtest.py` builds target binaries and runs them with uftrace for testing, then it removes the compiled binaries right after testing.
https://github.com/namhyung/uftrace/blob/v0.12/tests/runtest.py#L621-L622

We sometimes need to keep those binaries for further testing, but there is no way to keep them for now.

It'd be better to provide an option `-k`/`--keep` to keep the binaries.

[2022-07-09 06:07] honggyukim commented on #1469
The test directory is created at https://github.com/namhyung/uftrace/blob/v0.12/tests/runtest.py#L39-L41.

[2022-07-09 07:49] ghojeong commented on #1464
I want to try this issue!

[2022-07-09 07:55] honggyukim commented on #1464
@ghojeong Great. Please go ahead :)

[2022-07-09 15:50] dongwooklee96 opened #1470 "Segmentation fault with postgres"
Hi,
I tried to analyze `psql` using `uftrace`, but I encountered the following error

[code]

do you know how to solve it?

[2022-07-10 04:58] honggyukim commented on #1470
Thanks @dongwooklee96. It's confirmed that it doesn't show the bug with `--no-libcall`. We may have to think we might remove library call tracing from default option.

[2022-07-10 07:24] shpark opened #1471 "Incorrect help message when uftrace fails to trace kernel functions"
I tried to trace kernel functions with uftrace using the following command: `sudo uftrace record -k ./a.out`.

It failed to trace kernel function, saying that:
[code]

However, it seemed that the config was enabled for my setting (Debian 10 running inside a Docker container on MacOS Monterey 12.0.1 host on M1 pro chip):
[code]

After looking at more verbose logs, I concluded that the root cause wa

[2022-07-10 09:11] honggyukim commented on #1471
Hi @shpark, thanks for the report. Could you please send a PR by detecting mount point of debugfs? There is a nice example at https://stackoverflow.com/questions/9280759/linux-function-to-get-mount-points.
[code]

If that is difficult, then you can make a workaround based on my previous comment?

https://github.com/namhyung/uftrace/issues/797#issuecomment-528738208

[2022-07-10 09:16] honggyukim commented on #1470
I have tried to build and install as follows.
[code]
Then tried to run it as follows, but shows an error.
[code]
So I couldn't investigate more in my environment.

[2022-07-10 09:42] honggyukim opened #1472 "tutorial slide missing record command in task graph page"
Our tutorial slide has a bug in https://uftrace.github.io/slide/#108.

It says
[code]
But the first command has to be
[code]
It needs to be fixed at https://github.com/namhyung/uftrace/blob/v0.12/doc/uftrace.html#L2055-L2084.

Please note that it won't be shown at https://uftrace.github.io/slide until the change is applied to https://github.com/uftrace/uftrace.github.io/blob/master/slide/uftrace.h

[2022-07-10 09:48] honggyukim commented on #1471
I just worried if `mntent.h` is available in android, but it's included in android bionic as well.
https://cs.android.com/android/platform/superproject/+/master:bionic/libc/include/mntent.h;drc=master

So we can go ahead with it. @shpark Please send a PR then :)

[2022-07-10 13:59] valdaarhun commented on #1472
Hi. I have never contributed to uftrace before. I would like to tackle this issue.

The same issue is also present in the [`master`](https://github.com/namhyung/uftrace/blob/master/doc/uftrace.html#L2055-L2084) branch. Should the change be made in both branches?

[2022-07-10 21:15] honggyukim commented on #1472
Hi @valdaarhun, changing only master branch is enough. Please go ahead and thanks!

[2022-07-11 05:32] JSYoo5B commented on #1470
I also discovered similar issue with this. (not postgresql, but SEGFAULT on uftrace recording)
I've tested uftrace on Asahi linux(the Apple M1-ported version linux).

Tried foobar example in the [uftrace.github.io/slide/](https://uftrace.github.io/slide/)

[code]

[code]

I tried to figure out the reason of SEGFAULT, but it also resolved by adding `--no-libcall` option on recording.

[2022-07-11 12:25] valdaarhun commented on #1472
I have also opened a PR in the website's repo.

[2022-07-12 07:48] daeroro commented on #1444
Can you explain more about the test failure due to this confusion?

[2022-07-12 12:45] MichelleJin12 commented on #1466
I'll try this. Thanks!!

[2022-07-13 17:45] honggyukim commented on #958
Thanks @keltion. Sure, please go ahead and let me know if you have some issues.

[2022-07-14 22:36] honggyukim opened #1477 "segfault when accessing string argument"
We can download hermes source code and build as follows.
[code]
If we record it with `-a`, then it gets segfault as follows.
[code]
Here is a gdb output and I found it crashed when accessing `str[i]`.
[code]
The address of `str` looks weird.
[code]
As I investigated where the address is right after `[heap]`.
[code]
But it has no read permission so it gets crashed. We might have to check `check_mem

[2022-07-16 08:52] honggyukim commented on #1399
This work need compiler support first so we have to apply changes to gcc and clang upstream repository first so it would take a long time to make it done.

[2022-07-17 13:20] honggyukim commented on #1428
@japawBlob Sorry but @AndrewWoo7 sent a PR before your submission so I will accept his patch. Thanks anyway.

[2022-07-17 17:45] honggyukim commented on #1444
@namhyung Do you want to make the following change? If so, it looks it doesn't provide backward compatibility.
[code]

[2022-07-17 20:33] japawBlob commented on #1428
No worries! I am sorry for ghosting you out. My computer broke and I still didn't got to fix it to submit my code. Thanks for update and take care.

[2022-07-17 21:03] honggyukim commented on #1428
Thanks. I hope to have another chance to get your patch next time. Take care you too!

[2022-07-19 04:51] #1472 closed

[2022-07-19 04:52] #1463 closed

[2022-07-19 05:50] namhyung commented on #1444
Yeah, we need this change and other places that use this information like in `process_uftrace_info()`.

[2022-07-19 06:17] honggyukim commented on #1444
Right, I made the change like https://github.com/honggyukim/uftrace/commit/b895091e2a228713f17605a20e6cd076fca0faa6. But I mentioned it doesn't provide backward compatibility for the previously recorded data as follows.
[code]

[2022-07-19 06:41] honggyukim commented on #1428
I should reopen this issue because #1479 is reverted at #1483.

[2022-07-19 15:46] JHH20 commented on #1428
I can think of some solutions to freeing `uftrace_opts.exename` but maybe someone might have a better idea?

| Idea | Notes|
| --- | --- |
| Add a boolean / bit flag to `struct uftrace_opts` for storing whether a ptr was malloc-ed or not | Clutters the struct as more ptrs need this check. If bit flag is used, an enum for bitmasks should also be added |
| Modify `uftrace_opts.exename` to be a `stru

[2022-07-20 06:09] kangtegong opened #1485 "Enhance github action for uftrace"
uftrace used travis CI until recently, but currently github action is added.

Newly-added github action workflow still need some improvement including pre-commit, coverity scan, etc.
I think it would be great if someone set these things up.

[2022-07-23 06:24] fistki commented on #1448
I will try this issue!

[2022-07-23 07:04] honggyukim commented on #1354
[code]
We can run a single test as follows.
[code]

[2022-07-23 15:31] #1466 closed

[2022-07-24 04:38] honggyukim commented on #1428
@JHH20 @japawBlob Thanks a lot for your consideration! But I'd rather make a simpler solution. How about this?
[code]
The approach is simple. We used to have a mixed memory for `opts->exename`. This change makes `opts->exename` always contains freeable memory.

[2022-07-24 05:26] #1469 closed

[2022-07-24 08:38] JSYoo5B commented on #1470
@honggyukim, Maybe you can reference these steps.

## build

This step is same as your build instruction

[code]

## run

Prepare initial DB

[code]

Run postgres server (master)

[code]

Run postgres client
[code]

[2022-07-24 08:38] JSYoo5B commented on #1470
@dongwooklee96 I tried build & test postgres, and it seems segment fault not occurs on dynamic tracing. I failed to build postgres with `-pg` or `-finstrument-functions`. Is there any easier way to add one of these options by `make` arguments? (ex. `make CFLAGS=-pg`)

Following step shows how I tried uftrace record

[code]

[2022-07-24 10:37] honggyukim opened #1491 "missing korean document update for script command"
We have introduced a new `uftrace_event` API and it's updated in the man page at https://github.com/namhyung/uftrace/commit/195d3b0a74a404cb0a4d27c62f3ea4def2c71b22.

However, the same change isn't applied to Korean documentation so it needs to be updated accordingly.
https://github.com/namhyung/uftrace/blob/master/doc/ko/uftrace-script.md

[2022-07-25 07:23] namhyung commented on #1450
Rust seems to use a newer LLVM with parameterized syntax like in [this commit](https://github.com/llvm/llvm-project/commit/d52f506192336e75296a951d8ee02fff3c28571d).  Please try below:

[code]

[2022-07-25 07:42] namhyung commented on #1392
Update: recent LLVM changed the syntax a little bit.  You need to run below:

[code]

[2022-07-26 06:36] namhyung commented on #1444
We can do simply:

[code]

[2022-07-26 07:35] honggyukim commented on #1444
The patch above https://github.com/honggyukim/uftrace/commit/b895091e2a228713f17605a20e6cd076fca0faa6 already has the same change. So it still shows the same error even if making the same way as your change.
[code]

[2022-07-27 00:47] eddie9712 commented on #1450
@namhyung thanks for your suggestion, it works for me.

[2022-07-27 05:32] honggyukim commented on #1453
Hi @SulRash, sorry, the correct fix is to check the return value rather than ignoring it. @kangtegong already made the fix in #1489 and it's merged. So I will close this issue and your PR together.

[2022-07-27 05:32] #1453 closed

[2022-07-27 06:31] namhyung commented on #1444
I think you need more changes like below:

[code]

Maybe we need to rename it from 'bit' to 'flag'.

[2022-07-27 12:04] fistki commented on #1448
I add function size like this.
Values are just printing `size` of `uftrace_symbol`.

[code]

Does it fit for purpose? @honggyukim

[2022-07-27 12:47] honggyukim commented on #1448
@fistki Yes, that's what I meant. Could you upload a PR?

[2022-07-27 13:31] fistki commented on #1448
i uploaded it #1495

[2022-07-29 08:58] honggyukim opened #1497 "warnings in pylint tests/runtest.py"
We don't have to lint everything in our python script, but it'd be better to follow common rules in our python code. The following warnings from [pylint](https://github.com/PyCQA/pylint) are better to be fixed.
[code]
Once all the warnings are fixed, we can add pylint hook in our pre-commit.

[2022-07-29 09:08] honggyukim commented on #1497
I personally think it's better to apply black for linting first as @kangtegong uploaded at #1396 and maintain the coding style with pre-commit.

[2022-07-30 03:46] honggyukim commented on #1370
The same thing can be done in normal report command.

[2022-07-30 05:16] #1491 closed

[2022-07-30 06:29] namhyung commented on #1485
I've added `pre-commit` support for PR test in 836bc556f9 as it's kind of urgent.  I think we can add coverity scan support for nightly build/check as it only allows a limited (2?) runs in a day IIRC.

[2022-07-30 14:34] kangtegong commented on #1485
Thank you :) If this issue is urgent, shall I add coverity scan for github action?
Or are you going to add coverity scan soon?

[2022-07-30 19:53] #1441 closed

[2022-07-30 20:01] honggyukim opened #1499 "create a single root node for graphviz dump output"
The current `--graphviz` output for `t-abc` is as follows.
[code]
It has 3 root nodes in total - `__monstartup`, `__cxa_atexit`, and `main` and the output image is as follows.
<img width="452" alt="image" src="https://user-images.githubusercontent.com/19642328/181993170-7ad84281-9e67-43c3-9d52-3b06ff475ffe.png">

But rather than creating multiple root nodes, we better create a single root node wit

[2022-07-30 20:13] honggyukim commented on #1499
The name of the root node is the `basename(exename)` as follows.
https://github.com/namhyung/uftrace/blob/v0.12/cmds/graph.c#L218

[2022-07-30 20:44] honggyukim opened #1500 "create a real call graph that can have cycles in --graphviz"
`uftrace graph` actually doesn't show a call graph, but just a call tree output. For example, `t-fibonacci` example's output is as follows.
[code]
As the output shows there are multiple nodes for `fib` function. It's because there are multiple backtrace or call paths of each `fib` node.

The `--graphviz` output also uses the same logic when building a graph, precisely a tree. So its output doesn't

[2022-07-30 21:07] honggyukim commented on #1444
@namhyung Thanks. I've uploaded a PR for this at #1501.

[2022-07-30 21:50] honggyukim opened #1502 "t207_dump_graphviz is broken"
Due to #1498, graphviz test is broken now as follows.
[code]
We should fix this test.

[2022-07-31 06:42] dongwooklee96 commented on #1456
If anyone doesn't care of it, I'll give it a try.

[2022-07-31 08:47] JSYoo5B commented on #1456
I'm also interested in firefox profiler. Maybe we could do this job together.

[2022-07-31 12:29] dongwooklee96 commented on #1451
If anyone doesn't care of it, I'll give it a try.

[2022-07-31 12:53] dongwooklee96 commented on #1465
I'll give it a try.

[2022-07-31 14:27] paranlee opened #1503 "Add RISC-V architecture support"
I think add uftrace riscv support like other architectures already implemented is futuristic fantasy.

I am currently researching arm64 and riscv on the topic of architecture-dependent `mcount` implementation. and I found ftrace mcount implementation of the riscv architecture Linux kernel.

Even if there is no riscv target board, full virtualization is possible in the QEMU environment, so the deve

[2022-07-31 14:38] paranlee opened #1504 "Discussion of DEBUG=1 Debugging-Options"
I was curious about the debug options at compile time, so I looked into the gnu documentation.

- https://stackoverflow.com/questions/668962/what-is-the-difference-between-gcc-ggdb-and-gcc-g

[code]

[Re: difference between -g, -ggdb and -ggdb3](https://gcc.gnu.org/legacy-ml/gcc-help/2009-02/msg00130.html)

- https://gcc.gnu.org/onlinedocs/gcc/Debugging-Options.html#Debugging-Options
[code]

If we

[2022-08-01 05:10] #797 closed

[2022-08-01 05:11] #1444 closed

[2022-08-01 05:21] namhyung commented on #1503
One concern is maintenance burden since I'm not familiar with the architecture details.  If you want to work on it, I hope you can support the arch issues (if any) for a long time.

[2022-08-01 05:25] namhyung commented on #1504
No objection from me, but could you please verify if `clang` also supports `-g3`?

[2022-08-01 05:42] namhyung commented on #1499
It also needs to check sessions since each session can run different programs (with `execve()` and others).

[2022-08-01 05:44] namhyung commented on #1485
The coverity scan is not urgent, it's just nice to have. :)

[2022-08-01 05:46] namhyung commented on #1471
It could check the error code and display warnings based on it.  It might do additional checks like if tracefs is mounted or if kernel config has a specific feature.

[2022-08-02 04:06] daeroro commented on #1500
I want to try this one!

[2022-08-02 08:02] honggyukim commented on #1500
@daeroro Thanks. But it'd be much easier to do #1499 first.

[2022-08-02 08:11] daeroro commented on #1500
@honggyukim
Thank you. I'll try #1499 first.

[2022-08-02 08:35] honggyukim commented on #1499
We should create fake roots for each session. In addition, we should think about generating multiple `.dot` outputs for each session if possible. But this might be out of the scope in this issue.

[2022-08-05 13:43] JHH20 commented on #1063
Reproduced random failure for `./runtest -vdik 222` on x64 WSL2 Ubuntu 20.04
The info below is from one instance of failure where the external data comment is missing

`uftrace replay -f time` output
[code]
Expected output
[code]
`extern.dat` content: `426883.3490101 user message`
- Editing the file to add 2 leading zeros after the decimal does not solve the problem

Above failure might be due to

[2022-08-05 13:50] JHH20 opened #1509 "Random failure in ./runtest 222"
Reproduced random failure for `./runtest -vdik 222` on x64 WSL2 Ubuntu 20.04
The info below is from one instance of failure where the external data comment is missing

`uftrace replay -f time` output
[code]
Expected output
[code]
`extern.dat` content: `426883.3490101 user message`
- Editing the file to add 2 leading zeros after the decimal does not solve the problem

Above failure might be due to

[2022-08-06 12:34] JHH20 commented on #1509
Adding output when external-data message is misplaced between 2 functions.

Test ran as `./runtest.py -dk 222` and the following was the 4th test
[code]

Note that `main()` and `a()` have the exact same timestamp, so the current method of adding 1 from `main()` to create the external-data timestamp does not guarantee the intended ordering.

If runtest.py always sort the lines using stable sorting

[2022-08-07 06:55] paranlee commented on #1502
I'll give it a try.

[2022-08-07 06:59] paranlee commented on #1445
I'll give it a try.

[2022-08-07 12:11] paranlee commented on #1502
@honggyukim Thanks always for your help.
PR #1512

[2022-08-07 12:11] paranlee commented on #1409
I'll give it a try.

[2022-08-07 12:12] paranlee commented on #1358
I'll give it a try.

[2022-08-07 13:52] paranlee opened #1515 "Install libunwind on install-dep script and add support Fedora WSL2"
Add install libunwind library on `misc/install-dep.sh` script.

And I want to add the install-deps.sh script to be available to Fedora WSL2 users.

There are additional postfix on `ID=fedoraremixforwsl`

[code]
Is wildcard appropriate?

[code]

[2022-08-07 14:11] paranlee commented on #1515
#1382 : libunwind-dev is only required in debug build

[2022-08-07 16:32] paranlee opened #1518 "Make uftrace markdown docs to uftrace.github.io using Read The Docs"
We plan to add the existing markdown documentation(`uftrace.wiki.git`, `uftrace.git/tree/master/doc`) to the `uftrace.github.io` homepage as read the docs. (Like the [Linux kernel documentation](https://docs.kernel.org/))

Resources for reference are as follows.

- Read the Docs's Markdown Tutorial Project
   - https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html#using-mark

[2022-08-07 20:21] namhyung commented on #1509
It looks like a clock precision issue on WSL and nothing much we can do about it.  Please fix the problem with the leading 0s.

[2022-08-08 09:51] #1515 closed

[2022-08-08 12:29] kangtegong commented on #1518
Similar issue is on #1434. Why don't we discuss about this there?

[2022-08-08 23:08] #1464 closed

[2022-08-08 23:09] #1448 closed

[2022-08-08 23:11] #1502 closed

[2022-08-11 14:49] #1335 closed

[2022-08-11 20:24] namhyung opened #1522 "Test failure with list index out of range"
In the [nightly test setup](../blob/master/.github/workflows/nightly-test.yml), it runs `make test -j1` at 4am.  But it fails like below.

[code]

[2022-08-11 20:43] honggyukim commented on #1522
I've tried to reproduce the problem, but couldn't reproduce it. Maybe the output of `125 report_range` is incorrect here so parsing is failed.

[2022-08-12 04:56] namhyung commented on #1522
Hmm.. I've added the on-demand test and [it was fine](https://github.com/namhyung/uftrace/actions/runs/2844510266).  The only difference is I passed "-v" option.

[2022-08-13 10:49] honggyukim opened #1524 "build error when libelf is unavailable"
[code]

[2022-08-13 10:50] honggyukim commented on #1524
We need `#include <stdbool.h>`.

[2022-08-13 10:58] honggyukim opened #1525 "Add nightly build in github action for each `configure --without-xxx`"
We don't really build and test when some library is unavailable. I recently saw a build error when `libelf.so` is unavailable at #1524.

We might be able to see more errors so it might be useful to have a nightly build and run unit tests by adding `--without-xxx` in configure.

[2022-08-13 12:15] honggyukim commented on #1337
I also think this can be achieved by making 2 level uftrace.data directories such as the way `git submodule` does.

For example, we can provide a top level `uftrace.data` and it can provide other record info so that the other data can be read together.

Having this feature, I think we can expand it to multiple remote machines in a cluster environment.

[2022-08-13 21:27] honggyukim opened #1535 "setup reviewdog with github action"
Here is an introduction of reviewdog at https://github.com/reviewdog/reviewdog.

There is an article titled as "Automated Code Review on GitHub Actions with reviewdog for any languages/tools".
https://medium.com/@haya14busa/automated-code-review-on-github-actions-with-reviewdog-for-any-languages-tools-20285e04448e

I think we can make reviewdog to annotate code review to newly uploaded PRs.

[2022-08-14 06:13] fistki commented on #1465
@dongwooklee96 I want to add a `size` field for `tui` command. Can I try it?

[2022-08-14 06:39] honggyukim opened #1536 "Floating point exception in dwarf handling"
The target program [gluesql](https://github.com/gluesql/gluesql) is a rust program and I see a floating point exception with the steps as follows.
[code]
gdb shows more info about this bug.
[code]
@namhyung Maybe is this because of not handling the TODO comment above?

[2022-08-14 07:53] paranlee commented on #1518
Mermaid Live Editor
- https://mermaid.live/edit

[2022-08-14 08:01] jonghyeon-an commented on #1524
I'll try this issue.

[2022-08-14 08:40] ghojeong commented on #894
I will try this issue!

[2022-08-14 08:41] jonghyeon-an commented on #1497
I'll try this issue.

[2022-08-14 10:53] honggyukim opened #1538 "make `-Z`/`--size-filter` work with non dynamic tracing"
Currently, `-Z`/`--size-filter` only works in dynamic tracing whether it patches a function or not.

But it can also be used in general tracing. For example, the usage can be as follows.
[code]
It should also be used during record.

[2022-08-14 10:56] honggyukim commented on #1538
Hi @fistki, you might be interested in this work.

[2022-08-14 14:20] paranlee opened #1540 "uftrace with qemu have segment fault issue"
I build with some patch on qemu. because I want to build `-pg` and debugging options!

[code]
remove `__safestack_unsafe_stack_ptr`. because `util/coroutine-ucontext.c:242: undefined reference to `__safestack_unsafe_stack_ptr'`
[code]
Then, my build was successful, and uftrace with simple command with builded `./qemu-system-aarch64 --version`

Some issue was printed.

[code]
How should I debug? It

[2022-08-15 07:26] honggyukim commented on #1509
The following unit test shows the problem.
[code]
It fails as follows.
[code]

[2022-08-15 07:31] honggyukim commented on #1509
This means `parse_timestamp("8959832.082682731")` returns incorrect result. It looks there is an error when handling leading `0` in the timestamp.

[2022-08-15 07:54] honggyukim commented on #1509
`125 report_range` also has the same issue as @jonghyeon-an reported.
[code]

[2022-08-15 08:24] fistki commented on #1538
I'll give it try. Thanks for mention.

[2022-08-15 08:46] honggyukim commented on #1522
It might be related to https://github.com/namhyung/uftrace/issues/1509#issuecomment-1214722736.

[2022-08-15 09:04] #1524 closed

[2022-08-15 12:54] Tux opened #1541 "Wish: add columns for filename and linenumber"
This tool worked out of the box and almost showed everything I was looking for! Thank you!

`replay -f` currently supports `duration`, `tid`, `addr`, `time`, `delta`,  `elapsed`,  `task`  and  `module`.

I am running two versions of the same proces to find the diff in the call-flow for a very specific situation. The call flow is several thousand lines of output, so visual diff is not an option.

`

[2022-08-15 13:53] honggyukim commented on #1541
Hi @Tux, thanks for your feedback. We have considered adding source location as a field, but it tends to be too long to fit into a field.

Instead, we have added an option `--srcline` to show filename and line number together as follows.
[code]
Is this what you're looking for?

[2022-08-15 14:02] Tux commented on #1541
Thanks for taking my quest serious

I already use `-a` (and thus `--srcline`) which was what I missed in all alternatives. **really** useful indeed!

I don't care (at this point) if the field get overly long, I still would see it as a useful addition.
A suggestion might be to name the source file with a max of N trailing path segments, defaulting to e.g. 2, so `/foo/bar/test/try-1/some/sub/folder/

[2022-08-15 17:27] Tux commented on #1541
OK, one last remark:`1.884 us [ 49526] |         getpid();` does not show the line number, so if your code has 200 calls to `getpid ()` in that routine, it will be hard to find the correct one. (I admit `getpid ()` is not a good example. `printf ()` whould be a better example).

[2022-08-15 19:48] honggyukim commented on #1541
So you're fine with using `--srcline`, then I'm glad to hear that.

It's because `getpid` is not a userspace function call, but a library function call. It's captured through PLT so it doesn't provide the source line info inside glibc implementation.

[2022-08-15 19:52] Tux commented on #1541
I know, I mean the source line of the file it is called from

[2022-08-15 19:55] honggyukim commented on #1541
Do you mean the call site of `getpid`? I think it would also be useful but uftrace currently doesn't provide call site info yet.

[2022-08-15 19:58] Tux commented on #1541
Yes. The line where getpid was called. If not available, then it is no option. In that case, a column for it makes no sense.
Thanks again for thinking along. Closing.

[2022-08-15 19:58] #1541 closed

[2022-08-15 20:01] honggyukim commented on #1541
Thanks for your feedback. Please let us know if you have other issues.

[2022-08-15 23:24] namhyung commented on #1522
Yeah, looks that relevant.  We really need to fix the parse error.

[2022-08-16 10:57] dongwooklee96 commented on #1456
@JSYoo5B

I got the most basic prototype json file.

[empty_profile.json.zip](https://github.com/namhyung/uftrace/files/9350074/empty_profile.json.zip)

[2022-08-17 05:03] honggyukim opened #1544 "clang-tidy pre-commit failures"
We can add clang-tidy pre-commit hook as follows.
[code]
But it shows some failures as follows.
[code]
https://github.com/honggyukim/uftrace/runs/7871895557?check_suite_focus=true

We better fix those issues and add clang-tidy in the pre-commit hook list.

[2022-08-17 06:39] honggyukim opened #1546 "build errors due to incorrect include orders"
Each header files have to be compilable. Otherwise, we can think that the headers depend on the include orders, which is incorrect usage of header files.

The following command tries to compile each header independently and it shows lots of build errors as follows.
[code]
We should fix all those build errors.

[2022-08-17 07:03] honggyukim commented on #1546
#1547 fixes most of the problems except for the following.
[code]

[2022-08-17 20:56] honggyukim commented on #1456
You can refer to the initial patch for `--chrome` option at c6422d84c6b3239547643f7df8feb420a7ef24f3.

I wrote the patch based on the document at https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU/preview#.

[2022-08-18 06:29] #1546 closed

[2022-08-18 12:53] honggyukim commented on #1509
We have to fix the logic in `parse_timestamp`. https://github.com/namhyung/uftrace/blob/4d6fe0d68e47aec5b70d91cf29732e1027817993/utils/utils.c#L529-L564

[2022-08-18 14:54] honggyukim commented on #1544
Here is a work-in-progress patch at https://github.com/honggyukim/uftrace/commit/a395b2506be016150366694097f2b0d6c1541653.

The test result can be found at https://github.com/honggyukim/uftrace/runs/7901222131?check_suite_focus=true.

[2022-08-19 03:42] jonghyeon-an commented on #1509
When I checked the code, it seems that the base should be changed from 0 to 10 in the strtoull function.
After the change, the test case you shared was passed.

[code]

### After changes
[code]

[2022-08-19 05:38] jonghyeon-an commented on #1509
After a few more tests, NG occurs when there are 8 decimal places like 1544510.78979574 in test222.
The comparison syntax seems to indicate that 1544510078979574 is correct, not 1544510789795740.
When removing the code as below, 8 decimal places pass through the case.

[code]

[2022-08-19 06:18] namhyung commented on #1509
Thanks for the analysis.  Please fix it with a test case!

[2022-08-19 06:34] #1522 closed

[2022-08-19 15:10] JHH20 commented on #1509
I suggest also setting the strtoull base to 10 @ L535, which parses the number before the decimal point, for consistency. Octal in a timestamp doesn't make much sense anyways.

https://github.com/namhyung/uftrace/blob/9b05004b3ede81579b3aaa05008a425e8e287fa0/utils/utils.c#L535-L540

[2022-08-19 15:49] jonghyeon-an commented on #1509
I thought the implementor of the parse_timestamp function coded the argument value of line 535 as 0 to cover multiple bases.
Is it right to fix?

Also, in the parse_time function, the base value of strtoull was coded as 0, so it would be nice to discuss whether it is necessary to fix it together.

https://github.com/namhyung/uftrace/blob/9b05004b3ede81579b3aaa05008a425e8e287fa0/utils/utils.c#L480-

[2022-08-21 08:25] paranlee opened #1551 "Add Mermaid Contens on Wiki"
While we are reviewing the uftrace code, or while using uftrace,

If someone have any good content to organize or share, we can post it in the link below.
- https://github.com/kosslab-kr/uftrace/wiki

Existing wiki documents also require adding diagrams.

We need to add a lot of contents to the wiki about uftrace's internals.

[2022-08-21 09:00] paranlee commented on #1551
(Mermaid-Review)-Data-Format
- https://github.com/kosslab-kr/uftrace/wiki/(Mermaid-Review)-Data-Format

[2022-08-21 13:17] paranlee opened #1552 "More Docker File, more Linux Distribution build support test"
Add Docker files based on the from Supported LTS to Latest LTS Linux distribution.

Adds SUSE, Rocky Linux Docker build Supports.

[2022-08-21 13:24] paranlee opened #1553 "Code static checks infered by Infer(x86_64)"
There are infering to improve the uftrace project codes from Facebook Infer.
- https://fbinfer.com/docs/analyzing-apps-or-projects/#using-a-compilation-database

**Install and static analyze process**
[code]

**Result**
[code]

**List**
[code]

[2022-08-21 13:26] paranlee commented on #1540
As QEMU used as a full-virtualization and KVM para-virtualization client program,
My Bug reporting should be supplemented in more detail.

[2022-08-21 14:22] dongwooklee96 commented on #1465
@fistki sure!

[2022-08-21 16:50] namhyung commented on #1553
Interesting.  Do they have GitHub actions?

[2022-08-21 16:53] namhyung commented on #1540
Coroutines can be a a pain point as they have subtle task management schemes. :(

[2022-08-21 21:04] honggyukim opened #1555 "164 report_sched test failure"
164 report_sched test randomly fails as follows.
[code]
It looks because another pre-empted schedule event is captured during test. It can be filtered by #1440 now, but old system does not support distinguishing pre-empted schedule events.

[2022-08-21 21:23] honggyukim opened #1556 "Add --no-preempt-sched option"
uftrace can now distinguish between normal and pre-emptive schedule events with #1440.

I've got a request to support a way to hide pre-emptive schedule event because it's an event that is randomly shown so can't predict the output of result.

The option can be added as `--no-preempt-sched` to hide such events.

[2022-08-21 21:46] honggyukim commented on #1555
This can be fixed by #1556.

[2022-08-23 05:29] #1509 closed

[2022-08-24 08:38] honggyukim opened #1560 "Support --percpu option to show replay based on each core"
I got a request to show uftrace data per each CPU. uftrace doesn't keep core information for each function entry/exit records, but we can calculate which thread is assigned to which CPU core based on `perf-cpuXX.dat`.

From the dump output, we can watch `linux:sched-in` and `linux:sched-out` events.
[code]
It can be useful to have a usage something like `uftrace --dump --percpu --chrome`.

[2022-08-26 05:28] namhyung commented on #1560
Interesting!  Yeah, with the sched info we should be able to reconstruct the per-cpu execution timeline.

[2022-08-26 05:51] namhyung opened #1561 "A linker warning on the xray code"
While compiling the source with clang, I noticed the following warning on the xray support code (in asm).

[code]

I'm not sure if it's clang specific.  The build looks fine but we need to add the stack permission in the asm code.

[code]

Anyone has the similar issue?

[2022-08-29 13:51] paranlee commented on #1561
Hello, @namhyung.
I tested `uftrace` compile on WSL2 with clang 10.

[code]
[code]

I got another log like the one above, I'll have to check it out.

Arm64 clang 14 have no warning and any error on compile.
[code]
[code]

There are so many things I want to do.. but 24 hours is not enough to me. :)

[2022-08-30 05:48] #1499 closed

[2022-08-30 05:51] namhyung commented on #1561
Thanks for checking on different systems.  Sometimes leftover from a previous build can make build errors.  Does the failure on WSL2 persist after `make clean`?

[2022-08-30 06:28] paranlee commented on #1561
@namhyung, yes I checked clean gcc build and clean clang build.
gcc compile has no problem.
I tried to clean clang build multiple times. some issue has shown..

[2022-08-30 16:37] honggyukim opened #1563 "Support read trigger for schedule events"
uftrace currently can't use read trigger for schedule events so this might be useful having it.

[2022-08-30 16:39] honggyukim opened #1564 "Expand uftrace data using cycle or # of instructions instead of timestamp"
TBD

[2022-08-30 21:38] honggyukim opened #1565 "hide normal results in runtest.py with -q option"
`runtest.py` result is getting bigger and it shows too many results, but it might be useful if we provide a way to hide normal results and focus on only abnormal results.

We currently have abnormal results in `failed-tests.txt` but the same output can be shown during `runtest.py` execution.

The option name can be `-q`/`--quite`.

The example execution output is as follows.
[code]
In addition, th

[2022-08-30 21:50] reddevil-j opened #1566 "Segmentation fault: address not mapped"
I compiled PHP v8.0 with `-pg` option and used uftrace on a sample php script which just prints "hello". This was the output of uftrace.

root@558b122ee9b2:/home/php-src-php-8.0.0# uftrace /home/php-src-php-8.0.0/sapi/cli/php test.php
WARN: Segmentation fault: address not mapped (addr: 0x8)
WARN:  if this happens only with uftrace, please consider -e/--estimate-return option.

WARN: Backtrace from

[2022-08-30 21:52] honggyukim commented on #1563
schedule events are separately recorded through perf, so uftrace can't get a control at the time of sched out and in. So this can't be implemented.

[2022-08-30 21:52] #1563 closed

[2022-08-30 21:55] honggyukim commented on #1566
@reddevil-j Thanks for the report. But we can't do anything without having more info in details.

If you could share how to prepare for the environment and execution sequence, then it can be helpful us to reproduce the problem. Thanks.

[2022-08-30 22:17] reddevil-j commented on #1566
To recreate this problem, I followed the steps below:
[code]
I can also share a docker image for the seg fault (all the steps included).
I should mention that the same process works fine on PHP 5.6.

[2022-08-31 23:30] honggyukim commented on #1566
@reddevil-j Thanks for sharing the info. I will have a look when I can find some time for investigation.

[2022-09-04 04:35] paranlee commented on #1553
If the infer execution environment is prepared in the image to be used for github CI/CD, it seems possible.

Facebook Infer Github Action workflow
- https://github.com/facebook/infer/actions/runs/118550989/workflow

Local Docker Image
- https://github.com/facebook/infer/wiki/Running-Infer-in-Docker

[2022-09-04 04:36] paranlee commented on #1535
I'll give it a try.

[2022-09-04 06:44] paranlee commented on #1553
Add Null Checks in issue #1567 `utils: Null dereference amend`

I try to divide the PR between the clean up works and modifying the logic while refactoring.

[2022-09-04 07:51] honggyukim opened #1568 "test failure in 207 dump_graphviz"
[code]

[2022-09-04 07:53] paranlee opened #1569 "Compile Error on WSL2 Clang compile"
My Clang version on WSL2 ubuntu 20.04
[code]
Linker show `-fPIE`
[code]
@namhyung, Is it okay to put a default CFLAG Add `-fPIE`?
[code]

[2022-09-04 08:41] #1568 closed

[2022-09-04 20:31] namhyung commented on #1535
👍

[2022-09-05 12:57] paranlee commented on #1445
@honggyukim, Can you guide me on which path(procfs or sysfs) to check?

[code]

[2022-09-05 12:57] paranlee commented on #1565
I'll give it a try.

[2022-09-05 13:00] paranlee commented on #1445
found `/proc`/, `/sys/`

[code]

[2022-09-06 06:46] namhyung commented on #1569
Could you please test it on other distro + arch combinations too?

[2022-09-07 15:23] paranlee opened #1574 "Code static checks infered by Infer(aarch64)"
There are infering to improve the uftrace project codes from Facebook Infer.

**RPI 4 (400 model) aarch64 Ubuntu 22.04**
[code]

**Result(GCC)**
[code]

[2022-09-08 13:25] paranlee commented on #1569
**WSL2 Ubuntu 22.04.1**
[code]
Compiled well, with `ASAN`
[code]

[2022-09-12 02:26] paranlee opened #1576 "long jmp run test fail on O1,2,3,s (x86_64, aarch64)"
### x86_64 VMware Ubuntu 18.04 Test success on `-O0`

[code]

`./runtest.py -vdp -O0 015`
[code]

long jmp test fail on O1,2,3,s

`./runtest.py -vdp -O1 015`
[code]

`./runtest.py -vdp -O2 015`
[code]

`./runtest.py -vdp -O3 015`
[code]

`./runtest.py -vdp -Os 015`
[code]

### aarch64 RPI 400 x86_64 Ubuntu 22.04 Test success on `-O0`
[code]

[2022-09-12 02:51] paranlee commented on #1576
There is a good reference while editing the tests. The compiler appears to be optimizing.
- https://reakwon.tistory.com/211
- https://godbolt.org/

[code]

x86_64 `-O0`
[code]

x86_64 `-O1`
[code]

aarch64 `-O0`
[code]

aarch64 `-O1`
[code]

[2022-09-12 02:57] paranlee commented on #1576
@namhyung @honggyukim, Is this a good way to fix this? Any good alternatives?

aarch64
[code]
x86_64
[code]

[2022-09-12 03:21] paranlee opened #1578 "recv runcmd run test need result (x86_64, aarch64)"
151 recv_runcmd need result output.
[code]

x86_64
[code]

aarch64
[code]

[2022-09-12 08:26] #1576 closed

[2022-09-12 09:02] paranlee opened #1580 "arg_char test result need input args (x86_64(clang), aarch64(gcc, clang))"
x86_64
[code]
[code]

aarch64
[code]
[code]

[2022-09-12 09:51] JSYoo5B opened #1581 "SEGFAULT recording uftrace on Asahi Linux (Apple M1 ported)"
I reported this issue in #1470, but this seems different issue from postgres. So I'm reporting this separately.

I've tried to run uftrace on Asahi Linux, the Linux ported on Apple Silicon.
As the Asahi Linux is the alpha release, it may be unstable. But as I know, main reasons for alpha release are device drivers. (especially graphic processing, they're implementing GUI by framebuffer now)

Tried

[2022-09-12 09:54] JSYoo5B commented on #1581
By running with gdb, it seems SEGFAULT invoked by LD

[code]

[2022-09-12 11:33] JSYoo5B commented on #1456
As I previously discussed with @dongwooklee96, previous [empty_profile.json.zip](https://github.com/namhyung/uftrace/files/9350074/empty_profile.json.zip) were converted from chrome trace to firefox trace.
But, the content of this profile doesn't show any event or function information. It may helpful for understanding basic members to create firefox trace.

This is live capture example [Firefox 20

[2022-09-12 11:47] JSYoo5B commented on #1581
Maybe this could be issue with paging size. It uses [16K page](https://asahilinux.org/2022/03/asahi-linux-alpha-release/#known-broken-applications) due to M1's IOMMU.

Maybe I need to test similar condition with RPi with 16K paging.

Whenever you need additional experiment or research about M1 linux, (without installing it on your devices) feel free to ask me.

[2022-09-12 14:14] paranlee commented on #1552
Related PR #1582

[2022-09-12 18:55] honggyukim commented on #1581
Thanks for doing this analysis. We currently use page size in a mixed way with predefined `PAGE_SIZE 4096` and `getpagesize()` as follows.
[code]
Could you modify the predefined `PAGE_SIZE` to 16K or use `getpagesize()` where it's being used and test it again?

[2022-09-14 11:39] JSYoo5B commented on #1581
I tried by replacing hard-coded `4096` to `getpagesize()` calls, but it still invokes SEGFAULT.

As the gdb backtrace says, it invokes on `_start` procedure, as I know, it's early codes to prepare C runtime.

The replacement changes paging size on dynamic tracing. (especially, on `mmap()`)
Though it didn't solve this issue, hard-coded `4096` shall be changed.

Maybe we need to consider which way w

[2022-09-14 16:49] paranlee commented on #1578
After `build command`, first `prerun command` task hunged.

[code]

[2022-09-14 17:06] paranlee commented on #1553
Install ocaml with with ocaml package manager
- Install Ocaml: https://ocaml.org/docs/up-and-running
- `run: opam install infer`
  - https://github.com/facebook/infer/actions/runs/118550989/workflow#L56

[2022-09-15 06:22] namhyung commented on #1581
Any reason do you think it's related to page size?  It'd be nice if you can have symbol in the dynamic loader ('/lib/ld-linux-aarch64.so.1').

[2022-09-16 04:02] JSYoo5B commented on #1581
Well, page size was known difference and they says some linux software has problems. So I doubt about page size.

I'd like to give information about '/lib/ld-linux-aarch64.so.1', but I'm not sure what & how to report. Can I ask which command to run for reading symbols?

[2022-09-16 10:01] amadio commented on #1343
Related bug in Gentoo Linux: https://bugs.gentoo.org/858503

[2022-09-16 17:33] paranlee opened #1583 "Make RPM DEB package Automation with Dockerfile"
It would be good to modify the Docker file in the current misc/docker path.

Make RPM
- http://saule1508.github.io/build-rpm-with-docker/
Make DEB
- https://github.com/tsaarni/docker-deb-builder

[2022-09-19 10:18] ZhiWei-Jiang opened #1585 "how to debug dlopened file？"
My c program dlopen another elf file, i want  to show function flow of that dlopened elf,is that support?

[2022-09-19 11:14] ZhiWei-Jiang commented on #1585
Is uftrace support trace all pthread of one process? It seems cant generate correspond .sym file of pthread.

[2022-09-19 12:00] ZhiWei-Jiang commented on #1585
I think it should be some bug in my enviormont, because i use simple dlsym demo to test, it works.
but I uses my program,it will dlopen other exec file from pthread context,and will create 2 hundereds threads from this context,
and it will trigger problem. could you help me to fix this? some important func or some log hint can i get?

[2022-09-19 21:18] namhyung commented on #1343
I'm not sure but does the below help?

[code]

[2022-09-20 01:57] #1585 closed

[2022-09-20 09:06] amadio commented on #1343
Unfortunately, no. I still get a compile error:
[code]
If you want to reproduce this locally, try using
[code]
when building.

[2022-09-21 06:29] namhyung commented on #1343
Thanks, I was able to reproduce it locally with your help. :)

This patch fixes the redeclaration error.
[code]

But it reveals another problem like below.  :-(

[code]

[2022-09-27 10:48] rimimadision opened #1586 "Error when using uftrace for SPDK and fio"
[SPDK ](https://spdk.io/)is a user library for IO, and [fio](https://github.com/axboe/fio) is a test bench for block device, and fio can be run on SPDK like this
[code]
Which means I need to load shared library spdk_nvme before start running fio with config described in example_config.fio

Then I want to use uftrace to see the function stack in fio and SPDK, so I tried command below
[code]
And get

[2022-09-27 13:24] rimimadision commented on #1586
I also found [how gdb use LD_PRELOAD by set environment](https://stackoverflow.com/questions/10448254/how-to-use-gdb-with-ld-preload), so I don't know if uftrace have option like that?(⊙﹏⊙)

[2022-09-28 06:09] namhyung commented on #1586
How about using `env` command like below?

[code]

[2022-09-28 07:04] rimimadision commented on #1586
I also confirmed that `fio` exe was compliled and linked with `-pg`

first,
I tried `grof` the gmon.out it generated, and get function inside fio
[code]
also,
I tried to grep `mcount` from symbol table
and it did exist
[code]

[2022-09-28 07:16] namhyung commented on #1586
Thanks for your test.  It seems we need an option to pass LD_PRELOAD properly from uftrace.  I'll try to do something this week.

[2022-09-28 07:23] rimimadision commented on #1586
Great thanks !!!!

I think I can help you guys by adding a new use case for fio and SPDK in wiki, hahah

[2022-09-29 04:21] namhyung commented on #1586
Great!  That'd be a good contribution! :)

[2022-10-01 02:07] namhyung commented on #1586
Could you please test [the below patch](https://github.com/namhyung/uftrace/files/9689335/uftrace-add-preload-option.patch.txt)?

[code]

[2022-10-02 06:39] rimimadision commented on #1586
I tried to command below
[code]
it just halt and did not print any message
So I used `^C` to terminate it
get log below
[code]
I can't figure out if it's related to `--preload` option

[2022-10-02 06:59] rimimadision commented on #1586
Also, I tried some test with `fio` without `SPDK` lib by modifying ioengine to `libaio` in config.fio
(which means I don't need to preload a lib, `libaio` should be added in the `LIBS` option in the Makefile of fio)
[code]
and I get log
[code]
I think it may be caused  by the fio permission gived by uftrace is too low,  so I tried to add `sudo`
[code]
then `fio` works fine, but after `fio` test en

[2022-10-05 18:04] clementguidi opened #1589 "Live output is incorrect with filters and triggers"
Hi,

I noticed an incorrect output when using the `live` command with filters and triggers enabled. The output from `live` differs from the output from `record` followed by `replay`.

Example:
[code]

The `-F` option doesn't apply with `live`, as filtered functions should appear despite the trigger.

Maybe the options are not handled correctly? I didn't take time to investigate.

[2022-10-07 04:12] namhyung commented on #1589
Hmm.. I believe the record + replay behavior is correct, and it seems the live command processed filter incorrectly.  I think it skips some filters during live-replay.. will check.

[2022-10-09 10:45] ZhiWei-Jiang opened #1591 "uftrace record always fail when track with qemu"
uftrace: /home/jzw/uftrace/cmds/record.c:801:copy_to_buffer
 ERROR: copying to buffer failed: Interrupted system call

how to avoid this?

[2022-10-09 10:52] ZhiWei-Jiang commented on #1591
it seem to a preformance problem ,sometimes record success.

[2022-10-09 14:47] honggyukim commented on #1591
I haven't tried to use uftrace with qemu. @paranlee Have you ever tried it?

[2022-10-09 14:53] honggyukim commented on #1589
Hmm... I think the output of `live` command looks correct and `record` + `replay` looks weird.

@namhyung Do you really think the output of `live` command is incorrect?

[2022-10-10 04:23] namhyung commented on #1589
`-F .` enables every function to be traced.  Without that it would work as live command.  Actually it has `reset_live_opts()` to reset filter options for report since it's already handled in record.  But it didn't reset trigger options because it might have replay-time actions too.

[2022-10-10 04:59] namhyung commented on #1589
Something like [below patch](https://github.com/namhyung/uftrace/files/9743419/uftrace-live-reset-trigger-option.patch.txt) would be needed:

[code]

[2022-10-10 05:01] namhyung commented on #1586
Sorry for the late reply.  Have you tried running `uftrace` with `sudo`?

[code]

[2022-10-11 08:45] rimimadision commented on #1586
Thanks for your reply, I still get error log below
[code]
I think may be `fio` still don't get `su` permission, and program didn't generate `gmon.out` successfully 👎

[2022-10-11 08:47] rimimadision commented on #1586
BTW, [this test cmd](https://github.com/namhyung/uftrace/issues/1586#issuecomment-1264568944) runs under root, may be add `sudo` can't solve problem

[2022-10-11 11:17] paranlee commented on #1591
Hello, @ZhiWei-Jiang. We need some patch. #1540
But, hmm. there is coroutine(longjmp in stackframe) logic.
So, there are some messy that don't go as well as we think.

[2022-10-11 11:24] paranlee commented on #1591
I'll have to test it in QEMU with `--disable-coroutine-pool` configure.
[code]
 - https://lists.gnu.org/archive/html/qemu-devel/2013-10/msg00001.html

[2022-10-11 21:40] paranlee commented on #1591
@honggyukim @ZhiWei-Jiang
When uftrace with QEMU, we need `--disable-coroutine-pool`.
Seem to be works fine. I upload tested result on #1540.

[2022-10-12 04:11] namhyung commented on #1586
Hmm.. not sure what's the real problem.

But it seems the addr (0x55e9dd9fab75) looks like a code address.  If you have the previous record data, can you run the below?
[code]

[2022-10-12 05:17] paranlee commented on #1540
@namhyung thanks! I need to this configure build to check **-enable-kvm**
The argument accel=kvm of the -machine option is equivalent to the -enable-kvm or the -accel kvm option.
CPU model host requires KVM
- https://wiki.archlinux.org/title/QEMU#Enabling_KVM

[2022-10-12 05:18] paranlee commented on #1540
Finding QEMU user bottle neck would be nice. :)

[2022-10-13 09:28] rimimadision commented on #1586
OKK, but I don't know what's misc/symbols
I am using Ubuntu22.04, it didn't recognize it this cmd :((

[2022-10-13 17:15] namhyung commented on #1586
You need to build uftrace from the source.  It's in the source tree for a development purpose and not distributed.

[2022-10-14 09:10] rimimadision commented on #1586
I get `55e9dd9fab75:  fio_test_cconv` after running `misc/symbols`
`fio_test_cconv` is funtion in initial phase of fio
[code]
It seems like it is used for options conversion test, you can check [this patch](https://github.com/axboe/fio/commit/2dc1cbb52f73303d479a72e99930a2838c4b0fa4) to see what `convert_thread_options_to_cpu` and `convert_thread_options_to_net` do

[2022-10-25 03:44] namhyung opened #1592 "Linker warning on arch/x86_64/xray.op"
I'm constantly getting this warning on my build.  It needs to mark the stack non-executable.

[code]

[2022-10-25 13:11] tbar-hz opened #1593 "uftrace replay set time range fail"
I want to use parameter "-r" or "--time-range" to get some information in specify range time. But the result still show all the record information.

For example, there are the following trace reslut:
[code]

Then, use '-r' to specify a time range, but the result as same as filter before.

[code]

I think the parameter '-r' did not work.

test version:
[code]

[2022-10-26 04:00] namhyung commented on #1593
The message `Usage: --time-range cannot be used with --time-filter` shows that the `--time-range` was not enabled because there is `--time-filter` option too.  Do you happen to have `default.opts` file in the data directory?

[2022-10-26 08:13] tbar-hz commented on #1593
Oh, I see. In record mode, I use "-t 1us" to filter some very short time functions or system events.
I have a big multi-threads program,  in long-running mode, business time delay phenomenon happened occasionally.
Almost as many as tens of GB logs will be record if use uftrace, and set "-t 1us" filter condition meanwhile,  when the time delay problem happened.
So, I need to search the time point o

[2022-10-27 04:31] namhyung commented on #1593
Oh, right.  I forgot the commit f699ea466d ("uftrace: Store time-filter info to uftrace.data/default.opts") could create the default options for the time filter under the table.  The [following change](https://github.com/namhyung/uftrace/files/9875787/uftrace-do-not-override-time-range.patch.txt) should fix the issue.

[code]

[2022-10-27 04:46] #1556 closed

[2022-10-27 09:26] honggyukim opened #1596 "report: graph: add new fields for pmu-cycle data from read trigger"
We can read pmu cycle and number of instructions executed with read trigger as follows.
[code]
However, there is no way to show these data in report and graph so it would be useful to add new fields for `Cycles` and `Instrs` to report and graph commands. They can be displayed only when data is available.

[2022-10-28 09:46] tbar-hz commented on #1593
Thanks！It's ok right now.
But there is a new small problem that the lower boundary of time printed many irrelevant information, and out of the time range.
Like this:
[code]

And, use command:
`/usr/local/uftrace/bin/uftrace replay -f time,delta,duration,addr,tid -r 9987.158790267~9987.158794128`

Then, the filter result as follows:
[code]

if the extra information can be filtered, the meaning of '

[2022-11-02 04:27] namhyung commented on #1593
Thanks for the test.  I'll take a look.

[2022-11-08 04:13] ChoKyuWon commented on #1581
I guess this is because 16k page optimize or something (I can't find the exact naming).
When I debug the error, I get a segfault on ``ld-linux-aarch64.so.1`` with this callstack:
[code]

And it try to write on ``0x00aaaaaaab1000``, which is the ``__libc_start_main@got.plt``. There is no reason to raise segfault, so I run the vmmap, and see the entire 16k page is readonly.
[code]
I'm not sure it's

[2022-11-13 08:07] fistki commented on #1538
I just upload PR #1600  for this issue. Please check it @honggyukim

[2022-11-13 17:19] ChoKyuWon commented on #1581
I test with various linkers like ``lld``, ``gold`` and ``mold`` with following command:
[code]
Then uftrace run without segfault.
As I mentioned in PR, it's GNU ``ld``'s bug, it does not follow the RELRO rule in ELF.
See  also bug [29639](https://sourceware.org/bugzilla/show_bug.cgi?id=29639) and [28824](https://sourceware.org/bugzilla/show_bug.cgi?id=28824) in binutils bugzila.

For ``lld``, 35.2

[2022-11-15 01:23] namhyung commented on #1581
Thanks for the test and the info!  I'm glad to see `ld` is fixed.

[2022-11-15 01:23] #1581 closed

[2022-11-15 01:35] #1378 closed

[2022-11-20 23:04] namhyung commented on #1593
Sorry for the delay.  I think we should add this.

[code]

[2022-11-27 21:26] #1593 closed